<apex:page id="caching-tools" controller="cms.BasicController" showHeader="false" sidebar="false" cache="false" title="OrchestraCMS" standardStylesheets="false">
	<html>
		<head>
			<title>Content Cache</title>
			<apex:stylesheet value="{!URLFOR($Resource.cms__jqueryui, '/css/ocms-min.css')}" />
            <apex:stylesheet value="{!URLFOR($Resource.cms__jqueryui, '/css/ocms.setupmenu.css')}" />
			<c:CmsScripts />
            <apex:includeScript value="{!URLFOR($Resource.cms__OrchestraCMSUI, '/TabInterface.js')}" />
			<apex:includeScript value="{!URLFOR($Resource.cms__OrchestraCMSUtil, '/CachingUtils.js')}" />

			<script type="text/javascript" >
                var uiData = JSON.parse($.orchestracmsUtil.base64Decode('{!uiDataJSONBase64}'));

		        $('document').ready(function() {
		            // Get the setup menu
		            var params = {
						service: 'SetupService',
						action: 'getSetupMenu',
						activeItem: 'cache-content'
					};

		            var handler = function(json, success) {
		                json = $.orchestracmsUtil.parseJSON(json);
		                if (json.error === undefined && (success)) {
		                    var menuContainer = document.querySelector('#ocmsSetupMenu');
							if (menuContainer !== null)
							    menuContainer.innerHTML = json.success.message;
		                }
		            };

		            var options = {
						cb: handler,
						readonly: true
					};
		            doServiceRequest(params, options);
		        });

				$(document).ready(function() {
					$(document).data('cms', {
						'context' 	: 'orchestracms',
						'namespace' : uiData.namespace,
						'site_name' : uiData.sname
					});

					// "level 1" is the CLIs
					$('#refreshLevel1').button().click(function() {
						$('#level1CacheGenerator').ocmsCacheGenerator({
							type: 'cli_batch',
							sname: uiData.sname,
							show_status: 'message',
							mode: 'all',
                            sendEmailNotification: true,
                            sendEmailUpdateId: 'level1Email',
                            title: 'Level 1 Job Status'
						});
					});

					// "level 2" is the PCLIs
					$('#refreshLevel2').button().click(function() {
						$('#level2CacheGenerator').ocmsCacheGenerator({
							type: 'pcli_batch',
							sname: uiData.sname,
							show_status: 'message',
							mode: 'all',
                            sendEmailNotification: true,
                            sendEmailUpdateId: 'level2Email',
                            title: 'Level 2 Job Status'
						});
					});
				});
			</script>
		</head>

		<body class="ocms">
			<div id="ocmsSetupMenu" />
		  	<div class="setupPage">
                <div class="breadcrumb">
                    <div class="breadcrumbItem"><apex:outputLink value="/apex/Setup?sname={!sname}">Setup</apex:outputLink></div>
                    <div class="breadcrumbSeparator"/>
                    <div class="breadcrumbItemActive">Content Cache</div>
                </div>
				<p>Perform a refresh of OrchestraCMS content caches.</p>
				<div id="message"></div>
				<div class="cacheTable">
					<table class="ocmsTable">
						<thead>
							<th>Cache Level</th>
							<th>Email on Completion?</th>
							<th>Refresh Cache</th>
						</thead>
						<tbody>
							<tr>
								<td>Level 1</td>
								<td><input type="checkbox" id="level1Email" class="ocmsCheckbox" name="level1Email" /><label for="level1Email">Yes</label></td>
								<td><button id="refreshLevel1">Refresh</button></td>
							</tr>
							<tr>
								<td>Level 2</td>
								<td><input type="checkbox" id="level2Email" class="ocmsCheckbox" name="level2Email" /><label for="level2Email">Yes</label></td>
								<td><button id="refreshLevel2">Refresh</button></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="level1CacheGenerator" class="hidden"></div>
				<div id="level2CacheGenerator" class="hidden"></div>
			</div>
		</body>
	</html>
</apex:page>