<apex:page controller="cms.CreateContentController" extensions="cms.Listable" showHeader="false" sidebar="false" cache="false" title="Orchestra CMS" standardStylesheets="false">

	<apex:outputPanel layout="block">
	
	 	<script type="text/javascript" language="javascript">
			$(document).ready(function(){
				// Set up the various inputs
                $('#ListSummary').val(ocmsEditorAPI.getProperty('ListSummary').getDecodedValue()).prop('disabled', !ocmsEditorAPI.getEnabled());
                $('#ListableMoreLink').val(ocmsEditorAPI.getProperty('ListableMoreLink').getDecodedValue()).prop('disabled', !ocmsEditorAPI.getEnabled());

                $('#TargetLink').page_selector_input({
	 				input_field: 'TargetLink',
	 				input_id: 'TargetLink_selector_input',
					dialog_id: 'TargetLinkDlg_selector_dialog',
					selected: {!IF(OR(TargetLinkObj.LinkJSON == null, TargetLinkObj.LinkJSON == ''), 'null', TargetLinkObj.LinkJSON)},
					selected_name: '{!JSENCODE(TargetLinkObj.LinkName)}'
     			});

				ce.content_editor('registerSaveFunction', function(){
					var attributes = [];
		
					attributes.push({"name":"ListSummary", "value":$('#ListSummary').val(), "type":"Text"});
					attributes.push({"name":"TargetLink", "value":$('#TargetLink').page_selector_input('getSerializedLink'), "type":"Text"});
					attributes.push({"name":"ListableMoreLink", "value":$('#ListableMoreLink').val(), "type":"Text"});
				
					return attributes; 
				})
	 		}); 
		</script>
	
		<form>
	
			<table class="ocmsContentEditor ocmsContentEditorNested">
			
				<tr>
					<td>
						<label class="ocmsLabel" for="ListSummary">Summary</label>
                        <textarea class="ocmsTextInputLrg" id="ListSummary" name="ListSummary"></textarea>
                        <p class="ocmsHelpText" >Text that will appear as a link on your list.</p>
					</td>
				</tr>
				<tr>
					<td>
						<label class="ocmsLabel" for="TargetLink">Target Link</label>
					    <div id="TargetLink" />
					</td>
				</tr>
		        <tr>
		        	<td>
		        		<label class="ocmsLabel" for="ListableMoreLink">More Link</label>
                        <input class="ocmsTextInputLrg" type="text" id="ListableMoreLink" name="ListableMoreLink" />
		            </td>
		         </tr>
			</table>
		</form>
	</apex:outputPanel>


</apex:page>