<apex:page controller="cms.CreateContentController" extensions="cms.SmallBlock" showHeader="false" sidebar="false" cache="false" title="Orchestra CMS" standardStylesheets="false">

    <script type="text/javascript" language="javascript">
        $(document).ready(function(){
            // Set the values.
            $('#SmallBlockTitle').val(ocmsEditorAPI.getProperty('SmallBlockTitle').getDecodedValue()).prop('disabled', !ocmsEditorAPI.getEnabled());
            $('#ContentSummary').val(ocmsEditorAPI.getProperty('ContentSummary').getDecodedValue()).prop('disabled', !ocmsEditorAPI.getEnabled());

            $('#TargetPageLink').page_selector_input({
                input_field: 'TargetPageLink',
                input_id: 'TargetPageLink_selector_input',
                dialog_id: 'SmallBlockTarget_selector_dialog',
                selected: {!IF(OR(TargetPageLinkObj.LinkJSON == null,TargetPageLinkObj.LinkJSON == ''), 'null',TargetPageLinkObj.LinkJSON)},
                selected_name: '{!JSENCODE(TargetPageLinkObj.LinkName)}'
            }); 

            // Create the ckeditor.
            CKEDITOR.replace('ContentSummary', {!CKEditorConfig});

            ce.content_editor('registerSaveFunction', function(){
                var attributes = [];
                attributes.push({"name":"ContentSummary", "value":CKEDITOR.instances.ContentSummary.getData(), "type":"Text"});
                attributes.push({"name":"SmallBlockTitle", "value":$('#SmallBlockTitle').val(), "type":"Text"});
                attributes.push({"name":"TargetPageLink", "value":$('#TargetPageLink').page_selector_input('getSerializedLink'), "type":"Text"});
                return attributes; 
            }); 
        });
    </script>

    <apex:outputPanel >
        <form onsubmit="return false;">
            <table class="ocmsContentEditor ocmsContentEditorNested">
                <tr>
                    <td>
                        <label class="ocmsLabel" for="SmallBlockTitle">Title</label>
                        <input class="ocmsTextInputLrg"  type="text" name="SmallBlockTitle" id="SmallBlockTitle" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="ocmsLabel" for="ContentSummary">Summary</label>
                        <textarea name="ContentSummary" id="ContentSummary" rows="12" cols="50" ></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="ocmsLabel">Target Page</label>
                        <div id="TargetPageLink" />
                    </td>
                </tr>
            </table>
        </form>
    </apex:outputPanel>

</apex:page>