<apex:page controller="cms.CreateContentController" extensions="cms.SearchBasicResultsController"  showHeader="false" sidebar="false" cache="false" title="Orchestra CMS" standardStylesheets="false">
	<apex:outputPanel layout="block" style="padding: 5px;">
	
	 	<script type="text/javascript" language="javascript">
			$(document).ready(function(){
                // Set up the various inputs
                $('#SearchedLabel').val(ocmsEditorAPI.getProperty('SearchedLabel').getDecodedValue()).prop('disabled', !ocmsEditorAPI.getEnabled());
                $('#ResultsLabel').val(ocmsEditorAPI.getProperty('ResultsLabel').getDecodedValue()).prop('disabled', !ocmsEditorAPI.getEnabled());

                ce.content_editor('registerSaveFunction', function(){
                	var attributes = new Array();

					// both of these properties are languge specific values
                   attributes.push({"name":"SearchedLabel", "value":$('#SearchedLabel').val(), "type":"Text"});
                   attributes.push({"name":"ResultsLabel", "value":$('#ResultsLabel').val(), "type":"Text"});

                    return attributes;
                });
			});
		</script>
    	<form>
    		<table class="ocmsContentEditor ocmsContentEditorNested">
    			<tr>
    				<td>
                        <label class="ocmsLabel" for="SearchedLabel">Searched Label</label>
                        <input type="text" name="SearchedLabel" id="SearchedLabel" class="ocmsTextInputMed ocmsLanguageSpecific" />
    				</td>
    			</tr>
    			<tr>
    				<td>
                        <label class="ocmsLabel" for="ResultsLabel">Results Label</label>
                        <input type="text" name="ResultsLabel" id="ResultsLabel" class="ocmsTextInputMed ocmsLanguageSpecific" />
    				</td>
    			</tr>
    	    </table>
    	</form>
	</apex:outputPanel>
</apex:page>