<apex:page showHeader="false" sidebar="false" cache="false" standardStylesheets="false">
    <script type="text/javascript" language="javascript">
        $(document).ready(function(){
            // Set up the various inputs
            $('#PlainText').val(ocmsEditorAPI.getProperty('PlainText').getDecodedValue()).prop('disabled', !ocmsEditorAPI.getEnabled());

            ce.content_editor('registerSaveFunction', function(){
                var attributes = [];
                attributes.push({"name":"PlainText", "value":$('#PlainText').val(), "type":"Text"});
                return attributes;
            });
        }); 
    </script>
    <form>
        <table class="ocmsContentEditor ocmsContentEditorNested">
            <tr>
                <td>
                    <label class="ocmsLabel">Text</label>
                    <textarea  name="PlainText" id="PlainText" style="width:600px;height:270px;"><apex:outputText /></textarea>
                </td>
            </tr>
        </table>
    </form>
</apex:page>