<apex:page controller="cms.CreateContentController" extensions="cms.EmailVerificationLinkController" showHeader="false" sidebar="false" cache="false" title="Orchestra CMS" standardStylesheets="false">
   	<script type="text/javascript" language="javascript">

        $(document).ready(function(){
             ce.content_editor('registerSaveFunction', function(){
	             var attributes = new Array();
	             attributes.push({"name":"EmailSubscriptionServerVerificationPageLink", "value":$('#EmailSubscriptionServerVerificationPageLink').page_selector_input('getSerializedLink'), "type":"Text"});
				 return attributes;
			 });
			 $('#EmailSubscriptionServerVerificationPageLink').page_selector_input({
	 				input_field: 'EmailSubscriptionServerVerificationPageLink',
	 				input_id: 'EmailSubscriptionServerVerificationPageLink_selector_input',
					dialog_id: 'EmailSubscriptionServerVerificationPageLinkDlg_selector_dialog',
					selected: {!IF(OR(EmailSubscriptionServerVerificationPageLinkObj.LinkJSON == null, EmailSubscriptionServerVerificationPageLinkObj.LinkJSON == ''), 'null', EmailSubscriptionServerVerificationPageLinkObj.LinkJSON)},
					selected_name: '{!JSENCODE(EmailSubscriptionServerVerificationPageLinkObj.LinkName)}'
 			});  
         });

     </script>

     <table class="ocmsContentEditor ocmsContentEditorNested">
         <tr>
            <td>
                <label for="EmailSubscriptionServerVerificationPageLink">Email Verification Page</label>
                <div id="EmailSubscriptionServerVerificationPageLink" />
                <p class="ocmsHelpText">Reference to an Orchestra Page that will accept the client subscription confirmation request from the confirmation email.<br/> This page MUST contain content of the type "Portal" with the content template "Email Verification"</p>
            </td>
         </tr>
    </table>
</apex:page>