<apex:page docType="{!doc_type}" controller="cms.CoreController" standardStylesheets="false" showHeader="false" sidebar="false" applyBodyTag="false" applyHtmlTag="false">
    

    <apex:composition template="{!page_template}">
        <apex:define name="header">
            <style type="text/css">
                .error{
                    color: red; 
                }
            
                body{
                    font: normal 12px arial,sans-serif;
                    margin: 10px;  
                }
                
                .sf-content h1{
                    font: normal 18px arial,sans-serif;
                }
                
                .sf-content .sf-column1{
                    float: left;
                    margin-right: 10px;  
                }
                
                .sf-content .sf-column2{
                    float: left;
                    margin-right: 10px;  
                }
                
                .sf-content .sf-column3{
                    float: left;
                    margin-right: 10px;  
                }               
                ^
                .sf-content .sf-clear{
                    clear: both; 
                }
                
                .top-corners{
                    display: none;
                }   
                
                .bottom-corners{
                    display: none; 
                }


                table.ui-superform {
                    border: none;   
                }
                
                table.ui-superform td {
                    vertical-align: top;
                    padding: 5px;
                }
                
                table.ui-superform td span{
                    margin: 0;
                    padding: 0; 
                }
                
                table.ui-superform div.ui-superform {
                
                }   
            
                .ui-superform-input div{
                    padding:0px;
                    margin: 0px;
                }
                
                .menu li.active{
                    color: red;
                    font-weight: bold; 
                }

                .ocms-file-upload-indicator {
                    background-image: url('{!URLFOR($Resource.jqueryui, '/css/images/General/16px_AnimatedIndeterminateProgress.gif')}');
                    background-repeat: no-repeat;
                    display: block;
                    position: relative;
                    margin: 2px;
                    padding: 0px; 
                    width: 16px; 
                    height: 16px;
                }
                
				.small-block{
				 	border: 1px solid black; 
				    background-color: white;
				    margin-top: 10px;
				    margin-bottom: 10px;
				    vertical-align:top;
				    cursor: pointer;
				}
				
				.small-block-image{
					display:inline-block;
				    padding-left: 10px;
				    padding-top: 10px; 
				    padding-bottom: 10px;
				    vertical-align: top;
				    min-width: 185px;
				    text-align: center;
				}
				
				.small-block-content{
				   	display: inline-block;
				    padding: 15px;
				}
				
				.small-block-title{
				 	font-size: 18px; 
				    font-weight: bold;
				    vertical-align:top;
				}
				
				
				
				.clear{
					clear: both; 
				}                
                               
            </style>
                                   
        </apex:define>
        
        <apex:define name="body" >  
            <div class="singlecolumn">
                <c:Panel panelName="column1" panelController="{!controller}" panelHeight="1000px" panelDynamic="true"/>
            </div>
        </apex:define>  
    </apex:composition>

</apex:page>