<apex:page controller="SDOC.SDCreateController" 
tabStyle="SDOC__SDTemplate__c" 
action="{!initStep1}">
<script type="text/javascript">
var AgreementForm = document.getElementById("blur");
var ContainerElem = document.getElementById("StatusBox");
AlignToCenter(ContainerElem);
function AlignToCenter(Element)
{
var availableHeight = 0;
var availableWidth = 0;
if (Element.ownerDocument)
{
var docElement = Element.ownerDocument.documentElement;
availableHeight = parseInt(docElement.clientHeight);
if (availableHeight == "NaN") availableHeight = 0;

availableWidth = parseInt(docElement.clientWidth);
if (availableWidth == "NaN") availableWidth = 0;
}

if (availableHeight == 0 || availableHeight == "NaN")
availableHeight = window.screen.availHeight - 200;
if (availableWidth == 0 || availableWidth == "NaN")
availableWidth = window.screen.availWidth - 100;

var msgBoxTop = parseInt((availableHeight - parseInt(Element.clientHeight))/2);
var msgBoxleft = parseInt((availableWidth - parseInt(Element.style.width))/2);

if (msgBoxTop == "NaN" || msgBoxTop == 0)
msgBoxTop = 100;

Element.style.left = msgBoxleft + "px";
Element.style.top = msgBoxTop + window.pageYOffset + "px";
}

function reposition(){
if(navigator.appName == 'Window Internet Explorer') AgreementForm.style.top = document.body.scrollTop;
else AgreementForm.style.top = window.pageYOffset+"px";
AlignToCenter(ContainerElem);
}
</script>
<apex:actionStatus id="statLoad">
    <apex:facet name="start">
        <div id="blur" style="position:absolute; left:1px; top:1px; width:100%; height:100%; text-align:center; vertical-align: middle; background-color: #dcdcdc; opacity:0.7;filter:alpha(opacity=70)">
        </div>
        <div id="StatusBox" style="position:absolute; left:50%; top:300px; width: 120px; height:50px; opacity:1;filter:alpha(opacity=100)">
        <table border="1" cellpadding="0" cellspacing="0" style="border-left-color: #336699;
        border-bottom-color: #336699; width: 120px; border-top-color: #336699; height:50px;
        border-right-color:#336699; background-color:#ffffff;">
        <tr>
        <td align="left" valign="top">
        <table border="0" cellpadding="4" cellspacing="0" style="width: 100%; height: 100%">
        <tr>
        <td style="border-bottom-color:#336699; border-bottom-width:0px; border-bottom-style:solid;vertical-align:middle;">
        <img src="{!URLFOR($Resource.SDoc,'spinner_large.gif')}"/></td>
        <td style="border-bottom-color:#336699; border-bottom-width:0px; border-bottom-style:solid;vertical-align:middle;color:darkred;font-size:11pt;font-weight:bold;">
        &nbsp;Loading...</td>
        </tr>
        </table>
        </td>
        </tr>
        </table>
        </div>
    </apex:facet>
</apex:actionStatus>

<apex:sectionHeader title="Create S-Docs" subtitle="Generate Documents"/>
<apex:form >
<apex:pageMessages />
        <span class="style6">&lt;&lt;</span>
        <apex:commandLink action="{!returnToObj}" value=" Back"/>
<br></br><br></br>
                <apex:panelGroup >
                     <apex:outputLabel for="searchText2">Search in &nbsp;</apex:outputLabel>
                     <apex:selectList size="1" value="{!docCategory}">
                        <apex:selectOptions value="{!docCategories}"/>
                        <apex:actionSupport event="onchange"  action="{!initStep1}" rerender="panel3g" status="panel3gStatus"/>
                    </apex:selectList>
                    <apex:outputLabel for="searchText2"> for : &nbsp;</apex:outputLabel>
                        <apex:inputText id="searchText2" value="{!searchText2}"/>
                        <apex:commandButton value="Search" action="{!initStep1}" rerender="panel3g" status="panel3gStatus">
                            <apex:param name="txtValue" value="{!searchText2}"/>
                        </apex:commandButton>
                    <apex:actionStatus id="panel3gStatus">
                        <apex:facet name="start">
                            <img src="{!URLFOR($Resource.SDoc,'spinner.gif')}" /> searching...
                        </apex:facet>
                    </apex:actionStatus>
                </apex:panelGroup>
<br></br><br></br>
<apex:pageBlock title="Choose Document(s) then click the 'Next Step' button">
<table width="100%">
<tr valign="top">
<td> 
    <apex:pageBlockSection columns="1" collapsible="false">
            <apex:pageBlockSectionItem >
                <apex:panelGroup id="panel3g">
                    <apex:outputText >&nbsp;&nbsp;&nbsp;&nbsp;
                         <img src="{!URLFOR($Resource.SDoc,'checkbox_arrow.png')}" />
                        <apex:commandButton action="{!step2}" value="{!btnTxtStep2}" styleClass="btn"/>
                    </apex:outputText>
                    <apex:pageBlockTable value="{!docsList}"  var="c" rendered="{!NOT(ISNULL(docsList))}">
                        <apex:column width="25px">
                            <apex:inputCheckbox value="{!c.checked}">
                            <apex:actionsupport event="onclick" action="{!addDoc}" rerender="panel4g" status="statLoad" />
                            </apex:inputCheckbox>
                        </apex:column>
                        <apex:column headerValue="Name"><apex:outputText value="{!c.t.SDOC__Format_Icon__c}" escape="false"/>
                        &nbsp;&nbsp;<apex:outputText value="{!c.t.Name}"/></apex:column>
                        <apex:column value="{!c.t.SDOC__Description__c}" headerValue="Description"/>
                    </apex:pageBlockTable> 
                    <apex:outputText rendered="{!recordCount>9}">
                        <b>[More Available - Use Search criteria to limit results]</b>
                    </apex:outputText>
                </apex:panelGroup>
            </apex:pageBlockSectionItem>
    </apex:pageBlockSection>
</td><td></td>
<td>
	<apex:panelGroup id="panel4g">
    	<apex:pageBlockSection title="Selected Documents" columns="1" collapsible="false" rendered="{!hasSelectedDocs}">
        	 <apex:pageBlockSectionItem >
                    <apex:pageBlockTable value="{!selectedDocs}" var="ca" columnsWidth="50px, *" cellpadding="0" cellspacing="0">
                        <apex:column headerValue="Remove">
                            <apex:actionSupport event="onclick" rerender="panel4g, panel3g" status="panel4Status">
                                <apex:commandLink value="X" action="{!removeDoc}" styleClass="btn">
                                    <apex:Param name="tid" value="{!ca.t.ID}" />
                                </apex:commandLink>
                            </apex:actionSupport>
                        </apex:column>
                        <apex:column value="{!ca.t.Name}" headerValue="Name"/>  
                    </apex:pageBlockTable>
                </apex:pageBlockSectionItem>
	    </apex:pageBlockSection>
    </apex:panelGroup>
    <apex:actionStatus id="panel4Status">
        <apex:facet name="start">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="{!URLFOR($Resource.SDoc,'spinner.gif')}" /> updating...
        </apex:facet>
    </apex:actionStatus>    
</td>
</tr>
<tr>
    <td width="65%"></td>
    <td width="5%"></td>
    <td width="30%"></td>
</tr>
</table>
&nbsp;&nbsp;&nbsp;&nbsp;
<apex:commandButton action="{!step2}" value="{!btnTxtStep2}" styleClass="btn"/>
</apex:pageBlock>

</apex:form>
</apex:page>