<apex:page standardController="Contact" extensions="DiscoveryWS.discoveryWS" action="{!submitAction}" sidebar="false" showHeader="false">
        {!Response}
    <!--<apex:pageblock >
        <apex:pagemessages ></apex:pagemessages>
        <BR/>
        <apex:outputLink value="/{!$CurrentPage.Parameters.ID}">Back to Contact</apex:outputLink>
        <BR/>
        <BR/>
        {!Response}
        
    </apex:pageblock>-->    
</apex:page>