<apex:page standardController="Template__c"  sidebar="false" extensions="ApplyActionPlanforAlldeals">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<style>
    .rt-loading {
        background: url("{!URLFOR($Resource.ActionPlans, 'loader.gif')}") center center no-repeat;
        background-color: white;
        opacity: 0.9;
        position: absolute;
        z-index: 500;      
        display: none;        
    }
    .dateFormat {
        display:none;
    }

    .navlist {
        padding-left:0px;
    }
    .navlist li
    {
        display: inline-block;
        list-style-type: none;
        width:100px;
        padding-right: 10px;
    }
    .navlist li input {
       width:100px;
    }
    
    #commentContainer { 
        width:270px; 
        border: 3px solid #1a1a1a; 
        padding:0px;  
        z-index:9999;
        position:absolute;
    }
    #commentContainer .hd { 
        width:100%; 
        background-color:#EEE; 
        height:27px;

    }
    #commentContainer .hd-left { 
        float:left; 
        color:black; 
        font-weight:bold; 
        padding:3px 0px 0px 5px;

    }
    #commentContainer .hd-right { 
        float:right; 

    }
    #commentContainer .bd { 
        background-color:#f3f3ec; 
        clear:both; 
   
    }
    #commentContainer textarea { 
        margin:5px; 
        width:250px;
        height:150px;

    }
</style>
<script>

    function showLoader() {
        var tableWidth  = $('[id$=ActionPlanTasks]').width();
        var tableHeight = $('[id$=ActionPlanTasks]').height();
        
        $('.rt-loading').css('width', tableWidth + 'px');
        $('.rt-loading').css('height', tableHeight + 'px');
        $('.rt-loading').show();
    }
    
    function hideLoader() {
        $('.rt-loading').hide();

    }
    
    function massAssign() {
        var userName = $('[id$=massAssignId]').val();
        $('.assignTo').each(function(index) {
            $(this).val(userName);
        });
    }

   function changeTemplate() {
        showLoader();
        var templateId = $('[id$=templatePicklist]').val();
        if (templateId != '') {
            changeTemplateAF(templateId);
                   }
        else {
            hideLoader();
            
        }
        
      
    }
    
    function validateTemplate() {
        var templateId = $('[id$=templatePicklist]').val();
        var duplicateHidden = $('[id$=duplicateHidden]').val();
        

        
        if (templateId == '' || templateId =='NONE') {
            alert('Please select a template');
            return false;
        }
        
        if (duplicateHidden != '') {
        
            //duplicateHidden = duplicateHidden.replace(/\\n/g,'\n') 
            //duplicateHidden = '\n\n'+duplicateHidden;  
            
            var conf = confirm("There are some duplicate tasks. Are you sure you want to Save?"+duplicateHidden);
            if(conf == true){
                 cancelActionPlan = false;

                 saveFinal();
                 
            }
            return false;
        } 
        cancelActionPlan = false;
 
        saveFinal();
    }
    
   function checkCancel() {
        var applyActionPlan = '{!applyActionPlan}';
        if (applyActionPlan == 'true' ) {
            var conf = confirm("Are you sure you want to cancel? Action Plan will be deleted");
            if(conf == true){
                 cancelActionPlan = false;
                 cancelFinal();
        
            }
        } else {
                 cancelActionPlan = false;
                 cancelFinal();

        }

    }
</script>
<apex:form id="actionPlanForm">

    <apex:actionFunction name="changeTemplateAF" action="{!changeTemplate}" rerender="actionPlanForm" Oncomplete="$('.rt-loading').hide();">
            <apex:param name="templateId" value="" />
        </apex:actionFunction> 
        
    <apex:actionfunction name="saveFinal"  action="{!save}"   />
    <apex:actionfunction name="cancelFinal"  action="{!cancel}"  rerender="actionPlanForm"  />
    <apex:actionfunction name="checkDuplicateTasks"  action="{!checkDuplicateTasks}"   oncomplete="validateTemplate()" rerender="duplicateHidden"/>
    <apex:inputHidden id="duplicateHidden" value="{!duplicateTasksString}"/>
    <apex:pageBlock id="editActionPlan" title="Action Plan" >
            <apex:pageBlockButtons id="buttons">
                <input type="button" class="btn" id="save"  value="Save" onclick="checkDuplicateTasks();"/>
              <!--  <input type="button" class="btn" id="cancel"  value="{!Cancel1}" onclick="checkCancel();"/>-->
              <Apex:commandButton value="Cancel" action="{!Cancel1}"/>
            </apex:pageBlockButtons>            
            <apex:pageBlockSection id="actionPlanInformation" title="Action Plan Information" columns="2">                        
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="Name" for="actionPlanName"/>
                        <apex:inputField id="actionPlanName" required="true" value="{!actionPlan.Name}"/>
                      </apex:pageBlockSectionItem>            
                    
                    
                    <apex:pageBlockSectionItem >
                    
                        <apex:outputLabel value="Template" for="templatePicklist"/>                    
                        <apex:outputPanel layout="block" styleClass="requiredInput">
                            <apex:outputPanel layout="block" styleClass="requiredBlock"/>
                            <apex:selectList value="{!templateSelected}" id="templatePicklist" size="1" onchange="changeTemplate();" >
                                <apex:selectOptions value="{!templatesOptions}"/>
                            </apex:selectList>   
                        </apex:outputPanel>
                    </apex:pageBlockSectionItem>   
                                
                    <apex:pageBlockSectionItem >
                    </apex:pageBlockSectionItem>                    
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="Send Email" for="actionPlanSendEmail"/>
                        <apex:inputField id="actionPlanSendEmail" value="{!actionPlan.Send_Email__c}"/>
                      </apex:pageBlockSectionItem>
                     <apex:pageBlockSectionItem >
                        <apex:outputLabel value="Assign All to:" />
                          <apex:inputField value="{!actionPlan.Mass_Assign_To__c}" onchange="" id="massAssignId"/>
                    </apex:pageBlockSectionItem>
                    <!--<apex:pageBlockSectionItem >
                        <apex:outputLabel value="Related Object" for="relatedObjectPicklist"/>
                        <apex:selectList value="{!actionPlan.RelatedObjectName__c}" id="relatedObjectPicklist" size="1" onchange="refreshTable();showLoader();">
                            <apex:selectOptions value="{!RelatedObjectPicklist}"/>
                            <apex:actionFunction name="refreshTable" action="{!CalldateFields}"/>
                        </apex:selectList>   
                    </apex:pageBlockSectionItem>-->
                     <apex:pageBlockSectionItem rendered="{!actionPlan.Deal__c != null}">
                        <apex:outputLabel value="Deal:" />
                          <apex:inputField required="true"  value="{!actionPlan.Deal__c}" />
                    </apex:pageBlockSectionItem>
                     <apex:pageBlockSectionItem rendered="{!actionPlan.Loan__c != null}">
                        <apex:outputLabel value="Loan:" />
                          <apex:inputField required="true"  value="{!actionPlan.Loan__c}" />
                    </apex:pageBlockSectionItem>               
            </apex:pageBlockSection>
            <apex:pageBlockSection id="acionPlanRelated" title="Related To {!IF(objectName=='Deal__c','Deal','Loan')}" rendered="{!massAssign}">
                <!--<apex:dataList value="{!RelatedObjectNames}" var="objName" first="0">
                    <apex:outputText value="{!objName}"/>
                </apex:dataList>-->
            </apex:pageBlockSection>
            
            
            <div id="ActionPlanTasks">            
                <div class="pbSubheader first tertiaryPalette">
                    <h3>Action Plan Tasks</h3>
                </div>
                <div  class="rt-loading" >&nbsp;</div>
                <ul class="navlist">
                    <li style="width:23px"></li>
                    <li>Name</li>
                    <li>Date Ordered</li>
                    <li>Date Needed</li>
                   <!-- <li>Date Received</li>-->
                    <li>Priority</li>
                    <li>Comments</li>
                    <li style="width:30px;"></li>
                </ul>
                        
                        <apex:variable var="taskCount" value="1"/>
                         
                        <apex:repeat value="{!mapTaskOrder}" var="key">
                            <ul class="navlist">
                             <!--  <li style="width:0px;padding:0px;">{!Key+1}</li>-->
                               <li style="width:0px;padding:0px;">{!taskCount}.</li>
                               <li style="width:0px;padding:0px;">
                                    
                                    <apex:commandLink rerender="editActionPlan" 
                                                      action="{!removeTask}" 
                                                      onclick="if(!confirm('Are you sure?')) return false; showLoader();" 
                                                      oncomplete="hideLoader();"
                                                     > 
                                         
                                         <img src="{!URLFOR($Resource.ActionPlans,'delete.gif')}" alt="Delete "/>
                                         <apex:param name="removeId" value="{!actionPlanTasks[key].id}"/>
                                         <apex:param name="removeRec" value="{!actionPlanTasks[key].Index__c}"/>
                                         <apex:param name="RCCount" value="{!Key}"/>
                                     </apex:commandLink>                                    
                               </li>
                               <li><apex:inputField value="{!actionPlanTasks[key].name}" /></li>
                               <li >
                                   <apex:inputField value="{!actionPlanTasks[key].Date_Ordered__c}"/>
                               </li>
                               <li><apex:inputField value="{!actionPlanTasks[key].Date_Needed__c}"/></li>
                              <!-- <li><apex:inputField value="{!actionPlanTasks[key].Date_Received__c}"/></li>  -->
                               <li style="width:60px;"><apex:inputField value="{!actionPlanTasks[key].Priority__c}" /></li>
                               <li style="padding-left:20px;height:15px">
                                    <apex:outputpanel style="background-color: white;padding:3px;height:15px;display:block;overflow:hidden;"  onclick="$(this).next().children().show();$(this).next().children().children().next().children().focus()" >{!actionPlanTasks[key].Comments__c}</apex:outputpanel>

                                    <apex:outputPanel id="commentPanel" >
                                        <div id="commentContainer" style="display:none">
                                            <div class="hd">
                                                <div class="hd-left">Comments</div>
                                                <div class="hd-right">
                                                    <input class="btn close" style="margin-bottom:1px;" type="button" onclick="$(this).parent().parent().parent().hide(); $(this).parent().parent().parent().parent().prev().text( $(this).parent().parent().next().children().val())"  name="closeCommentPanel" value="Close "/></div>
                                                </div>
                                            <div class="bd">
                                                <apex:inputField id="Comments" value="{!actionPlanTasks[key].Comments__c}" onchange=""/>
                                            </div>
                                        </div>
                                    </apex:outputPanel>
                               </li>
                               
                               <!--<li style="padding-left:20px;height:15px;width:80px;display:{!IF(applyActionPlan, 'none', '')}">
                                    <apex:selectList style="width:90px" value="{!actionPlanTasks[key].Field_to_update_Date_Received__c}" size="1">
                                        <apex:selectOptions value="{!dateFields}"></apex:selectOptions>
                                    </apex:selectList>
                               </li> 
                              <li style="padding-left:20px;height:15px;width:80px;display:{!IF(applyActionPlan, 'none', '')}">
                                    <apex:selectList style="width:90px" value="{!actionPlanTasks[key].Field_to_update_for_date_needed__c}" size="1">
                                        <apex:selectOptions value="{!dateFields}"></apex:selectOptions>
                                    </apex:selectList>
                               </li> 
                               <li style="padding-left:10px;width:200px;height:15px;display:{!IF(applyActionPlan, 'none', '')}" ><apex:inputField style="height:30px;width:200px;" value="{!actionPlanTasks[key].Notify_Emails__c}" /></li>-->

                               <li style="width:50px;padding-left:10px;">
                                   <apex:commandLink rerender="editActionPlan" 
                                                     action="{!addSubTask}" 
                                                     onclick="showLoader();" 
                                                     oncomplete="hideLoader();"
                                                > 
                                     Add Sub Task
                                    <apex:param name="parentId" value="{!actionPlanTasks[key].id}"/>
                                   <apex:param name="parentindex" value="{!actionPlanTasks[key].Index__c}"/>
                                   </apex:commandLink>
                               </li>
                                <apex:variable var="taskCount" value="{!VALUE(taskCount)+1}"/>
                            </ul>
                               <apex:repeat value="{!mapTask[Key]}" var="subTask" first="1">
                               <!--  <apex:outputPanel rendered="{!IF(subTask.Index__c==null, FALSE, true)}">-->
                                   <ul class="navlist" >
                                         <li style="width:0px;padding:0px;margin-left: 40px;"> <img width="25px" src="{!URLFOR($Resource.ActionPlans,'arrow.png')}" alt="Subtask "/>
                                         </li>
                                          <li  style="width:0px;padding-left: 9px;">
                                              <apex:commandLink rerender="editActionPlan" 
                                                                action="{!removesubTask}" 
                                                                onclick="if(!confirm('Are you sure?')) return false; showLoader();" 
                                                                oncomplete="hideLoader();"
                                                               > 
                                                   <img src="{!URLFOR($Resource.ActionPlans,'delete.gif')}" alt="Delete "/>
                                                   <apex:param name="removeId" value="{!subTask.id}"/>
                                                   <apex:param name="SubtaskParent" value="{!key}"/>
                                                   <apex:param name="SubtaskIndex" value="{!subTask.Index__c}"/>
                                               </apex:commandLink>                                       
                                         </li>
                                     
                                         <li style="width: 70px;margin-left: 6px;"><apex:inputField style="width: 70px;" value="{!subTask.name}" /></li>
                                       <!-- <li  style="display:{!IF(!applyActionPlan, 'none', '')}"><apex:inputField value="{!subTask.Date_Ordered__c}"/></li>
 
                                        <li  style="display:{!IF(!applyActionPlan, 'none', '')}"><apex:inputField value="{!subTask.Date_Needed__c}"/></li>-->
                                        
                                      <li><apex:inputField value="{!subTask.Date_Ordered__c}"/></li>
                                         <li><apex:inputField value="{!subTask.Date_Needed__c}"/></li>
                                        <!-- <li><apex:inputField value="{!subTask.Date_Received__c}"/></li>-->
                                        <li style="width:60px;"><apex:inputField value="{!subTask.Priority__c}" /></li>
                                        <li style="padding-left:20px;height:15px">
                                            <apex:outputpanel style="background-color: white;padding:3px;height:15px;display:block;overflow:hidden;"  onclick="$(this).next().children().show();$(this).next().children().children().next().children().focus()" >{!subTask.Comments__c}</apex:outputpanel>
                                            <apex:outputPanel id="commentPanel" >
                                                <div id="commentContainer" style="display:none">
                                                    <div class="hd">
                                                        <div class="hd-left">Comments</div>
                                                        <div class="hd-right">
                                                            <input class="btn close" style="margin-bottom:1px;" type="button" onclick="$(this).parent().parent().parent().hide(); $(this).parent().parent().parent().parent().prev().text( $(this).parent().parent().next().children().val())"  name="closeCommentPanel" value="Close "/></div>
                                                        </div>
                                                    <div class="bd">
                                                        chiru3<apex:inputField id="Comments" value="{!subTask.Comments__c}"/>
                                                    </div>
                                                </div>
                                          </apex:outputPanel>                   
                                        </li>
                                        
                                       <!-- <li style="padding-left:20px;height:15px;width:80px;display:{!IF(applyActionPlan, 'none', '')}">
                                            <apex:selectList style="width:90px" value="{!subTask.Field_to_update_Date_Received__c}" size="1">
                                                <apex:selectOptions value="{!dateFields}"></apex:selectOptions>
                                            </apex:selectList>
                                       </li>
                                       <li style="padding-left:10px;width:200px;height:15px;display:{!IF(applyActionPlan, 'none', '')}" ><apex:inputField style="height:30px;width:200px;" value="{!subTask.Notify_Emails__c}" /></li>-->
                                   </ul>
                                 <!--  </apex:outputPanel>-->
                                </apex:repeat>
                        </apex:repeat>
                        <apex:commandLink action="{!addTask}" style="font-weight:bold" rerender="editActionPlan" onclick="showLoader();" oncomplete="hideLoader();" >
                            Add New Task
                        </apex:commandLink>
            </div>
              </apex:pageBlock>
</apex:form>
<script>
     var url = location.href;
     var match = url.match(/&inline=1/);
    if (match != null) { 
        var newUrl = url.replace(/&inline=1/, '');
        window.top.location=newUrl;
    }
</script>
</apex:page>