<apex:page showHeader="false" standardController="IntranetDocument__kav" standardStylesheets="false" sidebar="false" >
    <apex:define name="header">
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link href='https://fonts.googleapis.com/css?family=Titillium+Web:200,200italic' rel='stylesheet' type='text/css' />
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet' type='text/css' />
          <style>
            .tabs .active a { background:none; font-weight:bold; }
            .ccpdetail { float:left; width:72%;}
            .flimg{ float:left; width:155px;}
            .CCPT li{ display:block !important; min-height:auto !important; }
            body {
    background: none;
    line-height: 1;
}
          </style>
    </apex:define>

    <div class="contentWrapper">
           <apex:outputText value="{!IntranetDocument__kav.Title}" escape="false"></apex:outputText>  
    </div>  
</apex:page>