<apex:page id="pageId" sidebar="false" >

<!--<apex:page controller="CalllistGeneratorCls3" action="{!init}"id="pageId" sidebar="false">
<html lang="en">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
<style>
     .activeTab {background-color: #236FBD; color:white; 
       background-image:none}
      .inactiveTab { background-color: lightgrey; color:black; 
        background-image:none}

#popLnk {  
    height: 23px;
    position: absolute;
    right: 0;
    width: 28px;
    z-index: 9999;
    display:block;
    cursor: pointer;
    border-radius: 4px;
    filter:alpha(opacity=20); 
    -moz-opacity:0.2; 
    opacity: 0.2; 
}
#popLnk:hover{
   
    filter:alpha(opacity=100); 
    -moz-opacity:1; 
    opacity: 1; 
    
}
.popup{
    z-index:99999;
    top:10px;
    left:10px;
    height:1000;
    width:1000;
    background:#fff;
    border:#000 solid 1px;
}

.alertBox {
    
    background-image: none;
    display: none;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999998;
    margin: 0!important;
    padding:0!important;
    background-color: #000000!important;
}

.alertMsgBox {
    background:#ffffff;
    border: #e7e7e5 solid 5px;
    display: none;
    left: 30%;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 15%;
    z-index: 999999;
}

.closeBoxX {
    margin: 0;
    position: absolute;
    right: 0;
    z-index: 999999;
}

.lb-close {
    float: right;
    outline: medium none;
    padding-bottom: 0.7em;
    width: 35px;
}
.left{
    float:left;
}

.right{
    float:right;
}

.clear{
    clear:both;
}

.btnBox {
    padding: 37px 0 0;
}

.alertContent {
    padding: 30px;
    text-align: center;
    height: 82px;
    width: 240px;
}

.indiv {
    background-color: #0783aa;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px;
}
.indiv:hover {
    color: #fcff00;
}

.glob {
    background-color: #0783aa;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px;
}
.glob:hover {
    color: #fcff00;
}
</style>

<script>
 function preview(){
   var vn = document.getElementbyId("assignlist");
   alert(vn);
   window.open('/apex/previewpage?vname=vn');
   window.close();
   
 }
 function showMessage(){
  if(document.getElementById('pageId:formId:popup').value == 'false')
      alert('The number of contacts exceed 10,000. Please provide additional filtering criteria');
 }  
</script>

<apex:tabPanel switchType="client" selectedTab="name2" id="theTabPanel" tabClass="activeTab"  inactiveTabClass="inactiveTab">
<apex:tab label="Create" name="createtab" id="createtab">
<apex:form id="formId"> 
<apex:inputHidden id="popup" value="{!success}"/>
<apex:pageBlock title="Create Call List" >
<apex:outputPanel id="errorFilterMsg">
        <apex:pageMessages />
       </apex:outputPanel>

<P>
<b> Call List Name: </b> <apex:inputText value="{!callList.name}"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <b> Call List Description: </b><apex:inputField value="{!callList.Description__c}" style="height:50px;width:200px;"/>
</P>

<br/>
<apex:pageBlock id="pb">
<table >
<tr >
<td  width="390">
<b>Filter By Owner:</b><br/>
<apex:SelectRadio value="{!ContactOption}" layout="pageDirection"  id="rad" disabled="{!if(callList.CampaignName__c!= NULL,true,false)}" >
<apex:selectOptions value="{!Owner}" id="opt1"/>
</apex:SelectRadio>
</td>

<td  width="390">
<b>Filter By Campaign:</b><br/>
<apex:inputField value="{!callList.CampaignName__c}" id="lkup"/> 
<apex:actionSupport event="onchange" rerender="pb"/>
<br/>
</td>
</tr>
</table>

</apex:pageBlock>
<apex:pageBlock id="filterblock">
<b>Filter By Additional Fields </b> <br/>

<table>
<tr>
<td>                 
<apex:selectList value="{!FieldName}" size="1" id="firstfield">
<apex:actionsupport event="onchange" status="bnField" rerender="datetext,op" />
<apex:selectOptions value="{!Fields}" />
</apex:selectList>
</td>
<td>
<apex:selectList value="{!Operator}" size="1"  id="op" style="width:150px;">
<apex:selectOptions value="{!OperatorList}" />
</apex:selectList>
<apex:actionstatus id="bnField">
    <apex:facet name="start"><apex:image url="\img\loading.gif"/></apex:facet>
    <apex:facet name="stop"></apex:facet>
</apex:actionstatus>
</td>
<td>
<apex:inputField value="{!callList.Value__c}"/>

<apex:outputpanel id="datetext">
<apex:outputtext rendered="{!if((mapfieldnames[fieldName])=='DATE',true,false)}">{mm/dd/yyyy}</apex:outputtext>
<apex:outputtext rendered="{!if((mapfieldnames[fieldName])=='DATETIME',true,false)}">{mm/dd/yyyy HR:Min AM/PM}</apex:outputtext>
<apex:outputtext rendered="{!if((mapfieldnames[fieldName])=='BOOLEAN',true,false)}">{TRUE/FALSE}</apex:outputtext>
</apex:outputpanel>
</td>
</tr>
<tr>
<td>
<apex:selectList value="{!FieldName1}" size="1" >
<apex:actionsupport event="onchange"  status="bnField1" rerender="datetext1,op1" />
<apex:selectOptions value="{!Fields}" />
</apex:selectList>
</td>
<td>
<apex:selectList value="{!Operator1}" size="1" id="op1" style="width:150px;">
<apex:selectOptions value="{!OperatorList1}" />
</apex:selectList>
<apex:actionstatus id="bnField1">
    <apex:facet name="start"><apex:image url="\img\loading.gif"/></apex:facet>
    <apex:facet name="stop"></apex:facet>
</apex:actionstatus>
</td>
<td>
<apex:inputField value="{!callList.Value1__c}"/>
    
<apex:outputpanel id="datetext1">
<apex:outputtext rendered="{!if((mapfieldnames[fieldName1])=='DATE',true,false)}">{mm/dd/yyyy}</apex:outputtext>
<apex:outputtext rendered="{!if((mapfieldnames[fieldName1])=='DATETIME',true,false)}">{mm/dd/yyyy HR:Min AM/PM}</apex:outputtext>
<apex:outputtext rendered="{!if((mapfieldnames[fieldName1])=='BOOLEAN',true,false)}">{TRUE/FALSE}</apex:outputtext>
</apex:outputpanel>
</td>
</tr>
<tr>
<td>
<apex:selectList value="{!FieldName2}" size="1">
<apex:actionsupport event="onchange"  status="bnField2" rerender="datetext2,op2" />
<apex:selectOptions value="{!Fields}" />
</apex:selectList>
</td>
<td>
<apex:selectList value="{!Operator2}" size="1" id="op2" style="width:150px;">
<apex:selectOptions value="{!OperatorList2}" />
</apex:selectList>
<apex:actionstatus id="bnField2">
    <apex:facet name="start"><apex:image url="\img\loading.gif"/></apex:facet>
    <apex:facet name="stop"></apex:facet>
</apex:actionstatus>
</td>
<td>
<apex:inputField value="{!callList.Value2__c}"/>
    
<apex:outputpanel id="datetext2">
<apex:outputtext rendered="{!if((mapfieldnames[fieldName2])=='DATE',true,false)}">{mm/dd/yyyy}</apex:outputtext>
<apex:outputtext rendered="{!if((mapfieldnames[fieldName2])=='DATETIME',true,false)}">{mm/dd/yyyy HR:Min AM/PM}</apex:outputtext>
<apex:outputtext rendered="{!if((mapfieldnames[fieldName2])=='BOOLEAN',true,false)}">{TRUE/FALSE}</apex:outputtext>
</apex:outputpanel>
</td>
</tr>
<tr>
<td>
<apex:selectList value="{!FieldName3}" size="1">
<apex:actionsupport event="onchange" status="bnField3" rerender="datetext3,op3" />
<apex:selectOptions value="{!Fields}" />
</apex:selectList>
</td>
<td>
<apex:selectList value="{!Operator3}" size="1" id="op3" style="width:150px;">
<apex:selectOptions value="{!OperatorList3}" />
</apex:selectList>
<apex:actionstatus id="bnField3">
    <apex:facet name="start"><apex:image url="\img\loading.gif"/></apex:facet>
    <apex:facet name="stop"></apex:facet>
</apex:actionstatus>
</td>
<td>
<apex:inputField value="{!callList.Value3__c}"/>
    
<apex:outputpanel id="datetext3">
<apex:outputtext rendered="{!if((mapfieldnames[fieldName3])=='DATE',true,false)}">{mm/dd/yyyy}</apex:outputtext>
<apex:outputtext rendered="{!if((mapfieldnames[fieldName3])=='DATETIME',true,false)}">{mm/dd/yyyy HR:Min AM/PM}</apex:outputtext>
<apex:outputtext rendered="{!if((mapfieldnames[fieldName3])=='BOOLEAN',true,false)}">{TRUE/FALSE}</apex:outputtext>
</apex:outputpanel>
</td>
</tr>
<tr>
<td>
<apex:selectList value="{!FieldName4}" size="1">
<apex:actionsupport event="onchange" status="bnField4" rerender="datetext4,op4" />
<apex:selectOptions value="{!Fields}" />
</apex:selectList>
</td>
<td>
<apex:selectList value="{!Operator4}" size="1" id="op4" style="width:150px;">
<apex:selectOptions value="{!OperatorList4}" />
</apex:selectList>
<apex:actionstatus id="bnField4">
    <apex:facet name="start"><apex:image url="\img\loading.gif"/></apex:facet>
    <apex:facet name="stop"></apex:facet>
</apex:actionstatus>
</td>
<td>
<apex:inputField value="{!callList.Value4__c}"/>
    
<apex:outputpanel id="datetext4">
<apex:outputtext rendered="{!if((mapfieldnames[fieldName4])=='DATE',true,false)}">{mm/dd/yyyy}</apex:outputtext>
<apex:outputtext rendered="{!if((mapfieldnames[fieldName4])=='DATETIME',true,false)}">{mm/dd/yyyy HR:Min AM/PM}</apex:outputtext>
<apex:outputtext rendered="{!if((mapfieldnames[fieldName4])=='BOOLEAN',true,false)}">{TRUE/FALSE}</apex:outputtext>
</apex:outputpanel>
</td>
</tr>
<tr>
<td>
<apex:selectRadio value="{!visibility}">
<br><apex:selectOptions Value="{!VisbilityValues}" /></br>
</apex:selectRadio>
</td>
</tr>
</table>
</apex:pageBlock>
<apex:actionStatus id="sendemail" startStyle="font-weight:bold;color:#FF0000;">
   <apex:facet name="start">
      Please wait loading..
   </apex:facet>
</apex:actionStatus>
<p align="center">
<apex:commandbutton value="Save" action="{!save1}"  rerender="v,assignlist,errorFilterMsg" status="sendemail"/>
<apex:commandbutton value="Cancel" action="{!cancel}"/>
</p>

</apex:pageBlock>
</apex:form>


</apex:tab>
<apex:tab label="Edit" name="edittab" id="tab2">
 <apex:form >
    <center>
      <apex:outputPanel >
         <c:MyComponent />
      </apex:outputPanel>     
    </center>
    </apex:form>
 </apex:tab> 
 
 
 <apex:tab label="Delete(Multiple Call List)" name="deletetab333" id="tab333">
  
 <apex:form >
 <apex:pageMessages id="delmsg1"/>
    <center>       
        <apex:actionRegion >  
          
        </apex:actionRegion>
        <table id="t1234">
           <tr id="tr1234">
            <td>
               <b>Call List Name</b>
            <br/>
             <apex:pageblock id="searchResults2">
              
               <apex:outputText rendered="{!if(autoresults.size > 0,false,true)}">
                  No Records matching the search criteria.
               </apex:outputText>
               <apex:outputText rendered="{!if(autoresults.size > 0,true,false)}">
                  <apex:selectList value="{!Viewnamelist}" size="5" id="assignlist" multiselect="true">
                     <apex:selectOptions value="{!ListViews1}"/>
                    
                  </apex:selectList>                 
               </apex:outputText><br/>
              
               <apex:actionStatus id="callstatus" startStyle="font-weight:bold;color:blue" startText="Please wait loading ................" />
             </apex:pageblock>
             <br/>
           </td>
           <td>                         
           </td>
        
         </tr>
       </table>
       <apex:actionStatus id="delstatus" startStyle="font-weight:bold;color:#FF0000;" startText="Please wait Deleting is in progress.We will notify you via email, once the call list is deleted "/>
       <apex:commandButton action="{!deleteCallList}" status="delstatus" value="Delete" reRender="delmsg1"/>
       <apex:commandButton action="{!cancel}" value="Cancel"/>
      
       <apex:outputpanel id="delmsg">
          <apex:outputtext rendered="{!if(flag=true,true,false)}">Call lists  Deleted.</apex:outputtext>
       </apex:outputpanel>
        <apex:pageMessages id="deleteuser"></apex:pageMessages>
    </center>
    </apex:form>
 </apex:tab>          
         
 <apex:tab label="Set Priority" name="Prioritytab" id="tab9" ontabenter="open('MultiPrioritypage');">
        
</apex:tab>    
 
   <apex:tab label="Remove Contacts" name="removetab" id="tab6">
      <center>
        <c:RemoveComponent />
      </center>
     </apex:tab>     
    
 
<apex:tab label="CallList Status" name="statustab" id="tab8" ontabenter="open('statusbyCalllistwholesaler?sfdc.tabName=01rW00000000CgE');">
        
</apex:tab>
<apex:tab label="Generate CSV" name="csvtab" id="tab4">
 <apex:form >
   <center>
        <apex:pageblock >
          <b> CallList Name: </b>
          <apex:outputText rendered="{!if(autoresults.size > 0,true,false)}">
            <apex:selectList value="{!Viewname}" size="1" id="assignlist">
             <apex:selectOptions value="{!ListViews}"/>
            </apex:selectList>
          </apex:outputText>
          <br/>
          <br/>
          <apex:actionStatus id="previewrecord" startStyle="font-weight:bold;color:#FF0000;" startText="Please wait for the Email.."/>
          <apex:commandbutton value="Preview" action="{!previewredirect}" reRender="previewlimit,LockErrorMsg3" status="previewrecord"/>
          <apex:pageMessages id="previewlimit"></apex:pageMessages>
        </apex:pageblock>
        </center>
        </apex:form>
        </apex:tab>
</apex:tabPanel> 
<div style="display: none; background-color: rgb(0, 0, 0);" id="fade" class="alertBox"></div>
<div style="display: none;" id="light" class="alertMsgBox">
<div class="closeBoxX"><a href="#" class="aClick lb-close">
<img colereit="" title="Close" src="{!URLFOR($Resource.coleintracss,'images/icon_close.png')}" class="close" alt="Close" /></a></div>
<div class="alertContent" style="width: 300px; height: 110px; align:center;">
  <h2>Please select your Priority</h2>
  <div class="clear btnBox">
    <div class="indiv left">By Individual</div>
    <div class="glob right">Global</div>
    <div class="clear"></div>
  </div>
</div>
</div>
</html>--> 
</apex:page>