<apex:page controller="CM_CustomVendorLookupController"
  title="Search" 
  showHeader="false" 
  sideBar="false" 
  tabStyle="Account" 
  id="Page">
 <style type="text/css">
    .col1 {width:300px;text-align:right;}
    .col2 {width:50px;text-align:right}
    .col3 {width:50px;text-align:left}
    
    .outerdiv {
        background-repeat: repeat-x;
        background-position: left top;
        background: white url(/img/alohaSkin/lookup_bg.png) repeat-x;
        padding-left: 10px;
        height: 100%;
    }
    .innerdiv {
        background-image: url(/img/sprites/master.png);
        background-position: 0px -1202px;
        width: 32px;
        height: 32px;
    }  
    .requiredLoaderBG{
        background-color: rgb(71,71,71);
        opacity:0.7;
        filter:alpha(opacity=70);
        background-image:url('{!$Resource.Loading}');
        background-position: center center;
        background-repeat: no-repeat;
        height: 100%;
        left: 0;
        position: fixed;
        text-align: center;
        top: 0;
        width: 100%;
        z-index: 1;
    }
 </style>
<apex:form id="myForm" >
 <div class="outerdiv">
   <div class="innerdiv"></div>
                <div style="float: left; width: 50px; margin-top: -20px; margin-left: 40px">
                    <h1>Lookup</h1>
                </div>
  <apex:outputPanel id="page" layout="block" style="margin:5px;padding:10px;padding-top:2px;" >
         <apex:actionRegion >  
          <apex:outputPanel id="top" layout="block" style="margin:5px;padding:10px;padding-top:2px;">
            <apex:outputLabel value="Search" style="font-weight:Bold;padding-right:10px;" for="txtSearch"/>
            <apex:inputText id="txtSearch" value="{!searchString}" />
            <apex:commandButton value="Go!"  action="{!SearchRecord}" />
            <apex:commandButton value="New"  action="{!createNewRecord}"/>
            <!--<apex:outputLabel Value="Search" title="Search"/>-->
             <apex:selectRadio value="{!Snooze}" id="Snooze">
              <apex:selectOptions value="{!Snoozeradio}"/>
             </apex:selectRadio>
        <!-- <span style="padding-left:5px"><apex:commandButton id="btnGo" value="Close Window" onclick="onClose();" ></apex:commandButton></span>
         --> </apex:outputPanel>
        
          <apex:outputPanel id="pnlSearchResults" style="margin:10px;height:350px;overflow-Y:auto;" layout="block" rendered="{!showsearch}">
            <apex:pageBlock id="searchResults"> 
              <apex:pageBlockTable value="{!results}" var="a" id="tblResults">
                <apex:column headerValue="Name">
                 <apex:outputLink value="#" onclick="fillIn('{!a.Name}')">{!a.Name}</apex:outputLink>       
                </apex:column>
               </apex:pageBlockTable>
            </apex:pageBlock>
          </apex:outputPanel>
          
          <apex:outputPanel id="NewVendor" style="margin:50px;height:350px;overflow-Y:auto;" rendered="{!shownew}" styleClass="requiredBlock"   >
            <apex:pageBlock id="searchResults1"> 
            <table>
            <tr><td>
            <apex:outputLabel value="Vendor Name:" style="font-weight:bold;"/><span style="padding-left:5px">
            <apex:inputField value="{!vdr.Name}" /></span><br></br>
            </td></tr>
            <tr><td>
            <apex:outputLabel value="Phone Number:" style="font-weight:bold;"/><span style="padding-left:5px">
            <apex:inputField value="{!vdr.Phone_Number__c}" label="Phone Number" /></span><br></br>
            </td></tr>
            <tr><td>
            <apex:commandButton value="Save"  action="{!Save}" oncomplete="fillInone('{!$Component.csvPhoneNumberId}');" reRender="csvPhoneNumberId"/>
            <apex:inputhidden value="{!phoneNumberPassToTextBox}" id="csvPhoneNumberId"/>
            </td></tr>
             </table>  
               </apex:pageBlock>
          </apex:outputPanel>
          
          
          
        </apex:actionRegion>
  </apex:outputPanel>
 </div>
<script>
function fillIn(name)
   {
      var winMain=window.opener;
      if (null==winMain)
      {
         winMain=window.parent.opener;
      }
      var ele=winMain.document.getElementById('{!JSENCODE(HTMLENCODE($CurrentPage.parameters.namefield))}');
      ele.value=name;
      onClose();
   }
function fillInone(name)
   {
      var winMain=window.opener;
      if (null==winMain)
      {
         winMain=window.parent.opener;
      }
      var inputValue = document.getElementById(name).value;
      var ele=winMain.document.getElementById('{!JSENCODE(HTMLENCODE($CurrentPage.parameters.namefield))}');
      ele.value=inputValue;
      onClose();
   }
function onClose(){
              var winMain=window.opener;
              if (null==winMain)
              {
                 winMain=window.parent.opener;
              }
              winMain.closeLookupPopup(); 
             }
</script> 
<apex:actionstatus startStyleClass="requiredLoaderBG" id="loading" />
</apex:form>
</apex:page>