<apex:page >
<!--<apex:page id="cockpit" Controller="CockpitLiteClassfromstage" showheader="true" sidebar="false">    
    <apex:includescript value="{!$Resource.pageBlockSupplement}" />
    <apex:includescript value="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"/>
    <script type="text/javascript">       
        $(document).ready(function(){            
            $('#btns').hide();
            $('#btnHide').live('click', function(event) {        
                 $('#btns').toggle('show');
            });
            $('#showadvisors').click(function() {
              
                document.getElementById("firstName").value='';              
                                         
            });            
        });        
    </script>
    <Script>    
    function setFocusOnLoad() {}
    </Script>
    <script>
    function go(field1,field2,field3,field4) {    
    var terr = document.getElementById(field1).value;
    var city = document.getElementById(field2).value;
    //alert(city); //returns the string u put inside of input text field
    //alert(terr);
    document.getElementById(field2).value= '';
    document.getElementById(field3).value= '';
    document.getElementById(field4).value= '';

    }    
    </script>
    <script>
    function test(field1,field2,field3,field4) {
    var ter = document.getElementById(field1).value;
    //alert(ter);
    if(ter==''){
    //alert('Please select Territory.');
    document.getElementById(field2).value= '';
    document.getElementById(field3).value= '';
    document.getElementById(field4).value= '';
    }
    }    
    </script>
    <style>
        .totalRow .pbtfclass{font-size:11px;background:none;}
    </style>
    <script type="text/javascript">
      function pop(AnyId) {
        var myWindow;
        
        myWindow = window.open('/'+AnyId,'');
      }
     </script>
    <apex:form id="theform">
        <apex:pageBlock id="mainblock">
            <apex:pageMessages id="errorFilterMsg"></apex:pageMessages>
            <table  width="100%">
                <tr>
                    <td valign="top" width="65%" >
                        <table width="100%">
                            <tr>
                                <td width="100%">
                                    <apex:pageblock id="CallQueueTableID" >
                                    <B><font size="3">Call Queue</font></B>
                                     <br/><br/>
                                        <table width="100%" border="0"> 
                                            <tr>
                                                   <td class="tdtest">                                                  
                                                    <apex:panelGrid columns="6" >
                                                    <apex:outputLabel value="Territory" style="font-weight:bold;"/>
                                                    <apex:inputField value="{!Con.Territory__c}" id="terrid" required="True" onchange="javascript:go('{!$Component.terrid}','{!$Component.cityid}','{!$Component.zipid}','{!$Component.wsmid}')" />
                                                    <apex:outputLabel value="Territory Zone" style="font-weight:bold;"/>
                                                    <apex:inputField value="{!Con.Territory_Zone__c}"/>
                                                    <apex:outputLabel value="Priority" style="font-weight:bold;"/>
                                                    <apex:inputField value="{!Con.Priority__c }"/>                                                  
                                                    <apex:outputLabel value="City" style="font-weight:bold;"/>
                                                    <apex:inputField value="{!Con.MailingCity}" id="cityid"/>
                                                    <apex:outputLabel value="Zip/Postal Code" style="font-weight:bold;"/>
                                                    <apex:inputField value="{!Con.MailingPostalCode}" id="zipid"/>
                                                    <apex:outputLabel value="W/S Mgmt" style="font-weight:bold;"/>
                                                    <apex:inputField value="{!Con.Wholesaler_Management__c}" id="wsmid"/>
                                                    <apex:outputLabel value="Start Date" style="font-weight:bold;"/>
                                                    <apex:inputField value="{!event1.StartDate__c}" />
                                                    <apex:outputLabel value="End Date" style="font-weight:bold;"/>
                                                    <apex:inputField value="{!event1.EndDate__c}" />                                                    
                                                    <apex:outputPanel />
                                                    <apex:outputPanel >
                                                    <input type='button' id='showadvisors' value='Show Advisors' style="height:24px;font-size:12px;font-weight:bold;" onclick="javascript:test('{!$Component.terrid}','{!$Component.cityid}','{!$Component.zipid}','{!$Component.wsmid}')"/>                                                  
                                                    <apex:actionSupport event="onclick" action="{!AdviserCallList}"  status="callliststatus" rerender="call,AdviserTableId,cn,blktabID,firstName,TotalConts,LinkPanal,CustomList,OpenActivitiesList,errorFilterMsg"/> 
                                                    </apex:outputPanel>                                                                                            
                                                    </apex:panelGrid>   

                                              </td>
                                              </tr>
                                              <tr>
                                                <td align="center">
                                                    <hr style="color:none;background-color:lightgrey;height:1px;border:none;" />
                                                    <div style="position:fixed;top:40%;left:40%;" id="loadid">                                                   
                                                                                           
                                                        <apex:actionStatus id="callliststatus" stopText="">
                                                            <apex:facet name="start">
                                                               
                                                                <apex:outputPanel id="statusicon" style="background-color:white;padding:16px 40px;border:1px black solid">
                                                                    <apex:image value="/img/loading.gif" title="Processing..."/>&nbsp;&nbsp;
                                                                    <apex:outputText style="color:red;font-weight:bold;vertical-align:10%;text-align:left;" value="Please wait loading..."/>
                                                                </apex:outputPanel>
                                                            </apex:facet>
                                                        </apex:actionStatus>                                                     
                                                    </div>
                                                </td>
                                              </tr>
                                              <tr>
                                              <td>
                                              <apex:outputpanel id="criteria">
                                               <script type="text/javascript">
                                              function doSearch() {
                                              
                                                searchServer(document.getElementById("firstName").value);
                                                
                                                              
                                                      }
                                              </script> 
                                              <apex:actionFunction name="searchServer" action="{!AdviserCallList}" rerender="AdviserTableId,blktabID,debug,errors,TotalConts,LinkPanal">
                                              <apex:param name="firstName" value="" />
                                                                                        </apex:actionFunction>
                                                    <table cellpadding="2" cellspacing="2" border="0" width="100%">
                                                      <tr>
                                                        <td style="font-weight:bold;" colspan="2">
                                                            <input id="btnHide" type="button" value="Show/Hide Column"/>
                                                            <div id="btns">
                                                              
                                                           
                                                           <apex:outputLabel value="Name" for="indiacheck2">
                                                            <apex:inputcheckbox id="indiacheck2" value="{!indiacheck2}" label="Name">
                                                              <apex:actionSupport event="onchange"  action="{!AdviserCallList}"  status="callliststatus" rerender="AdviserTableId,blktabID,LinkPanal,TotalConts,cn"/>                                                    
                                                               </apex:inputcheckbox>
                                                               </apex:outputLabel>
                                                              &nbsp;
                                                            <apex:outputLabel value="W/S Mgmt" for="wsmgmetcheck">
                                                            <apex:inputcheckbox id="wsmgmetcheck" value="{!wsmgmetcheck}" label="Name">
                                                              <apex:actionSupport event="onchange"  action="{!AdviserCallList}"  status="callliststatus" rerender="AdviserTableId,blktabID,LinkPanal,TotalConts,cn"/>                                                    
                                                               </apex:inputcheckbox>
                                                               </apex:outputLabel>
                                                               &nbsp;
                                                                <apex:outputLabel value="Notes" for="notescheck">
                                                            <apex:inputcheckbox id="notescheck" value="{!notescheck}" label="Name">
                                                              <apex:actionSupport event="onchange"  action="{!AdviserCallList}"  status="callliststatus" rerender="AdviserTableId,blktabID,LinkPanal,TotalConts,cn"/>                                                    
                                                               </apex:inputcheckbox>
                                                               </apex:outputLabel>
                                                               &nbsp;
                                                               <apex:outputLabel value="Meeting Due" for="meetingduecheck">
                                                            <apex:inputcheckbox id="meetingduecheck" value="{!meetingduecheck}" label="Name">
                                                              <apex:actionSupport event="onchange"  action="{!AdviserCallList}"  status="callliststatus" rerender="AdviserTableId,blktabID,LinkPanal,TotalConts,cn"/>                                                    
                                                               </apex:inputcheckbox>
                                                               </apex:outputLabel>
                                                               &nbsp;
                                                               
                                                              
                                                            <apex:outputLabel value="Firm" for="Firmcheck">
                                                            <apex:inputcheckbox id="Firmcheck" value="{!Firmcheck}" label="Name">
                                                              <apex:actionSupport event="onchange"  action="{!AdviserCallList}"  status="callliststatus" rerender="AdviserTableId,blktabID,LinkPanal,TotalConts,cn"/>                                                    
                                                               </apex:inputcheckbox>
                                                               </apex:outputLabel>
                                                            &nbsp;
                                                             <apex:outputLabel value="Street" for="Streetcheck">
                                                            <apex:inputcheckbox id="Streetcheck" value="{!Streetcheck}" label="Name">
                                                              <apex:actionSupport event="onchange"  action="{!AdviserCallList}"  status="callliststatus" rerender="AdviserTableId,blktabID,LinkPanal,TotalConts,cn"/>                                                    
                                                               </apex:inputcheckbox>
                                                               </apex:outputLabel>
                                                            &nbsp;
                                                               <apex:outputLabel value="City" for="citycheck">
                                                            <apex:inputcheckbox id="citycheck" value="{!citycheck}" label="Name">
                                                              <apex:actionSupport event="onchange"  action="{!AdviserCallList}"  status="callliststatus" rerender="AdviserTableId,blktabID,LinkPanal,TotalConts,cn"/>                                                    
                                                               </apex:inputcheckbox>
                                                               </apex:outputLabel>
                                                               &nbsp;
                                                                <apex:outputLabel value="State" for="Statecheck">
                                                            <apex:inputcheckbox id="Statecheck" value="{!Statecheck}" label="Name">
                                                              <apex:actionSupport event="onchange"  action="{!AdviserCallList}"  status="callliststatus" rerender="AdviserTableId,blktabID,LinkPanal,TotalConts,cn"/>                                                    
                                                               </apex:inputcheckbox>
                                                               </apex:outputLabel>
                                                                &nbsp;
                                                             
                                                                <apex:outputLabel value="Phone" for="Phonecheck">
                                                            <apex:inputcheckbox id="Phonecheck" value="{!Phonecheck}" label="Name">
                                                              <apex:actionSupport event="onchange"  action="{!AdviserCallList}"  status="callliststatus" rerender="AdviserTableId,blktabID,LinkPanal,TotalConts,cn"/>                                                    
                                                               </apex:inputcheckbox>
                                                               </apex:outputLabel>
                                                               &nbsp;
                                                                <apex:outputLabel value="Email" for="Emailcheck">
                                                            <apex:inputcheckbox id="Emailcheck" value="{!Emailcheck}" label="Name">
                                                              <apex:actionSupport event="onchange"  action="{!AdviserCallList}"  status="callliststatus" rerender="AdviserTableId,blktabID,LinkPanal,TotalConts,cn"/>                                                    
                                                               </apex:inputcheckbox>
                                                               </apex:outputLabel>
                                                               &nbsp;
                                                                 <apex:outputLabel value="Priority" for="Prioritycheck">
                                                            <apex:inputcheckbox id="Prioritycheck" value="{!Prioritycheck}" label="Name">
                                                              <apex:actionSupport event="onchange"  action="{!AdviserCallList}"  status="callliststatus" rerender="AdviserTableId,blktabID,LinkPanal,TotalConts,cn"/>                                                    
                                                               </apex:inputcheckbox>
                                                               </apex:outputLabel>
                                                                </div>
                                                               </td>
                                                      </tr>
                                                      <tr>
                                                     
                                                        <td style="font-weight:bold;">
                                                            Show&nbsp;
                                                            <apex:selectList value="{!calllist}" size="1"  title="Show" >
                                                            <apex:selectOptions value="{!CallListValues}" ></apex:selectOptions>
                                                                <apex:actionSupport oncomplete="doSearch();" action="{!AdviserCallList}" event="onchange"  status="callliststatus" rerender="AdviserTableId,blktabID,LinkPanal,TotalConts,cn">                                                    
                                                                </apex:actionSupport>
                                                            </apex:selectList>
                                                            entries
                                                        </td>
                                                        <td style="font-weight:bold;" align="right">                                                                                                                        
                                                            Search&nbsp;
                                                            <apex:selectList value="{!searchby }" size="1" title="Select the Column " >
                                                            <apex:selectOptions value="{!SearchValues}" ></apex:selectOptions>
                                                                
                                                            </apex:selectList>
                                                          
                                                            <input type="text" id="firstName" />                                                            
                                                            <img src="/s.gif" alt="Search" title="Search" class="lookupIcon" onclick="doSearch();" OnMouseOver="this.style.cursor='pointer';" OnMouseOut="this.style.cursor='default';"/>
                                                        </td>
                                                      </tr>               
                                                </table>
                                            </apex:outputpanel> 
                                              </td>
                                            </tr>
                                            <tr >
                                                <td width="100%">                                                        
                                                        <apex:outputPanel id="blktabID">                                                        
                                                            <div align="center" style="color:red;padding-bottom:5px;" height="20px">
                                                            <apex:outputText value="" rendered="{!norecs}">No Advisors found for <b>{!territoryname}</b></apex:outputText>
                                                            <apex:outputText value="" rendered="{!norecs1}">No Advisors to display.</apex:outputText>
                                                            </div>                                                  
                                                            <apex:pageBlockTable value="{!rowmap}" id="AdviserTableId" var="r" rows="{!rows}" first="{!first}" footerClass="pbtfclass" >                                                                
                                                                                                                              
                                                                <apex:column style="{!if(advCon.id=rowmap[r].id,'background-color:#1797C0','background-color:white')}" rendered="{!if(indiacheck2==true,true,false)}">
                                                                    <apex:facet name="header">
                                                                        <apex:outputPanel >
                                                                        <apex:commandLink value="Name" action="{!toggleSort}" rerender="AdviserTableId,debug" >
                                                                             <apex:param name="sortField" value="Name" assignTo="{!sortField}"/>
                                                                        </apex:commandLink>
                                                                        <apex:image value="/s.gif" styleClass="{!sortArrow}" rendered="{!showArrowName}" />
                                                                        </apex:outputPanel>
                                                                    </apex:facet>
                                                                    <apex:facet name="footer"><apex:outputtext value="Name"/></apex:facet>                                                                    
                                                                    <apex:commandlink rerender="cn,cas,rel,call,CallQueueTableID,blktabID,CustomList,OpenActivitiesList"  status="callliststatus"   action="{!condetail}" >
                                                                        <apex:param name="CallQueueId" value="CallQueue" assignTo="{!CallQueueValue}" />
                                                                        <font color="{!if(advCon.id=rowmap[r].id,'white','black')}"> <apex:outputtext value="{!rowmap[r].name}"/> </font>
                                                                        <apex:param name="cid" value="{!rowmap[r].id}" assignTo="{!cid}"/>
                                                                    </apex:commandlink>                                                                 
                                                                </apex:column>  
                                                                <apex:column style=" {!if(advCon.id=rowmap[r].id,'background-color:#1797C0','background-color:white')}" rendered="{!if(wsmgmetcheck==true,true,false)}">
                                                                    <apex:facet name="header">
                                                                     <apex:outputPanel >
                                                                     <apex:commandLink value="W/S Mgmt" action="{!toggleSort}" rerender="AdviserTableId,debug">
                                                                             <apex:param name="sortField" value="Wholesaler_Management__c" assignTo="{!sortField}"/>
                                                                        </apex:commandLink>
                                                                        <apex:image value="/s.gif" styleClass="{!sortArrow}" rendered="{!showArrowWsm}" />
                                                                        </apex:outputPanel>
                                                                    </apex:facet>
                                                                    <apex:facet name="footer">W/S Mgmt</apex:facet>
                                                                    <font color="{!if(advCon.id=rowmap[r].id,'white','black')}"><apex:outputtext value="{!rowmap[r].Wholesaler_Management__c}"/></font>                                                         
                                                                </apex:column>
                                                                  <apex:column style=" {!if(advCon.id=rowmap[r].id,'background-color:#1797C0','background-color:white')}" rendered="{!if(notescheck==true,true,false)}">                                                                    
                                                                    <!--<apex:facet name="header">
                                                                    <apex:commandLink value="Notes" action="{!toggleSort}" rerender="AdviserTableId,debug">
                                                                             <apex:param name="sortField" value="Additional_Notes__c" assignTo="{!sortField}"/>
                                                                        </apex:commandLink>
                                                                    </apex:facet>                                                                 
                                                                    <apex:facet name="header">
                                                                     <apex:outputPanel >
                                                                     <apex:commandLink value="Note" action="{!toggleSort}" rerender="AdviserTableId,debug">
                                                                             <apex:param name="sortField" value="Note__c" assignTo="{!sortField}"/>
                                                                        </apex:commandLink>
                                                                        <apex:image value="/s.gif" styleClass="{!sortArrow}" rendered="{!showArrowNote}" />
                                                                        </apex:outputPanel>
                                                                    </apex:facet>                                                                   
                                                                    <apex:facet name="footer">Note</apex:facet>
                                                                    <font color="{!if(advCon.id=rowmap[r].id,'white','black')}"><apex:outputtext value="{!rowmap[r].Note__c}"/></font>                                                         
                                                                </apex:column>
                                                                <apex:column style=" {!if(advCon.id=rowmap[r].id,'background-color:#1797C0','background-color:white')}" rendered="{!if(meetingduecheck==true,true,false)}" >
                                                                    <apex:facet name="header">
                                                                   <apex:outputPanel >
                                                                   <apex:commandLink value="Meeting Due" action="{!toggleSort}" rerender="AdviserTableId,debug">
                                                                             <apex:param name="sortField" value="Next_Planned_External_Appointment_c__c" assignTo="{!sortField}"/>
                                                                        </apex:commandLink>
                                                                        <apex:image value="/s.gif" styleClass="{!sortArrow}" rendered="{!showArrowNpea}" />
                                                                        </apex:outputPanel>
                                                                    </apex:facet>
                                                                    <apex:facet name="footer">Meeting Due</apex:facet>
                                                                    <font color="{!if(advCon.id=rowmap[r].id,'white','black')}">
                                                                    <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                                                                    <apex:param value="{!rowmap[r].Next_Planned_External_Appointment_c__c}" />
                                                                    </apex:outputtext>
                                                                    </font>                                                         
                                                                </apex:column>
                                                                <apex:column style=" {!if(advCon.id=rowmap[r].id,'background-color:#1797C0','background-color:white')}" rendered="{!if(Firmcheck==true,true,false)}">
                                                                    <apex:facet name="header">
                                                                    <apex:outputPanel >
                                                                    <apex:commandLink value="Firm" action="{!toggleSort}" rerender="AdviserTableId,debug">
                                                                             <apex:param name="sortField" value="Account.name" assignTo="{!sortField}"/>
                                                                        </apex:commandLink>
                                                                        <apex:image value="/s.gif" styleClass="{!sortArrow}" rendered="{!showArrowAn}" />
                                                                        </apex:outputPanel>
                                                                    </apex:facet>
                                                                    <apex:facet name="footer">Firm</apex:facet>
                                                                    <font color="{!if(advCon.id=rowmap[r].id,'white','black')}"><apex:outputtext value="{!rowmap[r].Account.name}"/></font>                                                         
                                                                </apex:column>
                                                                
                                                                <apex:column style=" {!if(advCon.id=rowmap[r].id,'background-color:#1797C0','background-color:white')}" rendered="{!if(Streetcheck==true,true,false)}" >
                                                                    <apex:facet name="header">
                                                                    <apex:outputPanel >
                                                                    <apex:commandLink value="Street" action="{!toggleSort}" rerender="AdviserTableId,debug">
                                                                             <apex:param name="sortField" value="MailingStreet" assignTo="{!sortField}"/>
                                                                        </apex:commandLink>
                                                                        <apex:image value="/s.gif" styleClass="{!sortArrow}" rendered="{!showArrowMstr}" />
                                                                        </apex:outputPanel>
                                                                    </apex:facet>
                                                                    <apex:facet name="footer">Street</apex:facet>
                                                                    <font color="{!if(advCon.id=rowmap[r].id,'white','black')}"><apex:outputtext value="{!rowmap[r].MailingStreet}"/></font>
                                                                </apex:column>
                                                                
                                                                <apex:column style=" {!if(advCon.id=rowmap[r].id,'background-color:#1797C0','background-color:white')}" rendered="{!if(citycheck==true,true,false)}">
                                                                    <apex:facet name="header">
                                                                    <apex:outputPanel >
                                                                    <apex:commandLink value="City" action="{!toggleSort}" rerender="AdviserTableId,debug">
                                                                             <apex:param name="sortField" value="Mailingcity" assignTo="{!sortField}"/>
                                                                        </apex:commandLink>
                                                                        <apex:image value="/s.gif" styleClass="{!sortArrow}" rendered="{!showArrowMc}" />
                                                                        </apex:outputPanel>
                                                                     </apex:facet>
                                                                    <apex:facet name="footer">City</apex:facet>
                                                                    <font color="{!if(advCon.id=rowmap[r].id,'white','black')}"><apex:outputtext value="{!rowmap[r].Mailingcity}"/></font>
                                                                </apex:column>  
                                                                
                                                                <apex:column style=" {!if(advCon.id=rowmap[r].id,'background-color:#1797C0','background-color:white')}" rendered="{!if(Statecheck==true,true,false)}" >
                                                                    <apex:facet name="header">
                                                                     <apex:outputPanel >
                                                                     <apex:commandLink value="State" action="{!toggleSort}" rerender="AdviserTableId,debug">
                                                                             <apex:param name="sortField" value="Mailingstate" assignTo="{!sortField}"/>
                                                                        </apex:commandLink>
                                                                        <apex:image value="/s.gif" styleClass="{!sortArrow}" rendered="{!showArrowMsta}" />
                                                                        </apex:outputPanel>
                                                                    </apex:facet>
                                                                    <apex:facet name="footer">State</apex:facet>
                                                                    <font color="{!if(advCon.id=rowmap[r].id,'white','black')}"><apex:outputtext value="{!rowmap[r].Mailingstate}"/></font>
                                                                </apex:column> 
                                                                <apex:column style=" {!if(advCon.id=rowmap[r].id,'background-color:#1797C0','background-color:white')}" rendered="{!if(Phonecheck==true,true,false)}" >
                                                                    <apex:facet name="header">
                                                                     <apex:outputPanel >
                                                                     <apex:commandLink value="Phone" action="{!toggleSort}" rerender="AdviserTableId,debug">
                                                                             <apex:param name="sortField" value="Phone" assignTo="{!sortField}"/>
                                                                        </apex:commandLink>
                                                                        <apex:image value="/s.gif" styleClass="{!sortArrow}" rendered="{!showArrowPh}" />
                                                                        </apex:outputPanel>
                                                                    </apex:facet>
                                                                    <apex:facet name="footer">Phone</apex:facet>
                                                                    <font color="{!if(advCon.id=rowmap[r].id,'white','black')}"><apex:outputtext value="{!rowmap[r].Phone}"/></font>
                                                                </apex:column>
                                                                <apex:column style=" {!if(advCon.id=rowmap[r].id,'background-color:#1797C0','background-color:white')}" rendered="{!if(Emailcheck==true,true,false)}"  >
                                                                    <apex:facet name="header">
                                                                     <apex:outputPanel >
                                                                     <apex:commandLink value="Email" action="{!toggleSort}" rerender="AdviserTableId,debug">
                                                                             <apex:param name="sortField" value="Email" assignTo="{!sortField}"/>
                                                                        </apex:commandLink>
                                                                        <apex:image value="/s.gif" styleClass="{!sortArrow}" rendered="{!showArrowEm}" />
                                                                        </apex:outputPanel>
                                                                    </apex:facet>
                                                                    <apex:facet name="footer">Email</apex:facet>
                                                                    <font color="{!if(advCon.id=rowmap[r].id,'white','black')}"><apex:outputtext value="{!rowmap[r].Email}"/></font>
                                                                </apex:column>
                                                                 <apex:column style=" {!if(advCon.id=rowmap[r].id,'background-color:#1797C0','background-color:white')}" rendered="{!if(Prioritycheck==true,true,false)}" >
                                                                    <apex:facet name="header">
                                                                     <apex:outputPanel >
                                                                     <apex:commandLink value="Priority" action="{!toggleSort}" rerender="AdviserTableId,debug">
                                                                             <apex:param name="sortField" value="Priority__c" assignTo="{!sortField}"/>
                                                                        </apex:commandLink>
                                                                        <apex:image value="/s.gif" styleClass="{!sortArrow}" rendered="{!showArrowPri}" />
                                                                        </apex:outputPanel>
                                                                    </apex:facet>
                                                                    <apex:facet name="footer">Priority</apex:facet>
                                                                    <font color="{!if(advCon.id=rowmap[r].id,'white','black')}"><apex:outputtext value="{!rowmap[r].Priority__c}"/></font>
                                                                </apex:column>                                                              
                                                            </apex:pageblocktable>  
                                                        </apex:outputPanel>                                                                              
                                                </td>
                                            </tr>                                            
                                            <tr>
                                                <td width="100%" align="left">                                                     
                                                    <apex:outputpanel id="LinkPanal">
                                                    <table width="100%" border="0">
                                                        <tr>
                                                            
                                                            <td align="right" class="paginator">
                                                                <span class="prevNext">
                                                                <apex:commandLink value="" action="{!Previous}" status="callliststatus" rendered="{!IF(showPrev=true,'true','false')}" reRender="AdviserTableId,LinkPanal" style="text-decoration:none;" >                                                              
                                                                <img src="/s.gif" title="Previous" alt="Previous" class="prev"/>
                                                                Previous                                                                
                                                                </apex:commandLink>
                                                                <apex:outputLabel rendered="{!IF(showPrev=true,'false','true')}" style="text-decoration:none;color:grey;" >                                                             
                                                                <img src="/s.gif" class="prevoff" alt="Previous"/>
                                                                Previous                                                                
                                                                </apex:outputLabel>
                                                                </span>
                                                                &nbsp;                                                      
                                                                <span class="prevNext">
                                                                <apex:outputLabel rendered="{!IF(showNext=true,'false','true')}" style="text-decoration:none;color:grey;" >                                                             
                                                                Next
                                                                <img src="/s.gif" class="nextoff" alt="Next"/>
                                                                </apex:outputLabel>
                                                                <apex:commandLink value="" action="{!next}" status="callliststatus" rendered="{!IF(showNext=true,'true','false')}" reRender="LinkPanal,AdviserTableId" style="text-decoration:none;" >
                                                                Next
                                                                <img src="/s.gif" class="next" alt="Next"/>
                                                                </apex:commandLink>                                                             
                                                                </span>
                                                                &nbsp;
                                                            </td>                                                           
                                                        </tr>
                                                    </table>
                                                    </apex:outputpanel>
                                                </td>                                               
                                            </tr>                                            
                                            <tr>
                                                <td width="100%">              
                                                  <apex:outputPanel id="call">    
                                                  <apex:pageMessages id="errorFilterMsg1"></apex:pageMessages>
                                               <apex:actionStatus id="completestatus" startStyle="font-weight:bold;color:blue;" startText="Please wait, Call Complete is in progress...." />
                                                            
                                                        <apex:pageBlock id="recapid"><!-- rendered="{!if($CurrentPage.Parameters.CallQueueId=='CallQueue','true','false')}" >  
                                                            <B><font size="3"> Schedule Event for:&nbsp;<span style="color:#1797C0">{!advCon.name}</span></font></B>
                                                            <br/>                                                   
                                                            <html><body><br/><div align="right"></div></body></html>
                                                            <apex:panelGrid columns="4" id="SCHE1" >
                                                                <apex:outputLabel value="Assigned To" style="font-weight:bold;"/>
                                                                <apex:inputField value="{!eventObj.Ownerid}" required="false"  />
                                                                <apex:outputLabel value="Type " style="font-weight:bold;"/>
                                                                <apex:inputField value="{!eventObj.Type}" id="eventtype" />
                                                                <apex:outputLabel value="Subject" style="font-weight:bold;"/>
                                                                <apex:inputField value="{!eventObj.Subject}" required="false"/>
                                                                <apex:outputLabel value="Location " style="font-weight:bold;"/>
                                                                <apex:inputField value="{!eventObj.Location}" />
                                                                <apex:outputLabel value="Start Date/time" style="font-weight:bold;"/>
                                                                <apex:inputField value="{!eventObj.StartDateTime}"/>
                                                                <apex:outputLabel value="End Date/time" style="font-weight:bold;"/>
                                                                <apex:inputField value="{!eventObj.EndDateTime}"/>                                                                
                                                                <apex:outputLabel value="Name of Contact" style="font-weight:bold;"/>
                                                                <apex:outputField value="{!advCon.name}" style="font:12px;"/>
                                                                <apex:outputLabel value="All Day Event" style="font-weight:bold;"/>
                                                                <apex:outputField value="{!eventObj.IsAllDayEvent}" />
                                                                <apex:outputLabel value="Description" style="font-weight:bold;"/>                                                                
                                                                <apex:inputField value="{!eventObj.Short_Comment__c}" style="font:12px;wrap:soft;resize:both;width:270px;height:70px;"/>
                                                                <apex:outputPanel />
                                                                <apex:outputPanel >
                                                                <input type='button' id='ScheduleEvent1' value='Schedule Event' style="height:24px;font-size:12px;font-weight:bold;"/>
                                                                <apex:actionSupport event="onclick" action="{!ScheduleEvent}" rerender="AdviserTableId,cn,ScheduleEvent1,SCHE1,CustomList,OpenActivitiesList,call,errorFilterMsg1" status="callliststatus"    />    
                                                                </apex:outputPanel>
                                                              </apex:panelGrid>
                                                            </apex:pageBlock>  
                                                        </apex:outputPanel>
                                                </td>
                                            </tr>
                                        </table>               
                                    </apex:pageblock>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td valign="top" width="35%">
                        <apex:outputpanel id="cn">
                            <apex:pageblock mode="inlineEdit"  >
                                 <B><font size="3"> Advisor Details for:&nbsp;<span style="color:#1797C0">{!advCon.name}</span></font></B>
                                 <br> 
                                 </br>                                
                                <apex:pageBlock >
                                    <apex:pageBlockSection title="Advisor Details" columns="2" showHeader="false" collapsible="false">
                                        <apex:pageBlockSectionItem >
                                            <apex:outputLabel value="Name" for="con__name" />
                                            <apex:outputField value="{!advCon.name}" id="con__name" style="background-color:#FFFFFF"/>
                                        </apex:pageBlockSectionItem>
                                        <apex:outputField value="{!advCon.Middle_Name__c}" style="background-color:white"/>
                                        <apex:outputField value="{!advCon.Note__c}"/>
                                        <apex:outputField value="{!advCon.Suffix__c}" />
                                        <apex:pageBlockSectionItem >
                                            <apex:outputLabel value="NickName" for="Nick__name" />
                                            <apex:outputField value="{!advCon.Contact_Nickname__c}" id="Nick__name"  />
                                        </apex:pageBlockSectionItem>
                                        <apex:outputField value="{!advCon.Phone}" />
                                        <apex:pageBlockSectionItem >
                                            <apex:outputLabel value="DOB" for="dob" />
                                            <apex:outputField value="{!advCon.Date_of_Birth__c}" id="dob" />
                                        </apex:pageBlockSectionItem>
                                        <apex:outputField value="{!advCon.Company_Name__c}"  />
                                        <apex:outputField value="{!advCon.Account.name}"  />
                                        <apex:outputField value="{!advCon.Account.X1031_Selling_Agreement__c}"  />
                                        <apex:outputField value="{!advCon.Company_ID__c}"  />
                                        <apex:outputField value="{!advCon.Firm_CRD__c}"  />
                                        <apex:outputField value="{!advCon.Title}"  />
                                        <apex:pageBlockSectionItem >
                                            <apex:outputLabel value="Sales Director" for="t2"/>
                                            <apex:outputtext value="{!advCon.Wholesaler__c}" id="t2"  />
                                        </apex:pageBlockSectionItem>
                                        <apex:outputField value="{!advCon.MailingStreet}" />
                                        <apex:outputField value="{!advCon.Do_NOT_Contact__c}" />
                                        <apex:outputField value="{!advCon.MailingCity}" />
                                        <apex:outputField value="{!advCon.HasOptedOutOfEmail}" />
                                        <apex:outputField value="{!advCon.MailingState}" />
                                        <apex:outputField value="{!advCon.Rep_CRD__c}" />
                                        <apex:outputField value="{!advCon.MailingPostalCode}" />
                                        <apex:outputField value="{!advCon.Email}" />
                                        <apex:outputField value="{!advCon.MailingCountry}" />
                                        <apex:outputField value="{!advCon.License__c}" />
                                        <apex:outputField value="{!advCon.Verify_Mailing_Address__c}" />
                                        <apex:outputField value="{!advCon.MobilePhone}" />
                                        <apex:outputField value="{!advCon.OtherPhone}" />
                                        <apex:pageBlockSectionItem >
                                            <apex:outputLabel value="Territory" for="t1" />
                                            <apex:outputtext value="{!advCon.Territory__c}" id="t1"  />
                                        </apex:pageBlockSectionItem>
                                        <apex:outputField value="{!advCon.Next_Planned_External_Appointment_c__c}" />
                                    </apex:pageBlockSection>  
                                     <apex:outputPanel rendered="{!IF(advCon.id==null,false,true)}">
                                        <div align="center">                                     
                                      <input type='button' id='getdetails' value='Additional Details' style="height:24px;font-size:12px;font-weight:bold;"/>
                                      <apex:actionSupport event="onclick" action="pop('{!advCon.id}');" /> 
                                      <input type='button' id='getdetails' value='Additional Details' onclick="pop('{!advCon.id}');" style="height:24px;font-size:12px;font-weight:bold;"/>
                                      </div>
                                            </apex:outputPanel>
                                  
                                </apex:pageBlock>
                                
                                
                            </apex:pageblock>
                        </apex:outputpanel>                              
                    </td>   
                </tr>
            </table>        
        </apex:pageBlock>  
    </apex:form>  
<apex:form > 
        <apex:detail relatedList="true"></apex:detail>
        <apex:pageBlock id="CustomList" title="Activity History" >
            <apex:pageBlockTable value="{!trellist}" var="c" rows="{!showmorecount}" id="theTable" rendered="{!(Not(ISNULL(trellist)))}"> 
                <apex:column headerValue="Subject">
                  <apex:outputLink value="/{!c.id}" target="_blank">{!c.Subject}</apex:outputLink>
                </apex:column>
                <apex:column headerValue="Related To" value="{!c.WhatId}"/>
                <apex:column headerValue="Due Date" value="{!c.StartDateTime}"/>
                <apex:column headerValue="Assigned To" value="{!c.OwnerId}"/>
                <apex:column headerValue="Last Modified Date/Time" value="{!c.LastModifiedDate}"/>              
            </apex:pageBlockTable>  
           <br/>              
           <apex:commandLink value="Show More" action="{!ShowMore}" reRender="CustomList" rendered="{!!bnCount}"/>
           <apex:outputLabel value="No records to display" rendered="{!(ISNULL(trellist))}"></apex:outputLabel>        
         </apex:pageblock>
         <apex:detail relatedList="true"></apex:detail>
        <style>.dataRow{background-image:none;}</style>
        <apex:pageblock id="OpenActivitiesList" title="Open Activities">
            <apex:pageBlockTable value="{!topenrellist}" var="o" rows="{!showmorecount}" id="theTable" rendered="{!(Not(ISNULL(topenrellist)))}"> 
                <apex:column headerValue="Subject">
                  <apex:outputLink value="/{!o.id}" target="_blank">{!o.Subject}</apex:outputLink>
                </apex:column>
                <apex:column headerValue="Related To" value="{!o.WhatId}"/>
                <apex:column headerValue="Due Date" value="{!o.StartDateTime}"/>
                <apex:column headerValue="Assigned To" value="{!o.OwnerId}"/>
             </apex:pageBlockTable>  
           <br/>              
           <apex:commandLink value="Show More" action="{!ShowMore2}" reRender="OpenActivitiesList" rendered="{!!bnCount2}"/>
            <apex:outputLabel value="No records to display" rendered="{!(ISNULL(topenrellist))}"></apex:outputLabel>        
         </apex:pageblock>
         </apex:form>
          <!--<apex:pageBlock title="Debug - SOQL" id="debug">
      <apex:outputText value="{!debugSoql}" />           
  </apex:pageBlock>-->
    
</apex:page>