<apex:page controller="Cockpit_AdminCtrl" id="pageId" sidebar="false" title="Compass Admin">
<html lang="en">
<head>
  <title>Cockpit Admin</title>
  <meta charset="utf-8" />
  
  <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>  
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
  <script src="https://code.jquery.com/jquery-1.8.3.js"></script>
  <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
  <apex:includescript value="/soap/ajax/21.0/connection.js"> </apex:includescript>
  <apex:includescript value="/soap/ajax/21.0/apex.js"> </apex:includescript>
  <style>
  .popup1
        {
            background-color: white;
            border-width: 2px;
            border-style: solid;
            z-index: 9999;
            left: 50%;
            padding:10px;
            position: absolute;
            width: 500px;
            margin-left: -250px;
            top:80px;
        }

        .popupBg
        {
            background-color:black;
            opacity: 0.20;
            filter: alpha(opacity = 70);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 9998;
        }
  .nav-tabs>li>a{
  margin-right: -10px !important;
  }
  .container {
    width: 100% !important;
  } 
  .connectedSortable{
     border: 1px solid #ccc; 
  }
  .connectedSortable1{
     border: 1px solid #ccc; 
  }
  #AdvDetailsSortable1, #AdvDetailsSortable2 { list-style-type: none; margin: 0; padding: 0 0 2.5em; float: left; margin-right: 10px; }
  #AdvDetailsSortable1 li, #AdvDetailsSortable2 li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; width: 120px; }
  #sortable1, #sortable2 { list-style-type: none; margin: 0; padding: 0 0 2.5em; float: left; margin-right: 10px; }
  #sortable1 li, #sortable2 li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; width: 120px; }
  tr.row1 td {
    padding-top: 10px;
    background-color: #d3d3d3;
  }
  li a {
   display:block;
  }
  tr.row2 td {
    padding-top: 10px;
  }
  header {background: black;color:white;}

     .activeTab {background-color: #236FBD; color:white; 
       background-image:none}
      .inactiveTab { background-color: lightgrey; color:black; 
        background-image:none}

#popLnk {  
    height: 23px;
    position: absolute;
    right: 0;
    width: 28px;
    z-index: 9999;
    display:block;
    cursor: pointer;
    border-radius: 4px;
    filter:alpha(opacity=20); /* IE */
    -moz-opacity:0.2; /* Mozilla */
    opacity: 0.2; /* CSS3 */
}
#popLnk:hover{
    /*background: #01446c;*/
    filter:alpha(opacity=100); /* IE */
    -moz-opacity:1; /* Mozilla */
    opacity: 1; /* CSS3 */
    
}
.popup{
    z-index:99999;
    top:10px;
    left:10px;
    height:1000;
    width:1000;
    background:#fff;
    border:#000 solid 1px;
}

.alertBox {
    
    background-image: none;
    display: none;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999998;
    margin: 0!important;
    padding:0!important;
    background-color: #000000!important;
}

.alertMsgBox {
    background:#ffffff;
    border: #e7e7e5 solid 5px;
    display: none;
    left: 30%;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 15%;
    z-index: 999999;
}

.closeBoxX {
    margin: 0;
    position: absolute;
    right: 0;
    z-index: 999999;
}

.lb-close {
    float: right;
    outline: medium none;
    padding-bottom: 0.7em;
    width: 35px;
}
.left{
    float:left;
}

.right{
    float:right;
}

.clear{
    clear:both;
}

.btnBox {
    padding: 37px 0 0;
}

.alertContent {
    padding: 30px;
    text-align: center;
    height: 82px;
    width: 240px;
}

.indiv {
    background-color: #0783aa;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px;
}
.indiv:hover {
    color: #fcff00;
}

.glob {
    background-color: #0783aa;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px;
}
.glob:hover {
    color: #fcff00;
}

.hide
{
    display:none!important;
}
  </style>
  <script>
  var $ = jQuery.noConflict();  
  var __sfdcSessionId = '{!GETSESSIONID()}';
// First we tell this to run when the page is loaded
  $(document).ready(function(){
    $('[id$=":ActiviityInLast" ]').hide();
    $('[id$=":OpenTaskdue" ]').hide();
    $('[id$=":ActivityInLastXDays" ]').hide();
    $('[id$=":OpenTaskDueInLastXDays" ]').hide();
    $('[id$=":PriorityCallListLabel" ]').hide();
    $('#PriorityForCallList').hide();
    getCustomCallListNames();
    var abilityToCreateCustomCallLists='{!JSENCODE(HTMLENCODE(manageCallList.Ability_To_Create_Custom_Call_Lists__c))}';
    var admin = {!admin};
    if(abilityToCreateCustomCallLists == 'Yes' || admin == true){
      $("#createCallList").addClass("active");
    }
    else{
       $("#createCallList").removeClass("active");
       $("#visibility").show();
       $(".nav-tabs li:eq("+0+")").addClass("active");
    }
  });
  var newWin = null;
  function openCustomLookupPopup(textId, fieldName,objectName){ 
    try{            
        var url="/apex/CustomLookUpPopUp?core.apexpages.devmode.url=1&Id="+textId+"&FieldAPIName="+fieldName+"&ObjectAPIName="+objectName;
        newWin=window.open(url, 'Popup','height=400,width=650,left=100,top=100,resizable=no,scrollbars=yes,toolbar=no,status=no');
        if(window.focus){
           newWin.focus();
        }
    }
    catch(e){
       alert('Server Error: '+e);
    }                   
    return false;
 }  
  
  function init() {
     sforce.connection.sessionId = '{!$Api.Session_ID}';
  } 
  function getSelectedCampaignStatusValues(selectedCampaign){
     sforce.connection.sessionId = '{!$Api.Session_ID}';
     if(selectedCampaign != '' && selectedCampaign != null){
        var query ="select status from campaignmember where campaign.Name='"+selectedCampaign+"' group by status";
        var CampaignCallList = sforce.connection.query(query);
        var CampaignCallList1 = CampaignCallList.getArray('records');
        document.getElementById('selCampaignStatus').innerHTML = "";
        var Campaignobj= document.getElementById("selCampaignStatus");  
        var Campaignopt = document.createElement("option");
        Campaignopt.value = "Select Campaign Status";
        Campaignopt.text="Select Campaign Status";
        Campaignobj.appendChild(Campaignopt);     
        for(var i=0;i<CampaignCallList1.length;i++){
            var Campaignopt1 = document.createElement("option");
            Campaignopt1.value = CampaignCallList1[i].Status;
            Campaignopt1.text=CampaignCallList1[i].Status;
            Campaignobj.appendChild(Campaignopt1);
        }
     }
     else{
        document.getElementById('selCampaignStatus').innerHTML = "";
        var Campaignobj= document.getElementById("selCampaignStatus");  
        var Campaignopt = document.createElement("option");
        Campaignopt.value = "Select Campaign Status";
        Campaignopt.text="Select Campaign Status";
        Campaignobj.appendChild(Campaignopt);  
     }
  }
  
  function selectedCampaignStatus(){
     var campaignStatus = $('#selCampaignStatus').val();
     $('[id$=campainStatusHiddenField]').val(campaignStatus);
     campaignStatusFunction();  
  }
  
  function getDeleteCallListNames(selDeleteCallQueue){
     var selectedDeleteCallQueue ="";
     if(selDeleteCallQueue == 'reload'){
        selectedDeleteCallQueue =  $('[id$=":deletecallQueueValues" ]').val(); 
     }
     else{
        selectedDeleteCallQueue = selDeleteCallQueue;
      }
     sforce.connection.sessionId = '{!$Api.Session_ID}';
     if(selectedDeleteCallQueue != '' && selectedDeleteCallQueue != 'Select Call Queue'){
        var query ="Select id,name from Automated_Call_List__c where Archived__c = false and IsDeleted__c=false and Type_Of_Call_List__c='"+selectedDeleteCallQueue+"' Order By Name";
        var deletedCallList = sforce.connection.query(query);
        var deletedCallList1 = deletedCallList.getArray('records');
        var deleteobj= document.getElementById('deleteMultiple'); 
        if(deleteobj!=null){
           deleteobj.innerHTML = "";
        }    
        var deleteopt = document.createElement("option");
        deleteopt.value = "Select Call List";
        deleteopt.text="Select Call List";
        deleteobj.appendChild(deleteopt);   
        for(var i=0;i<deletedCallList1.length;i++){
            var deleteopt = document.createElement("option");
            deleteopt.value = deletedCallList1[i].Name;
            deleteopt.text=deletedCallList1[i].Name;
            deleteobj.appendChild(deleteopt);
        }
     }
     else{
        document.getElementById('deleteMultiple').innerHTML = "";
        var deleteobj= document.getElementById('deleteMultiple'); 
        var deleteopt = document.createElement("option");
        deleteopt.value = "Select Call List";
        deleteopt.text="Select Call List";
        deleteobj.appendChild(deleteopt);   
     }
  }
  function deleteCallList(){
     var deleteMultiple = $.map($("#deleteMultiple option:selected"), function (el, i) {
     return $(el).text();
     });
     $('[id$=deleteMultpleCallListsHiddenField]').val(deleteMultiple.join("--&&--"));
     deleteCallListFunction();
  }
  function getGenerateCSVCallListNames(selectedCSVCallQueue){
     sforce.connection.sessionId = '{!$Api.Session_ID}';
     if(selectedCSVCallQueue != '' && selectedCSVCallQueue != 'Select Call Queue'){
        var query ="Select id,name from Automated_Call_List__c where Archived__c = false and IsDeleted__c=false and Type_Of_Call_List__c='"+selectedCSVCallQueue+"' Order By Name";
        var CSVCallList = sforce.connection.query(query);
        var CSVCallList1 = CSVCallList.getArray('records');
        document.getElementById('selGenerateCSVCallList').innerHTML = "";
        var CSVobj= document.getElementById('selGenerateCSVCallList');  
        var CSVopt = document.createElement("option");
        CSVopt.value = "Select Call List";
        CSVopt.text="Select Call List";
        CSVobj.appendChild(CSVopt);     
        for(var i=0;i<CSVCallList1.length;i++){
            var CSVopt = document.createElement("option");
            CSVopt.value = CSVCallList1[i].Name;
            CSVopt.text=CSVCallList1[i].Name;
            CSVobj.appendChild(CSVopt);
        }
     }
     else{
        document.getElementById('selGenerateCSVCallList').innerHTML = "";
        var CSVobj= document.getElementById('selGenerateCSVCallList');  
        var CSVopt = document.createElement("option");
        CSVopt.value = "Select Call List";
        CSVopt.text="Select Call List";
        CSVobj.appendChild(CSVopt); 
     }
  }
  function generateCSVCallList(){
     var generateCSVCallList = $('#selGenerateCSVCallList').val();
     $('[id$=generateCSVCallListHiddenField]').val(generateCSVCallList); 
     generateCSVFunction();
  }
  function getTaskRangesCallListNames(selectedCallQueue){
     sforce.connection.sessionId = '{!$Api.Session_ID}';
     if(selectedCallQueue != '' && selectedCallQueue != 'Select Call Queue'){
        var query ="select id,name from Automated_Call_List__c where Archived__c = false and IsDeleted__c=false and Type_Of_Call_List__c='"+selectedCallQueue+"' order by name";
        var automatedCallList = sforce.connection.query(query);
        var automatedCallList1 = automatedCallList.getArray('records');
        document.getElementById('pageId:form:callListNames').innerHTML = "";
        var obj= document.getElementById("pageId:form:callListNames");   
        var opt = document.createElement("option");
        opt.value = "Select Call List";
        opt.text="Select Call List";
        obj.appendChild(opt);
        for(var i=0;i<automatedCallList1.length;i++){
            var opt = document.createElement("option");
            opt.value = automatedCallList1[i].Name;
            opt.text=automatedCallList1[i].Name;
            obj.appendChild(opt);
        }
     }
     else{
        document.getElementById('pageId:form:callListNames').innerHTML = "";
        var obj= document.getElementById("pageId:form:callListNames");   
        var opt = document.createElement("option");
        opt.value = "Select Call List";
        opt.text="Select Call List";
        obj.appendChild(opt);
     }
  }
  function showAutomatedCallList(selCallName){
     sforce.connection.sessionId = '{!$Api.Session_ID}';
     if(selCallName != 'Select Call List' && selCallName != 'Select Call Queue'){
        var query = "SELECT id,Name,Open_Task_Due_In_X_Days__c,Activity_In_Last_X_Days__c,Priority__c FROM Automated_Call_List__c where Name ='" + selCallName + "'";
        var visibilityResult = sforce.connection.query(query); 
        var visibilityResult1 = visibilityResult.getArray('records'); 
        var opentaskDue = ''; 
        var ActiviityInLast ='';
        var callList ='';
        for(var i=0;i<visibilityResult1.length;i++){ 
            opentaskDue = visibilityResult1[i].Open_Task_Due_In_X_Days__c; 
            ActiviityInLast = visibilityResult1[i].Activity_In_Last_X_Days__c;
            callList = visibilityResult1[i].Priority__c;
        } 
        ActiviityInLast = (ActiviityInLast!=null)?parseInt(ActiviityInLast):0;
        opentaskDue = (opentaskDue!=null)?parseInt(opentaskDue):0;
        $('[id$=":ActiviityInLast" ]').val(ActiviityInLast);
        $('[id$=":OpenTaskdue" ]').val(opentaskDue);
        if(callList=='true'){
           document.getElementById('PriorityForCallList').checked = true;
        }
        else{
           document.getElementById('PriorityForCallList').checked = false;
        }
     }
  }
  function updateAutomatedCallList(){
     var ActiviityInLast = $('[id$=":ActiviityInLast" ]').val();
     var OpenTaskdue = $('[id$=":OpenTaskdue" ]').val();
     var PriorityCallList = document.getElementById('PriorityForCallList').checked;
     var selectedValue =  $('[id$=":callListNames" ]').val();
     sforce.connection.sessionId = '{!$Api.Session_ID}';
     if(selectedValue != 'Select Call List' && selectedValue != 'Select Call Queue'){
        var query = "SELECT id,Name,Open_Task_Due_In_X_Days__c,Activity_In_Last_X_Days__c,Priority__c FROM Automated_Call_List__c where Name ='" + selectedValue + "'";
        var visibilityResult = sforce.connection.query(query); 
        var visibilityResult1 = visibilityResult.getArray('records'); 
        var autoCallObjId ='';
        for(var i=0;i<visibilityResult1.length;i++){ 
            autoCallObjId = visibilityResult1[i].Id; 
        } 
        var autoCallObj = new sforce.SObject("Automated_Call_List__c");
        autoCallObj.id =  autoCallObjId;
        autoCallObj.Open_Task_Due_In_X_Days__c = OpenTaskdue;
        autoCallObj.Activity_In_Last_X_Days__c = ActiviityInLast;
        if(PriorityCallList == true)
           PriorityCallList = 1;
        else 
           PriorityCallList = 0;
        autoCallObj.Priority__c = PriorityCallList;
        var updateautoCallObj = sforce.connection.update([autoCallObj]);
     }
  }
  function updateCockpitSettings(checkVal){
     updateCockpitSettingsValues();
  }
  function manageCallList(){
     AdvisorAndRelatedListsDetails();
     setTimeout(function(){ sortableValue(); }, 8000);
  }
  function CallListValues(){
     $('[id$=":ActiviityInLast" ]').show();
     $('[id$=":OpenTaskdue" ]').show();
     $('[id$=":ActivityInLastXDays" ]').show();
     $('[id$=":OpenTaskDueInLastXDays" ]').show();
     $('[id$=":PriorityCallListLabel" ]').show();
     $('#PriorityForCallList').show();
     var selectedValue =  $('[id$=":callListNames" ]').val();
     showAutomatedCallList(selectedValue);
  } 
  function onChangeExpand(ExpandValue,selectListName){
     sforce.connection.sessionId = '{!$Api.Session_ID}';
     if(selectListName!=null && selectListName!=''){
        var query = "SELECT id,Section_Name__c,Expand__c FROM Manage_Cockpit__c where Section_Name__c ='" + selectListName + "'";
        var ManageCockpit = sforce.connection.query(query); 
        var ManageCockpit1 = ManageCockpit.getArray('records'); 
        var manageCockObjId ='';
        for(var i=0;i<ManageCockpit1.length;i++){ 
            manageCockObjId = ManageCockpit1[i].Id; 
        } 
        var autoCallObj = new sforce.SObject("Manage_Cockpit__c");
        autoCallObj.id =  manageCockObjId;
        autoCallObj.Expand__c = ExpandValue;
        var updateautoCallObj = sforce.connection.update([autoCallObj]);
    }
  }
  function sortableValue(){
     $(".connectedSortable1").sortable({
     connectWith: ".connectedSortable1",
     items: "li:not(.ui-state-default)",
     update: function(event, ui){
        init();
        $("#AdvDetailsSortable1 li").each(function(i, el){
            var inactiveAdvDetailsText = $(el).text();
            inactiveAdvDetailsText = inactiveAdvDetailsText.replace(' Expand :NoYes','');
            if(inactiveAdvDetailsText!='In Active'){
               var query = "SELECT id,Section_Name__c,Expand__c FROM Manage_Cockpit__c where Section_Name__c ='" + inactiveAdvDetailsText + "'";
               var ManageCockpit = sforce.connection.query(query); 
               var ManageCockpit1 = ManageCockpit.getArray('records'); 
               var manageCockObjId ='';
               if(ManageCockpit1.length>0){
                  for(var i=0;i<ManageCockpit1.length;i++){ 
                      manageCockObjId = ManageCockpit1[i].Id; 
                  } 
                  var inactiveAdvDetailsRecords = new sforce.SObject("Manage_Cockpit__c");
                  inactiveAdvDetailsRecords.id =  manageCockObjId;
                  inactiveAdvDetailsRecords.Section_Name__c = inactiveAdvDetailsText;
                  inactiveAdvDetailsRecords.Order__c= $(el).index();
                  inactiveAdvDetailsRecords.Show_On_Cockpit__c= false;
                  //console.log('inactiveAdvDetailsRecords'+inactiveAdvDetailsRecords);
                  var final = sforce.connection.update([inactiveAdvDetailsRecords]);
               }
            }
            
        });
        $("#AdvDetailsSortable2 li").each(function(i, el){
             var activeAdvDetailsText = $(el).text();
             var finalactiveAdvDetailsText = activeAdvDetailsText.replace(' Expand :NoYes','');
             if(finalactiveAdvDetailsText!='Active'){
                var query = "SELECT id,Section_Name__c,Expand__c FROM Manage_Cockpit__c where Section_Name__c ='" + finalactiveAdvDetailsText + "'";
                var ManageCockpit = sforce.connection.query(query); 
                var ManageCockpit1 = ManageCockpit.getArray('records'); 
                var manageCockObjId ='';
                if(ManageCockpit1.length>0){
                   for(var i=0;i<ManageCockpit1.length;i++){ 
                        manageCockObjId = ManageCockpit1[i].Id; 
                   } 
                   var inactiveAdvDetailsRecords = new sforce.SObject("Manage_Cockpit__c");
                   inactiveAdvDetailsRecords.id =  manageCockObjId;
                   inactiveAdvDetailsRecords.Section_Name__c = finalactiveAdvDetailsText;
                   inactiveAdvDetailsRecords.Order__c= $(el).index();
                   inactiveAdvDetailsRecords.Show_On_Cockpit__c= true;
                   var final = sforce.connection.update([inactiveAdvDetailsRecords]);
                }
             }
        });
        
     }

     });
     $(".connectedSortable").sortable({
     connectWith: ".connectedSortable",
     items: "li:not(.ui-state-default)",
     update: function(event, ui){
        init();
       
        
        $("#sortable1 li").each(function(i, el){
            var inactiveText = $(el).text();
            inactiveText = inactiveText.replace(' Expand :NoYes','');
            if(inactiveText!='In Active'){
               var query = "SELECT id,Section_Name__c,Expand__c FROM Manage_Cockpit__c where Section_Name__c ='" + inactiveText + "'";
               var ManageCockpit = sforce.connection.query(query); 
               var ManageCockpit1 = ManageCockpit.getArray('records'); 
               var manageCockObjId ='';
               if(ManageCockpit1.length>0){
                  for(var i=0;i<ManageCockpit1.length;i++){ 
                      manageCockObjId = ManageCockpit1[i].Id; 
                  } 
                  var inactiveRecords = new sforce.SObject("Manage_Cockpit__c");
                  inactiveRecords.id =  manageCockObjId;
                  inactiveRecords.Section_Name__c = inactiveText;
                  inactiveRecords.Order__c= $(el).index();
                  inactiveRecords.Show_On_Cockpit__c= false;
                  var final = sforce.connection.update([inactiveRecords]);
               }
     
            }
            
        });
        $("#sortable2 li").each(function(i, el){
            var activeText = $(el).text();
            var finalactiveText = activeText.replace(' Expand :NoYes','');
            if(finalactiveText!='Active'){
               var query = "SELECT id,Section_Name__c,Expand__c FROM Manage_Cockpit__c where Section_Name__c ='" + finalactiveText + "'";         
               var ManageCockpit = sforce.connection.query(query); 
               var ManageCockpit1 = ManageCockpit.getArray('records'); 
               var manageCockObjId ='';
               if(ManageCockpit1.length>0){
                  for(var i=0;i<ManageCockpit1.length;i++){ 
                      manageCockObjId = ManageCockpit1[i].Id; 
                  } 
                  var inactiveRecords = new sforce.SObject("Manage_Cockpit__c");
                  inactiveRecords.id =  manageCockObjId;
                  inactiveRecords.Section_Name__c = finalactiveText;
                  inactiveRecords.Order__c= $(el).index();
                  inactiveRecords.Show_On_Cockpit__c= true;
                  var final = sforce.connection.update([inactiveRecords]);
               }
            }
        });
     }

     });
 } 
 function getCustomCallListNames(){
    sforce.connection.sessionId = '{!$Api.Session_ID}';
    var query ='';
    var loggedInUserId = '{!loggedInUserId}';
    var admin= {!admin};
    if(admin == true){
       query ="Select id,name from Automated_Call_List__c where Archived__c = false and IsDeleted__c=false and Type_Of_Call_List__c='Custom Call List' Order By Name";
    }
    else{
       query ="Select id,name from Automated_Call_List__c where Archived__c = false and IsDeleted__c=false and Type_Of_Call_List__c='Custom Call List' and createdbyid ='" + loggedInUserId + "' Order By Name";
    }
    document.getElementById('selectedCustomCallList').innerHTML = "";
    var CustomCallList = sforce.connection.query(query);
    var CustomCallList1 = CustomCallList.getArray('records');
    var CustomObj= document.getElementById("selectedCustomCallList");    
    var CustomOpt = document.createElement("option");
    CustomOpt.value = "Select Custom Call List";
    CustomOpt.text="Select Custom Call List";
    CustomObj.appendChild(CustomOpt);   
    for(var i=0;i<CustomCallList1.length;i++){
        var CustomOpt = document.createElement("option");
        CustomOpt.value = CustomCallList1[i].Name;
        CustomOpt.text=CustomCallList1[i].Name;
        CustomObj.appendChild(CustomOpt);
    }
   
 }
 
 function setVisibility(selectedValue){
    sforce.connection.sessionId = '{!$Api.Session_ID}';
    if(selectedValue != '' && selectedValue != 'Select Custom Call List'){
       var query = "SELECT id,Name,Type_Of_Call_List__c,Visiblity__c FROM Automated_Call_List__c where Name ='" + selectedValue + "'";
       var visibilityResult = sforce.connection.query(query); 
       var visibilityResult1 = visibilityResult.getArray('records'); 
       var visibleVal = ''; 
       for(var i=0;i<visibilityResult1.length;i++){ 
           visibleVal = visibilityResult1[i].Visiblity__c; 
       } 
       if(visibleVal=='Visible only to me'){
          document.getElementById("pageId:visibilityForm:VisibilitySel:0").checked = true;
          document.getElementById("pageId:visibilityForm:VisibilitySel:1").checked = false;
          document.getElementById("pageId:visibilityForm:VisibilitySel:2").checked = false;
       }
       else if(visibleVal=='Visible to all users'){
          document.getElementById("pageId:visibilityForm:VisibilitySel:0").checked = false;
          document.getElementById("pageId:visibilityForm:VisibilitySel:1").checked = true;
          document.getElementById("pageId:visibilityForm:VisibilitySel:2").checked = false;
       }
       else if(visibleVal=='Visible to certain groups of users'){
          document.getElementById("pageId:visibilityForm:VisibilitySel:0").checked = false;
          document.getElementById("pageId:visibilityForm:VisibilitySel:1").checked = false;
          document.getElementById("pageId:visibilityForm:VisibilitySel:2").checked = true;
       }
    }
 }

 function updateVisibility(){
    var customCallList = $('#selectedCustomCallList').val();
    $('[id$=selectedCustomCallListHiddenField]').val(customCallList);
    visibilityFunction();
 }
 function checkAdvanceFormula(element,mode){
    $('.'+ mode+'_sno' ).each(function( index ) {
         if(element.checked){
            $( this ).show();
         }else{
             $( this ).hide();
         }
    });
    if(element.checked){
       $('#'+mode+'_selectFilterRow').hide();
       $('#'+mode+'_advanceFormulaInput').show();
    }
    else{
       $('#'+mode+'_selectFilterRow').show();
       $('#'+mode+'_advanceFormulaInput').hide();
    }
 }
 //CustomLookUpWindow
 var newWin=null;
 function openLookupPopup(Id,FieldAPIName){ 
    try{            
       var url="/apex/CustomLookUpPopUp?core.apexpages.devmode.url=1&Id="+Id+"&FieldAPIName="+FieldAPIName;
       newWin=window.open(url, 'Popup','height=400,width=650,left=100,top=100,resizable=no,scrollbars=yes,toolbar=no,status=no');
       if(window.focus){
          newWin.focus();
       }
    }
    catch(e){
       alert('Server Error: '+e);
    }                   
    return false;
 } 
</script>
</head>

<div class="container" id="containerId" status="pageLoader">
  <apex:actionStatus id="pageLoader" >
     <apex:facet name="start" >
     <img src="/img/loading.gif" />                    
     </apex:facet>
  </apex:actionStatus>
  <br/><br/> 
  <ul class="nav nav-tabs">
     <apex:outputtext rendered="{!IF(manageCallList.Ability_To_Create_Custom_Call_Lists__c == 'Yes' || admin == true ,true,false)}"> 
        <li class="active"><a data-toggle="tab" href="#createCallList">Create Call List</a></li>
        <li><a data-toggle="tab" href="#editCallList">Edit Call List</a></li>
     </apex:outputtext>
     <apex:outputtext rendered="{!admin}">
        <li><a data-toggle="tab" href="#deleteMultipleCallLists">Delete Multiple</a></li>
        <li><a data-toggle="tab" href="#removeContacts">Remove Contacts</a></li>
        <li><a href="/apex/Cockpit_AdminReportPage" target="_blank">CallList Status</a></li>
        <li><a data-toggle="tab" href="#generateCSV">Generate CSV</a></li>
        <li><a data-toggle="tab" href="#manageTaskRangesPerCallList">Manage Task Ranges And Priority</a></li>
        <li><a data-toggle="tab" href="#manageCockpitInterface" onClick="manageCallList();">Configure Compass Interface</a></li>
     </apex:outputtext>
     <li><a data-toggle="tab" href="#visibility" onClick="getCustomCallListNames();">Visibility</a></li>
  </ul>
  
<div class="tab-content" id="tabId">
  <br/>
  <br/> 
  <div id="createCallList" class="tab-pane fade in">
  <apex:form id="formId"> 
  <apex:pageMessages id="msgs"/>
  <apex:pageBlock title="Create Call List" id="createPageBlock">
     <table>
       <tr>
         <td width="350">
           <b> Call List Name: </b><br/> 
           <apex:inputText value="{!automatedCallList.name}"/>
         </td>
         <td>
           <b> Call List Description: </b> <br/><apex:inputField value="{!automatedCallList.Description__c}" style="height:50px;width:200px;"/>
         </td>
       </tr>
     </table>
     <br/>
     <apex:pageBlock id="pb">
        <table>
          <tr>
            <td width="200">
              <b>Filter By Owner:</b><br/>
              <apex:SelectRadio value="{!ContactOption}" layout="pageDirection"  id="rad" disabled="{!if(automatedCallList.Campaign__c!= NULL,true,false)}" >
                 <apex:selectOptions value="{!Owner}" id="opt1"/>
              </apex:SelectRadio>
            </td>
            <td>
              <span class="filterOrder" id="f1"></span>
            </td>
            <td width="250">  
              <b>Filter By Campaign:</b><br/>
              <apex:inputField value="{!automatedCallList.Campaign__c}" id="lkup" onChange="getSelectedCampaignStatusValues(this.value);"/> 
              <apex:actionSupport event="onchange" rerender="pb"/>
              <br/>
            </td>
            <td>
              <b>Campaign Status:</b><br/>
              <select size="1" id="selCampaignStatus" >
                <option value="Select Campaign Status">Select Campaign Status</option>
              </select>
 
            </td>
           </tr>
        </table>

     </apex:pageBlock>
     <apex:pageBlock id="filterblock">
        <b>Filter By Additional Fields </b> <br/>
        <table>
          <tr>
            <td style="display:none;" class="create_sno">1.</td>
            <td>  
              <apex:selectList value="{!FieldName1}" size="1" id="firstfield">
                 <apex:actionsupport event="onchange" status="bnField1" rerender="datetext1,op1" />
                 <apex:selectOptions value="{!Fields}" ></apex:selectOptions>
              </apex:selectList>
            </td>
            <td>
              <apex:selectList value="{!Operator1}" size="1"  id="op1" style="width:150px;">
                 <apex:selectOptions value="{!OperatorList1}" />
              </apex:selectList>
              <apex:actionstatus id="bnField1">
                 <apex:facet name="start"><apex:image url="\img\loading.gif"/></apex:facet>
                 <apex:facet name="stop"></apex:facet>
              </apex:actionstatus>
            </td>
            <td>
              <apex:inputtext id="firstValue" value="{!value1}"/>
              <apex:outputpanel id="datetext1">
                 <apex:outputtext rendered="{!if((mapfieldnames[fieldName1])=='DATE',true,false)}">{mm/dd/yyyy}</apex:outputtext>
                 <apex:outputtext rendered="{!if((mapfieldnames[fieldName1])=='DATETIME',true,false)}">{mm/dd/yyyy HR:Min AM/PM}</apex:outputtext>
                 <apex:outputtext rendered="{!if((mapfieldnames[fieldName1])=='PICKLIST' || (mapfieldnames[fieldName1])=='MULTIPICKLIST' || (mapfieldnames[fieldName1])=='BOOLEAN',true,false)}"> 
                    <a href="#" id="acc3_lkwgt" onclick="openCustomLookupPopup('firstValue','{!if(contains(fieldName1,'Account.'),SUBSTITUTE(fieldName1,'Account.',''),fieldName1)}','{!if(contains(fieldName1,'Account.'),'Account','Contact')}');return false;" tabindex="2" title="Parent Account Lookup (New Window)" style="text-decoration: none;">
                       <img src="/s.gif" alt="Parent Account Lookup (New Window)" class="lookupIcon" onblur="this.className = 'lookupIcon';" 
                        onfocus="this.className = 'lookupIconOn';" 
                        onmouseout="this.className = 'lookupIcon';this.className = 'lookupIcon';" 
                        onmouseover="this.className = 'lookupIconOn';this.className = 'lookupIconOn';" 
                        title="Lookup (New Window)"/>
                    </a> 
                 </apex:outputtext>                     
              </apex:outputpanel> 
            </td>
          </tr>
          <tr>
            <td style="display:none;" class="create_sno">2.</td>
            <td>
              <apex:selectList value="{!FieldName2}" size="1" id="secondfield">
                 <apex:actionsupport event="onchange"  status="bnField2" rerender="datetext2,op2" />
                 <apex:selectOptions value="{!Fields}" />
              </apex:selectList>
            </td>
            <td>
              <apex:selectList value="{!Operator2}" size="1" id="op2" style="width:150px;">
                 <apex:selectOptions value="{!OperatorList2}" />
              </apex:selectList>
              <apex:actionstatus id="bnField2">
                 <apex:facet name="start"><apex:image url="\img\loading.gif"/></apex:facet>
                 <apex:facet name="stop"></apex:facet>
              </apex:actionstatus>
            </td>
            <td>
              <apex:inputtext id="secondValue" value="{!Value2}"/>   
              <apex:outputpanel id="datetext2">
                 <apex:outputtext rendered="{!if((mapfieldnames[fieldName2])=='DATE',true,false)}">{mm/dd/yyyy}</apex:outputtext>
                 <apex:outputtext rendered="{!if((mapfieldnames[fieldName2])=='DATETIME',true,false)}">{mm/dd/yyyy HR:Min AM/PM}</apex:outputtext>
                 <apex:outputtext rendered="{!if((mapfieldnames[fieldName2])=='PICKLIST' || (mapfieldnames[fieldName2])=='MULTIPICKLIST' || (mapfieldnames[fieldName2])=='BOOLEAN',true,false)}">

                    <a href="#" id="acc3_lkwgt" onclick="openCustomLookupPopup('secondValue','{!if(contains(fieldName2,'Account.'),SUBSTITUTE(fieldName2,'Account.',''),fieldName2)}','{!if(contains(fieldName2,'Account.'),'Account','Contact')}');return false;" tabindex="2" title="Parent Account Lookup (New Window)" style="text-decoration: none;">
                       <img src="/s.gif" alt="Parent Account Lookup (New Window)" class="lookupIcon" onblur="this.className = 'lookupIcon';" 
                        onfocus="this.className = 'lookupIconOn';" 
                        onmouseout="this.className = 'lookupIcon';this.className = 'lookupIcon';" 
                        onmouseover="this.className = 'lookupIconOn';this.className = 'lookupIconOn';" 
                        title="Lookup (New Window)"/>
                    </a>                    
                 </apex:outputtext>  
              </apex:outputpanel>  
            </td>
          </tr>
          <tr>
            <td style="display:none;" class="create_sno">3.</td>
            <td>
              <apex:selectList value="{!FieldName3}" size="1" id="thirdField">
                 <apex:actionsupport event="onchange"  status="bnField3" rerender="datetext3,op3" />
                 <apex:selectOptions value="{!Fields}" />
              </apex:selectList>
            </td>
            <td>
              <apex:selectList value="{!Operator3}" size="1" id="op3" style="width:150px;">
                 <apex:selectOptions value="{!OperatorList3}" />
              </apex:selectList>
              <apex:actionstatus id="bnField3">
                 <apex:facet name="start"><apex:image url="\img\loading.gif"/></apex:facet>
                 <apex:facet name="stop"></apex:facet>
              </apex:actionstatus>
            </td>
            <td>
              <apex:inputtext id="thirdValue" value="{!Value3}"/>
              <apex:outputpanel id="datetext3">
                 <apex:outputtext rendered="{!if((mapfieldnames[fieldName3])=='DATE',true,false)}">{mm/dd/yyyy}</apex:outputtext>
                 <apex:outputtext rendered="{!if((mapfieldnames[fieldName3])=='DATETIME',true,false)}">{mm/dd/yyyy HR:Min AM/PM}</apex:outputtext>
                 <apex:outputtext rendered="{!if((mapfieldnames[fieldName3])=='PICKLIST' || (mapfieldnames[fieldName3])=='MULTIPICKLIST' || (mapfieldnames[fieldName3])=='BOOLEAN',true,false)}">
                    <a href="#" id="acc3_lkwgt" onclick="openCustomLookupPopup('thirdValue','{!if(contains(fieldName3,'Account.'),SUBSTITUTE(fieldName3,'Account.',''),fieldName3)}','{!if(contains(fieldName3,'Account.'),'Account','Contact')}');return false;" tabindex="2" title="Parent Account Lookup (New Window)" style="text-decoration: none;">
                       <img src="/s.gif" alt="Parent Account Lookup (New Window)" class="lookupIcon" onblur="this.className = 'lookupIcon';" 
                        onfocus="this.className = 'lookupIconOn';" 
                        onmouseout="this.className = 'lookupIcon';this.className = 'lookupIcon';" 
                        onmouseover="this.className = 'lookupIconOn';this.className = 'lookupIconOn';" 
                        title="Lookup (New Window)"/>
                    </a>
                 </apex:outputtext> 
              </apex:outputpanel> 
            </td>
          </tr>
          <tr>
            <td style="display:none;" class="create_sno">4.</td>
            <td>
              <apex:selectList value="{!FieldName4}" size="1" id="fourthField">
                 <apex:actionsupport event="onchange" status="bnField4" rerender="datetext4,op4" />
                 <apex:selectOptions value="{!Fields}" />
              </apex:selectList>
            </td>
            <td>
              <apex:selectList value="{!Operator4}" size="1" id="op4" style="width:150px;">
                 <apex:selectOptions value="{!OperatorList4}" />
              </apex:selectList>
              <apex:actionstatus id="bnField4">
                 <apex:facet name="start"><apex:image url="\img\loading.gif"/></apex:facet>
                 <apex:facet name="stop"></apex:facet>
              </apex:actionstatus>
            </td>
            <td>
              <apex:inputtext id="fourthValue" value="{!Value4}"/>
              <apex:outputpanel id="datetext4">
                 <apex:outputtext rendered="{!if((mapfieldnames[fieldName4])=='DATE',true,false)}">{mm/dd/yyyy}</apex:outputtext>
                 <apex:outputtext rendered="{!if((mapfieldnames[fieldName4])=='DATETIME',true,false)}">{mm/dd/yyyy HR:Min AM/PM}</apex:outputtext>
                 <apex:outputtext rendered="{!if((mapfieldnames[fieldName4])=='PICKLIST' || (mapfieldnames[fieldName4])=='MULTIPICKLIST' || (mapfieldnames[fieldName4])=='BOOLEAN',true,false)}">
                    <a href="#" id="acc3_lkwgt" onclick="openCustomLookupPopup('fourthValue','{!if(contains(fieldName4,'Account.'),SUBSTITUTE(fieldName4,'Account.',''),fieldName4)}','{!if(contains(fieldName4,'Account.'),'Account','Contact')}');return false;" tabindex="2" title="Parent Account Lookup (New Window)" style="text-decoration: none;">
                       <img src="/s.gif" alt="Parent Account Lookup (New Window)" class="lookupIcon" onblur="this.className = 'lookupIcon';" 
                        onfocus="this.className = 'lookupIconOn';" 
                        onmouseout="this.className = 'lookupIcon';this.className = 'lookupIcon';" 
                        onmouseover="this.className = 'lookupIconOn';this.className = 'lookupIconOn';" 
                        title="Lookup (New Window)"/>
                    </a>                    
                 </apex:outputtext> 
              </apex:outputpanel> 
            </td>
          </tr>
          <tr>
            <td style="display:none;" class="create_sno">5.</td>
            <td>
              <apex:selectList value="{!FieldName5}" size="1" id="fiveField">
                 <apex:actionsupport event="onchange" status="bnField5" rerender="datetext5,op5" />
                 <apex:selectOptions value="{!Fields}" />
              </apex:selectList>
            </td>
            <td>
              <apex:selectList value="{!Operator5}" size="1" id="op5" style="width:150px;">
                 <apex:selectOptions value="{!OperatorList5}" />
              </apex:selectList>
              <apex:actionstatus id="bnField5">
                 <apex:facet name="start"><apex:image url="\img\loading.gif"/></apex:facet>
                 <apex:facet name="stop"></apex:facet>
              </apex:actionstatus>
            </td>
            <td>
              <apex:inputtext id="fifthValue" value="{!Value5}"/>
              <apex:outputpanel id="datetext5">
                 <apex:outputtext rendered="{!if((mapfieldnames[fieldName5])=='DATE',true,false)}">{mm/dd/yyyy}</apex:outputtext>
                 <apex:outputtext rendered="{!if((mapfieldnames[fieldName5])=='DATETIME',true,false)}">{mm/dd/yyyy HR:Min AM/PM}</apex:outputtext>
                 <apex:outputtext rendered="{!if((mapfieldnames[fieldName5])=='PICKLIST' || (mapfieldnames[fieldName5])=='MULTIPICKLIST' || (mapfieldnames[fieldName5])=='BOOLEAN',true,false)}">
                    <a href="#" id="acc3_lkwgt" onclick="openCustomLookupPopup('fifthValue','{!if(contains(fieldName5,'Account.'),SUBSTITUTE(fieldName5,'Account.',''),fieldName5)}','{!if(contains(fieldName5,'Account.'),'Account','Contact')}');return false;" tabindex="2" title="Parent Account Lookup (New Window)" style="text-decoration: none;">
                       <img src="/s.gif" alt="Parent Account Lookup (New Window)" class="lookupIcon" onblur="this.className = 'lookupIcon';" 
                        onfocus="this.className = 'lookupIconOn';" 
                        onmouseout="this.className = 'lookupIcon';this.className = 'lookupIcon';" 
                        onmouseover="this.className = 'lookupIconOn';this.className = 'lookupIconOn';" 
                        title="Lookup (New Window)"/>
                    </a>
                 </apex:outputtext> 
              </apex:outputpanel>
            </td>
          </tr>
          <tr>
            <td style="display:none;" class="create_sno">6.</td>
            <td> 
              <apex:selectList value="{!FieldName6}" size="1" id="sixthfield">
                 <apex:actionsupport event="onchange" status="bnField6" rerender="datetext6,op6" />
                 <apex:selectOptions value="{!Fields}" ></apex:selectOptions>
              </apex:selectList>
            </td>
            <td>
              <apex:selectList value="{!Operator6}" size="1"  id="op6" style="width:150px;">
                 <apex:selectOptions value="{!OperatorList6}" />
              </apex:selectList>
              <apex:actionstatus id="bnField6">
                 <apex:facet name="start"><apex:image url="\img\loading.gif"/></apex:facet>
                 <apex:facet name="stop"></apex:facet>
              </apex:actionstatus>
            </td>
            <td>
              <apex:inputtext id="sixthValue" value="{!value6}"/>
              <apex:outputpanel id="datetext6">
                 <apex:outputtext rendered="{!if((mapfieldnames[fieldName6])=='DATE',true,false)}">{mm/dd/yyyy}</apex:outputtext>
                 <apex:outputtext rendered="{!if((mapfieldnames[fieldName6])=='DATETIME',true,false)}">{mm/dd/yyyy HR:Min AM/PM}</apex:outputtext>
                 <apex:outputtext rendered="{!if((mapfieldnames[fieldName6])=='PICKLIST' || (mapfieldnames[fieldName6])=='MULTIPICKLIST' || (mapfieldnames[fieldName6])=='BOOLEAN',true,false)}">
                    <a href="#" id="acc3_lkwgt" onclick="openCustomLookupPopup('sixthValue','{!if(contains(fieldName6,'Account.'),SUBSTITUTE(fieldName6,'Account.',''),fieldName6)}','{!if(contains(fieldName6,'Account.'),'Account','Contact')}');return false;" tabindex="2" title="Parent Account Lookup (New Window)" style="text-decoration: none;">
                       <img src="/s.gif" alt="Parent Account Lookup (New Window)" class="lookupIcon" onblur="this.className = 'lookupIcon';" 
                        onfocus="this.className = 'lookupIconOn';" 
                        onmouseout="this.className = 'lookupIcon';this.className = 'lookupIcon';" 
                        onmouseover="this.className = 'lookupIconOn';this.className = 'lookupIconOn';" 
                        title="Lookup (New Window)"/>
                    </a>
                 </apex:outputtext> 
              </apex:outputpanel> 
            </td>
          </tr>
          <tr>
            <td style="display:none;" class="create_sno">7.</td>
            <td>
              <apex:selectList value="{!FieldName7}" size="1" id="seventhfield">
                 <apex:actionsupport event="onchange"  status="bnField7" rerender="datetext7,op7" />
                 <apex:selectOptions value="{!Fields}" />
              </apex:selectList>
            </td>
            <td>
              <apex:selectList value="{!Operator7}" size="1" id="op7" style="width:150px;">
                 <apex:selectOptions value="{!OperatorList7}" />
              </apex:selectList>
              <apex:actionstatus id="bnField7">
                 <apex:facet name="start"><apex:image url="\img\loading.gif"/></apex:facet>
                 <apex:facet name="stop"></apex:facet>
              </apex:actionstatus>
            </td>
            <td>
              <apex:inputtext id="seventhValue" value="{!Value7}"/>   
              <apex:outputpanel id="datetext7">
                 <apex:outputtext rendered="{!if((mapfieldnames[fieldName7])=='DATE',true,false)}">{mm/dd/yyyy}</apex:outputtext>
                 <apex:outputtext rendered="{!if((mapfieldnames[fieldName7])=='DATETIME',true,false)}">{mm/dd/yyyy HR:Min AM/PM}</apex:outputtext>
                 <apex:outputtext rendered="{!if((mapfieldnames[fieldName7])=='PICKLIST' || (mapfieldnames[fieldName7])=='MULTIPICKLIST' || (mapfieldnames[fieldName7])=='BOOLEAN',true,false)}">
                    <a href="#" id="acc3_lkwgt" onclick="openCustomLookupPopup('seventhValue','{!if(contains(fieldName7,'Account.'),SUBSTITUTE(fieldName7,'Account.',''),fieldName7)}','{!if(contains(fieldName7,'Account.'),'Account','Contact')}');return false;" tabindex="2" title="Parent Account Lookup (New Window)" style="text-decoration: none;">
                       <img src="/s.gif" alt="Parent Account Lookup (New Window)" class="lookupIcon" onblur="this.className = 'lookupIcon';" 
                        onfocus="this.className = 'lookupIconOn';" 
                        onmouseout="this.className = 'lookupIcon';this.className = 'lookupIcon';" 
                        onmouseover="this.className = 'lookupIconOn';this.className = 'lookupIconOn';" 
                        title="Lookup (New Window)"/>
                    </a>
                 </apex:outputtext> 
              </apex:outputpanel>  
            </td>
          </tr>
          <tr>
          <td style="display:none;" class="create_sno">8.</td>
          <td>
            <apex:selectList value="{!FieldName8}" size="1" id="eighthField">
               <apex:actionsupport event="onchange"  status="bnField8" rerender="datetext8,op8" />
               <apex:selectOptions value="{!Fields}" />
            </apex:selectList>
          </td>
          <td>
            <apex:selectList value="{!Operator8}" size="1" id="op8" style="width:150px;">
               <apex:selectOptions value="{!OperatorList8}" />
            </apex:selectList>
            <apex:actionstatus id="bnField8">
               <apex:facet name="start"><apex:image url="\img\loading.gif"/></apex:facet>
               <apex:facet name="stop"></apex:facet>
            </apex:actionstatus>
          </td>
          <td>
            <apex:inputtext id="eighthValue" value="{!Value8}"/>    
            <apex:outputpanel id="datetext8">
               <apex:outputtext rendered="{!if((mapfieldnames[fieldName8])=='DATE',true,false)}">{mm/dd/yyyy}</apex:outputtext>
               <apex:outputtext rendered="{!if((mapfieldnames[fieldName8])=='DATETIME',true,false)}">{mm/dd/yyyy HR:Min AM/PM}</apex:outputtext>
               <apex:outputtext rendered="{!if((mapfieldnames[fieldName8])=='PICKLIST' || (mapfieldnames[fieldName8])=='MULTIPICKLIST' || (mapfieldnames[fieldName8])=='BOOLEAN',true,false)}">
                  <a href="#" id="acc3_lkwgt" onclick="openCustomLookupPopup('eighthValue','{!if(contains(fieldName8,'Account.'),SUBSTITUTE(fieldName8,'Account.',''),fieldName8)}','{!if(contains(fieldName8,'Account.'),'Account','Contact')}');return false;" tabindex="2" title="Parent Account Lookup (New Window)" style="text-decoration: none;">
                       <img src="/s.gif" alt="Parent Account Lookup (New Window)" class="lookupIcon" onblur="this.className = 'lookupIcon';" 
                        onfocus="this.className = 'lookupIconOn';" 
                        onmouseout="this.className = 'lookupIcon';this.className = 'lookupIcon';" 
                        onmouseover="this.className = 'lookupIconOn';this.className = 'lookupIconOn';" 
                        title="Lookup (New Window)"/>
                    </a>
               </apex:outputtext> 
            </apex:outputpanel> 
          </td>
        </tr>
        <tr>
          <td style="display:none;" class="create_sno">9.</td>
          <td>
            <apex:selectList value="{!FieldName9}" size="1" id="ninthField">
               <apex:actionsupport event="onchange" status="bnField9" rerender="datetext9,op9" />
               <apex:selectOptions value="{!Fields}" />
            </apex:selectList>
          </td>
          <td>
            <apex:selectList value="{!Operator9}" size="1" id="op9" style="width:150px;">
               <apex:selectOptions value="{!OperatorList9}" />
            </apex:selectList>
            <apex:actionstatus id="bnField9">
               <apex:facet name="start"><apex:image url="\img\loading.gif"/></apex:facet>
               <apex:facet name="stop"></apex:facet>
            </apex:actionstatus>
          </td>
          <td>
            <apex:inputtext id="ninthValue" value="{!Value9}"/>   
            <apex:outputpanel id="datetext9">
               <apex:outputtext rendered="{!if((mapfieldnames[fieldName9])=='DATE',true,false)}">{mm/dd/yyyy}</apex:outputtext>
               <apex:outputtext rendered="{!if((mapfieldnames[fieldName9])=='DATETIME',true,false)}">{mm/dd/yyyy HR:Min AM/PM}</apex:outputtext>
               <apex:outputtext rendered="{!if((mapfieldnames[fieldName9])=='PICKLIST' || (mapfieldnames[fieldName9])=='MULTIPICKLIST' || (mapfieldnames[fieldName9])=='BOOLEAN',true,false)}">
                  <a href="#" id="acc3_lkwgt" onclick="openCustomLookupPopup('ninthValue','{!if(contains(fieldName9,'Account.'),SUBSTITUTE(fieldName9,'Account.',''),fieldName9)}','{!if(contains(fieldName9,'Account.'),'Account','Contact')}');return false;" tabindex="2" title="Parent Account Lookup (New Window)" style="text-decoration: none;">
                       <img src="/s.gif" alt="Parent Account Lookup (New Window)" class="lookupIcon" onblur="this.className = 'lookupIcon';" 
                        onfocus="this.className = 'lookupIconOn';" 
                        onmouseout="this.className = 'lookupIcon';this.className = 'lookupIcon';" 
                        onmouseover="this.className = 'lookupIconOn';this.className = 'lookupIconOn';" 
                        title="Lookup (New Window)"/>
                    </a>
               </apex:outputtext> 
            </apex:outputpanel> 
          </td>
        </tr>
        <tr>
          <td style="display:none;" class="create_sno">10.</td>
          <td>
            <apex:selectList value="{!FieldName10}" size="1" id="tenthField">
               <apex:actionsupport event="onchange" status="bnField10" rerender="datetext10,op10" />
               <apex:selectOptions value="{!Fields}" />
            </apex:selectList>
          </td>
          <td>
            <apex:selectList value="{!Operator10}" size="1" id="op10" style="width:150px;">
               <apex:selectOptions value="{!OperatorList10}" />
            </apex:selectList>
            <apex:actionstatus id="bnField10">
               <apex:facet name="start"><apex:image url="\img\loading.gif"/></apex:facet>
               <apex:facet name="stop"></apex:facet>
            </apex:actionstatus>
          </td>
          <td>
            <apex:inputtext id="tenthValue" value="{!Value10}"/>    
            <apex:outputpanel id="datetext10">
               <apex:outputtext rendered="{!if((mapfieldnames[fieldName10])=='DATE',true,false)}">{mm/dd/yyyy}</apex:outputtext>
               <apex:outputtext rendered="{!if((mapfieldnames[fieldName10])=='DATETIME',true,false)}">{mm/dd/yyyy HR:Min AM/PM}</apex:outputtext>
               <apex:outputtext rendered="{!if((mapfieldnames[fieldName10])=='PICKLIST' || (mapfieldnames[fieldName10])=='MULTIPICKLIST' || (mapfieldnames[fieldName10])=='BOOLEAN',true,false)}">
                  <a href="#" id="acc3_lkwgt" onclick="openCustomLookupPopup('tenthValue','{!if(contains(fieldName10,'Account.'),SUBSTITUTE(fieldName10,'Account.',''),fieldName10)}','{!if(contains(fieldName10,'Account.'),'Account','Contact')}');return false;" tabindex="2" title="Parent Account Lookup (New Window)" style="text-decoration: none;">
                       <img src="/s.gif" alt="Parent Account Lookup (New Window)" class="lookupIcon" onblur="this.className = 'lookupIcon';" 
                        onfocus="this.className = 'lookupIconOn';" 
                        onmouseout="this.className = 'lookupIcon';this.className = 'lookupIcon';" 
                        onmouseover="this.className = 'lookupIconOn';this.className = 'lookupIconOn';" 
                        title="Lookup (New Window)"/>
                   </a>
               </apex:outputtext> 
            </apex:outputpanel>
          </td>
        </tr>
      </table>
      <table>
        <tr id="create_selectFilterRow">
          <td>
            <apex:outputText id="selectFilterLogic" value="Select Filter Logic"/> 
          </td>
          <td align="left">
            <apex:selectList multiselect="false" size="1" id="filterLogic" value="{!filterLogic}">
               <apex:selectOption itemValue="AND" itemLabel="AND"/>
               <apex:selectOption itemValue="OR" itemLabel="OR"/>
            </apex:selectList> 
          </td>  
        </tr>
        <tr>
          <td>
            <apex:outputText id="create_selectAdvanceFormula" value="Select Advance Filter Logic"/> 
          </td>
          <td align="left">
            <apex:inputCheckbox value="{!showAdvanceFormula}" id="create_checkAdvanceFormula" onclick="checkAdvanceFormula(this,'create');"/> 
          </td>
        </tr>
        <tr style="display: none;" id="create_advanceFormulaInput">
          <td>
            <apex:outputText id="create_inputAdvanceFormula" value="Enter Advance Formula"/> 
          </td>
          <td align="left">
            <apex:inputtext value="{!advanceFilterLogic}" id="create_advanceFormulaInputField" />  
          </td>
        </tr>
        <apex:outputPanel rendered="{! If(admin==true ,true,false) }">
        <tr>
           <td> 
             <apex:outputText id="start_ActivityInLastXDays" value="{!$ObjectType.Automated_Call_List__c.Fields.Activity_In_Last_X_Days__c.Label}"/>   
           </td>
           <td> 
              <apex:inputtext value="{!create_ActivityInLastXDays}" id="create_ActiviityInLast" />  
            </td>
        </tr>
        <tr>
           <td>
           </td>
        </tr>
        <tr>
           <td>
             <apex:outputText id="start_OpenTaskDueInLastXDays" value="{!$ObjectType.Automated_Call_List__c.Fields.Open_Task_Due_In_X_Days__c.Label}"/>    
           </td>
           <td> 
             <apex:inputtext value="{!create_openTaskDueInXdays}" id="create_OpenTaskdue"/> 
           </td>
        </tr>
        <tr>
          <td>
            <apex:outputText id="create_PriorityLabel" value="{!$ObjectType.Automated_Call_List__c.Fields.Priority__c.Label}"/>    
          </td>
          <td> 
            <apex:inputCheckbox value="{!automatedCallList.Priority__c}" id="create_priority"/> 
           </td>
        </tr>
        </apex:outputPanel>
        <tr>
          <td>
            <apex:outputPanel rendered="{! If(admin==false ,true,false) }">
               <apex:selectRadio value="{!visibility}" layout="pageDirection">
                  <br><apex:selectOptions Value="{!VisbilityValues}" /></br>
               </apex:selectRadio>
            </apex:outputPanel>
          </td>
        </tr>
      </table>
     </apex:pageBlock>
     <p align="center">
       <apex:inputHidden value="{!campaignStatus}" id="campainStatusHiddenField"/>
       <apex:actionFunction name="campaignStatusFunction" action="{!save1}" reRender="campainStatusHiddenField,msgs,popup">      
       </apex:actionFunction>
       <apex:commandbutton value="Save" onClick="selectedCampaignStatus();" reRender="dummy" disabled="{!isSaveButtonDisabled}" status="sendemail"/ >
       <apex:commandbutton value="Clear" action="{!cancel}"/>
     </p>
  </apex:pageBlock>
  <apex:outputPanel id="popup">
     <apex:outputPanel styleClass="popupBg" layout="block" rendered="{!displayPopUp}"/>
        <apex:outputPanel styleClass="popup1" layout="block" rendered="{!displayPopUp}">
           <apex:commandButton value="X" action="{!closePopup}" rerender="popup"/>
              {!showSuccMsg}
        </apex:outputPanel>
     </apex:outputPanel>
</apex:form>
</div>
<div id="editCallList" class="tab-pane">
 <apex:form id="editCallListForm">
   
      <apex:outputPanel id="editOutputPannel">
         <c:Cockpit_EditCallList id="editCallListComponent"/>
      </apex:outputPanel>     
    
    </apex:form>
</div>
 
<div id="deleteMultipleCallLists" class="tab-pane">
  <apex:form id="deleteMultipleCallListsForm">
  <apex:pageMessages id="delmsg1"/>
  <center>   
    <apex:pageMessages id="deleteMultipleMsgs"></apex:pageMessages>    
    <b>Call List Name</b>
    <br/>
    <apex:pageblock id="searchResults2">
       <apex:selectList multiselect="false" size="1" id="deletecallQueueValues" onChange="getDeleteCallListNames(this.value);">
          <apex:selectOption itemValue="Select Call Queue" itemLabel="Select Call Queue"/> 
          <apex:selectOption itemValue="Campaign Call List" itemLabel="Campaign Call List"/>
          <apex:selectOption itemValue="Trigger Call List" itemLabel="Trigger Call List"/>                
          <apex:selectOption itemValue="Custom Call List" itemLabel="Custom Call List"/>             
          <apex:actionsupport event="onchange" rerender="deleteMultiple"/>               
       </apex:selectList> 
       <select name="deleteMultipleCallLists" multiple="multiple" id="deleteMultiple" size="5">
           <option value="Select Call List">Select Call List</option>
       </select>                  
       <apex:inputHidden value="{!deleteMultipleCallLists}" id="deleteMultpleCallListsHiddenField"/>  
    </apex:pageblock>
    <br/>
    <apex:actionFunction name="deleteCallListFunction" action="{!deleteMultipleCallList}" reRender="deleteMultipleMsgs" oncomplete="getDeleteCallListNames('reload');">
    </apex:actionFunction> 
    <apex:actionStatus id="delstatus" startStyle="font-weight:bold;color:#FF0000;" startText="Please wait Deleting is in progress.We will notify you via email, once the call list is deleted "/>
    <apex:commandButton onclick="deleteCallList();" status="delstatus" value="Delete" reRender="dummy"/>
    <apex:commandButton action="{!cancel}" value="Cancel"/>
    <apex:outputpanel id="delmsg"></apex:outputpanel>     
  </center>
  </apex:form>
</div>

<div id="removeContacts" class="tab-pane">
  <c:Cockpit_RemoveContacts id="removeCopmonent"/> 
</div>

<div id="generateCSV" class="tab-pane">
  <apex:form id="generateCSVForm">
     <center>
       <apex:pageMessages id="CSVpageMsgs"/>
       <apex:pageblock id="CSVPgblock">
          <b> CallList Name: </b>
          <apex:selectList multiselect="false" size="1" id="editcallQueueValues" onChange="getGenerateCSVCallListNames(this.value);">
             <apex:selectOption itemValue="Select Call Queue" itemLabel="Select Call Queue"/> 
             <apex:selectOption itemValue="Campaign Call List" itemLabel="Campaign Call List"/>
             <apex:selectOption itemValue="Trigger Call List" itemLabel="Trigger Call List"/>    
             <apex:selectOption itemValue="Custom Call List" itemLabel="Custom Call List"/> 
             <apex:actionsupport event="onchange" rerender="generateCSVCallList"/>                 
          </apex:selectList> 
          <select id="selGenerateCSVCallList" size="1">
              <option value="Select Call List">Select Call List</option>
          </select>
          <br/>
          <br/>
          <apex:inputHidden value="{!generateCSVCallList}" id="generateCSVCallListHiddenField"/>
          <apex:actionFunction name="generateCSVFunction" action="{!generateCSV}" reRender="dummy,CSVpageMsgs,generateCSVCallListHiddenField">      
          </apex:actionFunction>
          <apex:actionStatus id="previewrecord" startStyle="font-weight:bold;color:#FF0000;" startText="Please wait for the Email.."/>
          <apex:commandbutton value="Preview" onclick="generateCSVCallList();" status="previewrecord" reRender="dummy"/>
       
       </apex:pageblock>
     </center>
  </apex:form>
</div>

<div id="manageTaskRangesPerCallList" class="tab-pane" > 
  <apex:form id="form">
  <b>
  <apex:outputText id="callQueue" value="Call Queue :"/> </b>&nbsp;
  <apex:selectList multiselect="false" size="1" id="TaskRangescallQueue" onChange="getTaskRangesCallListNames(this.value);">
     <apex:selectOption itemValue="Select Call Queue" itemLabel="Select Call Queue"/> 
     <apex:selectOption itemValue="Campaign Call List" itemLabel="Campaign Call List"/>
     <apex:selectOption itemValue="Trigger Call List" itemLabel="Trigger Call List"/>    
     <apex:selectOption itemValue="Custom Call List" itemLabel="Custom Call List"/> 
     <apex:actionSupport event="onchange" reRender="form"/>
  </apex:selectList> 
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <b>
  <apex:outputText id="callListName" value="Call List :"/> </b>&nbsp;
  <apex:selectList multiselect="false" size="1" id="callListNames" onchange="CallListValues();" >
     <apex:selectOption itemValue="Select Call List" itemLabel="Select Call List"/>
  </apex:selectList> 
  <br/>
  <br/>
  <table width ="50%">
    <tr>
      <td>
        <apex:outputText id="ActivityInLastXDays" value="{!$ObjectType.Automated_Call_List__c.Fields.Activity_In_Last_X_Days__c.Label}"/>   
      </td> 
      <td> 
        <apex:inputText id="ActiviityInLast" onblur="updateAutomatedCallList();" />  
      </td> 
    </tr>
    <tr>
      <td>
        <apex:outputText id="OpenTaskDueInLastXDays" value="{!$ObjectType.Automated_Call_List__c.Fields.Open_Task_Due_In_X_Days__c.Label}"/> 
      </td>
      <td>    
        <apex:inputText id="OpenTaskdue" onblur="updateAutomatedCallList();"/> 
      </td>
    </tr>
    <tr>
      <td>
        <apex:outputText id="PriorityCallListLabel" value="{!$ObjectType.Automated_Call_List__c.Fields.Priority__c.Label}"/>
      </td> 
      <td>    
        <input type="checkbox" id="PriorityForCallList" onChange="updateAutomatedCallList();" />
      </td>
    </tr>
  </table>
  <apex:actionStatus id="taskRangesStatus" startStyle="font-weight:bold;color:#FF0000;" startText="Please wait while saving the values"/>
  </apex:form> 
</div>
    
<div id="manageCockpitInterface" class="tab-pane">
  <apex:form id="form1" styleclass="formtab">
     <apex:actionFunction name="updateCockpitSettingsValues" action="{!updateCockpitSettingsValues}" reRender="dummy" status="stageStatus">
     </apex:actionFunction>
     <table width ="100%">
       <tr class="row2">
         <td align="left" width ="25%">
           <apex:outputText value="{!$ObjectType.Manage_Cockpit__c.Fields.Ability_To_Create_Custom_Call_Lists__c.Label}"/>   
         </td>
         <td align="left" width ="25%">
           <apex:selectList multiselect="false" size="1" id="AbilityToCretateCustomCallList" onChange="updateCockpitSettings(this.value);" value="{!manageCallList.Ability_To_Create_Custom_Call_Lists__c}">
              <apex:selectOption itemValue="No" itemLabel="No"/> 
              <apex:selectOption itemValue="Yes" itemLabel="Yes"/> 
           </apex:selectList>  
         </td>
         <td align="left" width ="25%">
          <apex:outputText value="{!$ObjectType.Manage_Cockpit__c.Fields.Allow_Multiple_Selection__c.Label}"/>   
         </td>
         <td align="left" width ="25%">
           <apex:selectList multiselect="false" size="1" id="AllowMultipleSelection" onChange="updateCockpitSettings(this.value);" value="{!manageCallList.Allow_Multiple_Selection__c}">
              <apex:selectOption itemValue="No" itemLabel="No"/> 
              <apex:selectOption itemValue="Yes" itemLabel="Yes"/> 
           </apex:selectList>  
         </td>
       </tr>
       <tr class="row2">
         <td align="left" width ="25%">
           <apex:outputText value="{!$ObjectType.Manage_Cockpit__c.Fields.Visibility_To_Custom_Call_Lists__c.Label}"/>   
         </td>
         <td align="left" width ="25%">
           <apex:selectList multiselect="false" size="1" id="VisibilityToCustomCallLists" onChange="updateCockpitSettings(this.value);" value="{!manageCallList.Visibility_To_Custom_Call_Lists__c}">
              <apex:selectOption itemValue="No" itemLabel="No"/> 
              <apex:selectOption itemValue="Yes" itemLabel="Yes"/> 
           </apex:selectList>
         </td>
         <td align="left" width ="25%">
           <apex:outputText value="{!$ObjectType.Manage_Cockpit__c.Fields.Show_Priority_And_Other_Call_Lists__c.Label}"/>     
         </td>
         <td align="left" width ="25%">
           <apex:selectList multiselect="false" size="1" id="ShowPriorityAndOtherCallLists" onChange="updateCockpitSettings(this.value);" value="{!manageCallList.Show_Priority_And_Other_Call_Lists__c}">
              <apex:selectOption itemValue="No" itemLabel="No"/> 
              <apex:selectOption itemValue="Yes" itemLabel="Yes"/> 
           </apex:selectList>
         </td>
       </tr>
     </table>
     <br/><br/>
     <table width ="100%">
       <tr style="background-color: #d3d3d3">
         <th bgcolor="#d3d3d3" width ="25%">Manage Filters And Visible Columns</th>
         <th bgcolor="#d3d3d3" width ="25%"></th>
       </tr>
       <apex:repeat value="{!manageCallListValues}"  var="manageCall">  
          <apex:repeat value="{!$ObjectType.Manage_Cockpit__c.FieldSets.Filter_and_Column_Options}"  var="f">    
             <tr class="row2">
               <td align="left" width ="25%">
                 <apex:outputLink value="{!manageCall[f]}" target="_blank" >{!f.label}</apex:outputLink>
               </td>
             </tr>
          </apex:repeat>
       </apex:repeat>
     </table>
     <br/><br/>
     <apex:actionFunction name="AdvisorAndRelatedListsDetails" action="{!getAdvisorAndRelatedListsDetails}" reRender="form1" status="stageStatus">
     </apex:actionFunction>  
     <span style="background-color:#d3d3d3; width: 100% !important;float: left;"><b>Manage Advisor Layout</b></span>
     <ul id="AdvDetailsSortable1" class="connectedSortable1">
       <li class="ui-state-default" style="width:220px;" value="None">In Active</li>
       <apex:repeat value="{!inActiveAdvisorDetails}" var="inActiveAdvDetails">
          <li class="ui-state-highlight" style="width:220px;" value="{!inActiveAdvDetails.id}">
          <a href='{!inActiveAdvDetails.Field_Set_URL__c}' target="_blank">{!inActiveAdvDetails.Section_Name__c}</a>
          Expand :
          <apex:selectList multiselect="false" size="1" id="inactiveAdvDetailsexpandValue" onChange="onChangeExpand(this.value,'{!inActiveAdvDetails.Section_Name__c}');" value="{!inActiveAdvDetails.Expand__c}">
             <apex:selectOption itemValue="No" itemLabel="No"/> 
             <apex:selectOption itemValue="Yes" itemLabel="Yes"/> 
          </apex:selectList>  
          </li>
       </apex:repeat>
     </ul>
     <ul id="AdvDetailsSortable2" class="connectedSortable1">
       <li class="ui-state-default" style="width:220px;" value="None">Active</li>
       <apex:repeat value="{!activeAdvisorDetails}" var="activeAdvDetails">
          <li class="ui-state-highlight" style="width:220px;" value="{!activeAdvDetails.id}">
          <a href='{!activeAdvDetails.Field_Set_URL__c}' target="_blank">{!activeAdvDetails.Section_Name__c}</a>
          Expand :
          <apex:selectList multiselect="false" size="1" id="activeAdvDetailsexpandValue" onChange="onChangeExpand(this.value,'{!activeAdvDetails.Section_Name__c}');" value="{!activeAdvDetails.Expand__c}">
             <apex:selectOption itemValue="No" itemLabel="No"/> 
             <apex:selectOption itemValue="Yes" itemLabel="Yes"/> 
          </apex:selectList>
          </li>
       </apex:repeat>
     </ul>
     <br/><br/>
     <span style="background-color:#d3d3d3; width: 100% !important;float: left;"><b>Manage Related Lists</b></span>
     <br/><br/>
     <ul id="sortable1" class="connectedSortable">
       <li class="ui-state-default" style="width:220px;" value="None">In Active</li>
       <apex:repeat value="{!inActiveRelatedLists}" var="inActiveRelLists">
          <li class="ui-state-highlight" style="width:220px;" value="{!inActiveRelLists.id}">
          <a href='{!inActiveRelLists.Field_Set_URL__c}' target="_blank">{!inActiveRelLists.Section_Name__c}</a>
          Expand :
          <apex:selectList multiselect="false" size="1" id="inactiveExpandValue" onChange="onChangeExpand(this.value,'{!inActiveRelLists.Section_Name__c}');" value="{!inActiveRelLists.Expand__c}">
             <apex:selectOption itemValue="No" itemLabel="No"/> 
             <apex:selectOption itemValue="Yes" itemLabel="Yes"/> 
          </apex:selectList>  
          </li>
       </apex:repeat>
     </ul>
     <ul id="sortable2" class="connectedSortable">
       <li class="ui-state-default" style="width:220px;" value="None">Active</li>
       <apex:repeat value="{!activeRelatedLists}" var="activeRelLists">
          <li class="ui-state-highlight" style="width:220px;" value="{!activeRelLists.id}">
          <a href='{!activeRelLists.Field_Set_URL__c}' target="_blank">{!activeRelLists.Section_Name__c}</a>
          Expand :
          <apex:selectList multiselect="false" size="1" id="activeExpandValue" onChange="onChangeExpand(this.value,'{!activeRelLists.Section_Name__c}');" value="{!activeRelLists.Expand__c}">
             <apex:selectOption itemValue="No" itemLabel="No"/> 
             <apex:selectOption itemValue="Yes" itemLabel="Yes"/> 
          </apex:selectList>
          </li>
       </apex:repeat>
     </ul>
 </apex:form>
</div>
<div id="visibility" class="tab-pane">
  <apex:form id="visibilityForm">
     <apex:pageMessages id="visibilityMsgs"/>
     <b><apex:outputText id="CustomcallListlabel" value="Custom Call List :"/> </b>&nbsp;&nbsp;
     <select size="1" id="selectedCustomCallList" onChange="setVisibility(this.value);">
        <option value="Select Custom Call List">Select Custom Call List</option>
     </select>
     <br/><br/>
     <table>
       <tr>
         <td>
           <apex:selectRadio value="{!visibility}" layout="pageDirection" id="VisibilitySel"><br/>
              <br><apex:selectOptions Value="{!VisbilityValues}" /></br>
           </apex:selectRadio>   
         </td>
       </tr>
     </table>
     <apex:inputHidden value="{!visibilityCustomCallList}" id="selectedCustomCallListHiddenField"/>
     <apex:actionFunction name="visibilityFunction" action="{!updateVisibilityForCustomCallLists}" reRender="selectedCustomCallListHiddenField,visibilityMsgs" >      
     </apex:actionFunction>
     <apex:commandbutton value="Save" onclick="updateVisibility();" rerender="dummy"/>
     <apex:commandbutton value="Cancel" action="{!cancel}"/>
  </apex:form>
</div>
</div>
</div>
</html> 
</apex:page>