<apex:page controller="cms.CoreController" id="StantiveTemplate" showHeader="false" sidebar="false" docType="html-5.0" >
  <apex:composition template="{!page_template_reference}">
    <apex:define name="header">
        <apex:includeScript value="{!URLFOR($Resource.ocms_MessageCentre, 'js/indicator.js')}" />
        <apex:stylesheet value="{!URLFOR($Resource.ocms_WebPropertyList, 'css/ocms_WebProperty.css')}" />
        <apex:includeScript value="{!URLFOR($Resource.ocms_WebPropertyList, 'js/ocms_WebPropertyList.js')}" />
   
      <!-- Header tags start -->
      <meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />  
<script src="https://cdn.ampproject.org/v0.js"></script> 
      <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=EDGE" />
      <meta name="description" content="" />
      <meta name="author" content="" />
      <link rel="shortcut icon" type="image/x-icon" href="{!URLFOR($Resource.colecapitalcss,'images/favicon.ico')}" />
      <link href='https://fonts.googleapis.com/css?family=Titillium+Web:200,200italic' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet' type='text/css' />
      <link href="{!URLFOR($Resource.colecapitalcss,'stylesheets/screen.css')}" media="all" rel="stylesheet" type="text/css" />
      <style>
      #option1,#option4{display:block;}
      .box{display:none;}
      .arrowdown{content: '\25be'!important;}
      .arrowup{ content: '\25b4'!important;}
      </style>
      
       
        
    <!-- <link rel="shortcut icon" href="favicon.ico" /> -->
    <script type="text/javascript" src="{!URLFOR($Resource.colecapitaljs,'scripts/jquery.min.js')}"></script>
     
     <script>
       var jq = $.noConflict();
    </script>
     
 <!--<script type="text/javascript" src="{!URLFOR($Resource.colecapitaljs,'scripts/init.js')}"></script>-->
 <script type="text/javascript" src="{!URLFOR($Resource.colecapitaljs,'scripts/modernizr.custom.71498.js')}"></script>
 <script type="text/javascript" src="{!URLFOR($Resource.colecapitaljs,'scripts/coleinit_inner.js')}"></script>
 <script type="text/javascript" src="{!URLFOR($Resource.colecapitaljs,'scripts/custom-cole.js')}"></script>
 
 <script type="text/javascript" src="{!URLFOR($Resource.colecapitaljs,'scripts/respond.js')}"></script>
 <script src="{!URLFOR($Resource.colecapitaljs,'scripts/highlight.pack.js')}"></script> 

<link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.colecapitaljs,'scripts/jquery.navgoco.css')}" media="screen" />
  
 <!-- hack for IE 10 start -->
 <script>
 var doc = document.documentElement;
doc.setAttribute('data-useragent', navigator.userAgent);
 </script>
 <script type="text/javascript" src="{!URLFOR($Resource.colecapitaljs,'scripts/highstock.js')}"></script>
 <script type="text/javascript" src="{!URLFOR($Resource.colecapitaljs,'scripts/jstorage.min.js')}"></script>
 <!-- hack for IE 10 end -->
 <script language="JavaScript" type="text/javascript" src="{!URLFOR($Resource.colecapitaljs,'scripts/BrightcoveExperiences.js')}"></script>
 <!--[if (gte IE 6)&(lte IE 8)]>
        <script type="text/javascript" src="{!URLFOR($Resource.colecapitaljs,'scripts/selectivizr-min.js')}"></script>
    <![endif]-->

  <!--[if (gte IE 6)&(lt IE 8)]>
        <link href="{!URLFOR($Resource.colecapitalcss,'stylesheets/ie7.css')}" media="all" rel="stylesheet" type="text/css" />
      <![endif]-->

<!--[if (gte IE 8)&(lt IE 9)]>
        <link href="{!URLFOR($Resource.colecapitalcss,'stylesheets/ie8.css')}" media="all" rel="stylesheet" type="text/css" />
      <![endif]-->
 
 <!--<script type="text/javascript" src="{!URLFOR($Resource.colecapitaljs,'scripts/slideshow.js')}"></script>-->
 <script type="text/javascript" src="{!URLFOR($Resource.colecapitaljs,'scripts/Chart.js')}"></script>    
    

      <!-- Header tags end -->
      <apex:includeScript value="{!$Resource.ModalPopupWindow}"/>
      <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
 
  ga('create', 'UA-53384326-1', 'auto');
  ga('send', 'pageview');
 
</script>
    </apex:define>
    <apex:define name="body">
      <!-- Body tags start -->   
      <div class="home">  
      
      <header>
       
     <div class="content">
    <section class="wrapper">
    <div class="left"><cms:Panel panelName="headerContent" panelController="{!controller}"  panelHeight="10px" panelWidth="1000px" /> </div>
    <div class="clearfix"></div>
    </section>
    
     </div>

    </header>      
    <div id="content">
        <div class="breadcrumbIn">
    <section class="wrapper">
    <div class="left"><cms:Panel panelName="breadcrumb" panelController="{!controller}"  panelHeight="10px" panelWidth="400px" /> </div>
    <div class="clearfix"></div>
    </section>
    
     </div>
      
      <cms:Panel panelName="innerbodycontent2" panelController="{!controller}"  panelHeight="10px" panelWidth="1000px" /> 
      
   <div class="footer-space"> </div>
    </div> <!-- end content -->
     
    <cms:Panel panelName="footer01" panelController="{!controller}"  panelHeight="10px" panelWidth="1000px" />
    
    <cms:Panel panelName="graybox" panelController="{!controller}"  panelHeight="10px" panelWidth="1000px" /> 
    <div id="backtotop">
            <a href="#"></a>
      </div>
    
    </div>
    
      <script src="{!URLFOR($Resource.colecapitaljs,'scripts/highlight.pack.js')}"></script> 
      <script type="text/javascript" src="{!URLFOR($Resource.colecapitaljs,'scripts/main.js')}"></script>
      <script type="text/javascript" src="{!URLFOR($Resource.colecapitaljs,'scripts/leftMenu.js')}"></script>
      <script type="text/javascript" src="{!URLFOR($Resource.colecapitaljs,'scripts/coleinit_inner.js')}"></script>
      
      <script type="text/javascript">

jq(document).ready(function() {
  
    jq(".tab_content").hide(); 
    jq("ul.tabs li:first").addClass("active").show(); 
    jq(".tab_content:first").show();
    
    
    jq('body').on('click',"ul.tabs li",function(event) {
         event.stopPropagation()
        jq("ul.tabs li").removeClass("active"); 
        jq(this).addClass("active"); 
        jq(".tab_content").hide(); 
        var activeTab = jq(this).find("a").attr("href"); 
        jq(activeTab).fadeIn();
        return false;
    });

});
</script>

    <script>
   jq(function(){
      jq('.navi > li').mouseover(function() {
      jq('#view.navi > li > div').css('left',0);
  }).mouseout(function() {
    jq('#view.navi > li > div').css('left',-600);
  });
      
            
    });
  </script>
   <script type="text/JavaScript"> 
function removeCookies() {
  eraseCookie("MySFCookie");
}
</script>
           
      <!-- Body tags end --> 
    </apex:define>
  </apex:composition>
</apex:page>