<apex:page controller="cms.CoreController" id="StantiveTemplate" showHeader="false" sidebar="false" >
<apex:composition template="{!page_template_reference}">
<apex:define name="header">

<link href='http://fonts.googleapis.com/css?family=Titillium+Web:200,200italic' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="{!URLFOR($Resource.colefiles,'stylesheets/screen.css')}" type="text/css" media="screen" charset="utf-8" />
<link rel="shortcut icon" href="{!URLFOR($Resource.colefiles,'favicon.ico')}" />
<script src="{!URLFOR($Resource.colefiles,'scripts/init.js')}" type="text/javascript"></script>
<script src="{!URLFOR($Resource.colefiles,'scripts/modernizr.custom.78900.js')}" type="text/javascript"></script>
<script src="{!URLFOR($Resource.colefiles,'scripts/slideshow.js')}" type="text/javascript"></script>
<script type="text/javascript" src="http://admin.brightcove.com/js/BrightcoveExperiences.js"></script>
<script type="text/javascript" src="{!URLFOR($Resource.colefiles,'scripts/scrollTo.js')}"></script>
<script type="text/javascript" src="{!URLFOR($Resource.colefiles,'scripts/bios.js')}"></script>
<!--[if (gte IE 6)&(lte IE 8)]>
        <script src="{!URLFOR($Resource.colefiles,'scripts/selectivizr-min.js')}" type="text/javascript"></script>
    <![endif]-->
    <!--[if (gte IE 6)&(lte IE 9)]>
        <link rel="stylesheet" href="{!URLFOR($Resource.colefiles,'stylesheets/ie8.css')}" type="text/css" media="screen" charset="utf-8" />
    <![endif]-->
   
<apex:includeScript value="{!$Resource.ModalPopupWindow}"/>
<script language="Javascript">
        //You can use the .indexOf() and .substring(), like this:

        var url = "www.aaa.com/task1/1.3.html#a_1";
        var hash = url.substring(url.indexOf("#")+1);
        //You can give it a try here, if it may not have a # in it, do an if(url.indexOf("#") != -1) check like this:

        var url = "www.aaa.com/task1/1.3.html#a_1", idx = url.indexOf("#")
        var hash = idx != -1 ? url.substring(idx+1) : "";
        
        $('#slideshow').cycle({ 
    fx:    'fade',
    timeout: 15000,
    cleartype:  true,
    cleartypeNoBg:  true,
    fit: 1,
    slideResize: false,
    containerResize: false,
    next:   '#next2', 
    prev:   '#prev2',
    pager:  '#pager'
});
////////   SCALE   ////////
var originalWidth = 960;
var originalHeight = 320;
var slidecont = "slideshow";
window.onload = function(event){
    var slideshowresize = document.getElementById(slidecont).offsetWidth;
    var scalePercentage = slideshowresize/originalWidth;
    //document.getElementById(slidecont).style.height = ((originalHeight * scalePercentage) + "px");
    return true;
};
window.onresize = function(event){
    var slideshowresize = document.getElementById(slidecont).offsetWidth;
    var scalePercentage = slideshowresize/originalWidth;
    //document.getElementById(slidecont).style.height = ((originalHeight * scalePercentage) + "px");
    return true;
};
</script>

</apex:define>
<apex:define name="body">
<div class="teer3">
<header>
        <div class="logobar">
            <a class="index" href="/" accesskey="1">Cole - Real Estate Investments</a>
            <ul>
                <li class="mobile"><span>Expand Menu</span></li>
                <li class="desktop"><a href="contact-us.aspx" accesskey="5">Contact Us</a></li>
                <li class="desktop"><a href="careers.aspx" accesskey="6">Careers</a></li>
                <li class="desktop"><a href="https://www.colecapital.com" accesskey="7">Colecapital.com</a></li>
            </ul>
        </div>
        <nav>
            <div>
                 <cms:Panel panelName="section17" panelController="{!controller}"  panelHeight="100px" panelWidth="180px" />
                 <div class="mobile"><cms:Panel panelName="section18" panelController="{!controller}"  panelHeight="100px" panelWidth="180px" /></div>
                 <div class="mobile social"><cms:Panel panelName="section19" panelController="{!controller}"  panelHeight="100px" panelWidth="180px" /></div>
            </div>
        </nav>
</header>
    <div id="content">
            <cms:Panel panelName="section1" panelController="{!controller}"  panelHeight="200px" panelWidth="220px" />
    </div>
<div class="clearfix" style="clear:both;"></div>
    <footer class="desktop">
        <div class="wrapper">
            <div>
                <ul class="social">
                    <li class="cole"><a href="index.aspx">Cole - Real Estate Investments</a></li>
                    <li><a href="https://twitter.com/colerealestate" target="_blank" class="twitter">Twitter</a></li>
                    <li><a href="https://www.facebook.com/ColeRealEstateInvestments" target="_blank" class="facebook">Facebook</a></li>
                    <li><a href="http://www.linkedin.com/company/cole-capital" target="_blank" class="linked">LinkedIn</a></li>
                    <li><a href="https://plus.google.com/115099328622043751340" target="_blank" class="google">Google Plus</a></li>
                    <li><a href="http://www.youtube.com/ColeCapital" target="_blank" class="youtube">YouTube</a></li>
                    <li class="nyse">NYSE</li>
                </ul>
            </div>
            <div>
                <h4><a href="contact-us.aspx" accesskey="5">Contact Us</a></h4>
                <ul>
                    <li>2325 East Camelback Road</li>
                    <li>Suite 1100</li>
                    <li>Phoenix, AZ 85016</li>
                    <li>602.778.6000</li>
                </ul>
            </div>
            <div>
                <h4><a href="careers.aspx" accesskey="7">Careers</a></h4>
                <ul>
                    <li><a href="open-positions.aspx" accesskey="1">Browse career opportunities</a></li>
                </ul>
            </div>
            <div>
                <h4><a href="https://www.colecapital.com" accesskey="7">Colecapital.com</a></h4>
                <ul>
                    <li><a href="https://www.colecapital.com/individual-investors" accesskey="1">Individual Investor</a></li>
                    <li><a href="https://www.colecapital.com/financial-professionals" accesskey="2">Financial Professional</a></li>
                </ul>
            </div>
            <div>
                <h4>Helpful Links</h4>
                <ul>
                    <li><a href="privacy-policy.aspx" accesskey="1">Privacy Policy</a></li>
                    <li><a href="terms-of-use.aspx" accesskey="2">Terms of Use</a></li>
                    <li><a href="site-map.aspx" accesskey="3">Site Map</a></li>
                </ul>
            </div>
            <div class="copyright">
                <p>&copy; Cole Real Estate Investments, Inc.</p>
            </div>
        </div> <!-- end wrapper -->
    </footer>
    <script language="Javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-10730428-7', 'colereit.com');
  ga('send', 'pageview');
</script>
</div>
</apex:define>
</apex:composition>
</apex:page>