<apex:page standardController="Case" extensions="EmbeddedController" showHeader="false" sidebar="false">

 <apex:form > 
  <apex:pageBlock title="FINRA Approval by State" >
   <apex:pageBlockButtons >
       <apex:commandButton value="Save" action="{!save}"/>
    </apex:pageBlockButtons>
    <apex:outputPanel id="refresh" rendered="true">
     <apex:outputPanel id="refresh1" rendered="{!refreshPage}">
      <script>
       window.top.location='/{!Case.id}';
      </script>
     </apex:outputPanel>
    </apex:outputPanel>
    
  <!--state checkbox table-->  
   <apex:dataTable value="{!case}" var="a" columnswidth="50px,5px" cellpadding="1" border="0" styleClass="tableClass">
   
     <apex:column width="45px"  headerValue="AL" >
         <apex:inputCheckbox value="{!a.AL__c}"/ >
     </apex:column>
     <apex:column width="45px"  headerValue="AK">
         <apex:inputCheckbox value="{!a.AK__c}"/ >  
     </apex:column>  
     <apex:column width="45px"  headerValue="AZ">
         <apex:inputCheckbox value="{!a.AZ__c}"/ >
     </apex:column>
     <apex:column width="45px"  headerValue="AR">
         <apex:inputCheckbox value="{!a.AR__c}"/ >
     </apex:column>
     <apex:column width="45px"  headerValue="CA">
         <apex:inputField value=" {!a.CA__c}"/ >
     </apex:column>
     <apex:column width="45px"  headerValue="DC">
         <apex:inputCheckbox value="{!a.DC__c}"/ >
     </apex:column>
     <apex:column width="45px"  headerValue="FL">
         <apex:inputCheckbox value="{!a.FL__c}"/ >
     </apex:column>
     <apex:column width="45px"  headerValue="ID">
         <apex:inputCheckbox value="{!a.ID__c}"/ >
     </apex:column>
     <apex:column width="45px"  headerValue="IN">
         <apex:inputCheckbox value="{!a.IN__c}"/ >
     </apex:column>
     <apex:column width="45px"  headerValue="IA">
         <apex:inputCheckbox value="{!a.IA__c}"/ >
     </apex:column>
     <apex:column width="45px"  headerValue="KS">
         <apex:inputCheckbox value="{!a.KS__c}"/ >
     </apex:column>
     <apex:column width="45px"  headerValue="MD">
         <apex:inputCheckbox value="{!a.MD__c}"/ >
     </apex:column>
     <apex:column headerValue="MA">
         <apex:inputCheckbox value="{!a.MA__c}"/ >
     </apex:column>
   
   </apex:dataTable>
   
   <apex:dataTable value="{!case}" var="a" columnswidth="50px,5px" cellpadding="1" border="0">

     <apex:column headerValue="MI">
         <apex:inputCheckbox value="{!a.MI__c}"/ >
     </apex:column>
     <apex:column width="45px" headerValue="MN">
         <apex:inputCheckbox value="{!a.MN__c}"/ >
     </apex:column>
     <apex:column width="45px" headerValue="MO">
         <apex:inputCheckbox value="{!a.MO__c}"/ >
     </apex:column>
     <apex:column width="45px"  headerValue="MT">
         <apex:inputCheckbox value="{!a.MT__c}"/ >
     </apex:column>
     <apex:column width="45px"  headerValue="NC">
         <apex:inputCheckbox value="{!a.NC__c}"/ >
     </apex:column>
     <apex:column width="45px" headerValue="ND">
         <apex:inputCheckbox value="{!a.ND__c}"/ >
     </apex:column>
     <apex:column width="45px"  headerValue="NC">
         <apex:inputCheckbox value="{!a.NC__c}"/ >
     </apex:column>
     <apex:column width="45px"  headerValue="OH">
         <apex:inputCheckbox value="{!a.OH__c}"/ >
     </apex:column>
     <apex:column width="45px"  headerValue="OK">
         <apex:inputCheckbox value="{!a.OK__c}"/ >
     </apex:column>
     <apex:column width="45px"  headerValue="PA">
         <apex:inputCheckbox value="{!a.PA__c}"/ >
     </apex:column>
     <apex:column width="45px"  headerValue="PR">
         <apex:inputCheckbox value="{!a.PR__c}"/ >
     </apex:column>
     <apex:column width="45px"  headerValue="TX">
         <apex:inputCheckbox value="{!a.TX__c}"/ >
     </apex:column>
     <apex:column width="45px" headerValue="WA">
         <apex:inputCheckbox value="{!a.WA__c}"/ >
     </apex:column>
     <apex:column headerValue="WY">
         <apex:inputCheckbox value="{!a.WY__c}"/ >
     </apex:column>

   </apex:dataTable>

   <apex:facet name="footer"><apex:outputPanel >
     <apex:outputText style="font-size:9pt;font-weight:bold!important;white-space:pre-wrap;" value="**No prerequisite approval required for the following States: CO, CT, DL, GA, Guam, HI, IL, KY, LA, MA, MS, NE, NV, NH, NJ, NM, NY, OR, RI, SC, SD, TN, UT, VT, VA, WV, and WI."/></apex:outputPanel>
   </apex:facet>

  </apex:pageBlock>
 </apex:form>

</apex:page>