<apex:page standardController="Contact" extensions="ContactLifeCyclesnehal">
    <style>
    .labelCol1{
        font-weight: bold;
        font-size:1em;
        font-family:'Arial','Helvetica','sans-serif';        
     }
    </style>
    <script>
        window.onload = function(){ 
            if('{!JSENCODE(HTMLENCODE(colorRadio))}'!=null){
               var colorsval = '{!JSENCODE(HTMLENCODE(colorRadio))}'.split("-");
                var radio_check = document.getElementById(colorsval[0]);
                var radio_check1 = document.getElementById(colorsval[1]);
                var radio_check2 = document.getElementById(colorsval[2]); 
                var radio_check3 = document.getElementById(colorsval[3]);
                
                //radio_check.style.color='#FF0000'; 
                //radio_check1.style.color='#FF7E00';                    
                //radio_check2.style.color='#3ADF00'; 
                
                if(colorsval[0]=='NQ'){
                  radio_check.style.color='#000000';
                  radio_check1.style.color='#FF6666'; 
                  radio_check2.style.color='#FFD94C';                    
                  radio_check3.style.color='#66CC66';
                }     

                if(colorsval[0]=='Red'){
                  radio_check.style.color='#FF6666'; 
                  radio_check1.style.color='#FFD94C';                    
                  radio_check2.style.color='#66CC66';
                  radio_check3.style.color='#000000';
                }
                
                if(colorsval[0]=='Yellow'){
                  radio_check.style.color='#FFD94C';
                  radio_check1.style.color='#FF6666';                    
                  radio_check2.style.color='#66CC66';
                  radio_check3.style.color='#000000';
                }
                
                if(colorsval[0]=='Green'){
                  radio_check.style.color='#66CC66'; 
                  radio_check1.style.color='#FF6666'; 
                  radio_check2.style.color='#FFD94C';
                  radio_check3.style.color='#000000';
                }
                
                //radio_check1.style.color='#FF7E00';                    
                //radio_check2.style.color='#3ADF00';
                //alert(colorsval[0]);
                if(colorsval[0]=='Red')
                    document.getElementById('Wrong').checked = true;
                if(colorsval[0]=='Yellow') 
                   document.getElementById('Wrong1').checked = true;
                if(colorsval[0]=='Green') 
                     document.getElementById('Wrong2').checked = true;
                if(colorsval[0]=='NQ') 
                     document.getElementById('Wrong3').checked = true;
            }
        }     
    </script>
    <apex:form id="form1">
        <input type="radio" name="gender" id="Wrong3" value = "NQ" onclick="getActive('NQ','Red','Yellow','Green');" />
        <label id="NQ" class="labelCol1">NQ</label>
        <input type="radio" name="gender" id="Wrong" value = "Red" onclick="getActive('Red','Yellow','Green','NQ');" />
        <label id="Red" class="labelCol1">Red</label>  
        <input type="radio" name="gender" id="Wrong1" value = "Yellow" onclick="getActive('Yellow','Red','Green','NQ');" />      
        <label id="Yellow"  class="labelCol1">Yellow</label>   
        <input type="radio" name="gender" id="Wrong2" value = "Green" onclick="getActive('Green','Red','Yellow','NQ');" /> 
        <label id="Green"  class="labelCol1">Green</label>                    
        <apex:inputHidden id="radiocolorId" value="{!colorRadio}"/>
        <script> var colorRadioVal= document.getElementById('radiocolorId');</script>
     </apex:form>
    <script type="text/javascript">    
        function getActive(clr1,clr2,clr3,clr4){  
            var radio_check = document.getElementById(clr1);
            var radio_check1 = document.getElementById(clr2);
            var radio_check2 = document.getElementById(clr3);
            var radio_check3 = document.getElementById(clr4);     
            var colorsValue = clr1+'-'+clr2+'-'+clr3+'-'+clr4;
            Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.ContactLifeCyclesnehal.Conupdate}','{!Contact.Id}',colorsValue,function(result, event){},{escape: true});
            
                //radio_check.style.color='#E41B17'; 
                //radio_check1.style.color='#FF7E00';                    
                //radio_check2.style.color='#3ADF00';
                           
                if(clr1=='NQ'){
                  radio_check.style.color='#000000'; 
                  radio_check1.style.color='#FF6666'; 
                  radio_check2.style.color='#FFD94C';
                  radio_check3.style.color='#3ADF00';
                }
                
                if(clr1=='Red'){
                  radio_check.style.color='#E60000'; 
                  radio_check1.style.color='#FFD94C';                    
                  radio_check2.style.color='#3ADF00';
                  radio_check3.style.color='#000000';
                }
                
                if(clr1=='Yellow'){
                  radio_check.style.color='#FF6E05'; 
                  radio_check1.style.color='#FF6666';                    
                  radio_check2.style.color='#3ADF00';
                  radio_check3.style.color='#000000';
                }
                
                if(clr1=='Green'){
                  radio_check.style.color='#008F00'; 
                  radio_check1.style.color='#FF6666';                    
                  radio_check2.style.color='#FFD94C';
                  radio_check3.style.color='#000000';
                }
            //radio_check.style.color='#FF0000'; 
            //radio_check1.style.color='#FF7E00';                    
            //radio_check2.style.color='#3ADF00';
             if(colorRadioVal != null){
                colorRadioVal.value='clr1-clr2-clr3-clr4';
              }
        }
    </script>
</apex:page>