<apex:page standardController="Market_Power_Order__c" tabStyle="market_power__tab">
    <apex:iframe height="1000" width="743" src="https://salesforce.dstweb.com/mp/sf/salesforce:salesforce?sfuserid={!$User.Id}&contactid={!Market_Power_Order__c.Contact__c}&page=createorder"></apex:iframe> 
</apex:page>