<apex:page standardController="Deal__c" extensions="workspaceclass" >
<apex:form id="myformid">
<script>
   var isClicked = false;
function checkDoubleSubmit(obj){
            if (isClicked) {
                return false;
            }else {
                isClicked = true;
                alert('Workspace is being created and indexed in Autonomy, please wait for an email confirmation');
                obj.className = 'btnDisabled';//only shows the button as disabled.
                return true;
            }
}

</script>

<apex:PageBlock id="recs">
<apex:pageBlockSection id="block1" columns="1">

<apex:outputText rendered="{!IF(Deal__c.Create_Workspace__c== True, true, false)}">
<B><font color = "Blue">&nbsp;&nbsp;Workspace exists for the current Deal!! </font></B>
</apex:outputText>
<!--<apex:outputText rendered="{!IF(Deal__c.Create_Workspace__c== True, true, false)}"><B><font color = "Black">Please click the below link:</font></B><br/>
<apex:outputField rendered="{!IF(Deal__c.Create_Workspace__c== True, true, false)}" value="{!Deal__c.Autonomy_Url__c}" />
</apex:outputText>-->
</apex:pageBlockSection>
 <apex:pageBlockButtons location="top">
<apex:commandButton id="save" value="Create Workspace" action="{!createworkspace}" oncomplete="return checkDoubleSubmit(this)" disabled="{!If(Deal__c.Create_Workspace__c== True, true, false)}" rerender="block1" />
<apex:messages style="color:Blue;font-size:12px;font-weight:bold;align:left"/>
</apex:pageBlockButtons>
 
</apex:PageBlock>
</apex:form>
</apex:page>