<apex:page standardController="REIT_Investment__c" id="Page" extensions="CustomNewSplitTicketButton">

<script language="javascript" type="text/javascript"> 
    
    function reload()
    {
        reloadparent();
    }
    
    function popupClosed() 
    {
        window.location.reload();
    }
    
    function openLookup(baseURL, width, modified, searchParam)
    {
        var reitId = document.getElementById('Page:myForm:PageBlock:section1:reitInvestment').value;
        var originalbaseURL = baseURL;
        var originalwidth = width;
        var originalmodified = modified;
        var originalsearchParam = searchParam;
        var lookupType = baseURL.substr(baseURL.length-3, 3);
        if (modified == '1') baseURL = baseURL + searchParam;
        var isCustomLookup = false;
       
        if(lookupType == "003")
        {
            var urlArr = baseURL.split("&");
            var txtId = '';
            if(urlArr.length > 2) 
            {
                urlArr = urlArr[1].split('=');
                txtId = urlArr[1];
            } 
            
            baseURL = "/apex/CustomRepLookupPage?txt=" + txtId; 
           
            baseURL = baseURL + "&frm=" + escapeUTF("{!$Component.myForm}");
            if (modified == '1') 
            {
                baseURL = baseURL + "&lksearch=" + reitId;
            } 
           
            if(txtId.indexOf('Contact') > -1 )
            {
                isCustomLookup = true;
            }
        } 
        if(isCustomLookup == true)
        {
            //alert(baseURL);
            openPopup(baseURL, "lookup", 350, 480, "width="+width+",height=480,toolbar=no,status=no,directories=no,menubar=no,resizable=yes,scrollable=no", true);
        }
        else 
        {
            if (modified == '1') originalbaseURL = originalbaseURL + originalsearchParam;
            openPopup(originalbaseURL, "lookup", 350, 480, "width="+originalwidth+",height=480,toolbar=no,status=no,directories=no,menubar=no,resizable=yes,scrollable=no", true);
        } 
        
       window.parent.location ='{!$Label.ParentLocation}'+retId;
      window.parent.opener.reload();
    }
    
    
</script> 
    <apex:form id="myForm">
    <apex:pageMessages />
    <apex:inputHidden value="{!objreit.Id}" id="reit"/>
    <apex:actionFunction name="reloadparent" action="{!showRep}" reRender="myForm"/>
    <apex:pageblock id="PageBlock" >
        <apex:pageblockButtons >
            
            <apex:commandButton value="Save" action="{!saveAndNew}"/>
                
            <apex:commandButton value="Cancel" action="{!CancelAndReturn}" immediate="true"/>
        </apex:pageblockButtons>   
        <apex:pageBlockSection columns="1" id="section1">    
            <apex:inputField id="SplitContact" value="{!spt.Rep__c}" required="True" /> 
            <apex:inputfield id="reitInvestment" value="{!spt.REIT_Investment__c}" />         
        </apex:pageBlockSection>
        <apex:outputPanel rendered="{!refreshPage}" > 
            <script>
                window.top.location='/{!REIT_Investment__c.id}';
            </script>
        </apex:outputPanel> 
    </apex:PageBlock>
    </apex:form> 
</apex:page>