<apex:page controller="CustomLookUpCtrl" title="Search" showHeader="false" sideBar="false" id="pg">
<apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" />
<apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js" />
  <apex:form >
     <apex:actionFunction name="addShipTo" action="{!fieldPicklistValues}" rerender="searchResults" oncomplete="goOncomplete();">
     </apex:actionFunction>
     <apex:outputPanel id="page" layout="block" style="margin:5px;padding:10px;padding-top:2px;">
        <apex:actionRegion >  
           <apex:outputPanel id="pnlSearchResults" style="margin:10px;height:350px;overflow-Y:auto;" layout="block">
             <Center>
                <input type="button" class="btn" id="GoBtn1" value="Insert Selected" onclick="go()" style="margin-left:20px;" />
             </Center>
             <apex:pageBlock id="searchResults"> 
                <apex:pageBlockTable value="{!dropdownToWrapper}" var="record" rendered="{!IF(dropdownToWrapper.size>0 ,true,false)}">               
                   <apex:column >
                      <apex:facet name="header">
                         <apex:outputtext rendered="{!if(picklist==True,true,false)}"> 
                            <input type="checkbox" id="selectall" name="selectall" onchange="checkOnchange('selectall',checked)"/>
                         </apex:outputtext> 
                      </apex:facet>
                      <apex:outputtext rendered="{!if(picklist==True,true,false)}">          
                         <input type="checkbox" id="checkedone" name="checkedone" value="{!record.records}" onchange="checkOnchange(this,checked)"/>
                      </apex:outputtext> 
                      <apex:outputtext rendered="{!if(picklist==false,true,false)}">  
                         <input type="radio" id="checkedone" name="checkedone" value="{!record.records}" onchange="checkOnchange(this,checked)"/>
                      </apex:outputtext> 
                  </apex:column>
                   <apex:column >
                      <apex:facet name="header">
                         Value
                      </apex:facet>
                     {!record.dropdownValue}
                   </apex:column>
                </apex:pageBlockTable>
             </apex:pageBlock>
             <Center>
                <input type="button" class="btn" id="GoBtn2" value="Insert Selected" onclick="go()" style="margin-left:20px;" />
             </Center>
           </apex:outputPanel>
        </apex:actionRegion>
     </apex:outputPanel>
  </apex:form>
  <script>
      $(document).ready(function() {
          $('[id$=GoBtn1]').hide();
          $('[id$=GoBtn2]').hide();
      });
      var opener1 = window.opener;
      if(null==opener1){
         opener1=window.parent.opener;
      }
      var oDom = opener1.document;
      var selectedVal = '';
      function go(){
         addShipTo();
         if(null==opener1){
            opener1=window.parent.opener;
         }
         if(opener1){
            var checkedValues = $('input[name="checkedone"]:checked').map(function(){
               var selectedValues = this.value;
               return selectedValues;    
            }).get();
            if(checkedValues.length > 0){         
               opener1.$('[id$=":{!$CurrentPage.parameters.Id}" ]').val(checkedValues);   
            }
         } 
      }
      function checkOnchange(obj,isChecked){   
         if(obj == 'selectall' && isChecked){
            selectAllCheckboxes(selectedVal,true);
            obj='';
         }
         else if(obj == 'selectall' && isChecked == false){ 
            selectAllCheckboxes(selectedVal,false);
            obj='';  
         }
         var prodVal=obj.value;
         prodVal = prodVal.replace('  ',' ');
         if(isChecked){     
            if((selectedVal.indexOf(prodVal)==-1)){
               $('[id$=GoBtn1]').show();
               $('[id$=GoBtn2]').show();
               selectedVal += prodVal+'~'; 
           }
           selectedVal = selectedVal.replace('  ',' ');
           }
           else{
              if(selectedVal.indexOf(prodVal)!=-1){
                 $('[id$=GoBtn1]').hide();
                 $('[id$=GoBtn2]').hide();
                 var unselectedProd=prodVal+'~';
                 selectedVal=selectedVal.replace(unselectedProd,'');
                 var selectall = document.getElementsByName("selectall");
                 for(i=0; i <selectall.length; i++){
                     selectall[i].checked = false;
                 }      
              }
           }
       
      }
      function goOncomplete(){
         var isSelected = document.getElementsByName('checkedone');
         var i=0;
         if(selectedVal!=null && selectedVal!=''){
            for(i=0;i<isSelected.length; i++){
                if(selectedVal.indexOf(isSelected[i].value)!=-1){
                   isSelected[i].checked=true;
                }
            }
         }
         window.close();
      }
      function selectAllCheckboxes(obj,isChecked){
         var inputCheckBox = document.getElementsByName("checkedone");
         if(isChecked){
            $('[id$=GoBtn1]').show();
            $('[id$=GoBtn2]').show();
            for(var i=0; i<inputCheckBox.length; i++){
                inputCheckBox[i].checked = true;
                checkOnchange(inputCheckBox[i],inputCheckBox[i].checked);
            }
         }
         else{
            $('[id$=GoBtn1]').hide();
            $('[id$=GoBtn2]').hide();
            for(var i=0; i<inputCheckBox.length; i++){
                inputCheckBox[i].checked = false;
                checkOnchange(inputCheckBox[i],inputCheckBox[i].checked);
            }
         }
      }
  </script>
</apex:page>