<apex:page controller="Mycontrollerreport" >
<apex:form >
<apex:commandLink action="{!Getlink}"  id="theCommandLink" style="color:blue;" target="_blank">
Detailed Salescockpit Activity
</apex:commandLink>
</apex:form>
</apex:page>