<apex:page showHeader="false" standardController="IntranetDocument__kav"  standardStylesheets="false" sidebar="false" >
    <apex:define name="header">
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      
       <link rel="stylesheet" href="{!URLFOR($Resource.coleintraTemplatecss,'css/style.css')}" type="text/css" media="screen" charset="utf-8" />

  
        <style>

a {
    color:#FFF;
    text-decoration:none;
}
.imgBox{
    float:left;
    margin:5px;
    
}
.imgBox img{
    width:100px;
    height:100px;
    border:#ccc solid 1px;
    border-radius:5px;
}
.rghtDetail{
    float:left;
    margin:5px;
    width:60.3%;
}
.btnBox{
    display:block;
}
.btnBox a{
    background:repeat scroll 0 0 #6e9934; 
    padding:10px;
    display:table;
    float:right;
    margin:45px 10px 10px 0;
    display:block;
    text-decoration:none;
    color:#ffffff;
}

.btnBox a:hover{
background:repeat scroll 0 0 #6e9934;
text-decoration:none;
}
.clear{
    clear:both;
}
.searchResult{
    border:1px dashed #ffffff;
    border-bottom:1px dashed #e5e5e5;
    margin-bottom:20px;
    padding-bottom:5px;
}

.searchResult:hover{
    border:#6e9934 solid 1px;
    border-radius:5px;

}
.rghtDetail h1{
    color: #666;
    padding:0;
    margin:0;
}

.rghtDetail p{
    padding:5px 0 10px 3px;
    margin:0;
    color:#999;
}
</style>
    </apex:define>
<div class="contentWrapper showcontet_6">
                         
                <!-- 1 listing type
    <div class="searchResult">
      <div class="imgBox"><img src="https://www.wearecrowdfunding.com/servlet/servlet.FileDownload?file=00PC000000Uf9TYMAZ" alt="" /></div>
      <div class="rghtDetail"><h1>Heading</h1> <p>lorel lipsum lorel lipsum lorel lipsum lorel lipsum lorel lipsum lorel lipsum lorel lipsum lorel lipsum lorel lipsum lorel lipsum lorel lipsum lorel lipsum lorel lipsum lorel lipsum lorel lipsum lorel lipsum <br/><br/>
Created by: Ninad Tambe - 01/07/2015 </p> </div>
      
      <div class="btnBox"><a href="#">Download</a></div>
      <div class="clear"></div>
    </div>
   
    
   
    <div class="searchResult">
      <div class="imgBox"><img src="https://www.wearecrowdfunding.com/servlet/servlet.FileDownload?file=00PC000000Uf9TYMAZ" alt="" /></div>
      <div class="rghtDetail"><h1>Heading</h1> <p>lorel lipsum lorel lipsum lorel lipsum lorel lipsum lorel lipsum lorel lipsum lorel lipsum lorel lipsum lorel lipsum lorel lipsum lorel lipsum lorel lipsum lorel lipsum lorel lipsum lorel lipsum lorel lipsum <br/><br/>
Created by: Ninad Tambe - 01/07/2015 </p> </div>
      
      <div class="btnBox"><a href="#">Download</a></div>
      <div class="clear"></div>
    </div>
    End 2 listing type ---> 
    
     <!-- 3 listing type --->
    <div class="searchResult">
 <div class="imgBox"><img src="{!URLFOR($Resource.coleintracss,'images/IntraDoc.png')}" alt="ARCP Intranet" /></div>
      <div class="rghtDetail"><h1><apex:outputText value="{!IntranetDocument__kav.Title}" ></apex:outputText>     </h1> <p><apex:outputText value="{!IntranetDocument__kav.Document_Description__c}" ></apex:outputText>  <br/><br/>
Created by: {!IntranetDocument__kav.LastModifiedBy.Name} - <apex:outputText value="{0,date,MM'/'dd'/'yyyy}"> <apex:param value="{!IntranetDocument__kav.LastModifiedDate}" /> </apex:outputText> </p> </div>
      
      <div class="btnBox"><apex:outputLink target="__blank"  value="{!URLFOR($Action.IntranetDocument__kav.FileFieldDownload,IntranetDocument__kav.id,
                                            ['field'=$ObjectType.IntranetDocument__kav.fields.Document__Name__s.name])}">View/Download</apex:outputLink></div>
      <div class="clear"></div>
    </div>
    <!-- End 3 listing type ---> 
                
               
                
              </div>
              
      
</apex:page>