<apex:page controller="EC_SearchOrCreateEntityClass" tabStyle="Deal__c" sidebar="False" showHeader="False" id="pg">
<style>
    .activeTab {background-color:#069191; color:white; 
        background-image:none}
    .inactiveTab { background-color: lightgrey; color:black; 
        background-image:none}
</style>
           
<script language="javascript" type="text/javascript"> 
<script language="JavaScript1.2" src="/js/functions.js"></script>
<script src="/soap/ajax/9.0/connection.js" type="text/javascript"></script>
<script id="clientEventHandlersJS" language="javascript">

function CloseAndRefresh()
{ 

    sforce.connection.sessionId = '{!$Api.Session_ID}';
    var dealId = '{!JSENCODE(HTMLENCODE($CurrentPage.URL))}';
    var eName = document.getElementById('pg:frm:eBlock:pbs:eName').value;
    if(eName == null || eName == '')
    {
        alert('Please enter Entity Name.');
        eName.focus();
        //return false;
    }
    if(eName!=null || eName!='')
    {
        //var EntityCheck = sforce.connection.query("select Id,Name from Entity__c where Name!=Null");
        var EntityCheck = sforce.connection.query("select Id,Name from Entity__c where Name = '" + eName + "'");
        var records = EntityCheck.getArray("records");

        for (var i=0;i< records.length; i++) 
        {
            var record = records[i];
            if(eName == record.Name)
            {
                alert('Entity already exists, Please enter a different value');
                eName.focus();
            } 
        }
    }
    Save(); 
    alert('Workspace create request has been sent to Autonomy, Please wait for Email Confirmation');
   
    
}

function cmdlink()
{ 

    sforce.connection.sessionId = '{!$Api.Session_ID}';
   // var dealId = '{!$CurrentPage.URL}';
    var dealId ='{!JSENCODE(HTMLENCODE($CurrentPage.URL))}';
   //window.parent.location ='https://cs2.salesforce.com/?Id=+dealId';
     window.parent.location ='{!$Label.ParentLocation}'+dealId;
 
}

        
function GoButton(e)
{               
    if(window.event)
    {                    
        key = window.event.keyCode;    //IE               
    } 
    else
    {                    
        key = e.which;     //firefox               
    }               
    if(key == 13) 
    {                    
        var ele = document.getElementById('pg:frm:btnGo');                                                               
        ele.click();                          
        return false;               
    } 
    else
    {                    
        return true;                   
    }          
}

function SaveButton(e)
{               
    if(window.event)
    {                    
        key = window.event.keyCode;    //IE               
    } 
    else
    {                    
        key = e.which;     //firefox               
    }               
    if(key == 13) 
    {                   
        var ele = document.getElementById('pg:frm:eBlock:blkbtn:btnSave');                                                            
        ele.click();                  
        return false;               
    } 
    else   
    {                    
        return true;   
                  
    }
      

}  
</script>
    
<apex:form id="frm">
    <apex:inputhidden value="{!objdeal.Id}" id="deal"/>
    <apex:outputPanel id="page" layout="block" style="margin:5px;padding:10px;padding-top:2px;">
        <apex:tabPanel switchType="client" selectedTab="tab1" id="tabbedPanel" tabClass="activeTab" inactiveTabClass="inactiveTab" style="height:500px;">
            <!-- SEARCH TAB -->
            <apex:tab label="Search" name="tab1" id="tabOne" style="font-size:11px;font-weight:bold;width:250px;">
                <apex:actionRegion >  
                    <apex:outputPanel id="top" layout="block" style="font-size:12px;margin:5px;padding:10px;padding-top:2px;">
                        <apex:outputLabel value="Search" style="font-size:12px;font-weight:Bold;padding-right:14px;" for="txtSearch"/>
                            <apex:inputText id="txtSearch" value="{!searchString}" onkeypress="return GoButton(event)" style="height:17px;width:160px"/>
                             <span style="padding-left:5px"> <apex:commandButton id="btnGo" value="Go"  action="{!Search}" reRender="searchResults"></apex:commandButton> </span>
                            <span style="padding-left:5px"> <apex:commandButton value="Back To Deal" style="font-size:12px;font-weight:Bold;padding-right:10px;" action="{!CancelEntity}" immediate="True"></apex:commandButton> </span>
                          </apex:outputPanel>                     
                        <apex:outputPanel id="pnlSearchResults" style="margin:10px;height:350px;overflow-Y:auto;" layout="block">
                        <apex:pageBlock id="searchResults"> 
                            <apex:pageBlockTable value="{!results}" var="a" id="tblResults">
                                <apex:column >
                                    <apex:facet name="header">
                                        <apex:outputPanel >Name</apex:outputPanel>
                                    </apex:facet>
                                    <!--<apex:outputLink value="javascript:top.window.opener.lookupPick2('{!FormTag}','{!TextBox}_lkid','{!TextBox}','{!a.Id}','{!a.Name}', false)" rendered="{!NOT(ISNULL(a.Id))}">{!a.Name}</apex:outputLink>--> 
                                    <apex:commandLink value="{!a.Name}" reRender="frm">    
                                        <apex:actionSupport event="onclick" action="{!dealUpd}" reRender="frm"> 
                                        <apex:param value="{!a.Id}"  assignTo="{!entyId}" name="entyId"/>  
                                        </apex:actionSupport>        
                                    </apex:commandLink>                        
                                </apex:column>
                                <apex:column >
                                    <apex:facet name="header">
                                        <apex:outputPanel style="font-size:12px;margin:2px;padding:2px;padding-top:15px;" >Category</apex:outputPanel>
                                    </apex:facet>
                                    <apex:outputText value="{!a.Category__c}" rendered="{!NOT(ISNULL(a.Id))}"/> 
                                </apex:column>
                                <apex:column >
                                    <apex:facet name="header">
                                        <apex:outputPanel style="font-size:12px;margin:2px;padding:2px;padding-top:15px;" >Entity Type</apex:outputPanel>
                                    </apex:facet>
                                    <apex:outputText value="{!a.Entity_Type__c}" rendered="{!NOT(ISNULL(a.Id))}"/> 
                                </apex:column>
                                <apex:column >
                                    <apex:facet name="header">
                                        <apex:outputPanel style="font-size:12px;margin:2px;padding:2px;padding-top:15px;" >Address</apex:outputPanel>
                                    </apex:facet>
                                    <apex:outputText value="{!a.Address__c}" rendered="{!NOT(ISNULL(a.Id))}"/> 
                                </apex:column>
                                <apex:column >
                                    <apex:facet name="header">
                                        <apex:outputPanel style="font-size:12px;margin:2px;padding:2px;padding-top:15px;" >State</apex:outputPanel>
                                    </apex:facet>
                                    <apex:outputText value="{!a.State__c}" rendered="{!NOT(ISNULL(a.Id))}"/> 
                                </apex:column>
                                <apex:column >
                                    <apex:facet name="header">
                                        <apex:outputPanel style="font-size:12px;margin:2px;padding:2px;padding-top:15px;" >Status</apex:outputPanel>
                                    </apex:facet>
                                    <apex:outputText value="{!a.Status__c}" rendered="{!NOT(ISNULL(a.Id))}"/> 
                                </apex:column>
                                <apex:column >
                                    <apex:facet name="header">
                                        <apex:outputPanel style="font-size:12px;margin:2px;padding:2px;padding-top:15px;" >Active Entity</apex:outputPanel>
                                    </apex:facet>
                                    <apex:outputText value="{!a.Active_Entity__c}" rendered="{!NOT(ISNULL(a.Id))}"/> 
                                </apex:column>
                                <apex:column >
                                    <apex:facet name="header">
                                        <apex:outputPanel style="font-size:12px;margin:2px;padding:2px;padding-top:15px;" >Current Manager</apex:outputPanel>
                                    </apex:facet>
                                    <apex:outputText value="{!a.Current_Manager__c}" rendered="{!NOT(ISNULL(a.Id))}"/> 
                                </apex:column>
                                <apex:column >
                                    <apex:facet name="header">
                                        <apex:outputPanel style="font-size:12px;margin:2px;padding:2px;padding-top:15px;" >Depositor</apex:outputPanel>
                                    </apex:facet>
                                    <apex:outputText value="{!a.Depositor__c}" rendered="{!NOT(ISNULL(a.Id))}"/> 
                                </apex:column>
                                <apex:column >
                                    <apex:facet name="header">
                                        <apex:outputPanel style="font-size:12px;margin:2px;padding:2px;padding-top:15px;" > Workspace Description</apex:outputPanel>
                                    </apex:facet>
                                    <apex:outputText value="{!a.Workspace_Description__c}" rendered="{!NOT(ISNULL(a.Id))}"/> 
                                </apex:column>
                                <apex:column >
                                    <apex:facet name="header">
                                        <apex:outputPanel style="font-size:12px;margin:2px;padding:2px;padding-top:15px;" >Workspace Email</apex:outputPanel>
                                    </apex:facet>
                                    <apex:outputText value="{!a.Workspace_Email__c }" rendered="{!NOT(ISNULL(a.Id))}"/> 
                                </apex:column>       
                            </apex:pageBlockTable>
                            <font color="blue"> 
                            <apex:outputText rendered="{!(results.size = 0)}" value="No match found, Please create a new Entity " style="font-size:13px;margin:2px;padding:2px;padding-top:15px;"/>
                            </font>   
                        </apex:pageBlock>
                    </apex:outputPanel>
                </apex:actionRegion>           
            </apex:tab>
            
            <!-- NEW Entity TAB -->
             <apex:tab label="New Entity" name="tab2" id="tabTwo" style="font-weight:bold;width:250px;">
                <apex:pageBlock id="eBlock"  >                
                    <apex:pageBlockButtons id="blkbtn" >                          
                       <apex:commandButton id="btnSave" value="Save" reRender="frm" style="font-size:12px;font-weight:Bold;padding-right:10px;" onclick="CloseAndRefresh()"  >
                        <apex:actionFunction name="Save" action="{!Save}" rerender="pg,frm,eBlock"/>
                        </apex:commandButton>  
                        <apex:commandButton action="{!CancelEntity}" value="Back To Deal" style="font-size:12px;font-weight:Bold;padding-right:10px;" immediate="True"/> 
                    </apex:pageBlockButtons>   
                    <apex:pageBlockSection title="Information" collapsible="False" columns="2" id="pbs">
                        <apex:inputField id="eName" value="{!objenty.Name}" onkeypress="return SaveButton(event)" required="True"/>                
                        <!--<apex:inputField value="{!objenty.Name}" id="eName" required="True"/>-->
                        <apex:inputField value="{!objenty.Entity_Type__c}" id="EType" />
                        <apex:inputField value="{!objenty.DBA__c}" id="DBA" />
                        <apex:inputField value="{!objenty.Governing_Doc__c}" id="gdoc" />
                        <apex:inputField value="{!objenty.Prior_Name__c}" id="pname"/>
                        <apex:inputField value="{!objenty.Governing_Doc_Date__c}" id="gdocdate"/>
                        <apex:inputField value="{!objenty.Transferred__c}" id="trans"/>
                        <apex:inputField value="{!objenty.REIT_Affiliation__c}" id="Raffil"/>                          
                    </apex:pageBlockSection>
                </apex:pageBlock>   
            </apex:tab>
        </apex:tabPanel>
    </apex:outputPanel>
</apex:form>
</apex:page>