<apex:page standardController="Event_Automation_Request__c" extensions="fundSplitclass"> 
 <apex:form id="Myid">
  <apex:pageMessages id="erro1"/>
    <apex:pageBlock tabStyle="account" id="membAdd" >
    <div align="center">
    <apex:commandButton action="{!newProgram}" value="Add Fund Split" style="width:110px;align:center" reRender="addProgId,Myid" rendered="{!IF($Profile.Name='Accounting',false,true)}"/>
    </div>
     <apex:outputPanel id="addProgId" >
        <apex:pageBlockSection rendered="{!addnew}" columns="1">
         <apex:actionStatus id="callliststatus" startStyle="font-weight:bold;color:blue" startText="Please wait loading ................" />
      <apex:outputPanel >
      <apex:actionRegion >
        <apex:commandLink action="{!savenewProg}" value="Save"  /> &nbsp;
        <apex:commandLink action="{!cancelnewProg}" value="Cancel" reRender="addProgId" /> 
        </apex:actionRegion>
         </apex:outputPanel>
        <apex:inputField value="{!addrow.Fund_Split__c}" required="true"/>
         <apex:inputField label="Fund Split(%)" value="{!addrow.Fund_Split_Percentage__c}" required="true"/>
          </apex:pageBlockSection>
        <apex:pageBlockTable value="{!memberList}"  var="event1" width="100%" align="top"  >
          <apex:column width="50px" headerValue="Action" rendered="{!IF($Profile.Name='Accounting',false,true)}">
             <apex:facet name="header"></apex:facet>
                  <!--</apex:commandLink>&nbsp;<span style="color:lightgrey;">|</span>&nbsp;  ---->  
                     <apex:commandLink action="{!EditRecord}" value="Edit" reRender="membAdd" rendered="{!if(recordId==event1.Id && edit==true,false,true)}" style="color:#527ACC"> 
                    <apex:param assignTo="{!conid}" value="{!event1.id}" name="assignvalue" />
               </apex:commandLink> 
            <apex:commandLink action="{!SaveRecord}" value="Save" reRender="membAdd,erro1" rendered="{!if(recordId==event1.Id && edit==true,true,false)}" style="color:#527ACC">
                    <apex:param assignTo="{!conid}" value="{!event1.id}" name="assignvalue" />
               </apex:commandLink>&nbsp;<span style="color:lightgrey;">|</span>
                   <apex:commandLink onclick="return confirm('Are you sure?')" value="Del" action="{!removecon}" style="color:#527ACC">
                    <apex:param assignTo="{!conid}" value="{!event1.id}" name="assignvalue" />                    
               </apex:commandLink>                               
            </apex:column>
            <apex:column HeaderValue="Fund" width="200px">
                  <apex:outputField value="{!event1.Fund_Split__c}" rendered="{!if(recordId==event1.Id && edit==true,false,true)}"/>
                  <apex:inputField value="{!event1.Fund_Split__c}" rendered="{!if(recordId==event1.Id && edit==true,true,false)}" />
           </apex:column>
               <apex:column headervalue="Fund Split" width="200px">
                <apex:outputField value="{!event1.Fund_Split_Percentage__c}" rendered="{!if(recordId==event1.Id && edit==true,false,true)}"/>
                    <apex:inputField value="{!event1.Fund_Split_Percentage__c}" rendered="{!if(recordId==event1.Id && edit==true,true,false)}" />
                </apex:column>         
            </apex:pageBlockTable> 
          
           </apex:outputPanel>
               
      </apex:pageBlock>
    </apex:form>
</apex:page>