<apex:page showHeader="false" standardController="GoGreen__kav" standardStylesheets="false" sidebar="false" >
<apex:define name="header">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:200,200italic' rel='stylesheet' type='text/css' />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" href="{!URLFOR($Resource.coleintracss,'css/reset.css')}" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="{!URLFOR($Resource.coleintracss,'css/style.css')}" type="text/css" media="screen" charset="utf-8" />
  <style>
.linksbgmid a {
    font-weight: normal !important;
    margin-left: 10px;
    color: #6e9934;
    text-decoration: none;
}
body {
    background: none;
    line-height: 1;
}
.fc-toolbar {
    border-top:none!important;
}
</style>
</apex:define>
<div class="contentWrapper showcontet_6">
  <div style="right: -8px; display: block;"> 
  <div class="leftContent" style="display:block;">
    <h2>
      <apex:outputText value="{!GoGreen__kav.GG_Title__c}" escape="false"></apex:outputText>
    </h2>
    <span id="subtitlen" class="subtitle">
    <apex:outputText value="{!GoGreen__kav.GG_SubTitle__c}" escape="false"></apex:outputText>
    </span> <span class="fc-toolbar goDate">
    <apex:outputText value="{!GoGreen__kav.GG_StartEnd_Date__c}" escape="false"></apex:outputText>
    </span> <br/>
    <apex:outputText value="{!GoGreen__kav.Content__c}" escape="false"></apex:outputText>
    </div> 
    
    <div class="rightContent" style="display:block;"> <span class="linksbg"> <span style="background:#002d3d;" class="linksbgmid"> <strong>Entry Form</strong><br/>
    <a target="_blank" href="/servlet/servlet.FileDownload?file=00PW0000003FcQQMA0">Enter to win for this quarter!</a><br/>
    <br/>
    <strong>Quick Links</strong><br/>
    <a target="_blank" href="http://www.valleymetro.org">Valley Metro</a><br/>
    <a target="_blank" href="http://www.phoenixvis.net">Phoenix Visibility Webcam</a><br/>
    <a target="_blank" href="http://cleanairmakemore.com">Clean Air Make More</a><br/>
    <a target="_blank" href="http://www.earth911.com">Earth 911</a><br/>
    <a target="_blank" href="http://www.az511.gov/adot/files/cameras">Traffic Cams</a><br/>
    <a target="_blank" href="http://www.airnow.gov">AIRNow</a><br/>
    <br/>
    <strong>Questions?</strong><br/>
    <a  href="mailto:KDunham@arcpreit.com?Subject=Intranet%20Article" target="_top">Click here to email us.</a> </span> </span> <span class="Banner"> <img title="Banner" src="{!$Label.Intranet}/servlet/servlet.FileDownload?file=00P5000000W0pe5EAB" alt="Banner" /> </span> </div>
    
    
     </div>
</div>
</apex:page>