<apex:page controller="cms.CoreController" id="StantiveTemplate" standardStylesheets="false" showHeader="false" sidebar="false" docType="html-5.0" manifest="/apex/CacheManifest"  cache="false"  >
<apex:composition template="{!page_template_reference}">
<apex:define name="header">
<!-- Facebook Pixel Code -->
<script>

!function(f,b,e,v,n,t,s)


{if(f.fbq)return;n=f.fbq=function(){n.callMethod?


n.callMethod.apply(n,arguments):n.queue.push(arguments)};


if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';


n.queue=[];t=b.createElement(e);t.async=!0;


t.src=v;s=b.getElementsByTagName(e)[0];


s.parentNode.insertBefore(t,s)}(window,document,'script',


'https://connect.facebook.net/en_US/fbevents.js');


fbq('init', '1727600090886247'); 


fbq('track', 'PageView');

</script>
<noscript>
<img height="1" width="1" 
src="https://www.facebook.com/tr?id=1727600090886247&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet" type="text/css" />
  <link href="{!URLFOR($Resource.inav_kit_css, 'style/style-green.css')}" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
  <script type="text/javascript" src="{!URLFOR($Resource.colecapitaljs,'scripts/jquery.min.js')}"></script>
      <script>
       var jq = $.noConflict();
    </script>
    <script type="text/javascript" src="{!URLFOR($Resource.colecart,'javascript/cart.js')}"></script> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="icon" href="{!URLFOR($Resource.colecapitalcss,'img/favicon.ico')}" type="image/x-icon" />
<script>
    var doc = document.documentElement;
    doc.setAttribute('data-useragent', navigator.userAgent);
</script>
<style>
    #ocms-mask {
        display:none;
    }
    body.ocms.OCMS-Edit nav#myNavbar {
        position: relative;
        z-index:1;
    }
    .OCMS-Edit div#newsFeed {
        display: block!important;
    }
    .OCMS-Edit div#newsFeed .container .dbluebgColor .newsMarquee {
        width: 100%!important;
    }
</style>
  <apex:includeScript value="{!$Resource.ModalPopupWindow}"/>
</apex:define>
<apex:define name="body">
<header class="loginHeader">
<div class="leftPull" id="logo"><a href="https://www.colecapital.com" target="_blank"><img src="{!URLFOR($Resource.colecapitalcss,'images/header_logo.png')}" alt="" /></a></div>
<div class="rightPull" id="titleRight">
<div class="orngLnk mb7px">Cole Capital Daily NAV</div>
<div class="grayLnk">Digital Investor Kit</div>
</div>
<div class="clearfix"></div>
</header>
<section class="loginSection">
<div id="wrapper">
        <cms:Panel panelName="Container" panelController="{!controller}"  panelHeight="200px" panelWidth="1000px" />
        <cms:Panel panelName="Footer" panelController="{!controller}"  panelHeight="200px" panelWidth="1000px" />
  </div>
</section>
</apex:define>
</apex:composition>
</apex:page>