<apex:page showHeader="false" standardController="FundPortFolio__kav" standardStylesheets="false" sidebar="false" >
    <apex:define name="header">
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link href='https://fonts.googleapis.com/css?family=Titillium+Web:200,200italic' rel='stylesheet' type='text/css' />
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet' type='text/css' />
      <link rel="stylesheet" href="{!URLFOR($Resource.coleintracss,'css/reset.css')}" type="text/css" media="screen" charset="utf-8" />
      <link rel="stylesheet" href="{!URLFOR($Resource.coleintracss,'css/style.css')}" type="text/css" media="screen" charset="utf-8" />
          <style>
            .tabs .active a { background:none; font-weight:bold; }
            .ccpdetail { float:left; width:72%;}
            .flimg{ float:left; width:155px;}
            .CCPT li{ display:block !important; min-height:auto !important; }
            body {
    background: none;
    line-height: 1;
}
          </style>
    </apex:define>

    <div class="contentWrapper">
            <div class="leftContent">
                <h2>Investment Programs<br/>
                <span class="subtitle">For Internal Use Only</span></h2>
                <br/>
                <br/>
                <br/>
                <div class="tab_container">
                    <div class="tab_content" id="tab3" style="display: block;">
                            <strong>
                                 <p>{!FundPortFolio__kav.Latestupdate__c} </p>
                            </strong>
                            <div class="flimg">
                                <img style="width: 150px; height: 194px; margin-right: 4%;" src="{!FundPortFolio__kav.ProgramImageLink__c}"/>
                            </div>
                            <div class="ccpdetail"> 
                           <apex:outputText value="{!FundPortFolio__kav.ProgramOverview__c}" escape="false"></apex:outputText>     
                                    <strong>
                                        <apex:outputLink target="__blank"  value="{!URLFOR($Action.FundPortFolio__kav.FileFieldDownload,FundPortFolio__kav.id,
                                            ['field'=$ObjectType.FundPortFolio__kav.fields.ProgramDocument__Name__s.name])}">Get the 411 &gt;&gt; </apex:outputLink>
                                    </strong>
                            </div>
                    </div>
                </div>
            </div>
            <div align="left" class="rightContent">
                <img style="width: 260px; height: 109px; margin-left: 10%;" src="/servlet/servlet.FileDownload?file=00PW0000002e9LBMAY"/>
                <div class="linksbg">
                    <span class="linksbgmid">
                        <strong>Questions?</strong>
                        <br/>
                            To encourage greater comprehension and promote a two-way dialogue, we want to prompt you for any questions you might have regarding today's 411
                        <br/>
                        <strong>
                           <a href="mailto:Colecapital411@colecapital.com?Subject=subject" target="_top">Contact Us</a> 
                        </strong> 
                    </span>
                </div>
            </div>
    </div>  
</apex:page>