<apex:page controller="cms.CoreController" id="StantiveTemplate" showHeader="false" sidebar="false" >
<apex:composition template="{!page_template_reference}">
<apex:define name="header">

<link rel="stylesheet" href="{!URLFOR($Resource.coleassets,'print.css')}" type="text/css" media="print" charset="utf-8" />
<link rel="stylesheet" href="{!URLFOR($Resource.irrassets5,'cole.css')}" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" href="{!URLFOR($Resource.JsImgSlider,'themes/1/js-image-slider.css')}" type="text/css" media="screen" charset="utf-8" />
<script src="{!URLFOR($Resource.JsImgSlider,'themes/1/js-image-slider.js')}" type="text/javascript"></script>
<script src="{!URLFOR($Resource.irrassets5,'cole-plugins.js')}" type="text/javascript"></script>
<apex:includeScript value="{!$Resource.ModalPopupWindow}"/>
<script language="Javascript">
    modalWin = new CreateModalPopUpObject();
</script>

</apex:define>
<apex:define name="body">

<div class="wrapper" >
<div id="ctl11_Header1_divTopBar" class="topBar"></div>
    <div class="header" id="header" >
    <div style="float: right; width:500px; margin-top:14px;">
        <div id="ctl11_Header1_divWelcome" style="float:right; color:rgb(164, 93, 14);font-family:Verdana,Arial,sans-serif;font-size:30px">
            Welcome to the IRR<br/>
        </div>
        <div style="margin-top:5px;float:right; color:rgb(164, 93, 14);font-family:Verdana,Arial,sans-serif;font-size:20px">Information Research Repository
        </div>
    </div>
        <div id="welcomeWrap" class="welcomeWrap" >
            <div class="fpName" >
                
            </div>
        </div>
        <div id="ctl11_Header1_divLogoWrap" class="logo" >
            <a id="ctl11_Header1_hlLogo" href="{!$Label.Current_Cms_Org_Url}/apex/Main?sname=IRR"><span>Cole Real Estate Investments</span></a>
        </div>
    </div>
    <div class="navContainer">
        <div id="mainNav" class="nav">
                    <ul id="menu">
                      <li class="mega"> <a class="parent" href="{!$Label.Current_Cms_Org_Url}/apex/Main?sname=IRR">Home</a>
                      </li>
                      <li class="mega selected"><a class="parent" href="{!$Label.Current_Cms_Org_Url}/apex/Main?sname=IRR&name=IRRAboutUs">About Us</a>
                      </li>
                      <li class="mega"><a class="parent last" href="mailto:isrgrequest@colecapital.com">Contact Us</a>
                      </li>
                    </ul>
        </div>
    </div>
    <script type="text/javascript">

    $(document).ready(function () {
        $('#ctl11_Header1_txtSearchKeywords').keyup(function (event) {
            if (event.keyCode == 13) { submitSiteSearch($('#ctl11_Header1_txtSearchKeywords').val()); }
        });

    });
    function submitSiteSearch(searchVal) {
        if (searchVal != '')
            document.location = '/search/results?k=' + searchVal;
    }

    function addMega() {
        $(this).addClass("hovering");
        if (!$('li.hovering div.inner').hasClass('equalHeights')) {
            $('li.hovering div.inner').addClass("equalHeights");
            $('li.hovering div.inner').equalHeights();
        }
    }

    function removeMega() {
        $(this).removeClass("hovering");
    }    

    var megaConfig = {
        interval: 100,
        sensitivity: 4,
        over: addMega,
        timeout: 100,
        out: removeMega
    };

    $("li.mega").hoverIntent(megaConfig);
    $('#menu').limenupadding();

</script>
    <div>
        <div class="container">
            <div class="containerMiddle">
            <!-- START INNER CONTENT -->
              <div class="innerContainer inside-style">
                  <div class="heading-page"><h1>About Us</h1></div>
                    <div class="innerContainerRight">
                        <cms:Panel panelName="section6" panelController="{!controller}" panelHeight="200px" panelWidth="150px" />
                    </div>
                <div class="tabSwitchTop">
                        <div class="hero">
                            <div>
                                <div id="heroContent" class="heroContent" >
                                    <div class="heroPhoto current">
                                        <div class="transbox" style="margin-left:20px">
                                          <div>
                                                <cms:Panel panelName="section7" panelController="{!controller}" panelHeight="200px" panelWidth="180px" />
                                          </div>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                  </div>
                <!-- START RIGHT COLUMN -->
                </div>
                
                 <div class="containerBottomImage" style="margin-left:-4px;margin-bottom:10px;"> <div >
                        <!--<div style="padding:0px 0px 0px 10px; font-family:DejaVu Serif Condensed;font-size:18px;font-weight:bold;color:#A45D0E;height:40px;width:880px;">
                            Cole News &raquo;
                        </div>-->
                        <cms:Panel panelName="section4" panelController="{!controller}" panelHeight="200px" panelWidth="880px" />
                    </div> </div>
            </div>
           
        </div>            
        <!-- end div wrapper -->
    </div>
</div>
</apex:define>
</apex:composition>
</apex:page>