<apex:page standardController="LC_LeaseOpprtunity__c" extensions="LC_MasterLeaseGridPageCLS,LC_SubMasterLeaseGridPagecls" showHeader="false" sidebar="false" Id="pg" >


<script type="text/javascript" >

    var checked = false;
    function isAtleastOneCheckboxSelected(obj,receivedInputID)
    {
        var inputCheckBox = document.getElementsByTagName("input");
        checked = false;
        for(var i=0; i<inputCheckBox.length; i++){
            if(inputCheckBox[i].type == 'checkbox')
            {
                if(obj != null)
                {
                    inputCheckBox[i].checked = obj.checked;
                    checked = obj.checked;
                }
                else if(inputCheckBox[i].checked == true)
                {
                    checked = true;
                    return true;
                }
            }
        }
    }
   
    function selectAllCheckboxes(obj, isButtonClicked)
    {
        isAtleastOneCheckboxSelected(obj)
        if((isButtonClicked == true) && (checked == false))
            alert("You should select a record.");
    }
    
    function RefreshPrimaryTab(id) 
    {
        
            window.top.location.href = '/' + id;
    }
</script>

 <apex:pageMessages id="showmsg"></apex:pageMessages>
    <apex:form id="formid">
    <br> </br> 
        <apex:variable var="v" value="" rendered="{!ShowMasterGrid=True}"> 
            <apex:pageBlock title="Existing Master Lease Information" id="pb1" >
             
                <apex:pageBlockButtons >
                    <apex:commandButton value="Create New Master Lease"  style="font-weight:bold;color:#527ACC"  reRender="outerPanel,showmsg" action="{!Selectrec}" onclick="selectAllCheckboxes(null, true)"  status="waitStatus" oncomplete="RefreshPrimaryTab('{!recId}'); return true;" />
                    <!-- <apex:commandLink value="Create Master Lease" action="{!Selectrec}" onclick="selectAllCheckboxes()" target="_blank"/>-->
                </apex:pageBlockButtons>

                <apex:pageBlockSection columns="1"  Id="pbs1">
                    <apex:pageBlockTable value="{!wrapLeaseList}" var="leases" align="top" width="100%;"  id="pbt">
                        <apex:column width="3%">
                            <apex:facet name="header">
                            <apex:inputCheckbox onclick="selectAllCheckboxes(this,false)" />
                            </apex:facet>
                            <apex:inputCheckbox value="{!leases.selected}" id="inputId"/>
                        </apex:column>
                        <apex:column headerValue="Master Lease Id"  width="7%">
                            <apex:outputtext value="{!leases.Leas.Master_Lease_ID__c}"/>
                        </apex:column>
                        <apex:column headerValue="MRI Property"  width="12%">
                            <apex:outputlink value="/{!leases.Leas.MRI_PROPERTY__c}" target="_blank" >{!leases.Leas.MRI_PROPERTY__r.name}</apex:outputlink>
                        </apex:column>
                        <apex:column headerValue="Building Id"  width="7%">
                            <apex:outputtext value="{!leases.Leas.MRI_PROPERTY__r.Property_ID__c}"/>
                        </apex:column>
                        <apex:column headerValue="Lease" width="10%">
                            <apex:outputlink value="/{!leases.Leas.Id}" target="_blank" >{!leases.Leas.Name}</apex:outputlink>
                        </apex:column>
                        <apex:column headerValue="Lease Id"  width="7%">
                            <apex:outputtext value="{!leases.Leas.MRI_Lease_ID__c}"/>
                        </apex:column>
                        <apex:column headerValue="Center Name"  width="12%">
                            <apex:outputText value="{!leases.Leas.Center_Name__c }"/>
                        </apex:column>
                        <apex:column headerValue="Local Tenant Concept Name"  width="12%">
                            <apex:outputtext value="{!leases.Leas.Tenant_Name__c}"/>
                        </apex:column>
                        <apex:column headerValue="GLA(Suite SQFT)"  width="7%">
                            <apex:outputtext value="{!leases.Leas.Suite_Sqft__c}"/>
                        </apex:column>
                        <apex:column headerValue="Going in_NOI"  width="7%">
                            <apex:outputtext value="{!leases.Leas.MRI_PROPERTY__r.NOI__c}"/>
                        </apex:column>
                        <apex:column headerValue="Lease Expiration Date"  width="7%">
                            <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                            <apex:param value="{!leases.Leas.Expiration_Date__c}" /> 
                            </apex:outputText>
                        </apex:column>
                        <apex:column headerValue="Property Owner(SPE)"  width="15%">
                            <apex:outputtext value="{!leases.Leas.MRI_PROPERTY__r.Property_Owner_SPE__r.Name}"/>
                        </apex:column>                   
                    </apex:pageBlockTable>               
                </apex:pageBlockSection>  
            </apex:pageBlock>
   <apex:outputPanel id="outerPanel"   rendered="{!hmlList.size!=0}">
           <!--<apex:outputPanel id="outerPanel"  rendered="{!NOT(ISBLANK(hmlList))}">-->
                
            <apex:pageBlock mode="Inlineedit" title="New Master Lease Information" Id="selectedItems">
            
                <apex:pageBlockButtons >
                    <!--<apex:commandButton action="{!edit}" id="editButton" value="Edit"/>-->
                    <apex:commandButton action="{!recupdate}" id="saveButton" value="Save Changes"/>&nbsp;&nbsp;&nbsp;&nbsp;
                    <apex:commandButton action="{!reset}"  onclick="resetInlineEdit()" id="cancelButton" value="Cancel"/>
                </apex:pageBlockButtons>

                <apex:actionFunction status="outStatus"  name="yacks" rerender="selectedItems" />
                <apex:pageBlockTable value="{!hmlList}" var="hml" id="recs" align="top" width="100%;">
                    
                    <apex:column headervalue="Action" headerClass="selectedStyle" width="2%">
                    <apex:commandLink value="Del"  onclick="if(!confirm('Are you sure?')){return};" action="{!Delete1}" reRender="recs" oncomplete="RefreshPrimaryTab('{!recId }'); return true;"  status="waitStatus" style="font-weight:bold;color:#527ACC">
                    <apex:param value="{!hml.id}" name="delname" />
                    </apex:commandLink>
                    </apex:column>
                    <apex:column headerValue="Master Lease Id"  width="5%">
                    <apex:outputtext value="{!hml.Master_Lease_Id__c}"/>
                    </apex:column>
                    <apex:column headerValue="MRI Property"  width="12%">
                    <apex:outputlink value="/{!hml.MRI_Property__c}" target="_blank" >{!hml.MRI_PROPERTY__r.name}</apex:outputlink>
                    </apex:column>
                    <apex:column headerValue="Building Id"  width="7%">
                    <apex:outputtext value="{!hml.Building_Id__c}"/>
                    </apex:column>
                    <apex:column headerValue="Lease" width="10%">
                    <apex:outputlink value="/{!hml.Lease__r.Id}" target="_blank" >{!hml.Lease__r.Name}</apex:outputlink>
                    </apex:column>
                    <apex:column headerValue="Lease Id"  width="7%">
                    <apex:outputtext value="{!hml.Lease_Id__c}"/>
                    </apex:column>
                    <apex:column headerValue="Center Name"  width="12%">
                    <apex:outputText value="{!hml.Name__c }"/>
                    </apex:column>
                    <apex:column headerValue="Local Tenant Concept Name"  width="12%">
                    <apex:outputtext value="{!hml.LTC_Name__c}"/>
                    </apex:column>
                    <apex:column headerValue="GLA(Suite SQFT)"  width="7%">
                    <apex:outputtext value="{!hml.GLA_Suite_SQFT__c}"/>
                    </apex:column>
                    <apex:column headerValue="Going in_NOI"  width="7%">
                    <apex:outputField value="{!hml.Going_on_NOI1__c}">
                    <apex:inlineEditSupport showOnEdit="saveButton, cancelButton" event="ondblclick" changedStyleClass="myBoldClass" resetFunction="resetInlineEdit"/>
                    </apex:outputField>
                    </apex:column>
                    <apex:column headerValue="Lease Expiration Date"  width="7%">
                    <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                    <apex:param value="{!hml.Lease_Expiration_Date__c}" /> 
                    </apex:outputText>
                    </apex:column>
                    <apex:column headerValue="Property Owner(SPE)"  width="10%">
                      <apex:outputtext value="{!hml.Property_Owner_SPE__c}"/>
                    </apex:column>    
                    <apex:column headerValue="Additional Information"  width="7%">
                    <apex:outputField value="{!hml.Additional_Information__c}">
                    <apex:inlineEditSupport showOnEdit="saveButton, cancelButton" event="ondblclick" changedStyleClass="myBoldClass" resetFunction="resetInlineEdit"/>
                    </apex:outputField>
                    </apex:column>                         
                </apex:pageBlockTable>  
            </apex:pageBlock>
             </apex:outputPanel>
        </apex:variable>
        <apex:variable var="v" value="" rendered="{!ShowMasterGrid=False}">
            <apex:pageBlock >
                <font color="blue"> 
                    <b><apex:outputText value="No Records to Show. " style="font-size:13px;margin:2px;padding:2px;padding-top:15px;"/></b>
                </font>
            </apex:pageBlock> 
        </apex:variable>
    </apex:form>
</apex:page>