<apex:page standardController="LC_LeaseOpprtunity__c" extensions="LC_RemainingOptions"  showHeader="false" sidebar="false" >
    <apex:form >
   &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <apex:outputLabel value="Remaining Options Intact?" style="font-style:regular; font-weight:bold; font-size:11px; font-family:Helvetica" / >&nbsp; &nbsp; &nbsp; &nbsp; 
            <apex:inputField value="{!LeaseOpportunity.Remaining_Options_Intact__c}"   >
            <apex:actionSupport action="{!AdviserCallList}" event="onchange" status="callliststatus" reRender="Mypage"/>
             
             </apex:inputField> 
            <apex:actionStatus id="callliststatus" startStyle="font-weight:bold;color:blue" startText="Please wait loading ................" />
          
                 <apex:inputField value="{!LeaseOpportunity.RemainingOptions_Description__c}"> 
                  <apex:actionSupport action="{!AdviserCallList}" event="onchange" status="callliststatus" reRender="Mypage"/>
               
                    </apex:inputField> 
           
    </apex:form>
</apex:page>