<apex:page standardController="Lease_Charges_Request__c" id="MainPage" showHeader="false" cache="true" contentType="application/x-pdf#{!Lease_Charges_Request__c.Pdf_Name__c}">
 <apex:include pageName="LeaseChargesRequest"/>
</apex:page>