<apex:page controller="cms.CoreController" id="StantiveTemplate" showHeader="false" sidebar="false" >
  <apex:composition template="{!page_template_reference}">
    <apex:define name="header">
    <style type="text/css"> 
        body{
            margin-top: 0px;
            background-color: #FFFFFF;
            font-family: Arial, Helvetica, sans-serif;
            background-image: url("/servlet/servlet.FileDownload?file=00P5000000JFgOaEAL");
            background-repeat: repeat-x; }
            
        #container{
            width: 800px;
            margin-left: auto;
            margin-right: auto;
            margin-top:20px;
            background-color: white;
            border: 1px solid #000;
            border-radius: 0px 0px 5px 5px;
            position: relative; }
    
        #main {
            width: 750px;
            margin: auto; }
        
        #title {
            margin-top: 10px;
            font-size: 18px;
            font-weight: bold; }
        
        #date {
            font-weight: bold;
            text-align:center; }
        
        #footer {
            width: 790px;
            margin: 20px auto auto;
            padding: 5px 0px 5px 0px ;
            border-top: solid 1px gray;
            font-size: 12px; }

        .center {
            margin: auto; }
        
        #techhelp {
            float:right;
            font-style: italic;
            overflow: auto; }

/* CSS3 Buttons */      

        .button {
            display: inline-block;
            white-space: nowrap;
            background-color: #ccc;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
            background-image: -webkit-linear-gradient(top, #eee, #ccc);
            background-image: -moz-linear-gradient(top, #eee, #ccc);
            background-image: -ms-linear-gradient(top, #eee, #ccc);
            background-image: -o-linear-gradient(top, #eee, #ccc);
            background-image: linear-gradient(top, #eee, #ccc);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
            border: 1px solid #777;
            padding: 0 1.5em;
            margin: 0.5em;
            font: bold 1em/2em Arial, Helvetica;
            text-decoration: none;
            color: #333;
            text-shadow: 0 1px 0 rgba(255,255,255,.8);
            -moz-border-radius: .2em;
            -webkit-border-radius: .2em;
            border-radius: .2em;
            -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
            -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
            box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3); }

        .button:hover {
            background-color: #ddd;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
            background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
            background-image: -moz-linear-gradient(top, #fafafa, #ddd);
            background-image: -ms-linear-gradient(top, #fafafa, #ddd);
            background-image: -o-linear-gradient(top, #fafafa, #ddd);
            background-image: linear-gradient(top, #fafafa, #ddd);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd'); }

        .button:active  {
            -moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
            -webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
            box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
            position: relative;
            top: 1px; }

        .button:focus   {
            outline: 0;
            background: #fafafa; } 

        .button:before {
            background: #ccc;
            background: rgba(0,0,0,.1);
            float: left;
            width: 1em;
            text-align: center;
            font-size: 1.3em;
            margin: 0 1em 0 -1em;
            padding: 0 .2em;
            -moz-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
            -webkit-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
            box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
            -moz-border-radius: .15em 0 0 .15em;
            -webkit-border-radius: .15em 0 0 .15em;
            border-radius: .15em 0 0 .15em;
            pointer-events: none; }

/* Hexadecimal entities for the icons */

        .save:before {
            content: "\2714"; }

        .play:before {
            content: "\25B6"; }
        
    </style>
    </apex:define>
    <apex:define name="body">
      <!-- Body tags start -->
      
      <header>
      </header>
    <div id="container">
      <style type="text/css">body{
background:#292929 url(/resource/1446438728000/maintenance_images/Cole-Background.png) repeat top left;
}
.logoImg {
    margin: 0 auto;
    width: 242px;
}

.msgContainer {
    margin: 10% auto 0;
    text-align: center;
    width: 450px;
}
.msgContainer > p {
    color: #ffffff;
    margin-top: 50px;
    text-align: center;
    font-size: 14px;
}
.nextpop, .editForm1, .glassOverlay{
display:none;
}
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (orientation : landscape){
.msgContainer{
width:320px;
}
}
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (orientation : portrait){
.msgContainer{
width:320px;
}
}
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape){
.msgContainer{
width:360px;
margin: 0 auto;
}
#container {
margin: 0 auto;
}
}
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait){
.msgContainer{
width:360px;

}
}

#container {
    background:none;
    border: 0px solid #fff;
    width: auto;
    margin: 5% auto 0;
}
</style>
<div class="msgContainer">
<div class="logoImg"><img alt="" src="/resource/1446438728000/maintenance_images/Cole_big_logo.png" style="width: 100%;" /></div>

<p>Our site is currently under maintenance and will be back up shortly. We apologize for any inconvenience. Thank you.</p>
</div>

    </div>      
      

    </apex:define>
  </apex:composition>
</apex:page>