<apex:page standardController="Account" extensions="marketingIntelligenceClass" showHeader="false" sidebar="false"> 
<apex:form id="Myid">
    <apex:pageMessages />
    <apex:pageBlock tabStyle="account" id="membAdd" >
    <apex:pageBlockButtons location="top" >
        <apex:commandButton action="{!newProgram}" value="Attach file" reRender="addProgId,Myid"/>
      </apex:pageBlockButtons>
  
    <apex:outputPanel id="addProgId" >
     <apex:pageBlockSection rendered="{!addnew}" columns="6">

      <apex:outputPanel >
      <apex:actionRegion >
        <apex:commandLink action="{!savenewProg}" value="Save" /> &nbsp;
        <apex:commandLink action="{!cancelnewProg}" value="Cancel" reRender="addProgId" /> 
        </apex:actionRegion>
         </apex:outputPanel>
        
<apex:outputPanel id="outpannel" rendered="{!showInputFile}">
           <!--<apex:commandLink action="{!doSave}" value="Upload File" id="theButton" style="width:70px;" />-->
           <apex:inputFile value="{!contentFile}" filename="{!nameFile}"  />
        </apex:outputPanel>     
        <apex:inputField value="{!addrow.Description__c}" label="Description"/>
                  </apex:pageBlockSection>
    <apex:pageBlockTable value="{!memberList}"  var="memb" width="100%" align="top"  >
       <apex:column width="110px" >
            <apex:facet name="header">Action</apex:facet>
                <apex:commandLink action="{!EditRecord}" value="Edit" reRender="membAdd" rendered="{!if(recordId==memb.Id && edit==true,false,true)}" style="color:#527ACC"> 
                    <apex:param assignTo="{!conid}" value="{!memb.id}" name="assignvalue" />
               </apex:commandLink>   
                       
               <apex:commandLink action="{!SaveRecord}" value="Save" reRender="membAdd" rendered="{!if(recordId==memb.Id && edit==true,true,false)}" style="color:#527ACC">
                    <apex:param assignTo="{!conid}" value="{!memb.id}" name="assignvalue" />
               </apex:commandLink>&nbsp;<span style="color:lightgrey;">|</span>
             <!---<apex:commandLink action="{!ViewRecord}" value="View" rendered="{!if(recordId==memb.Id && edit==true,false,true)}" style="color:#527ACC">
                    <apex:param assignTo="{!conid}" value="{!memb.id}" name="assignvalue" />
               </apex:commandLink>&nbsp;<span style="color:lightgrey;">|</span>&nbsp;  ---->  
                   <apex:commandLink onclick="return confirm('Are you sure?')" value="Del" action="{!removecon}" style="color:#527ACC">
                    <apex:param assignTo="{!conid}" value="{!memb.id}" name="assignvalue" />                    
               </apex:commandLink>                               
            </apex:column>
                    <apex:column >                    
                        <apex:facet name="header">Attachment</apex:facet>
                        <apex:repeat value="{!memb.Attachments}" var="att" id="Repertid"> 
                            <apex:outputLink value="{!URLFOR($Action.Attachment.Download,att.id)}" target="_blank"  >{!att.name}</apex:outputLink>
                        </apex:repeat>            
                    </apex:column>
                <apex:column headerValue="Description ">
                    <apex:outputField value="{!memb.Description__c}" rendered="{!if(recordId==memb.Id && edit==true,false,true)}"/>
                    <apex:inputField value="{!memb.Description__c}" rendered="{!if(recordId==memb.Id && edit==true,true,false)}" />
                </apex:column>
                
                                
                
            </apex:pageBlockTable> 
            </apex:outputPanel>
              
          
        
    </apex:pageBlock>
    </apex:form>
</apex:page>