<apex:page standardController="Template__c"
    extensions="ActionPlanMassUpdate_class1"  sidebar="false">
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    

    <style>
    
    .rt-loading {
        background: url("{!URLFOR($Resource.ActionPlans, 'loader.gif')}") center center no-repeat;
        background-color: white;
        opacity: 0.9;
        position: absolute;
        z-index: 500;      
        display: none;        
    }
    .dateFormat {
        display:none;
    }

    .navlist {
        padding-left:0px;
    }
    .navlist li
    {
        display: inline-block;
        list-style-type: none;
        width:100px;
        padding-right: 10px;
    }
    .navlist li input {
       width:100px;
    }
    
    #commentContainer { 
        width:270px; 
        border: 3px solid #1a1a1a; 
        padding:0px;  
        z-index:9999;
        position:absolute;
    }
    #commentContainer .hd { 
        width:100%; 
        background-color:#EEE; 
        height:27px;

    }
    #commentContainer .hd-left { 
        float:left; 
        color:black; 
        font-weight:bold; 
        padding:3px 0px 0px 5px;

    }
    #commentContainer .hd-right { 
        float:right; 

    }
    #commentContainer .bd { 
        background-color:#f3f3ec; 
        clear:both; 
   
    }
    #commentContainer textarea { 
        margin:5px; 
        width:250px;
        height:150px;

    }
    
    div#overlay {
        background-color: black;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.1; /* also -moz-opacity, etc. */
        filter: alpha(opacity = 10);
        z-index: 10;
    }
</style>
<script>

    function showLoader() {
        var tableWidth  = $('[id$=ActionPlanTasks]').width();
        var tableHeight = $('[id$=ActionPlanTasks]').height();
        $('.rt-loading').css('width', tableWidth + 'px');
        $('.rt-loading').css('height', tableHeight + 'px');
        $('.rt-loading').show();

    }
    
    function hideLoader() {
        $('.rt-loading').hide();

    }
    
    function massUpdate() {
        var userName = $('[id$=massUpdateId]').val();
        $('.assignTo').each(function(index) {
            $(this).val(userName);
        });
    }

    function changeTemplate() {
        showLoader();
        var templateId = $('[id$=templatePicklist]').val();
        if (templateId != '' & templateId !='NONE') {
            changeTemplateAF(templateId);
        }
        else {
            hideLoader();
        }
        
    }
    
    function validateTemplate() {
        var templateId = $('[id$=templatePicklist]').val();
        var duplicateHidden = $('[id$=duplicateHidden]').val();
        

        
        if (templateId == '' || templateId =='NONE') {
            alert('Please select a template');
            return false;
        }
        
        if (duplicateHidden != '') {
        
            duplicateHidden = duplicateHidden.replace(/\\n/g,'\n') 
            duplicateHidden = '\n\n'+duplicateHidden;  
            
            var conf = confirm("There are some duplicate tasks. Are you sure you want to Save?"+duplicateHidden);
            if(conf == true){
        
                 saveFinal();
                 
            }
            return false;
        }   
        saveFinal();
    }
    
   <!-- function checkCancel() {
        
        var applyActionPlan = '{!ActionPlan}';
        if (ActionPlan == 'true' ) {
            var conf = confirm("Are you sure you want to cancel? Action Plan will be deleted");
            if(conf == true){
        
                 cancelFinal();
        
            }
        } else {
                 cancelFinal();

        }

    }-->
    
    function cleanTemplate() {
        $('.status').val('');
        $('.priority').val('');    
    }
</script>
    <apex:pageMessages />

    <!--<script>
    j$ = jQuery.noConflict();
    
    function showLoadingDiv() {
        var newHeight = j$("[id$=lead-edit-section] .pbSubsection").css("height");//Just shade the body, not the header
        j$("[id$=loading-curtain-div]").css("background-color", "black").css("opacity", 0.35).css("height", newHeight).css("width", "80%");
    }
    function hideLoadingDiv() {
        j$("[id$=loading-curtain-div]").css("background-color", "black").css("opacity", "1").css("height", "0px").css("width", "80%");
    }
    
</script>-->

    <apex:form id="actionPlanForm" >




        <apex:pageBlock title="Action Plan" id="OrderInformationBlock">

            <apex:actionstatus id="status">
                <apex:facet name="start">
                    <div class="waitingSearchDiv" id="el_loading"
                        style="background-color: #fbfbfb; height: 100%; opacity: 0.65; width: 100%;">
                        <div class="waitingHolder" style="top: 74.2px; width: 91px;">
                            <img class="waitingImage" src="/img/loading.gif"
                                title="Please Wait..." /> <span class="waitingDescription">Loading...</span>
                        </div>
                    </div>
                </apex:facet>
            </apex:actionstatus>



            <apex:pageBlockSection id="actionPlanInformation"
                title="Action Plan Information" columns="2">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Template" for="templatePicklist" />
                    <apex:outputPanel layout="block" styleClass="requiredInput">
                        <apex:outputPanel layout="block" styleClass="requiredBlock" />
                        <apex:actionRegion >
                            <apex:selectList value="{!tempValues}" size="1" id="templatePicklist">
                                <apex:selectOptions value="{!templetName}" />
                                <apex:actionSupport event="onchange" reRender="redneredOP"
                                    action="{!search}" status="status" />
                            </apex:selectList>
                        </apex:actionRegion>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>


            <apex:pageBlockSection id="acionPlanRelated" title="Related To Deal ">

                <apex:pageBlockSectionItem >
                    <apex:dataList value="{!Deals}" var="objName" first="0">
                        <apex:outputText escape="false" value="{!objName.Name}" />
                    </apex:dataList>
                </apex:pageBlockSectionItem>

            </apex:pageBlockSection>

            
            <apex:outputPanel id="redneredOP">
            <div id="Action Plan Tasks">
                <div class="pbSubheader first tertiaryPalette">
                    <h3>Action Plan Tasks</h3>
                </div>

                <div class="rt-loading">&nbsp;</div>
                <apex:outputpanel layout="block" style="margin:10px">
                    <apex:outputText value="Only change desired fields. Existing fields are not shown on this template."
                        styleclass="message infoM3" />
                </apex:outputpanel>

                <ul class="navlist">
                    <li style="width:23px"></li>                    
                    <li>Name</li>
                    <li>Date Ordered</li>
                    <li>Date Needed</li>
                    <li>Date Received</li>
                    <li>Status</li>
                    <li style="width:60px">Priority</li>
                    
                    
                    <li style="padding-left:20px">Comments</li>
                   <li style="width:30px;"></li>

                </ul>
                <apex:variable var="taskCount" value="1"/>
                <apex:repeat value="{!valuesAdded}" var="a">
                    <ul class="navlist">
                       <!-- <li style="width: 0px; padding: 0px;">{!a.countVal}.</li>-->  
                        <li style="width:0px;padding:0px;">{!taskCount}.</li>
                        <!--<li>{!a.countVal}</li>-->
                        <li style="width:0px;padding:0px;"></li>
                        <li><apex:outputField value="{!a.obj.name}" /></li>
                        <li><apex:inputField value="{!a.obj.Date_Ordered__c}" /></li>
                        <li><apex:inputField value="{!a.obj.Date_Needed__c}" /></li>
                        <li><apex:inputField value="{!a.obj.Date_Received__c}" /></li>
                        <li><apex:inputField styleclass="status" style="width:100px;"
                                value="{!a.obj.Status__c}" /></li>
                        <li style="width: 60px;"><apex:inputField styleclass="priority" value="{!a.obj.Priority__c}" /></li>

                         <li style="padding-left:20px;height:15px">
                         <apex:outputpanel style="background-color: white;padding:3px;height:15px;display:block;overflow:hidden;"  onclick="$(this).next().children().show();$(this).next().children().children().next().children().focus()"> {!a.obj.Comments__c}</apex:outputpanel>
                          <apex:outputPanel id="commentPanel" >
                                        <div id="commentContainer" style="display:none">
                                            <div class="hd">
                                                <div class="hd-left">Comments</div>
                                                <div class="hd-right">
                                                    <input class="btn close" style="margin-bottom:1px;" type="button" onclick="$(this).parent().parent().parent().hide(); $(this).parent().parent().parent().parent().prev().text( $(this).parent().parent().next().children().val())"  name="closeCommentPanel" value="Close "/></div>
                                                </div>
                                            <div >
                                                <apex:inputField id="Comments" value="{!a.obj.Comments__c}" onchange=" "  rendered="true"/>
                                            </div>
                                        </div>
                                    </apex:outputPanel>
                                  <!--<apex:inputField id="Comments" value="{!a.obj.Comments__c}" onchange=""/>-->
                        </li>
                     <apex:variable var="taskCount" value="{!VALUE(taskCount)+1}"/>
                    </ul>

                 <apex:repeat value="{!a.obj.Task_Plans__r}" var="APT1">
                 
                    <ul class="navlist">
                     <li style="width:0px;padding:0px;margin-left: 40px;"> <img width="25px" src="{!URLFOR($Resource.ActionPlans,'arrow.png')}" alt="Subtask "/>
                                         </li>
                         <li  style="width:0px;padding-left: 9px;"> </li>
                    <li style="width: 70px;margin-left: 6px;" ><apex:outputField value="{!APT1.name}"  /></li>
                    <li><apex:inputfield value="{!APT1.Date_Ordered__c}" /></li>
                    <li><apex:inputfield value="{!APT1.Date_Needed__c}" /></li>

                    <li><apex:inputfield value="{!APT1.Date_Received__c}" /></li>
                    <li ><apex:inputfield style="width:100px;" styleclass="status" value="{!APT1.Status__c}" /></li>
                    <li style="width:60px;"><apex:inputfield styleclass="priority" value="{!APT1.Priority__c}" /></li>
                   <!-- <li ><apex:inputfield value="{!APT1.Comments__c}" /></li>-->
                   <li style="padding-left:20px;height:15px">
                                        
                                            <apex:outputpanel style="background-color: white;padding:3px;height:15px;display:block;overflow:hidden;"  onclick="$(this).next().children().show();$(this).next().children().children().next().children().focus()" >{!APT1.Comments__c}</apex:outputpanel>
        
                                            <apex:outputPanel id="commentPanel" >
                                                <div id="commentContainer" style="display:none">
                                                    <div class="hd">
                                                        <div class="hd-left">Comments</div>
                                                        <div class="hd-right">
                                                            <input class="btn close" style="margin-bottom:1px;" type="button" onclick="$(this).parent().parent().parent().hide(); $(this).parent().parent().parent().parent().prev().text( $(this).parent().parent().next().children().val())"  name="closeCommentPanel" value="Close "/></div>
                                                        </div>
                                                    <div class="bd">
                                                        <apex:inputField id="Comments" value="{!APT1.Comments__c}"/>
                                                    </div>
                                                </div>
                                            </apex:outputPanel>                                     
                                        </li>
                
                </ul>
                                                
                    
                </apex:repeat>
            
                </apex:repeat>

                
                
            </div>
           </apex:outputPanel>

    <apex:pageBlockButtons id="buttons">
      <apex:commandButton action="{!saveUpdateValues}" value=" Save  " />&nbsp;&nbsp;&nbsp;
      <apex:commandButton action="{!cancel}" value=" cancel " />
    </apex:pageBlockButtons>

        </apex:pageBlock>



    </apex:form>

<script>
     var url = location.href;
     var match = url.match(/&inline=1/);
    if (match != null) { 
        var newUrl = url.replace(/&inline=1/, '');
        window.top.location=newUrl;
    }
</script>

</apex:page>