<apex:page standardController="MRI_PROPERTY__c" sidebar="false" showHeader="false">
<apex:includeScript value="/soap/ajax/20.0/connection.js" />
<apex:includeScript value="/soap/ajax/10.0/apex.js" />
<MiniGrid:GridRelatedListByObject obj="MRI_PROPERTY__c" val="{!MRI_PROPERTY__c.Id}" relObj="Lease_Charge_Details__c"/> 
 
 <script>
 
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }
         function getGlobalFilterCriteria(objApi) {
          if (objApi == 'Lease_Charge_Details__c') {
          console.log(getParameterByName('Unique_ID__c'));
            return {'Unique_ID__c': getParameterByName('Unique_ID__c')};
          }
           //return {};
          }
</script> 
</apex:page>