<apex:page standardController="MRI_PROPERTY__c" extensions="MRIPropertyTenantdetail" id="page" showHeader="false" Sidebar="false" contentType="application/x-excel#{!MRI_PROPERTY__c.Name}.xls">
      <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>
      <table border="1">
        <tr>
        <td style="padding-right:10px"><b>Center Name</b></td>
        <td style="padding-right:10px"><b>Store#</b></td>
        <td style="padding-right:10px"><b>Property Manager</b></td>
        <td style="padding-right:10px"><b>Tenant Name</b></td>
        <td style="padding-right:10px"><b>Building ID</b></td>
        <td style="padding-right:10px"><b>Lease ID</b></td>
        <td style="padding-right:10px"><b>Gross Sales Property Contact</b></td>
        <td style="padding-right:10px"><b>Sales Required</b></td>
        <td style="padding-right:10px"><b>GS Frequency</b></td>
         <td style="padding-right:10px"><b>Gross Sales {!CurrentYear}</b></td>
        <td style="padding-right:10px"><b>Gross Sales {!PreviousYear}</b></td>
        <td style="padding-right:10px"><b>Gross Sales {!twoYearsBack}</b></td>
         <td style="padding-right:10px"><b>Gross Sales {!threeYearsBack}</b></td>
         <td style="padding-right:10px"><b>Gross Sales {!fourYearsBack}</b></td>
          <td style="padding-right:10px"><b>Financials Property Contact</b></td>
         <td style="padding-right:10px"><b>Financials Required</b></td>
        <td style="padding-right:10px"><b>Financials Frequency</b></td>
        <td style="padding-right:10px"><b>Financials Type</b></td>
         <td style="padding-right:10px"><b>Financials {!CurrentYear}</b></td>
        <td style="padding-right:10px"><b>Financials {!PreviousYear}</b></td>
        <td style="padding-right:10px"><b>Financials {!twoYearsBack}</b></td>
         <td style="padding-right:10px"><b>Financials {!threeYearsBack}</b></td>
         <td style="padding-right:10px"><b>Financials {!threeYearsBack}</b></td>
        </tr>
        <apex:repeat value="{!mriPropLeaseList}" var="leaseobj">
        <tr>
        <td valign="top">
        {!leaseobj.MRI_PROPERTY__r.Name}  
        </td>
        <td valign="top" style="mso-number-format:\@;">
        {!leaseobj.Store__c}  
        </td>
        <td valign="top">
        {!leaseobj.MRI_PROPERTY__r.Property_Manager__r.Name}  
        </td>
        <td valign="top">
        {!leaseobj.Tenant_Name__c}  
        </td>
        <td valign="top" style="mso-number-format:\@;">
        {!leaseobj.MRI_PROPERTY__r.Property_ID__c}  
        </td>
        <td valign="top" style="mso-number-format:\@;">
        {!leaseobj.MRI_Lease_ID__c}  
        </td>
         <td valign="top">
            <apex:repeat value="{!PropConName[leaseObj.id]}" var="propCon">
              {!propCon.Property_Contacts__r.Name}<br/>
              {!propCon.Property_Contacts__r.Email_Address__c}<br/>
              {!propCon.Property_Contacts__r.Phone__c}
            </apex:repeat>
        </td>
        <td valign="top">
        {!leaseobj.Sales_Report_Required__c}  
        </td>
         <td valign="top">
        {!leaseobj.Sales_Frequency__c} 
        </td>
        <td valign="top">
   <!--      <apex:repeat value="{!PropConfilters[PropertyContactsObj+'#'+leaseObj.id]}" var="filters"> -->
         <apex:outputPanel rendered="{!(leaseObj.Sales_Report_Required__c)}">
         <apex:repeat value="{!(grossSalesListMap[leaseObj.MasterOccupant_ID__c])}" var="grossObj">
         <apex:outputpanel rendered="{!if(grossObj.Period_Year__c==CurrentYear,true,false)}">
         <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='January'), true, false)}"><br>{!If((grossObj.Period_Year__c==CurrentYear && grossObj.Month__c=='January'),'January $'& Text(grossObj.Sales_Collected__c),'January $0')}</br></apex:outputpanel>
        <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='February'), true, false)}"><br>{!If((grossObj.Period_Year__c==CurrentYear && grossObj.Month__c=='February'),'February $'& Text(grossObj.Sales_Collected__c),'February $0')}</br></apex:outputpanel>
         <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='March'), true, false)}"><br>{!If((grossObj.Period_Year__c==CurrentYear && grossObj.Month__c=='March'),'March $'& Text(grossObj.Sales_Collected__c),'March $0')}</br></apex:outputpanel>
        <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='April'), true, false)}"><br>{!If((grossObj.Period_Year__c==CurrentYear && grossObj.Month__c=='April'),'April $'& Text(grossObj.Sales_Collected__c),'April $0')}</br></apex:outputpanel>
        <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='May'), true, false)}"><br>{!If((grossObj.Period_Year__c==CurrentYear && grossObj.Month__c=='May'),'May $'& Text(grossObj.Sales_Collected__c),'May $0')}</br></apex:outputpanel>
         <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='June'), true, false)}"><br>{!If((grossObj.Period_Year__c==CurrentYear && grossObj.Month__c=='June'),'June $'& Text(grossObj.Sales_Collected__c),'June $0')}</br></apex:outputpanel>
         <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='July'), true, false)}"><br>{!If((grossObj.Period_Year__c==CurrentYear && grossObj.Month__c=='July'),'July $'& Text(grossObj.Sales_Collected__c),'July $0')}</br></apex:outputpanel>
       <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='August'), true, false)}"><br>{!If((grossObj.Period_Year__c==CurrentYear && grossObj.Month__c=='August'),'August $'& Text(grossObj.Sales_Collected__c),'August $0')}</br></apex:outputpanel> 
       <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='September'), true, false)}"><br>{!If((grossObj.Period_Year__c==CurrentYear && grossObj.Month__c=='September'),'September $'& Text(grossObj.Sales_Collected__c),'September $0')}</br></apex:outputpanel>
        <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='October'), true, false)}"><br>{!If((grossObj.Period_Year__c==CurrentYear && grossObj.Month__c=='October'),'October $'& Text(grossObj.Sales_Collected__c),'October $0')}</br></apex:outputpanel>
        <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='November'), true, false)}"><br>{!If((grossObj.Period_Year__c==CurrentYear && grossObj.Month__c=='November'),'November $'& Text(grossObj.Sales_Collected__c),'November $0')}</br></apex:outputpanel>
       <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='December'), true, false)}"><br>{!If((grossObj.Period_Year__c==CurrentYear && grossObj.Month__c=='December'),'December $'& Text(grossObj.Sales_Collected__c),'December $0')}</br></apex:outputpanel>
   
            </apex:outputpanel>
         </apex:repeat>
         </apex:outputpanel>
       </td>
        <td valign="top">
         <apex:outputPanel rendered="{!(leaseObj.Sales_Report_Required__c)}">
         <apex:repeat value="{!grossSalesListMap[leaseObj.MasterOccupant_ID__c]}" var="grossObj">
        <apex:outputpanel rendered="{!if(grossObj.Period_Year__c==PreviousYear,true,false)}">
        <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='January'), true, false)}"><br>{!If((grossObj.Period_Year__c==PreviousYear && grossObj.Month__c=='January'),'January $' & Text(grossObj.Sales_Collected__c),'January $0')}</br></apex:outputpanel>
         <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='February'), true, false)}"><br>{!If((grossObj.Period_Year__c==PreviousYear && grossObj.Month__c=='February'),'February $'& Text(grossObj.Sales_Collected__c),'February $0')}</br></apex:outputpanel>
         <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='March'), true, false)}"><br>{!If((grossObj.Period_Year__c==PreviousYear && grossObj.Month__c=='March'),'March $'& Text(grossObj.Sales_Collected__c),'March $0')}</br></apex:outputpanel>
        <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='April'), true, false)}"><br>{!If((grossObj.Period_Year__c==PreviousYear && grossObj.Month__c=='April'),'April $'& Text(grossObj.Sales_Collected__c),'April $0')}</br></apex:outputpanel>
         <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='May'), true, false)}"><br>{!If((grossObj.Period_Year__c==PreviousYear && grossObj.Month__c=='May'),'May $'& Text(grossObj.Sales_Collected__c),'May $0')}</br></apex:outputpanel>
         <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='June'), true, false)}"><br>{!If((grossObj.Period_Year__c==PreviousYear && grossObj.Month__c=='June'),'June $'& Text(grossObj.Sales_Collected__c),'June $0')}</br></apex:outputpanel>
         <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='July'), true, false)}"><br>{!If((grossObj.Period_Year__c==PreviousYear && grossObj.Month__c=='July'),'July $'& Text(grossObj.Sales_Collected__c),'July $0')}</br></apex:outputpanel>
        <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='August'), true, false)}"><br>{!If((grossObj.Period_Year__c==PreviousYear && grossObj.Month__c=='August'),'August $'& Text(grossObj.Sales_Collected__c),'August $0')}</br></apex:outputpanel> 
        <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='September'), true, false)}"><br>{!If((grossObj.Period_Year__c==PreviousYear && grossObj.Month__c=='September'),'September $'& Text(grossObj.Sales_Collected__c),'September $0')}</br></apex:outputpanel>
        <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='October'), true, false)}"><br>{!If((grossObj.Period_Year__c==PreviousYear && grossObj.Month__c=='October'),'October $'& Text(grossObj.Sales_Collected__c),'October $0')}</br></apex:outputpanel>
         <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='November'), true, false)}"><br>{!If((grossObj.Period_Year__c==PreviousYear && grossObj.Month__c=='November'),'November $'& Text(grossObj.Sales_Collected__c),'November $0')}</br></apex:outputpanel>
        <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='December'), true, false)}"><br>{!If((grossObj.Period_Year__c==PreviousYear && grossObj.Month__c=='December'),'December $'& Text(grossObj.Sales_Collected__c),'December $0')}</br></apex:outputpanel>
    
            </apex:outputpanel>
         </apex:repeat>
         </apex:outputpanel>
         </td>
        <td valign="top">
         <apex:outputPanel rendered="{!(leaseObj.Sales_Report_Required__c)}">
         <apex:repeat value="{!grossSalesListMap[leaseObj.MasterOccupant_ID__c]}" var="grossObj">
         <apex:outputpanel rendered="{!if(grossObj.Period_Year__c==twoYearsBack,true,false)}">
        <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='January'), true, false)}"><br>{!If((grossObj.Period_Year__c==twoYearsBack&& grossObj.Month__c=='January'),'January $' & Text(grossObj.Sales_Collected__c),'January $0')}</br></apex:outputpanel>
         <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='February'), true, false)}"><br>{!If((grossObj.Period_Year__c==twoYearsBack && grossObj.Month__c=='February'),'February $'& Text(grossObj.Sales_Collected__c),'February $0')}</br></apex:outputpanel>
         <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='March'), true, false)}"><br>{!If((grossObj.Period_Year__c==twoYearsBack && grossObj.Month__c=='March'),'March $'& Text(grossObj.Sales_Collected__c),'March $0')}</br></apex:outputpanel>
        <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='April'), true, false)}"><br>{!If((grossObj.Period_Year__c==twoYearsBack && grossObj.Month__c=='April'),'April $'& Text(grossObj.Sales_Collected__c),'April $0')}</br></apex:outputpanel>
         <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='May'), true, false)}"><br>{!If((grossObj.Period_Year__c==twoYearsBack && grossObj.Month__c=='May'),'May $'& Text(grossObj.Sales_Collected__c),'May $0')}</br></apex:outputpanel>
         <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='June'), true, false)}"><br>{!If((grossObj.Period_Year__c==twoYearsBack && grossObj.Month__c=='June'),'June $'& Text(grossObj.Sales_Collected__c),'June $0')}</br></apex:outputpanel>
         <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='July'), true, false)}"><br>{!If((grossObj.Period_Year__c==twoYearsBack && grossObj.Month__c=='July'),'July $'& Text(grossObj.Sales_Collected__c),'July $0')}</br></apex:outputpanel>
        <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='August'), true, false)}"><br>{!If((grossObj.Period_Year__c==twoYearsBack && grossObj.Month__c=='August'),'August $'& Text(grossObj.Sales_Collected__c),'August $0')}</br></apex:outputpanel> 
        <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='September'), true, false)}"><br>{!If((grossObj.Period_Year__c==twoYearsBack && grossObj.Month__c=='September'),'September $'& Text(grossObj.Sales_Collected__c),'September $0')}</br></apex:outputpanel>
        <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='October'), true, false)}"><br>{!If((grossObj.Period_Year__c==twoYearsBack && grossObj.Month__c=='October'),'October $'& Text(grossObj.Sales_Collected__c),'October $0')}</br></apex:outputpanel>
         <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='November'), true, false)}"><br>{!If((grossObj.Period_Year__c==twoYearsBack && grossObj.Month__c=='November'),'November $'& Text(grossObj.Sales_Collected__c),'November $0')}</br></apex:outputpanel>
        <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='December'), true, false)}"><br>{!If((grossObj.Period_Year__c==twoYearsBack && grossObj.Month__c=='December'),'December $'& Text(grossObj.Sales_Collected__c),'December $0')}</br></apex:outputpanel>
    
            </apex:outputpanel>
         </apex:repeat>
         </apex:outputpanel>
        </td>
        <td valign="top">
         <apex:outputPanel rendered="{!(leaseObj.Sales_Report_Required__c)}">
         <apex:repeat value="{!grossSalesListMap[leaseObj.MasterOccupant_ID__c]}" var="grossObj">
        <apex:outputpanel rendered="{!if(grossObj.Period_Year__c==threeYearsBack,true,false)}">
        <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='January'), true, false)}"><br>{!If((grossObj.Period_Year__c==threeYearsBack && grossObj.Month__c=='January'),'January $' & Text(grossObj.Sales_Collected__c),'January $0')}</br></apex:outputpanel>
         <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='February'), true, false)}"><br>{!If((grossObj.Period_Year__c==threeYearsBack && grossObj.Month__c=='February'),'February $'& Text(grossObj.Sales_Collected__c),'February $0')}</br></apex:outputpanel>
         <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='March'), true, false)}"><br>{!If((grossObj.Period_Year__c==threeYearsBack && grossObj.Month__c=='March'),'March $'& Text(grossObj.Sales_Collected__c),'March $0')}</br></apex:outputpanel>
        <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='April'), true, false)}"><br>{!If((grossObj.Period_Year__c==threeYearsBack && grossObj.Month__c=='April'),'April $'& Text(grossObj.Sales_Collected__c),'April $0')}</br></apex:outputpanel>
         <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='May'), true, false)}"><br>{!If((grossObj.Period_Year__c==threeYearsBack && grossObj.Month__c=='May'),'May $'& Text(grossObj.Sales_Collected__c),'May $0')}</br></apex:outputpanel>
         <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='June'), true, false)}"><br>{!If((grossObj.Period_Year__c==threeYearsBack && grossObj.Month__c=='June'),'June $'& Text(grossObj.Sales_Collected__c),'June $0')}</br></apex:outputpanel>
         <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='July'), true, false)}"><br>{!If((grossObj.Period_Year__c==threeYearsBack && grossObj.Month__c=='July'),'July $'& Text(grossObj.Sales_Collected__c),'July $0')}</br></apex:outputpanel>
        <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='August'), true, false)}"><br>{!If((grossObj.Period_Year__c==threeYearsBack && grossObj.Month__c=='August'),'August $'& Text(grossObj.Sales_Collected__c),'August $0')}</br></apex:outputpanel> 
        <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='September'), true, false)}"><br>{!If((grossObj.Period_Year__c==threeYearsBack && grossObj.Month__c=='September'),'September $'& Text(grossObj.Sales_Collected__c),'September $0')}</br></apex:outputpanel>
        <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='October'), true, false)}"><br>{!If((grossObj.Period_Year__c==threeYearsBack && grossObj.Month__c=='October'),'October $'& Text(grossObj.Sales_Collected__c),'October $0')}</br></apex:outputpanel>
         <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='November'), true, false)}"><br>{!If((grossObj.Period_Year__c==threeYearsBack && grossObj.Month__c=='November'),'November $'& Text(grossObj.Sales_Collected__c),'November $0')}</br></apex:outputpanel>
        <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='December'), true, false)}"><br>{!If((grossObj.Period_Year__c==threeYearsBack && grossObj.Month__c=='December'),'December $'& Text(grossObj.Sales_Collected__c),'December $0')}</br></apex:outputpanel>
    
            </apex:outputpanel>
          </apex:repeat>
          </apex:outputpanel>
        </td>
         <td valign="top">
            <apex:outputPanel rendered="{!(leaseObj.Sales_Report_Required__c)}">
         <apex:repeat value="{!grossSalesListMap[leaseObj.MasterOccupant_ID__c]}" var="grossObj">
        <apex:outputpanel rendered="{!if(grossObj.Period_Year__c==threeYearsBack,true,false)}">
        <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='January'), true, false)}"><br>{!If((grossObj.Period_Year__c==threeYearsBack && grossObj.Month__c=='January'),'January $' & Text(grossObj.Sales_Collected__c),'January $0')}</br></apex:outputpanel>
         <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='February'), true, false)}"><br>{!If((grossObj.Period_Year__c==threeYearsBack && grossObj.Month__c=='February'),'February $'& Text(grossObj.Sales_Collected__c),'February $0')}</br></apex:outputpanel>
         <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='March'), true, false)}"><br>{!If((grossObj.Period_Year__c==threeYearsBack && grossObj.Month__c=='March'),'March $'& Text(grossObj.Sales_Collected__c),'March $0')}</br></apex:outputpanel>
        <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='April'), true, false)}"><br>{!If((grossObj.Period_Year__c==threeYearsBack && grossObj.Month__c=='April'),'April $'& Text(grossObj.Sales_Collected__c),'April $0')}</br></apex:outputpanel>
         <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='May'), true, false)}"><br>{!If((grossObj.Period_Year__c==threeYearsBack && grossObj.Month__c=='May'),'May $'& Text(grossObj.Sales_Collected__c),'May $0')}</br></apex:outputpanel>
         <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='June'), true, false)}"><br>{!If((grossObj.Period_Year__c==threeYearsBack && grossObj.Month__c=='June'),'June $'& Text(grossObj.Sales_Collected__c),'June $0')}</br></apex:outputpanel>
         <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='July'), true, false)}"><br>{!If((grossObj.Period_Year__c==threeYearsBack && grossObj.Month__c=='July'),'July $'& Text(grossObj.Sales_Collected__c),'July $0')}</br></apex:outputpanel>
        <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='August'), true, false)}"><br>{!If((grossObj.Period_Year__c==threeYearsBack && grossObj.Month__c=='August'),'August $'& Text(grossObj.Sales_Collected__c),'August $0')}</br></apex:outputpanel> 
        <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='September'), true, false)}"><br>{!If((grossObj.Period_Year__c==threeYearsBack && grossObj.Month__c=='September'),'September $'& Text(grossObj.Sales_Collected__c),'September $0')}</br></apex:outputpanel>
        <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='October'), true, false)}"><br>{!If((grossObj.Period_Year__c==threeYearsBack && grossObj.Month__c=='October'),'October $'& Text(grossObj.Sales_Collected__c),'October $0')}</br></apex:outputpanel>
         <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='November'), true, false)}"><br>{!If((grossObj.Period_Year__c==threeYearsBack && grossObj.Month__c=='November'),'November $'& Text(grossObj.Sales_Collected__c),'November $0')}</br></apex:outputpanel>
        <apex:outputpanel rendered="{!IF((grossObj.Sales_Collected__c!=null && grossObj.Month__c=='December'), true, false)}"><br>{!If((grossObj.Period_Year__c==threeYearsBack && grossObj.Month__c=='December'),'December $'& Text(grossObj.Sales_Collected__c),'December $0')}</br></apex:outputpanel>
    
            </apex:outputpanel>
            
           </apex:repeat>
           </apex:outputpanel>
        </td> 
        <td valign="top">
            <apex:repeat value="{!PropConName1[leaseObj.id]}" var="propCon1">
              {!propCon1.Property_Contacts__r.Name}<br/>
              {!propCon1.Property_Contacts__r.Email_Address__c}<br/>
              {!propCon1.Property_Contacts__r.Phone__c}
            </apex:repeat>
        </td>
       
       <td valign="top">
        {!leaseobj.Financials_Required__c}  
        </td>       
        <td valign="top">
        {!leaseobj.Financials_Frequency__c} 
        </td>
        <td valign="top">
        {!leaseobj.Financials_Type__c} 
        </td>
             <td valign="top">
          <apex:outputPanel rendered="{!(leaseObj.Financials_Required__c)}">
         <apex:repeat value="{!financeListMap[leaseObj.id]}" var="financeObj">
        <apex:outputpanel rendered="{!if(financeObj.Period_Year__c==CurrentYear,true,false)}">
         {!financeObj.Fins_Collected__c} 
           </apex:outputpanel>
           </apex:repeat>
           </apex:outputpanel>
        </td> 
         <td valign="top">
             <apex:outputPanel rendered="{!(leaseObj.Financials_Required__c)}">
         <apex:repeat value="{!financeListMap[leaseObj.id]}" var="financeObj">
        <apex:outputpanel rendered="{!if(financeObj.Period_Year__c==PreviousYear,true,false)}">
        
         {!financeObj.Fins_Collected__c} 
    
            </apex:outputpanel>
           </apex:repeat>
           </apex:outputpanel>
        </td> 
        <td valign="top">
 
          <apex:outputPanel rendered="{!(leaseObj.Financials_Required__c)}">
         <apex:repeat value="{!financeListMap[leaseObj.id]}" var="financeObj">
        <apex:outputpanel rendered="{!if(financeObj.Period_Year__c==twoYearsBack,true,false)}">
        
         {!financeObj.Fins_Collected__c} 
    
            </apex:outputpanel>
           </apex:repeat>
           </apex:outputpanel>

        </td> 
         <td valign="top">
   
          <apex:outputPanel rendered="{!(leaseObj.Financials_Required__c)}">
         <apex:repeat value="{!financeListMap[leaseObj.id]}" var="financeObj">
        <apex:outputpanel rendered="{!if(financeObj.Period_Year__c==threeYearsBack,true,false)}">
        
         {!financeObj.Fins_Collected__c} 
    
            </apex:outputpanel>
           </apex:repeat>
           </apex:outputpanel>
 
        </td> 
        <td valign="top">
          <apex:outputPanel rendered="{!(leaseObj.Financials_Required__c)}">
         <apex:repeat value="{!financeListMap[leaseObj.id]}" var="financeObj">
        <apex:outputpanel rendered="{!if(financeObj.Period_Year__c==threeYearsBack,true,false)}">
        
         {!financeObj.Fins_Collected__c} 
    
            </apex:outputpanel>
           </apex:repeat>
           </apex:outputpanel>
        </td> 
         </tr>
              </apex:repeat>
        </table>
    
</apex:page>