<apex:page extensions="MRIPropertyTenantdetail" sidebar="false" standardController="MRI_PROPERTY__c">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8"/>
  <title>jQuery UI Accordion - Customize icons</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css"/>
   <style>
    div.accordion {
    display: none;
    }
    </style>
  <script>
  function startLoading(){
            $('#load_scrl').css('top', $(document).scrollTop() + 200);
            $('.loadingBox').show();
        }
        
        function endLoading(){
             $('.loadingBox').hide();
        }
    
    $(document).ready(function() {
     $('.accordion').show();
     
             $('.accordion').accordion({
                heightStyle: "content",
                active: false,
                collapsible: true
                
             }); 
            
            $('.accordion1').accordion({
                heightStyle: "content",
                active: false,
                collapsible: true
                
                });
                $('#hideAccordion').show();
        });
  $(document).ready(function() {
     $( ".accordion" ).accordion({
      heightStyle: "content",
      active: false,
        collapsible: true
    });
     $( ".accordion1" ).accordion({
      heightStyle: "content",
      active: false,
        collapsible: true
    });
    });
  
  $(document).ready(function() {
     $( ".tabs" ).tabs({
   
    });
     $( ".tabs1" ).tabs({
     
    });
    
    $( ".tabs2" ).tabs({
    
    });
    
    $( ".tabs3" ).tabs({
     
    });
    
    $( "#tabs4" ).tabs({
   
    });
    
    $( ".tabs5" ).tabs({
    
    });
       });
   </script>
   <style>
        .overlay {
            display: none;
            height: 100%;
            left: 0;
            position: fixed;
            top: 0;
            opacity: 0.3;
            -moz-opacity: 0.3;
            width: 100%;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
            filter: alpha(opacity=30);
            background: #000;
            -khtml-opacity: 0.3;
            z-index: 1000;
        }
        .loader {
            background: url('/img/loading32.gif') scroll no-repeat 0 0;
            width: 32px;
            height: 32px;
            position: absolute;
            left: 50%;
        }
        
</style> 
  </head>
<body>
<apex:form id="form" >
<apex:pageBlock >
<apex:pageMessages />
   <div class="accordion" >
      <apex:repeat value="{!mriPropLeaseList}" var="leaseObj">
      
        <h3><span style="width:350px;float:left"><b>Local Tenant Concept: </b>{!leaseObj.Tenant_Name__c} </span><span style="width:350px;float:left"><b>Lease ID: </b>{!leaseObj.MRI_Lease_ID__c} </span> <span style="padding-left:50px"><b> Suite ID: </b>{!leaseObj.SuiteId__c}</span></h3>
        <div>
        <table style="width:100%;height:100%" valign="top">
          <tr>
           <td valign="top">
           <apex:outputPanel rendered="{!(leaseObj.Sales_Report_Required__c)}">
           
            <h4>Gross Sales</h4>
            <div class="tabs" style="width:415px;">
      <ul>
        <li><a href="#tabs-1" style="color: {!if(leaseObj.Year_Tab_1__c<12,'#FF0000','') }; text-align: center;"><b>{!CurrentYear}</b></a></li>
        <li><a href="#tabs-2" style="color: {!if(leaseObj.Year_Tab_2__c<12,'#FF0000','') }; text-align: center;"><b>{!PreviousYear}</b></a></li>
        <li><a href="#tabs-3" style="color: {!if(leaseObj.Year_Tab_3__c<12,'#FF0000','') }; text-align: center;"><b>{!twoYearsBack}</b></a></li>
        <li><a href="#tabs-4" style="color: {!if(leaseObj.Year_Tab_4__c<12,'#FF0000','') }; text-align: center;"><b>{!threeYearsBack}</b></a></li>
        <li><a href="#tabs-5" style="color: {!if(leaseObj.Year_Tab_5__c<12,'#FF0000','') }; text-align: center;"><b>{!fourYearsBack}</b></a></li>
       </ul>
      
       <div id="tabs-1">     
        <table>
        <tr>
        <td style="padding-right:10px"><b>Month</b></td>
        <td style="padding-left:3px"><b>Sales Collection</b></td>
        </tr>
        <apex:repeat value="{!grossSalesListMap[leaseObj.MasterOccupant_ID__c]}" var="leaseSalesData">
        
        <apex:outputPanel id="panel1" rendered="{!If(leaseSalesData.Period_Year__c==CurrentYear,true,false)}">
        <tr>
        <td>
        {!leaseSalesData.Month__c}
        </td>
        <td>
        <apex:outputField value="{!leaseSalesData.Sales_Collected__c}"/>
        </td>
        </tr>
        </apex:outputPanel>
        </apex:repeat>
        </table>
            
      </div>
      <div id="tabs-2">
        
        <table>
        <tr>
        <td style="padding-right:10px"><b>Month</b></td>
        
        <td style="padding-left:3px"><b>Sales Collection</b></td>
        </tr>
        <apex:repeat value="{!grossSalesListMap[leaseObj.MasterOccupant_ID__c]}" var="leaseSalesData">
        
        <apex:outputPanel id="panel1" rendered="{!If(leaseSalesData.Period_Year__c==PreviousYear,true,false)}">
        <tr>
        <td>
        {!leaseSalesData.Month__c}
        </td>
        <td>
        <apex:outputField value="{!leaseSalesData.Sales_Collected__c}"/>
        </td>
        
        </tr>
        </apex:outputPanel>
        </apex:repeat>
        </table>
      </div>
        
            
      <div id="tabs-3">
       
        <table>
        <tr>
        <td style="padding-right:10px"><b>Month</b></td>
        <td style="padding-right:10px"><b> Sales Collected</b></td>
        
        </tr>
        <apex:repeat value="{!grossSalesListMap[leaseObj.MasterOccupant_ID__c]}" var="leaseSalesData">
        <apex:outputPanel id="panel1" rendered="{!If(leaseSalesData.Period_Year__c==twoYearsBack,true,false)}">
        <tr>
        <td>
        {!leaseSalesData.Month__c}
        </td>
        <td>
        <apex:outputField value="{!leaseSalesData.Sales_Collected__c}"/>
        </td>
        </tr>
        </apex:outputPanel>
        </apex:repeat>
        </table>
        
      </div>
      <div id="tabs-4">
      
        <table>
        <tr>
        <td style="padding-right:10px"><b>Month</b></td>
        <td style="padding-right:10px"><b>Sales Collected</b></td>
        
        </tr>
        <apex:repeat value="{!grossSalesListMap[leaseObj.MasterOccupant_ID__c]}" var="leaseSalesData">
    
        <apex:outputPanel id="panel1" rendered="{!If(leaseSalesData.Period_Year__c==threeYearsBack,true,false)}">
        <tr>
        <td>
        {!leaseSalesData.Month__c}
         </td>
         <td>
         <apex:outputField value="{!leaseSalesData.Sales_Collected__c}"/>
         </td>
         </tr>
         </apex:outputPanel>
         </apex:repeat>
         </table>
        
       </div>
       <div id="tabs-5">
       
        <table>
        <tr>
        <td style="padding-right:10px"><b>Month</b></td>
        <td style="padding-right:10px"><b>Sales Collected</b></td>
        
        </tr>
        <apex:repeat value="{!grossSalesListMap[leaseObj.MasterOccupant_ID__c]}" var="leaseSalesData">
        
        <apex:outputPanel id="panel1" rendered="{!If(leaseSalesData.Period_Year__c==fourYearsBack,true,false)}">
        <tr>
        <td>
        {!leaseSalesData.Month__c}
        </td>
        <td>
        <apex:outputField value="{!leaseSalesData.Sales_Collected__c}"/>
        </td>
        </tr>
        </apex:outputPanel>
        </apex:repeat>
        </table>
        
        </div>
        </div>
        </apex:outputPanel>
        </td>
        <td valign="top">
         <apex:outputPanel rendered="{!(leaseObj.Financials_Required__c)}"> <h4>Financials</h4>
         <div class="tabs1" style="width:415px;">
         <table>
         <tr>
         <td style="padding-left:3px"><b>Year</b></td>
         <td style="padding-left:3px"><b>Fins Collected</b></td>
         </tr>
         <apex:repeat value="{!financeListMap[leaseObj.id]}" var="financeData">
         <tr>
         <td>
          {!financeData.Year__c}
         </td>
         <td>
         {!financeData.Fins_Collected__c}
         </td>
         </tr>
         </apex:repeat>
         </table>
         </div>       
         </apex:outputPanel></td>     
         </tr>
         </table>
         </div>
         </apex:repeat>
         </div>
         </apex:pageBlock>
         </apex:form>

</body>
</html>
</apex:page>