<apex:page controller="MultiplePriorityController">
<style>
.activeTab {background-color: #236FBD; color:white; 
       background-image:none}
       
.inactiveTab { background-color: lightgrey; color:black; 
        background-image:none}

label {
    display: block;
    float: left;
    width: 120px !important;
}

select {
    color: #000;
    float: left;
}
      
.requiredLoaderBG{
        background-color: rgb(71,71,71);
        opacity:0.7;
        filter:alpha(opacity=70);
        background-image:url('{!$Resource.Loading}');
        background-position: center center;
        background-repeat: no-repeat;
        height: 100%;
        left: 0;
        position: fixed;
        text-align: center;
        top: 0;
        width: 100%;
        z-index: 1;
    }
</style>  
<apex:pageMessages id="msg"/>
<apex:form id="Number1" >
        <apex:outputPanel >
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
        <apex:outputLabel >Priority 1 call list </apex:outputLabel> &nbsp;&nbsp;
         <apex:selectList value="{!calllist}" multiselect="false" size="1"  >
            <apex:selectOptions value="{!calllistvalues}"/>
            <apex:actionSupport action="{!AdviserCallList}" event="onchange" status="callliststatus" reRender="Number1">
            </apex:actionSupport>
          </apex:selectList> &nbsp;&nbsp; 
           
          <!---<apex:commandButton action="{!Results1forCallandInternal}" value="All Call Lists"/>--->  
        </apex:outputPanel>
         </apex:form>  
         <apex:outputPanel >

         </apex:outputPanel><br></br>

     
    <apex:form id="Number2" >   
        <apex:outputPanel >
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
        <apex:outputLabel >Priority 2 call list </apex:outputLabel>&nbsp;&nbsp;&nbsp;&nbsp; 
        <apex:selectList value="{!calllist2}" multiselect="false" size="1" >
            <apex:selectOptions value="{!calllistvalues}"/>
            <apex:actionSupport action="{!AdviserCallList}" event="onchange" status="callliststatus" reRender="Number2">
            </apex:actionSupport>
          </apex:selectList> &nbsp;&nbsp; 
          <!---<apex:commandButton action="{!Results1forCallandInternal}" value="All Call Lists"/>--->  
        </apex:outputPanel>
  </apex:form><br></br>

  <apex:form id="Number3" >    
        <apex:outputPanel >
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
        <apex:outputLabel >Priority 3 call list </apex:outputLabel>&nbsp;&nbsp;&nbsp;&nbsp; 
        <apex:selectList value="{!calllist3}" multiselect="false" size="1" >
            <apex:selectOptions value="{!calllistvalues}"/>
           <apex:actionSupport action="{!AdviserCallList}" event="onchange" status="callliststatus" reRender="Number3">
            </apex:actionSupport>
          </apex:selectList> &nbsp;&nbsp; 
          <!---<apex:commandButton action="{!Results1forCallandInternal}" value="All Call Lists"/>--->  
        </apex:outputPanel>
  </apex:form> <br></br>
  <apex:form id="Number4" >    
        <apex:outputPanel >
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
        <apex:outputLabel >Priority 4 call list </apex:outputLabel>&nbsp;&nbsp;&nbsp;&nbsp; 
        <apex:selectList value="{!calllist4}" multiselect="false" size="1" >
            <apex:selectOptions value="{!calllistvalues}"/>
            <apex:actionSupport action="{!AdviserCallList}" event="onchange" status="callliststatus" reRender="Number4">
            </apex:actionSupport>
          </apex:selectList>&nbsp;&nbsp; 
          <!---<apex:commandButton action="{!Results1forCallandInternal}" value="All Call Lists"/>--->  
        </apex:outputPanel>
  </apex:form><br></br>

  <apex:form id="Number5" >    
        <apex:outputPanel >
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
        <apex:outputLabel >Priority 5 call list </apex:outputLabel>&nbsp;&nbsp;&nbsp;&nbsp; 
        <apex:selectList value="{!calllist5}" multiselect="false" size="1" >
            <apex:selectOptions value="{!calllistvalues}"/>
            <apex:actionSupport action="{!AdviserCallList}" event="onchange" status="callliststatus" reRender="Number5">
            </apex:actionSupport>
          </apex:selectList>&nbsp;&nbsp; 
          <!---<apex:commandButton action="{!Results1forCallandInternal}" value="All Call Lists"/>--->  
        </apex:outputPanel>
  </apex:form>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <apex:form id="Number6" >
        <apex:outputPanel >
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
        <apex:outputLabel >Priority 6 call list </apex:outputLabel> &nbsp;&nbsp;
         <apex:selectList value="{!calllist6}" multiselect="false" size="1"  >
            <apex:selectOptions value="{!calllistvalues}"/>
            <apex:actionSupport action="{!AdviserCallList}" event="onchange" status="callliststatus" reRender="Number6" >
            </apex:actionSupport>
          </apex:selectList> &nbsp;&nbsp; 
          <!---<apex:commandButton action="{!Results1forCallandInternal}" value="All Call Lists"/>--->  
        </apex:outputPanel>
         </apex:form>  
         <apex:outputPanel >

         </apex:outputPanel><br></br>

     
    <apex:form id="Number7" >   
        <apex:outputPanel >
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
        <apex:outputLabel >Priority 7 call list </apex:outputLabel>&nbsp;&nbsp;&nbsp;&nbsp; 
        <apex:selectList value="{!calllist7}" multiselect="false" size="1" >
            <apex:selectOptions value="{!calllistvalues}"/>
            <apex:actionSupport action="{!AdviserCallList}" event="onchange" status="callliststatus" reRender="Number7">
            </apex:actionSupport>
          </apex:selectList> &nbsp;&nbsp; 
          <!---<apex:commandButton action="{!Results1forCallandInternal}" value="All Call Lists"/>--->  
        </apex:outputPanel>
  </apex:form><br></br>

  <apex:form id="Number8" >    
        <apex:outputPanel >
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
        <apex:outputLabel >Priority 8 call list </apex:outputLabel>&nbsp;&nbsp;&nbsp;&nbsp; 
        <apex:selectList value="{!calllist8}" multiselect="false" size="1" >
            <apex:selectOptions value="{!calllistvalues}"/>
            <apex:actionSupport action="{!AdviserCallList}" event="onchange" status="callliststatus" reRender="Number8">
            </apex:actionSupport>
          </apex:selectList> &nbsp;&nbsp; 
          <!---<apex:commandButton action="{!Results1forCallandInternal}" value="All Call Lists"/>--->  
        </apex:outputPanel>
  </apex:form> <br></br>
  <apex:form id="Number9" >    
        <apex:outputPanel >
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
        <apex:outputLabel >Priority 9 call list </apex:outputLabel>&nbsp;&nbsp;&nbsp;&nbsp; 
        <apex:selectList value="{!calllist9}" multiselect="false" size="1" >
            <apex:selectOptions value="{!calllistvalues}"/>
            <apex:actionSupport action="{!AdviserCallList}" event="onchange" status="callliststatus" reRender="Number9" >
            </apex:actionSupport>
          </apex:selectList>&nbsp;&nbsp; 
           <apex:actionStatus id="callliststatus" stopText="">
                                                            <apex:facet name="start">
                                                                <!--<apex:outputPanel style="background-color:white;padding:10px 20px;opacity:0.6;filter:alpha(opacity=60)">-->
                                                                <apex:outputPanel id="statusicon" style="background-color:white;padding:16px 40px;border:1px black solid">
                                                                    <apex:image value="/img/loading.gif" title="Processing..."/>&nbsp;&nbsp;
                                                                    <apex:outputText style="color:red;font-weight:bold;vertical-align:10%;text-align:left;" value="Please wait loading..."/>
                                                                </apex:outputPanel>
                                                            </apex:facet>
                                                        </apex:actionStatus> 
          <!---<apex:commandButton action="{!Results1forCallandInternal}" value="All Call Lists"/>--->  
        </apex:outputPanel>
  </apex:form><br></br>

  <apex:form id="Number10" >    
        <apex:outputPanel >
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
        <apex:outputLabel >Priority 10 call list </apex:outputLabel>&nbsp;&nbsp;&nbsp;&nbsp; 
        <apex:selectList value="{!calllist10}" multiselect="false" size="1" >
            <apex:selectOptions value="{!calllistvalues}"/>
            <apex:actionSupport action="{!AdviserCallList}" event="onchange" status="callliststatus" reRender="Number10">
            </apex:actionSupport>
          </apex:selectList>&nbsp;&nbsp; 
          <!---<apex:commandButton action="{!Results1forCallandInternal}" value="All Call Lists"/>--->  
        </apex:outputPanel>
  </apex:form>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <apex:form id="Number11">    
        <apex:outputPanel >
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
        <apex:outputLabel >Priority 11 call list </apex:outputLabel>&nbsp;&nbsp;&nbsp;&nbsp; 
        <apex:selectList value="{!calllist11}" multiselect="false" size="1" >
            <apex:selectOptions value="{!calllistvalues}"/>
            <apex:actionSupport action="{!AdviserCallList}" event="onchange" status="callliststatus" reRender="Number11">
            </apex:actionSupport>
          </apex:selectList>&nbsp;&nbsp; 
          <!---<apex:commandButton action="{!Results1forCallandInternal}" value="All Call Lists"/>--->  
        </apex:outputPanel>
  </apex:form>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <apex:form id="Number12" >
        <apex:outputPanel >
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
        <apex:outputLabel >Priority 12 call list </apex:outputLabel> &nbsp;&nbsp;
         <apex:selectList value="{!calllist12}" multiselect="false" size="1"  >
            <apex:selectOptions value="{!calllistvalues}"/>
            <apex:actionSupport action="{!AdviserCallList}" event="onchange" status="callliststatus" reRender="Number12">
            </apex:actionSupport>
          </apex:selectList> &nbsp;&nbsp; 
          <!---<apex:commandButton action="{!Results1forCallandInternal}" value="All Call Lists"/>--->  
        </apex:outputPanel>
         </apex:form>  
         <apex:outputPanel >

         </apex:outputPanel><br></br>

     
    <apex:form id="Number13">   
        <apex:outputPanel >
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
        <apex:outputLabel >Priority 13 call list </apex:outputLabel>&nbsp;&nbsp;&nbsp;&nbsp; 
        <apex:selectList value="{!calllist13}" multiselect="false" size="1" >
            <apex:selectOptions value="{!calllistvalues}"/>
            <apex:actionSupport action="{!AdviserCallList}" event="onchange" status="callliststatus" reRender="Number13">
            </apex:actionSupport>
          </apex:selectList> &nbsp;&nbsp; 
          <!---<apex:commandButton action="{!Results1forCallandInternal}" value="All Call Lists"/>--->  
        </apex:outputPanel>
  </apex:form><br></br>

  <apex:form id="Number14" >    
        <apex:outputPanel >
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
        <apex:outputLabel >Priority 14 call list </apex:outputLabel>&nbsp;&nbsp;&nbsp;&nbsp; 
        <apex:selectList value="{!calllist14}" multiselect="false" size="1" >
            <apex:selectOptions value="{!calllistvalues}"/>
            <apex:actionSupport action="{!AdviserCallList}" event="onchange" status="callliststatus" reRender="Number14">
            </apex:actionSupport>
          </apex:selectList> &nbsp;&nbsp; 
          <!---<apex:commandButton action="{!Results1forCallandInternal}" value="All Call Lists"/>--->  
        </apex:outputPanel>
  </apex:form> <br></br>
  <apex:form id="Number15">    
        <apex:outputPanel >
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
        <apex:outputLabel >Priority 15 call list </apex:outputLabel>&nbsp;&nbsp;&nbsp;&nbsp; 
        <apex:selectList value="{!calllist15}" multiselect="false" size="1" >
            <apex:selectOptions value="{!calllistvalues}"/>
            <apex:actionSupport action="{!AdviserCallList}" event="onchange" status="callliststatus" reRender="Number15">
            </apex:actionSupport>
          </apex:selectList>&nbsp;&nbsp; 
          <!---<apex:commandButton action="{!Results1forCallandInternal}" value="All Call Lists"/>--->  
        </apex:outputPanel>
  </apex:form><br></br>

  <apex:form id="Number16">    
        <apex:outputPanel >
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
        <apex:outputLabel >Priority 16 call list </apex:outputLabel>&nbsp;&nbsp;&nbsp;&nbsp; 
        <apex:selectList value="{!calllist16}" multiselect="false" size="1" >
            <apex:selectOptions value="{!calllistvalues}"/>
            <apex:actionSupport action="{!AdviserCallList}" event="onchange" status="callliststatus" reRender="Number16">
            </apex:actionSupport>
          </apex:selectList>&nbsp;&nbsp; 
          <!---<apex:commandButton action="{!Results1forCallandInternal}" value="All Call Lists"/>--->  
        </apex:outputPanel>
  </apex:form>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <apex:form id="Number17" >
        <apex:outputPanel >
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
        <apex:outputLabel >Priority 17 call list </apex:outputLabel> &nbsp;&nbsp;
         <apex:selectList value="{!calllist17}" multiselect="false" size="1"  >
            <apex:selectOptions value="{!calllistvalues}"/>
            <apex:actionSupport action="{!AdviserCallList}" event="onchange" status="callliststatus" reRender="Number17">
            </apex:actionSupport>
          </apex:selectList> &nbsp;&nbsp; 
          <!---<apex:commandButton action="{!Results1forCallandInternal}" value="All Call Lists"/>--->  
        </apex:outputPanel>
         </apex:form>  
         <apex:outputPanel >

         </apex:outputPanel><br></br>

     
    <apex:form id="Number18" >   
        <apex:outputPanel >
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
        <apex:outputLabel >Priority 18 call list </apex:outputLabel>&nbsp;&nbsp;&nbsp;&nbsp; 
        <apex:selectList value="{!calllist18}" multiselect="false" size="1" >
            <apex:selectOptions value="{!calllistvalues}"/>
            <apex:actionSupport action="{!AdviserCallList}" event="onchange" status="callliststatus" reRender="Number18">
            </apex:actionSupport>
          </apex:selectList> &nbsp;&nbsp; 
          <!---<apex:commandButton action="{!Results1forCallandInternal}" value="All Call Lists"/>--->  
        </apex:outputPanel>
  </apex:form><br></br>

  <apex:form id="Number19">    
        <apex:outputPanel >
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
        <apex:outputLabel >Priority 19 call list </apex:outputLabel>&nbsp;&nbsp;&nbsp;&nbsp; 
        <apex:selectList value="{!calllist19}" multiselect="false" size="1" >
            <apex:selectOptions value="{!calllistvalues}"/>
            <apex:actionSupport action="{!AdviserCallList}" event="onchange" status="callliststatus" reRender="Number19">
            </apex:actionSupport>
          </apex:selectList> &nbsp;&nbsp; 
          <!---<apex:commandButton action="{!Results1forCallandInternal}" value="All Call Lists"/>--->  
        </apex:outputPanel>
  </apex:form> <br></br>
  <apex:form id="Number20">    
        <apex:outputPanel >
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
        <apex:outputLabel >Priority 20 call list </apex:outputLabel>&nbsp;&nbsp;&nbsp;&nbsp; 
        <apex:selectList value="{!calllist20}" multiselect="false" size="1" >
            <apex:selectOptions value="{!calllistvalues}"/>
            <apex:actionSupport action="{!AdviserCallList}" event="onchange" status="callliststatus" reRender="Number20">
            </apex:actionSupport>
          </apex:selectList>&nbsp;&nbsp; 
          <!---<apex:commandButton action="{!Results1forCallandInternal}" value="All Call Lists"/>--->  
        </apex:outputPanel>
  </apex:form><br></br>

  
  
  <apex:form >
   <apex:commandButton action="{!setPriorityOfCallList}" status="loading" value="Set Priority" reRender="deleteuser,msg"/>&nbsp;&nbsp;&nbsp;
  <apex:actionstatus startStyleClass="requiredLoaderBG" id="loading" />
    <apex:commandButton action="{!cancel}" value="Cancel"/>
  </apex:form>
 </apex:page>