<apex:page StandardController="NewHireFormProcess__c" extensions="NewHireFormProcess" showHeader="false" sidebar="false">
<apex:pagemessages />
<apex:form >

<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <META> element to your page <HEAD>.      -->
<!--  If necessary, please modify the charset parameter to specify the        -->
<!--  character set of your HTML page.                                        -->
<!--  ----------------------------------------------------------------------  -->

<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8"/>

<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <FORM> element to your page.             -->
<!--  ----------------------------------------------------------------------  -->
<script type='text/javascript' src= '//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'>
        </script>
          


<head>
<style>
*
{
    font:Arial, Helvetica, sans-serif;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    margin:0px;
    padding:0px;
    color:#000000;
}
body {
    /*background-color:#8D5017;*/
    background-color:#C7B26F;
    /*background-color:#FFFFCC;*/
}
</style>
<!--<style>#bodyCell{background-color:#C7B26F !important;  background-image:none!important; color:green!important; font-style: bold!important;     border:none !important;}</style>-->

<!--<apex:includescript value="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"/>
<apex:includescript value="http://code.jquery.com/ui/1.9.2/jquery-ui.js"/>
    <script type="text/javascript">       
        $( document ).ready(function() {         
           alert("Your book is overdue.");
                $('#00NP0000000gUbV').datepicker();         
        });
  </script>-->
  <script type="text/javascript">       
        function MRIAlertClick(){
          if(document.getElementById('{!$Component.mriaccess}').checked)
          {
           alert('Please Enter Security Class');
          }
          else{
          }
        }
  </script>

</head>
<body>
<!--<form action="https://cs4.salesforce.com/servlet/servlet.WebToNewHireFormProcess__c?encoding=UTF-8" method="POST">

<input type="hidden" name="orgid" value="00DP00000007kEt"/>
<input type="hidden" name="retURL" value="https://cs4.salesforce.com/"/>

<input type="hidden" name="HRManager_Approval__c" id="00NP0000000gUbA" value="Sumitted For Approval"/>
<input type="hidden" name="recordType" value="012P00000000OvQ"/>

<input type="hidden" id="name" maxlength="80" name="name" size="20" value="test name" />-->

<!--<input type="hidden" name="debug" value="1"/>-->


<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
<!--  these lines if you wish to test in debug mode.                          -->
<!--  <input type="hidden" name="debug" value=1>                              -->
<!--  <input type="hidden" name="debugEmail"                                  -->
<!--  value="ravi.bhogadi@polarisft.com">                                     -->
<!--  ----------------------------------------------------------------------  -->
<form>
<table width="100%" style="padding:20px;" cellpadding="0" cellspacing="0"><tr><td>
<div align="center">
<table width="1003px" cellpadding="0" cellspacing="0" border="1px" bordercolor="#AE8F60" style="text-align:left; border-collapse:collapse;border:5px solid #AE8F60; background-color:#FFFFFF">
    <tr>
        <td width="50%" align="center" style="border-right:1px solid #8D5017">
            <!-- <apex:image value="{!$Resource.Logo_ColeRealEstateInvestments}" width="206" height="66" style="padding:5px;" /> -->
            <apex:image value="{!$Resource.Logo_ColeArc}" width="200" height="96" style="padding:5px;" />
            <!--<img src="img/logo1.jpg" width="206" height="79"/>-->
        </td>
        <td width="50%" align="center" valign="middle" style="font-size:20px;vertical-align:middle">
            <b style="font-size:22px">Information Technology:</b><br/>New Hire Form
        </td>
    </tr>
</table>
<br/>
<table width="1003px" cellpadding="0" cellspacing="0" border="1px" bordercolor="#AE8F60" style="text-align:left; border-collapse:collapse;border:5px solid #AE8F60; background-color:#FFFFFF">    
    <tr>
        <td>
            <table width="100%" cellpadding="0" cellspacing="0" border="1px" bordercolor="#AE8F60" style="text-align:left; border-collapse:collapse;">
                <tr>
                    <td width="20%" style="background:#A6635D; color:#FFFFFF; font-size:24px; text-align:center; vertical-align:middle; font-weight:bold">
                        New Hire
                    </td>
                    <td align="center" style="font-size:14px; font-weight:bold; padding:5px;">
                        INSTRUCTIONS: Fill out the form below to request a new user setup.<br/>
                        Submit the form to the Helpdesk to initiate the activity.<br/>
                        <span style="color:#FF0000; font-size:14px;"> NOTE: Items in RED are for use by IT.</span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="background:#A6635D; color:#FFFFFF; font-size:16px; text-align:center; vertical-align:middle; font-weight:bold; padding:5px;">
            START OF NEW HIRE FORM - START OF NEW HIRE FORM - START OF NEW HIRE FORM
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%" cellpadding="5" cellspacing="0" border="1" bordercolor="#915B51" style="text-align:left; border-collapse:collapse;">
            
                <tr>                    
                    <td width="24%" style="font-size:14px; text-align:left; vertical-align:middle; font-weight:bold; padding-left:5px;">
                        Start Date                  </td>
                    <td height="30" style= "text-align:left; vertical-align:middle; font-weight:bold; padding-left:5px;">
                        <!--<span class="dateInput dateOnlyInput"><input  id="00NP0000000gUbV" name="00NP0000000gUbV" size="12" type="text" />&nbsp;(MM/DD/YYYY)</span>-->
                        <apex:inputField value="{!NewHireFormProcess__c.Start_Date__c}"/>
                    </td>
                </tr>
                <tr>
                    <td width="24%" style="font-size:14px; text-align:left; vertical-align:middle; font-weight:bold; padding-left:5px;">
                        First Name                  </td>
                    <td height="30" style= "text-align:left; vertical-align:middle; font-weight:bold; padding-left:5px;">
                        <apex:inputText value="{!NewHireFormProcess__c.First_Name__c}"/>
                    </td>
                </tr>
                <tr>
                    <td width="24%" style="font-size:14px; text-align:left; vertical-align:middle; font-weight:bold; padding-left:5px;">
                        Last Name
                    </td>
                    <td height="30" style= "text-align:left; vertical-align:middle; font-weight:bold; padding-left:5px;">
                        <apex:inputText value="{!NewHireFormProcess__c.Last_Name__c}"/>
                    </td>
                </tr>
                <tr>
                    <td width="24%" style="font-size:14px; text-align:left; vertical-align:middle; font-weight:bold; padding-left:5px;">
                        Supervisor
                    </td>
                    <td height="30" style= "text-align:left; vertical-align:middle; font-weight:bold; padding-left:5px;">
                        <apex:inputText value="{!NewHireFormProcess__c.Supervisor__c}"/>
                    </td>
                </tr>
                <tr>
                    <td width="24%" style="font-size:14px; text-align:left; vertical-align:middle; font-weight:bold; padding-left:5px;">
                        Department
                    </td>
                    <td height="30" style= "text-align:left; vertical-align:middle; font-weight:bold; padding-left:5px;">                       
                        <apex:inputfield value="{!NewHireFormProcess__c.DepartmentUpdate__c}" id="dep"/>
                        
                    </td>
                </tr>
                <tr>
                    <td width="24%" style="font-size:14px; text-align:left; vertical-align:middle; font-weight:bold; padding-left:5px;">
                        Title
                    </td>
                    <td height="30" style= "text-align:left; vertical-align:middle; font-weight:bold; padding-left:5px;">
                        <apex:inputText value="{!NewHireFormProcess__c.Title__c}"/>
                    </td>
                </tr>
                <tr>
                    <td width="24%" style="font-size:14px; text-align:left; vertical-align:middle; font-weight:bold; padding-left:5px;">
                        Office Location
                    </td>
                    <td height="60" width="40%" style= "text-align:left; vertical-align:middle; font-weight:bold; padding-left:5px;">
                        <apex:inputTextarea value="{!NewHireFormProcess__c.Office_Location__c}" cols="50" rows="3"/>
                    </td>
                </tr>
                <tr>
                    <td width="24%" style="font-size:14px; text-align:left; vertical-align:middle; font-weight:bold; padding-left:5px;">
                        Employee Role
                    </td>
                    <td height="30" style= "text-align:left; vertical-align:middle; font-weight:bold; padding-left:5px;">
                        <apex:inputText value="{!NewHireFormProcess__c.Employee_Role__c}"/>
                    </td>
                </tr>
                <tr>
                    <td width="24%" style="font-size:14px; text-align:left; vertical-align:middle; font-weight:bold; padding-left:5px;">
                        FINRA Licensed?
                    </td>
                    <td height="30" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold; padding-left:5px;">
                        Is the employee FINRA licensed?&nbsp;<apex:inputCheckbox value="{!NewHireFormProcess__c.FINRA_Licensed__c}"/>
                    </td>
                </tr>
                <tr>
                    <td width="24%" style="font-size:14px; text-align:left; vertical-align:middle; font-weight:bold; padding-left:5px;">
                        Building Access
                    </td>
                    <td style= "text-align:left; vertical-align:middle; font-weight:bold; padding-left:5px;">
                        <table width="100%" cellpadding="0" cellspacing="5">
                            <tr>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold;">
                                    <apex:inputCheckbox value="{!NewHireFormProcess__c.General__c}"/>&nbsp;General
                                </td>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold;">
                                    <apex:inputCheckbox value="{!NewHireFormProcess__c.Facilities__c}"/>&nbsp;Facilities
                                </td>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold;">
                                    <apex:inputCheckbox value="{!NewHireFormProcess__c.RE_Legal__c}"/>&nbsp;RE Legal
                                </td>
                            </tr>
                            <tr>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold;">
                                    <apex:inputCheckbox value="{!NewHireFormProcess__c.IT_Infrastructure__c}"/>&nbsp;IT Infrastructure
                                </td>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold;">
                                    <apex:inputCheckbox value="{!NewHireFormProcess__c.HR__c}"/>&nbsp;HR
                                </td>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold;">
                                    <apex:inputCheckbox value="{!NewHireFormProcess__c.Compliance__c}"/>&nbsp;Compliance
                                </td>
                            </tr>
                            <tr>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold;">
                                    <apex:inputCheckbox value="{!NewHireFormProcess__c.Property_Management__c}"/>&nbsp;Property Management
                                </td>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold;">
                                    <apex:inputCheckbox value="{!NewHireFormProcess__c.Audio_Visual__c}"/>&nbsp;Audio/Visual
                                </td>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold;">
                                    <apex:inputCheckbox value="{!NewHireFormProcess__c.Executive__c}"/>&nbsp;Executive
                                </td>
                            </tr>
                            <tr>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold;">
                                    <apex:inputCheckbox value="{!NewHireFormProcess__c.B2_Storage__c}"/>&nbsp;B2 Storage
                                </td>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold;">
                                    &nbsp;
                                </td>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold;">
                                    &nbsp;
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="24%" style="font-size:14px; text-align:left; vertical-align:middle; font-weight:bold; padding-left:5px;">
                        Parking
                    </td>
                    <td style= "text-align:left; vertical-align:middle; font-weight:bold; padding-left:5px;">
                        <table width="100%" cellpadding="0" cellspacing="5">
                            <tr>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold;">
                                    <apex:inputCheckbox value="{!NewHireFormProcess__c.Parking_General__c}"/>&nbsp;General
                                </td>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold;">
                                    <apex:inputCheckbox value="{!NewHireFormProcess__c.Parking_Executive__c}"/>&nbsp;Executive
                                </td>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold;">
                                    <apex:inputCheckbox value="{!NewHireFormProcess__c.Parking_Contractor__c}"/>&nbsp;Contractor
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="24%" style="font-size:14px; text-align:left; vertical-align:middle; font-weight:bold; padding-left:5px;">
                        Hardware Needed
                    </td>
                    <td style= "text-align:left; vertical-align:middle; font-weight:bold; padding-left:5px;">
                        <table width="100%" cellpadding="0" cellspacing="5">
                            <tr>
                                <td height="20" colspan="3" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold;">
                                    Deploy External IT Package (Laptop, Docking Station, Keyboard, Mouse)&nbsp;<apex:inputCheckbox value="{!NewHireFormProcess__c.Deploy_External_IT_Package__c}"/>
                                </td>
                            </tr>
                            <tr>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold;">
                                    <apex:inputCheckbox value="{!NewHireFormProcess__c.Provide_Desktop__c}"/>&nbsp;Provide Desktop?
                                </td>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold;">
                                    <apex:inputCheckbox value="{!NewHireFormProcess__c.Provide_Laptop__c}"/>&nbsp;Provide Laptop?
                                </td>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold;">
                                    <apex:inputCheckbox value="{!NewHireFormProcess__c.Dual_Monitor_Display__c}"/>&nbsp;Dual Monitor Display?
                                </td>
                            </tr>
                            <tr>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold;">
                                    <apex:inputCheckbox value="{!NewHireFormProcess__c.Provide_iPhone__c}"/>&nbsp;Provide iPhone?
                                </td>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold;">
                                    <apex:inputCheckbox value="{!NewHireFormProcess__c.Provide_iPad__c}"/>&nbsp;Provide iPad?
                                </td>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold;" >
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td height="20" colspan="3" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold;" >
                                    Enter a list of any additional peripherals or hardware to be requisitioned for the employee.
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="24%" style="font-size:14px; text-align:left; vertical-align:middle; font-weight:bold; padding-left:5px;">
                        Active Directory Group(s)
                    </td>
                    <td style= "text-align:left; vertical-align:middle; font-weight:bold;">
                        <table width="100%" cellpadding="0" cellspacing="5">
                            <tr>
                                <td height="20" colspan="3" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold; padding-left:5px;">
                                    <span style="color:#FF0000; font-size:12px;">In accordance with Cole policy, access to Active Directory group(s) must be authorized by the group business owner.</span>
                                </td>
                            </tr>
                            <tr>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold; ">
                                    
                                   <apex:inputField value="{!NewHireFormProcess__c.Active_Directory_Group_1__c}"/>
                                   <!--<apex:selectList id="countries" value="{!NewHireFormProcess__c.Active_Directory_Group_1__c}" size="1" required="true">
                                   <apex:actionSupport event="OnChange" action="" reRender="dep"/>
                                        <apex:selectOptions value="{!SecurityGroups}"/>
                                   </apex:selectList>-->
                                                                        
                                </td>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold; ">
                                    
                                    <apex:inputField value="{!NewHireFormProcess__c.Active_Directory_Group_2__c}"  />
                                </td>                                
                            </tr>
                            <tr>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold; ">
                                   
                                    <apex:inputField value="{!NewHireFormProcess__c.Active_Directory_Group_3__c}"  />
                                </td>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold; ">
                                    
                                    <apex:inputField value="{!NewHireFormProcess__c.Active_Directory_Group_4__c}"  />
                                </td>                                
                            </tr>
                            <tr>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold; ">
                                   
                                    <apex:inputField value="{!NewHireFormProcess__c.Active_Directory_Group_5__c}"  />
                                </td>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold; ">
                                   
                                    <apex:inputField value="{!NewHireFormProcess__c.Active_Directory_Group_6__c}"  />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="24%" style="font-size:14px; text-align:left; vertical-align:middle; font-weight:bold; padding-left:5px;">
                        Additional Mailbox(es) To Which The User Should Be Granted Access
                    </td>
                    <td style= "text-align:left; vertical-align:middle; font-weight:bold; padding-left:5px;">
                        <table width="95%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold; ">
                                    <apex:inputText value="{!NewHireFormProcess__c.Additional_Mailbox1__c}"  />
                                </td>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold; ">
                                    <apex:inputText value="{!NewHireFormProcess__c.Additional_Mailbox2__c}"  />
                                </td>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold; ">
                                    <apex:inputText value="{!NewHireFormProcess__c.Additional_Mailbox3__c}"  />
                                </td>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold; ">
                                    <apex:inputText value="{!NewHireFormProcess__c.Additional_Mailbox4__c}"  />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="24%" style="font-size:14px; text-align:left; vertical-align:middle; font-weight:bold; padding-left:5px;">
                        Access Requested?
                    </td>
                    <td style= "text-align:left; vertical-align:middle; font-weight:bold; padding-left:5px;">
                        <table width="100%" cellpadding="0" cellspacing="5">
                            <tr>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold; padding-bottom:10px;">
                                    <apex:inputCheckbox id="mriaccess" value="{!NewHireFormProcess__c.MRI_Access_Requested__c}" onClick="MRIAlertClick();"/>
                                        <!--<apex:actionSupport event="onchange" reRender="idMRIAccess"/>
                                    </apex:inputcheckbox>-->
                                    &nbsp;MRI Access
                                </td>
                                <td style="font-size:12px; color:red; text-align:left; vertical-align:middle; font-weight:bold; padding-bottom:10px;">
                                    If MRI Access is Needed, Indicate Security Class Needed:<br/>
                                <apex:inputTextarea id="idMRIAccess" value="{!NewHireFormProcess__c.If_MRI_Access_is_Needed_Indicate_Secur__c}"  cols="50" rows="3" />
                                </td>                                                               
                            </tr>
                            
                            <tr>
                                <td>
                                </td>
                                <td style="font-size:12px; color:red; text-align:left; vertical-align:middle; font-weight:bold; padding-bottom:10px;">
                                    <apex:outputPanel rendered="{!MRIRequired}" style="font-size:12px; color:red;">
                                   Please enter Security Class
                                   </apex:outputPanel> 
                                </td>
                            </tr>
                            <tr>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold; padding-bottom:10px;">
                                    <apex:inputCheckbox value="{!NewHireFormProcess__c.Salesforce_Deal_Central_Access_Required__c}"/>&nbsp;Salesforce/Deal Central Access
                                </td>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold; padding-bottom:10px;">
                                    <apex:inputCheckbox value="{!NewHireFormProcess__c.Chatham_Requested__c}"/>&nbsp;Chatham
                                </td>
                            </tr>
                            <tr>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold; padding-bottom:10px;">
                                    <apex:inputCheckbox value="{!NewHireFormProcess__c.Webex_Access_Requested__c}"/>&nbsp;Webex
                                </td>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold; padding-bottom:10px;">
                                    <apex:inputCheckbox value="{!NewHireFormProcess__c.OneSource_Requested__c}"/>&nbsp;OneSource
                                </td>
                            </tr>
                            <tr>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold; padding-bottom:10px;">
                                    <apex:inputCheckbox value="{!NewHireFormProcess__c.AVID_Account_Requested__c}"/>&nbsp;AVID Account
                                </td>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold; padding-bottom:10px;">
                                    <apex:inputCheckbox value="{!NewHireFormProcess__c.Web_Filings_Requested__c}"/>&nbsp;Web Filings<br/>Check if SEC Filing Capability is needed&nbsp;<apex:inputCheckbox value="{!NewHireFormProcess__c.Check_if_SEC_Filing_Capability_is_needed__c}"/>
                                </td>
                            </tr>
                            <tr>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold; padding-bottom:10px;">
                                    <apex:inputCheckbox value="{!NewHireFormProcess__c.Concur_Account_Requested__c}"/>&nbsp;Concur Account
                                </td>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold; padding-bottom:10px;">
                                    <apex:inputCheckbox value="{!NewHireFormProcess__c.Kardin_Requested__c }"/>&nbsp;Kardin
                                </td>
                            </tr>
                            <tr>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold; padding-bottom:10px;">
                                    <apex:inputCheckbox value="{!NewHireFormProcess__c.Argus_Access_Requested__c}"/>&nbsp;Argus Access
                                </td>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold; padding-bottom:10px;">
                                     <apex:inputCheckbox value="{!NewHireFormProcess__c.RisKonnect_Requested__c}"/>&nbsp;RisKonnect
                                </td>
                            </tr>
                            <tr>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold; padding-bottom:10px;">
                                     <apex:inputCheckbox value="{!NewHireFormProcess__c.DST_Access_Requested__c}"/>&nbsp;DST Access
                                </td>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold; padding-bottom:10px;">
                                     <apex:inputCheckbox value="{!NewHireFormProcess__c.ADP_Requested__c}"/>&nbsp;ADP
                                </td>
                            </tr>
                            <tr>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold; padding-bottom:10px;">
                                     <apex:inputCheckbox value="{!NewHireFormProcess__c.VPN_Access_Requested__c}"/>&nbsp;VPN Access
                                </td>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold; padding-bottom:10px;">
                                     <apex:inputCheckbox value="{!NewHireFormProcess__c.VDI_Access_Requested__c}"/>&nbsp;VDI Access
                                </td>
                            </tr>
                            <tr>
                                <!--<td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold; padding-bottom:10px;">
                                     <apex:inputCheckbox value="{!NewHireFormProcess__c.Remote_Desktop_Requested__c}"/>&nbsp;Remote Desktop
                                </td>-->                                
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold; padding-bottom:10px;">
                                     <apex:inputCheckbox value="{!NewHireFormProcess__c.BNA_Access_Requested__c}"/>&nbsp;BNA Access
                                </td>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold; padding-bottom:10px;">
                                    <apex:inputCheckbox value="{!NewHireFormProcess__c.Box_com_Requested__c}"/>&nbsp;Box.com
                                </td>
                            </tr>
                            <tr>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold; padding-bottom:10px;">
                                    <apex:inputCheckbox value="{!NewHireFormProcess__c.Data_Warehouse_GL_Requested__c }"/>&nbsp;Data Warehouse - GL
                                </td>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold; padding-bottom:10px;">
                                    <apex:inputCheckbox value="{!NewHireFormProcess__c.Data_Warehouse_Real_Estate_Requested__c }"/>&nbsp;Data Warehouse – Real Estate
                                </td>
                            </tr>
                            <tr>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold; padding-bottom:10px;">
                                    <apex:inputCheckbox value="{!NewHireFormProcess__c.Data_Warehouse_Sales_Requested__c }"/>&nbsp;Data Warehouse - Sales
                                </td>
                                
                            </tr>
                            <tr>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold; padding-bottom:10px;">
                                    Distribution Lists?
                                </td>
                                <td style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold; padding-bottom:10px;">
                                    <apex:inputTextarea value="{!NewHireFormProcess__c.Distribution_Lists__c}" cols="50" rows="3"/>
                                </td>
                            </tr>
                            <tr>
                                <td width="30%" style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold; padding-bottom:10px;">
                                    Additional Instructions or Requests?
                                </td>
                                <td style="font-size:12px; text-align:left; vertical-align:middle; font-weight:bold; padding-bottom:10px;">
                                    <apex:inputTextarea value="{!NewHireFormProcess__c.Additional_Instructions_or_Requests__c}" cols="50" rows="3"/>
                                </td>                               
                            </tr>                           
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size:14px; text-align:center; vertical-align:middle; font-weight:bold; padding:10px;">
                        <!--<input type="submit" name="submit" style="background-color:#A6635D;width:160px;color:#FFFFFF;font-weight:bold;height:30px;font-size:14px;"/>-->
                        <apex:commandButton action="{!submitCase}" value="Submit" style="background-color:#B95151;width:160px;color:#060606;font-weight:bold;height:30px;font-size:14px;" />
                          <!--<apex:param assignTo="{!Case.recordtype}" name="rtype" value="NewHireForm" id="rtype"/>
                        </apex:commandButton>-->
                    </td>
                </tr>
            </table>
        </td>
    </tr>    
</table>
</div>
</td></tr></table>
</form>
</body>
<!--<script src="jquery-1.6.2.min.js"></script>
<script src="jquery-ui-1.8.15.custom.min.js"></script>
<link rel="stylesheet" href="jquery/jqueryCalendar.css"/>-->
</apex:form>
</apex:page>