<apex:page standardController="Project_Initiation__c" extensions="pifcontroller" id="pageId" showHeader="false" sidebar="false">
<apex:form id="mainFormId">
<script>
    var newWin=null;
    function openLookupPopup(name)
    {
        var url="/apex/CustomAccountLookup1?namefield=" + name;
        newWin=window.open(url, 'Popup','height=500,width=600,left=100,top=100,resizable=no,scrollbars=yes,toolbar=no,status=no');
        if (window.focus) 
        {
            newWin.focus();
        }
            
        return false;
    }
                  
    function closeLookupPopup()
    {
       if (null!=newWin)
       {
          newWin.close();
       }  
    }
   
   function caluclation()
   {
    
   // For Operating Expenses
   
    var a1=document.getElementById('pageId:mainFormId:aoa2').value;
    var a2=document.getElementById('pageId:mainFormId:aoa3').value;
    var a3=document.getElementById('pageId:mainFormId:aoa4').value;
    var a4=document.getElementById('pageId:mainFormId:aoa5').value;
   // For Total 1 
    document.getElementById('pageId:mainFormId:aoa6').value =parseInt(a1)+parseInt(a2)+parseInt(a3)+parseInt(a4);
    var a5=document.getElementById('pageId:mainFormId:aoa8').value;
    var a6=document.getElementById('pageId:mainFormId:aoa9').value;
    var a7=document.getElementById('pageId:mainFormId:aoa10').value;
    var a8=document.getElementById('pageId:mainFormId:aoa11').value;
   // For Total 2 
    document.getElementById('pageId:mainFormId:aoa12').value =parseInt(a5)+parseInt(a6)+parseInt(a7)+parseInt(a8);
    var a9=document.getElementById('pageId:mainFormId:aoa14').value;
    var a10=document.getElementById('pageId:mainFormId:aoa15').value;
    var a11=document.getElementById('pageId:mainFormId:aoa16').value;
    var a12=document.getElementById('pageId:mainFormId:aoa17').value;
   // For Total 3
    document.getElementById('pageId:mainFormId:aoa18').value =parseInt(a9)+parseInt(a10)+parseInt(a11)+parseInt(a12);
    var a13=document.getElementById('pageId:mainFormId:aoa20').value;
    var a14=document.getElementById('pageId:mainFormId:aoa21').value;
    var a15=document.getElementById('pageId:mainFormId:aoa22').value;
    var a16=document.getElementById('pageId:mainFormId:aoa23').value;
   // For Total 4
    document.getElementById('pageId:mainFormId:aoa24').value =parseInt(a13)+parseInt(a14)+parseInt(a15)+parseInt(a16);
    var a17=document.getElementById('pageId:mainFormId:aoa26').value;
    var a18=document.getElementById('pageId:mainFormId:aoa27').value;
    var a19=document.getElementById('pageId:mainFormId:aoa28').value;
    var a20=document.getElementById('pageId:mainFormId:aoa29').value;
    // For Total 5
    document.getElementById('pageId:mainFormId:aoa30').value =parseInt(a17)+parseInt(a18)+parseInt(a19)+parseInt(a20);
   
    //For SUM 1
    document.getElementById('pageId:mainFormId:aoa31').value =parseInt(a1)+parseInt(a5)+parseInt(a9)+parseInt(a13)+parseInt(a17); 
    //For SUM 2
    document.getElementById('pageId:mainFormId:aoa32').value =parseInt(a2)+parseInt(a6)+parseInt(a10)+parseInt(a14)+parseInt(a18); 
    //For SUM 3
    document.getElementById('pageId:mainFormId:aoa33').value =parseInt(a3)+parseInt(a7)+parseInt(a11)+parseInt(a15)+parseInt(a19); 
    //For SUM 4
    document.getElementById('pageId:mainFormId:aoa34').value =parseInt(a4)+parseInt(a8)+parseInt(a12)+parseInt(a16)+parseInt(a20); 
    var s1 = document.getElementById('pageId:mainFormId:aoa31').value;
    var s2 = document.getElementById('pageId:mainFormId:aoa32').value;
    var s3 = document.getElementById('pageId:mainFormId:aoa33').value;
    var s4 = document.getElementById('pageId:mainFormId:aoa34').value;
    // For Grand SUM
    document.getElementById('pageId:mainFormId:aoa35').value =parseInt(s1)+parseInt(s2)+parseInt(s3)+parseInt(s4); 
    
    
    // For Capital Expenditures
    
    var a1=document.getElementById('pageId:mainFormId:aoa37').value;
    var a2=document.getElementById('pageId:mainFormId:aoa38').value;
    var a3=document.getElementById('pageId:mainFormId:aoa39').value;
    var a4=document.getElementById('pageId:mainFormId:aoa40').value;
   // For Total 1 
    document.getElementById('pageId:mainFormId:aoa41').value =parseInt(a1)+parseInt(a2)+parseInt(a3)+parseInt(a4);
    var a5=document.getElementById('pageId:mainFormId:aoa43').value;
    var a6=document.getElementById('pageId:mainFormId:aoa44').value;
    var a7=document.getElementById('pageId:mainFormId:aoa45').value;
    var a8=document.getElementById('pageId:mainFormId:aoa46').value;
   // For Total 2 
    document.getElementById('pageId:mainFormId:aoa47').value =parseInt(a5)+parseInt(a6)+parseInt(a7)+parseInt(a8);
    var a9=document.getElementById('pageId:mainFormId:aoa49').value;
    var a10=document.getElementById('pageId:mainFormId:aoa50').value;
    var a11=document.getElementById('pageId:mainFormId:aoa51').value;
    var a12=document.getElementById('pageId:mainFormId:aoa52').value;
   // For Total 3
    document.getElementById('pageId:mainFormId:aoa53').value =parseInt(a9)+parseInt(a10)+parseInt(a11)+parseInt(a12);
    var a13=document.getElementById('pageId:mainFormId:aoa55').value;
    var a14=document.getElementById('pageId:mainFormId:aoa56').value;
    var a15=document.getElementById('pageId:mainFormId:aoa57').value;
    var a16=document.getElementById('pageId:mainFormId:aoa58').value;
   // For Total 4
    document.getElementById('pageId:mainFormId:aoa59').value =parseInt(a13)+parseInt(a14)+parseInt(a15)+parseInt(a16);
    var a17=document.getElementById('pageId:mainFormId:aoa61').value;
    var a18=document.getElementById('pageId:mainFormId:aoa62').value;
    var a19=document.getElementById('pageId:mainFormId:aoa63').value;
    var a20=document.getElementById('pageId:mainFormId:aoa64').value;
    // For Total 5
    document.getElementById('pageId:mainFormId:aoa65').value =parseInt(a17)+parseInt(a18)+parseInt(a19)+parseInt(a20);
   
    //For SUM 1
    document.getElementById('pageId:mainFormId:aoa66').value =parseInt(a1)+parseInt(a5)+parseInt(a9)+parseInt(a13)+parseInt(a17); 
    //For SUM 2
    document.getElementById('pageId:mainFormId:aoa67').value =parseInt(a2)+parseInt(a6)+parseInt(a10)+parseInt(a14)+parseInt(a18); 
    //For SUM 3
    document.getElementById('pageId:mainFormId:aoa68').value =parseInt(a3)+parseInt(a7)+parseInt(a11)+parseInt(a15)+parseInt(a19); 
    //For SUM 4
    document.getElementById('pageId:mainFormId:aoa69').value =parseInt(a4)+parseInt(a8)+parseInt(a12)+parseInt(a16)+parseInt(a20); 
    var s1 = document.getElementById('pageId:mainFormId:aoa66').value;
    var s2 = document.getElementById('pageId:mainFormId:aoa67').value;
    var s3 = document.getElementById('pageId:mainFormId:aoa68').value;
    var s4 = document.getElementById('pageId:mainFormId:aoa69').value;
    // For Grand SUM
    document.getElementById('pageId:mainFormId:aoa70').value =parseInt(s1)+parseInt(s2)+parseInt(s3)+parseInt(s4); 
    
 }
    
    function colorPageBlock(pageblock, color) {
        if (pageblock != null) 
            pageblock.firstChild.style.cssText = "background-color: "+ color + ";" 
         }
</script>
<style>
 .col1 {width:400px;text-align:right;}
 .col2 {width:50px;text-align:right;}
 .col3 {width:800px;text-align:right;}
 .col4 {width:500px;}
 .myclass{width:600px;}
 .myclass1{width:600px;}
 .myclass2{width:400px;}
 .myclass3{width:175px;}
 .myclass4{width:120px;}
 .myclass5{width:160px;}
 .myclass6{width:300px;}
 .myclass10{width:350px;}
 .currencySpan { position:absolute; margin-left:2px; margin-top:7px; z-index:9999; font-size:17px;}
 .currencyInput { text-indent:20px;}
 .currencySpan1 { position:absolute; margin-left:2px; margin-top:7px; z-index:9999; font-size:17px;}
 .currencyInput1 { text-indent:20px;}
 .headerRow .TableTitle {
    background-color: #F0F8FF !important;
    background-image: none !important; //This is needed if you want to overwrite the header background
    color: #CC0000 !important; 
    font-size:100% !important;
    }
 .txtright {
 
  text-align:right;
  
  }   
  
 
</style>
<apex:stylesheet value="{!$Resource.style}"/>
<link href="{!URLFOR($Resource.PIFnewstyle,'css/style.css')}" rel="stylesheet" type="text/css" />
<body>
        <div id="PIF">
        <div  class="heading">
        <div class="lstrip"><span>Project Initiation Form</span></div>
        <div class="clear"></div>
        <div  class="content">
        <div class="sections">
        <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr>
          <td colspan="4" class="titleTxt">Project Details</td>
        </tr>
        <tr>
          <td width="16%" style="font-weight:bold;">Project Name</td>
          <td colspan="3"><apex:inputtext value="{!Project_Initiation__c.Name}"  size="60" styleclass="myclass2" /></td>
        </tr>
        <tr>
          <td style="font-weight:bold;">Business Unit</td>
          <td width="32%"><apex:inputfield value="{!Project_Initiation__c.Business_Unit__c}"  styleclass="myclass3"/></td>
          <td width="20%" style="font-weight:bold;">Project Sponsor</td>
          <td width="32%"><apex:inputfield value="{!Project_Initiation__c.Sponsor__c}" styleclass="myclass3"/></td>
        </tr>
        <tr>
          <td style="font-weight:bold;">Department</td>
          <td width="32%"><apex:inputField value="{!Project_Initiation__c.Department__c}"/></td>
          <td style="font-weight:bold;">Project Champion</td>
          <td><apex:inputtextarea value="{!Project_Initiation__c.Selected_Champions__c}" id="targetName" title="Please Choose the Champion" cols="30" rows="1" styleclass="myclass3"/>
          <a href="#" onclick="openLookupPopup('{!$Component.targetName}'); return false">
            <img src="/s.gif" alt="Parent Account Lookup (New Window)" 
                class="lookupIcon" 
                onblur="this.className = 'lookupIcon';" 
                onfocus="this.className = 'lookupIconOn';" 
                onmouseout="this.className = 'lookupIcon';this.className = 'lookupIcon';" 
                onmouseover="this.className = 'lookupIconOn';this.className = 'lookupIconOn';"/>
          </a>
         </td>
        </tr>
        <tr>
          <td style="font-weight:bold;"> Committed Date</td>
          <td sytle="padding:2px;">
          <apex:inputtext value="{!Project_Initiation__c.Committed_date1__c}" size="10" id="demo10" onfocus="DatePicker.pickDate(false, this , false);"/>
          </td>
          <td style="font-weight:bold;">Project Manager</td>
          <td> <apex:inputField value="{!Project_Initiation__c.Manager__c}" onfocus="this.blur()" styleclass="myclass3"/></td>
        </tr>
        <tr>
          <td style="font-weight:bold;">Project Size</td>
          <td><apex:inputField value="{!Project_Initiation__c.Project_Size__c}"/></td>
          <td style="font-weight:bold;">Project Code</td>
          <td><apex:inputtext value="{!Project_Initiation__c.Code__c}" onfocus="this.blur()" styleclass="myclass3"/></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td style="font-weight:bold;">ARCP Integration Project</td>
          <td><apex:selectRadio value="{!radio}" id="radiolist">
              <apex:selectoptions value="{!items}"/>
          </apex:selectRadio>
          </td>
        </tr>
     </table>
    </div>
 <div class="sections">
  
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  
      <tr>
          <td class="titleTxt">Project Description:<span>(goal statement, supporting documentation and background)</span></td>
          <td width="11%" style="padding-left:15px;" class="titleTxt">Budget:</td>
          <td width="21%" style="padding-left:15px;" class="titleTxt">&nbsp;</td>
      </tr>
       
      <tr>
         
          <td width="50%" valign="top">
           <apex:inputfield value="{!Project_Initiation__c.Project_Description0__c}" styleclass="myclass10"/>
          </td>
        
          
          <td colspan="2" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="17%" style="padding-top:20px;padding-left:15px;font-weight:bold;">CapEx:</td>
              <td width="83%" style="padding-top:20px;"><span class="currencySpan1">$</span><apex:inputfield value="{!Project_Initiation__c.CapEx__c}"  styleclass="currencyInput1 swid txtright"/></td>
            </tr>
            <tr>
              <td style="font-weight:bold;padding-left:15px;">OpEx:</td>
              <td><span class="currencySpan1">$</span><apex:inputfield value="{!Project_Initiation__c.OpEx__c}"   styleclass="currencyInput1 swid txtright"/>
              </td>
            </tr>
          </table></td>
          </tr>
 
  </table>
  </div>
 
  
  <div class="sections">
     <table border="0" cellspacing="0" cellpadding="0">

        <tr>
        <td class="titleTxt">Motivation And Benefits:<span>(project justification, who benefits and how)</span></td>
        </tr>
        <tr>
          <td  valign="top">
           <apex:inputfield value="{!Project_Initiation__c.Motivation_Benefits0__c}" styleclass="myclass" />
          </td>
        </tr>
  
     </table>
   </div>
  
   <div class="sections">
    
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="titleTxt">Risks And Assumptions: <span>(risks and/or assumptions regarding the project)</span></td>
        </tr>
        <tr>
          <td valign="top">
           <span><apex:inputfield value="{!Project_Initiation__c.Risks_Assumptions__c}" styleclass="myclass"/></span>
          </td>
        </tr>
        <tr>
          <td valign="center">Project requires Compliance approval
          <apex:selectRadio value="{!radio2}" required="true">
                      <apex:selectoptions value="{!items2}"/>
          </apex:selectRadio></td>
        </tr>
     </table>
      </div>
   <div class="sections">
      <table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="titleTxt">Scope And Deliverables: <span>(describe what the project will deliver to the business including high-level required functionality)</span></td>
          </tr>
        
        </table>
       <table border="0" cellspacing="0" cellpadding="0">
       <tr>
          <td valign="top"> 
           <span><apex:inputfield value="{!Project_Initiation__c.Scope_Deliverables0__c}" styleclass="myclass2"/></span>
          </td>
        </tr>
      </table>
   </div>
   <div class="sections">
       <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="titleTxt">Organizational Involvement: <span>(list any internal resources that will need to devote time to the project)</span></td>
        </tr>
       <tr> 
      <td valign="top">
      <apex:pageBlock tabStyle="Account" id="addrows">
        <apex:pageBlockTable value="{!pif}" var="a" id="table" columns="2" cellpadding="2">
          <apex:column headerValue="Resource Name/Description" headerClass="TableTitle" styleClass="myclass5">
              <apex:inputtextarea value="{!a.Resource_Name_Description__c}"   styleClass="myclass6" rows="1" />
          </apex:column>
          <apex:column headerValue="Estimated Time Commitment" headerClass="TableTitle" styleClass="myclass5">
             <apex:inputField value="{!a.Estimated_Time_Commitment__c}" styleClass="myclass5"/>
         </apex:column>
        </apex:pageBlockTable>
      </apex:pageBlock>
        <div>
        </div>
        </td>
       </tr>     
      </table>
   </div>
   <div class="sections">
    
      <table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="titleTxt"><span>Describe any required organizational Involvement in the box below:</span></td>
          </tr>
        <tr>
          <td valign="top">
            <apex:inputfield value="{!Project_Initiation__c.Organizational_Involvement0__c}" styleclass="myclass" />
          </td>
        </tr>
      </table>
   </div>
   <div class="sections">
    
       <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="titleTxt">Budget And 3rd Party Involvement: <span>(document the expected budget and explain any 3rd party involvement)</span></td>
        </tr>
        <tr>
         <td valign="top">
          Was the Project Included in the Original Budget?
         
          <apex:selectRadio value="{!radio1}">
              <apex:selectoptions value="{!items1}"/>
          </apex:selectRadio>
         </td>
        </tr>
        <tr>
          <td valign="top">&nbsp;</td>
        </tr>
         <tr>
          <td valign="top" class="bGraydotline">
          <table border="0" cellspacing="0" cellpadding="0" >
            <tr>
              <td colspan="2" class="titleTxt">Original Budget:</td>
              <td width="210">&nbsp;</td>
            </tr>
            <tr>
              <td width="4">&nbsp;</td>
              <td colspan="2">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
             <tr>
                  <td width="17%" style="padding-left:100px;font-weight:bold;">CapEx:</td>
                  <td width="83%"><span class="currencySpan1">$</span><apex:inputField value="{!Project_Initiation__c.CapEx1__c}" styleclass="currencyInput swid txtright"/></td>
             </tr>
             <tr>
                  <td width="17%" style="padding-left:100px;font-weight:bold;">OpEx:</td>
                  <td width="83%"><span class="currencySpan1">$</span><apex:inputField value="{!Project_Initiation__c.OpEx1__c}" styleclass="currencyInput swid txtright"/></td>
             </tr>
             </table>
             </td>
            </tr>
           </table>
          </td>
        </tr>
        <tr>
          <td valign="top" class="titleTxt">Proposed Budget:</td>
        </tr>
        <tr>
          <td align="center" valign="top" class="titleTxt"><span>Operating Expenses</span> </td>
        </tr>
        <tr>
          <td valign="top">
          <table  width="100%" border="0" cellpadding="4" cellspacing="1" bgcolor="#e0e3e5">
    
        <tr>
            <th bgcolor="#f2f3f3">Vendor/Description</th>
            <th bgcolor="#f2f3f3">Q1</th>
            <th bgcolor="#f2f3f3">Q2</th>
            <th bgcolor="#f2f3f3">Q3</th>
            <th bgcolor="#f2f3f3">Q4</th>
            <th bgcolor="#f2f3f3">TOTAL</th>
            
        </tr>
   
    
    
        <tr>
            <th bgcolor="#FFFFFF"><apex:inputtext id="aoa1" styleClass="txtright swid" value="{!Project_Initiation__c.OP_Vendor_Description0__c}"/></th>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa2" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.Q01__c}" onkeyup="caluclation()"/></td>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa3" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.Q02__c}" onkeyup="caluclation()"/></td>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa4" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.Q03__c}" onkeyup="caluclation()"/></td>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa5" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.Q04__c}"  onkeyup="caluclation()"/></td>
            <td bgcolor="#FFFFFF" class="txtright"><span class="currencySpan">$</span><apex:inputtext id="aoa6"   styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.Operating_Total01__c}"/></td>
        </tr>
       <tr>
            <th bgcolor="#FFFFFF"><apex:inputText id="aoa7" styleClass="txtright  swid" value="{!Project_Initiation__c.OP_Vendor_Description1__c}"/></th>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa8" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.Q5__c}" onkeyup="caluclation()"/></td>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa9" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.Q6__c}" onkeyup="caluclation()"/></td>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa10" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.Q7__c}" onkeyup="caluclation()"/></td>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa11" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.Q8__c}" onkeyup="caluclation()"/></td>
            <td bgcolor="#FFFFFF" class="txtright"><span class="currencySpan">$</span><apex:inputText id="aoa12" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.Operating_Total1__c}"/></td>
        </tr>
        <tr>
            <th bgcolor="#FFFFFF"><apex:inputText id="aoa13" styleClass="txtright  swid" value="{!Project_Initiation__c.OP_Vendor_Description2__c}"/></th>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa14" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.Q9__c}" onkeyup="caluclation()"/></td>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa15" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.Q10__c}" onkeyup="caluclation()"/></td>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa16" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.Q11__c}" onkeyup="caluclation()"/></td>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa17" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.Q12__c}" onkeyup="caluclation()"/></td>
            <td bgcolor="#FFFFFF" class="txtright"><span class="currencySpan">$</span><apex:inputText id="aoa18" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.Operating_Total2__c}"/></td>
        </tr>
        <tr>
            <th bgcolor="#FFFFFF"><apex:inputText id="aoa19" styleClass="txtright  swid" value="{!Project_Initiation__c.OP_Vendor_Description3__c}"/></th>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa20" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.Q13__c}" onkeyup="caluclation()"/></td>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa21" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.Q14__c}" onkeyup="caluclation()"/></td>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa22" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.Q15__c}" onkeyup="caluclation()"/></td>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa23" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.Q16__c}" onkeyup="caluclation()"/></td>
            <td bgcolor="#FFFFFF" class="txtright"><span class="currencySpan">$</span><apex:inputText id="aoa24" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.Operating_Total3__c}"/></td>
        </tr>
        <tr>
            <th bgcolor="#FFFFFF"><apex:inputText id="aoa25" styleClass="txtright  swid" value="{!Project_Initiation__c.OP_Vendor_Description4__c}"/></th>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa26" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.Q17__c}" onkeyup="caluclation()"/></td>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa27" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.Q18__c}" onkeyup="caluclation()"/></td>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa28" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.Q19__c}" onkeyup="caluclation()"/></td>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa29" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.Q20__c}" onkeyup="caluclation()"/></td>
            <td bgcolor="#FFFFFF" class="txtright"><span class="currencySpan">$</span><apex:inputText id="aoa30" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.Operating_Total4__c}"/></td>
        </tr>
        
        
        
        
        
    
    
        <tr>
            <th bgcolor="#FFFFFF">SUM</th>
            <td bgcolor="#FFFFFF" class="txtright"><span class="currencySpan">$</span><apex:inputText id="aoa31" styleClass="currencyInput swid txtright"  value="{!Project_Initiation__c.Operating_SUM0__c}"/></td>
            <td bgcolor="#FFFFFF" class="txtright"><span class="currencySpan">$</span><apex:inputText id="aoa32" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.Operating_SUM1__c}" /></td>
            <td bgcolor="#FFFFFF" class="txtright"><span class="currencySpan">$</span><apex:inputText id="aoa33" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.Operating_SUM2__c}" /></td>
            <td bgcolor="#FFFFFF" class="txtright"><span class="currencySpan">$</span><apex:inputText id="aoa34" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.Operating_SUM3__c}" /></td>
            <td bgcolor="#FFFFFF" class="txtright"><span class="currencySpan">$</span><apex:inputText id="aoa35" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.Operating_GRANDSUM__c}"/></td>
           
        </tr>
    
</table>
        <table class="vend" width="100%">
            <tbody>  
             <tr><td>
              </td></tr>
            </tbody>
         </table></td>
        </tr>
        <tr>
          <td align="center" valign="top" class="titleTxt"><span>Capital Expenditures</span></td>
        </tr>
        <tr>
          <td valign="top">
            <table  width="100%" border="0" cellpadding="4" cellspacing="1" bgcolor="#e0e3e5">
              
                <tr>
                  <th bgcolor="#f2f3f3">Vendor/Description</th>
                  <th bgcolor="#f2f3f3">Q1</th>
                  <th bgcolor="#f2f3f3">Q2</th>
                  <th bgcolor="#f2f3f3">Q3</th>
                  <th bgcolor="#f2f3f3">Q4</th>
                  <th bgcolor="#f2f3f3">TOTAL</th>
                  
                  </tr>
                          
        <tr>
            <th bgcolor="#FFFFFF"><apex:inputText id="aoa36" styleClass="txtright swid" value="{!Project_Initiation__c.CP_Vendor_Description0__c}"/></th>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa37" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.CPQ01__c}" onkeyup="caluclation()"/></td>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa38" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.CPQ02__c}" onkeyup="caluclation()"/></td>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa39" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.CPQ03__c}" onkeyup="caluclation()"/></td>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa40" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.CPQ04__c}"  onkeyup="caluclation()"/></td>
            <td bgcolor="#FFFFFF" class="txtright"><span class="currencySpan">$</span><apex:inputText id="aoa41" size="14"  styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.Capital_TOTAL0__c}"/></td>
        </tr>
        <tr>
            <th bgcolor="#FFFFFF"><apex:inputText id="aoa42" styleClass="txtright  swid" value="{!Project_Initiation__c.CP_Vendor_Description1__c}"/></th>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa43" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.CPQ5__c}" onkeyup="caluclation()"/></td>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa44" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.CPQ6__c}" onkeyup="caluclation()"/></td>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa45" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.CPQ7__c}" onkeyup="caluclation()"/></td>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa46" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.CPQ8__c}" onkeyup="caluclation()"/></td>
            <td bgcolor="#FFFFFF" class="txtright"><span class="currencySpan">$</span><apex:inputText id="aoa47" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.Capital_TOTAL1__c}"/></td>
        </tr>
        <tr>
            <th bgcolor="#FFFFFF"><apex:inputText id="aoa48" styleClass="txtright  swid" value="{!Project_Initiation__c.CP_Vendor_Description2__c}"/></th>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa49" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.CPQ9__c}" onkeyup="caluclation()"/></td>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa50" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.CPQ10__c}" onkeyup="caluclation()"/></td>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa51" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.CPQ11__c}" onkeyup="caluclation()"/></td>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa52" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.CPQ12__c}" onkeyup="caluclation()"/></td>
            <td bgcolor="#FFFFFF" class="txtright"><span class="currencySpan">$</span><apex:inputText id="aoa53" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.Capital_TOTAL2__c}"/></td>
        </tr>
        <tr>
            <th bgcolor="#FFFFFF"><apex:inputText id="aoa54" styleClass="txtright  swid" value="{!Project_Initiation__c.CP_Vendor_Description3__c}"/></th>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa55" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.CPQ13__c}" onkeyup="caluclation()"/></td>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa56" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.CPQ14__c}" onkeyup="caluclation()"/></td>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa57" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.CPQ15__c}" onkeyup="caluclation()"/></td>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa58" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.CPQ16__c}" onkeyup="caluclation()"/></td>
            <td bgcolor="#FFFFFF" class="txtright"><span class="currencySpan">$</span><apex:inputText id="aoa59" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.Capital_TOTAL3__c}"/></td>
        </tr>
        <tr>
            <th bgcolor="#FFFFFF"><apex:inputText id="aoa60" styleClass="txtright  swid" value="{!Project_Initiation__c.CP_Vendor_Description4__c}"/></th>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa61" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.CPQ17__c}" onkeyup="caluclation()"/></td>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa62" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.CPQ18__c}" onkeyup="caluclation()"/></td>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa63" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.CPQ19__c}" onkeyup="caluclation()"/></td>
            <td align="right" bgcolor="#FFFFFF"><span class="currencySpan">$</span><apex:inputfield id="aoa64" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.CPQ20__c}" onkeyup="caluclation()"/></td>
            <td bgcolor="#FFFFFF" class="txtright"><span class="currencySpan">$</span><apex:inputText id="aoa65" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.Capital_TOTAL4__c}"/></td>
        </tr>
          
        <tr>
            <th bgcolor="#FFFFFF">SUM</th>
            <td bgcolor="#FFFFFF" class="txtright"><span class="currencySpan">$</span><apex:inputText id="aoa66" styleClass="currencyInput swid txtright"  value="{!Project_Initiation__c.Capital_SUM0__c}"/></td>
           <td bgcolor="#FFFFFF" class="txtright"><span class="currencySpan">$</span><apex:inputText id="aoa67" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.Capital_SUM1__c}"/></td>
            <td bgcolor="#FFFFFF" class="txtright"><span class="currencySpan">$</span><apex:inputText id="aoa68" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.Capital_SUM2__c}"/></td>
            <td bgcolor="#FFFFFF" class="txtright"><span class="currencySpan">$</span><apex:inputText id="aoa69" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.Capital_SUM3__c}"/></td>
            <td bgcolor="#FFFFFF" class="txtright"><span class="currencySpan">$</span><apex:inputText id="aoa70" styleClass="currencyInput swid txtright" value="{!Project_Initiation__c.Capital_GRANDSUM__c}"/></td>
            
        </tr>
    
      </table>
       <table class="vend" width="100%">
            <tbody>  
             <tr><td>
              </td></tr>
            </tbody>
         </table>
        </td>
        </tr>
     </table>
   </div>                             
   <div class="sections">
    
      <table  border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="titleTxt"><span>Describe any required organizational Involvement in the box below:</span></td>
          </tr>
        <tr>
          <td valign="top">
         <span><apex:inputfield value="{!Project_Initiation__c.Budget_3rd_Party_Involvement0__c}" styleclass="myclass"/></span>
          </td>
          </tr>
      </table>
    </div>
   
    <div class="sections">
    <table border="0" cellspacing="0" cellpadding="0">
    <tr>
    <td class="titleTxt" valign="top" style="padding-bottom:25px;">Upload Multiple Attachment Files: </td>
    </tr>
    </table>
    <tr>
    <apex:pageMessages id="MSG"/>
    </tr>
    <tr>
    <td>
       <apex:pageBlock tabStyle="Account" rendered="{!$CurrentPage.Parameters.id!=null}">
         <c:fileupload parentId="{!$CurrentPage.Parameters.id}"/>
       </apex:pageblock>    
    </td>
    </tr> 
               
        <tr>
        <td>
           <apex:pageBlock tabStyle="Account" title="Existing Attachments" rendered="{!$CurrentPage.Parameters.id!=null}">
        <apex:pageBlockTable value="{!attachments}" var="attachment">
            <apex:column headerValue="Action" headerClass="TableTitle">
               <apex:outputLink value="{!URLFOR($Action.Attachment.Download, attachment.Id)}" target="_blank" style="color:#007eca;">View</apex:outputLink>
            </apex:column>
            <apex:column value="{!attachment.Name}" headerValue="Name" headerClass="TableTitle"/>
            <apex:column value="{!attachment.Description}" headerValue="Description" headerClass="TableTitle"/>
        </apex:pageBlockTable>
        </apex:pageBlock> 
         </td>
        </tr>
   
    </div>
 
<apex:panelGrid border="0" columns="2" columnClasses="col1,col2">
         <apex:commandButton value="Save As Draft" action="{!submit}" style="background-color:#B95151;width:150px;color:#060606;font-weight:bold;height:30px;font-size:14px;"/>
         <apex:commandButton value="Submit For Approval" action="{!saveandsubmit}" style="background-color:#B95151;width:160px;color:#060606;font-weight:bold;height:30px;font-size:14px;"/>
</apex:panelGrid>
</div>
</div>
</div>
<script src="{!URLFOR($Resource.PIFnewstyle,'js/jquery-1.8.3.min.js')}" type="text/javascript"></script>
</body>
</apex:form>
</apex:page>