<apex:page controller="cms.GenerateContent" extensions="ocms_PortalMessage" showHeader="false" sidebar="false" standardStylesheets="false" cache="false">
<html>
    <head></head>
    <body>
{:Start:}
    <script type="text/javascript">
        $( document ).ready(function() {
            $('#checkall').click(function(){        
                if ($(this).attr('checked')) {
                    $('input:checkbox').attr('checked','checked');
                    $(this).attr('checked','checked');
                } else {
                    $('input:checkbox').removeAttr('checked');
                    $(this).removeAttr('checked');
                }
            });
        }); 

        function deleteMessage () {
            var mIdArray = [];
            var mIdJSON = '';

            $('input[id=messageCheck]').each(function() {
                if ($(this).attr('checked')) {
                    mIdArray.push($(this).val())
                }
            });
            
            if (mIdArray.length != 0) {
                //mIdJSON = JSON.stringify(mIdArray);
                    
                var serviceParams = {
                    action : 'deleteMessages', 
                    msgIds : JSON.stringify(mIdArray) 
                }

                $.orchestracmsRestProxy.doAjaxServiceRequest(
                    'ocms_PortalMessage',
                    serviceParams,
                    function (testStatus, json, xhr) {
                        if (json.success) {
                            console.log(json);
                            location.reload();
                        } 
                    }
                ); 
            }   
        }
    </script>
    <div class="pMsgTable">
        <table>
        <tbody>
            <tr>
                <th>
                    <input type="checkbox" name="selected" value="Select All" id="checkall"/>
                </th>
                <th>Date</th>
                <th>Subject</th>
            </tr>
            <apex:repeat var="message" value="{!pm}">
            <tr>
                <td width="40px">
                    <input id="messageCheck" type="checkbox" name="selected" value="{!message.Id}"/>
                </td> 
                <td width="150px">
                    <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                        <apex:param value="{!message.Message_Date__c}" /> 
                    </apex:outputText>
                </td>
                <td>
                    <a href="{!dPage}{!message.Id}">{!message.Message_Subject__c}</a>
                    <apex:outputText rendered="{!!NOT(message.New_Message__c)}">    
                        <span style="font-weight:bold; margin-left:20px;">      NEW!</span>
                    </apex:outputText>
                </td>
            </tr>
            </apex:repeat>
        </tbody>
        </table>
        <apex:outputText rendered="{!pm.size==0}">
            <div class="noNewMessages">No Messages</div>
        </apex:outputText>
        <apex:outputText rendered="{!pm.size!=0}">
            <a class="linkButton" href="javascript:deleteMessage()">Delete</a>
        </apex:outputText>
    </div>
{:Stop:}
    </body>
</html>
</apex:page>