<apex:page standardController="MRI_PROPERTY__c" showHeader="flase" sidebar="False">
 
  <apex:form >
    <script src="{!URLFOR($Resource.jquery, 'js/jquery-1.4.4.min.js')}"/>
    <script src="{!URLFOR($Resource.jquery, 'js/jquery-ui-1.8.7.custom.min.js')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.jquery, 'css/ui-lightness/jquery-ui-1.8.7.custom.css')}"/>
    <script type="text/javascript">
    var $j = jQuery.noConflict();
    <apex:includeScript value="{!$Resource.jquery}"/> 
     $j(document).ready(function() {
    $j("#newContBtn").click(function(){
    
    var koopId =  $j("#mriid").val();
    
    window.open('{!$Label.Current_Org_Url}/apex/prop_contacts_popup?cid='+koopId+'&id='+koopId,'_blank','width=600,height=500, scrollbars=no,resizable=no'); 
    })
    
    $j("#massBtns").click(function(){

    var koopId = $j("#mriid").val();
    var sel = $j('.propId:checked').map(function(_, el) {
        return $j(el).val();
    }).get(); 

     window.open('{!$Label.Current_Org_Url}/apex/mass_apply?cid='+koopId+'&id='+koopId+'&lid='+sel,'_blank','width=600,height=500, scrollbars=no,resizable=no');    
        })  
    });
    
    </script>

   <div align="center">
        <input type="button" id="newContBtn" value="New Contact" class="btn" />
        <input type="button" id="massBtns" value="Mass Apply" class="btn" />

    </div>
  <input type="hidden" value="{!$CurrentPage.parameters.id}" name="mriid" id="mriid" />

   <c:PC_InlinepageComponent p_objType="Lease"></c:PC_InlinepageComponent>

   </apex:form>
</apex:page>