<apex:page standardController="MRI_PROPERTY__c" extensions="PC_Popup_MRIProp_BuildingContacts" showHeader="false" sidebar="false" id="pg">

<script language="javascript" type="text/javascript"> 
<script language="JavaScript1.2" src="/js/functions.js"></script>
<script src="/soap/ajax/9.0/connection.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-1.8.2.js"></script>
<script src="https://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css"/>
<script type="text/javascript"> var j$ = jQuery.noConflict();</script>

   <apex:includeScript value="{!URLFOR($Resource.Jquery1,'js/jquery-1.7.2.min.js')}"/>
    <style type="text/css">
    .col1 {width:300px;text-align:right;}
    .col2 {width:50px;text-align:right}
    .col3 {width:50px;text-align:left}
    
   .outerdiv {
        background-repeat: repeat-x;
        background-position: left top;
        background: white url(/img/alohaSkin/lookup_bg.png) repeat-x;
        padding-left: 10px;
        height: 100%;
    }
    .innerdiv {
        background-image: url(/img/sprites/master.png);
        background-position: 0px -1202px;
        width: 32px;
        height: 32px;
    }  
    .requiredLoaderBG{
        background-color: rgb(71,71,71);
        opacity:0.7;
        filter:alpha(opacity=70);
        background-image:url('{!$Resource.Loading}');
        background-position: center center;
        background-repeat: no-repeat;
        height: 100%;
        left: 0;
        position: fixed;
        text-align: center;
        top: 0;
        width: 100%;
        z-index: 1;
    }
 </style>
    <script>
        var myWindow;
        var myWindow2;
        var firstwindow;
        var firstwindow1;
        function closepop() {
            if (jQuery('.messageCell').length > 0){
                // Error exists
                //alert('There is an error on the page!');
            }
            else{
                //alert('No errors!');
                myWindow = window.close();
            }       
            
        }
       /* function closeWindow() {
            window.close();
        }*/
        function enableDisable(cb){
          $("input:checkbox[id*=looped]").removeAttr('checked');
          $(cb).attr('checked', 'checked');
        } 
        function pop() {
        
            firstwindow = window.close();
        }
        /*$(document).ready(function() {
            $("#txtSearch").keyup(function(event){
                if(event.keyCode == 13){
                    $("#gobutton").click();
                }
            });
        }); */      
    </script>
    <script type="text/javascript">
       $j = jQuery.noConflict();
       $j(document).ready(function(){
                        // ----   
                        var anyBoxesChecked = false;
                        var anyBoxesChecked2 = false;
                        $j(document).on('click', "#btnBox2 input[type=button]", function () {
                            $j("input[type=checkbox].myCheckboxClass2").each(function() {
                                    if ($j(this).is(":checked")) {
                                        anyBoxesChecked2 = true;
                                        $j(".errBox2").hide();
                                        //window.close();
                                        
                                    }
                        });
                        if (anyBoxesChecked2 == false) {
                          //alert('Please select Building Id');
                          $j(".errBox2").show();
                          window.open('', '_self', '');

                         // return false;
                        } 
                        })
                        // ---- 
                        
                        $j(document).on('click', "#btnBox input[type=button]", function () {
                            $j("input[type=checkbox].myCheckboxClass").each(function() {
                                    if ($j(this).is(":checked")) {
                                        anyBoxesChecked = true;
                                        $j(".errBox").hide();
                                        //window.close();
                                       
                                    }
                            });
                            if (anyBoxesChecked == false) {
                              //alert('Please select Building Id');
                              $j(".errBox").show();
                           
                              return false;
                            } 
                        })
                        
                        // ---- 
                        
                        
                        
                        
         $j('.inputSearchText').live("keypress", function() {
            if(event.keyCode == 13){
              $j(".searchByMe").click();
              return false;
            }
         });
        });
       function reloadParent(){
            //window.location.parent.href= window.location.parent;
            window.opener.location.reload();
       }
    </script> 
<script type="text/javascript">
  jQuery.noConflict();

  function ClearAll()
  {
    jQuery(".myCheckboxClass").each(function()
    {
      jQuery(this).attr("checked",false);
    });
  }

</script>   
  

<script>     
 
function dupecheck() {
    sforce.connection.sessionId = '{!$Api.Session_ID}';
    //alert(sforce.connection.sessionId );
    var email= document.getElementById('pg:myForm:searchResults1:Email').value;
     var phone= document.getElementById('pg:myForm:searchResults1:Phone').value;
     var cell= document.getElementById('pg:myForm:searchResults1:Cell').value;
   // var email= jQuery(".Email").val();
   // alert(email);
    
var propcontacts= sforce.connection.query("select Id,Email_Address__c,Phone__c from Property_Contacts__c where (Email_Address__c!=Null and Email_Address__c ="+"\'"+email+"\') OR (Phone__c!=Null and Phone__c="+"\'"+phone+"\') ");
 // alert(propcontacts);
 
   if(propcontacts.size > 0){
     if(!confirm("Email/ Phone already exists, Still want to Continue?")){ 
      // return True;
      // createNewRecord();
      window.top.close();
     }
    }
    
    return false;
     }
    
</script>  

<script>
window.onunload = refreshParent;
function refreshParent() {
    var pid='{!JSENCODE(HTMLENCODE($CurrentPage.parameters.id))}';
    if(pid!=null && pid!=undefined)window.opener.location = '/apex/PC_InlinePage_MRIProp_BuildingContacts?id='+pid;
    else window.opener.location.reload(true);
}
</script>




 <apex:form id="myForm" >
 
  <apex:outputPanel id="page" layout="block" style="margin:5px;padding:10px;padding-top:2px;" >
  <apex:pagemessages id="Mymeage"/>
         <apex:actionRegion > 
         <apex:outputText rendered="{!!ShowJustContactType}">        
          <apex:outputPanel id="top" layout="block" style="margin:5px;padding:10px;padding-top:2px;" rendered="{!showmain}">
            <apex:outputLabel value="Search" style="font-weight:Bold;padding-right:10px;" for="txtSearch"/>
           <apex:inputText id="inputSearchText" value="{!Searchtext}"  styleclass="inputSearchText"/>
            <apex:commandButton value="Go!"  action="{!SearchRecord}"  reRender="searchResults" id="gobutton" styleclass="searchByMe"/>
            <apex:commandButton value="New"  action="{!createNewRecord}"/>
            <apex:commandButton value="Cancel"  onclick="window.top.close();"  />      
             <apex:selectRadio value="{!SearchBy }" id="Snooze">
              <apex:selectOptions value="{!Snoozeradio}"/>
             </apex:selectRadio>
             </apex:outputPanel>
            <apex:outputPanel id="pnlSearchResults" style="margin:10px;height:2000px;overflow-Y:auto;" layout="block" rendered="{!showsearch}">
            <apex:pageBlock id="searchResults"> 
            
            <apex:pageBlockButtons >
       <apex:commandButton value="Add to Building" Action="{!ApplyPropertyContacts}" />
     
     </apex:pageBlockButtons>
               <pbe:PageBlockTableEnhancerADV targetPbTableIds="table" paginate="true" defaultPageSize="5" pageSizeOptions="5,10,20,30,40,50,100" enableExport="False"  />

              <apex:pageBlockTable value="{!PropertyContactList }" var="c" id="table">
                 <apex:column >
                        <apex:inputCheckbox id="looped" value="{!c.selected}" onClick="ClearAll();jQuery(this).attr('checked',true);" styleClass="myCheckboxClass"/>
                        <!--<input type="radio" name="{!c.selected}" >
                            <apex:actionSupport event="onclick" action="{!getSelected}"> 
                                <apex:param name = "selconid" value ="{!c.con.id}"/>
                            </apex:actionSupport>
                        </input>-->
                </apex:column>
                 <apex:column headervalue="Property Contact Name">
                 <apex:outputLink value="/{!c.con.Id}" target="_blank">{!c.con.Name}</apex:outputLink></apex:column>
                 <apex:column value="{!c.con.Company_Name__c}" />
                 <apex:column value="{!c.con.Email_Address__c}" />
                 <apex:column value="{!c.con.Phone__c}" />
             </apex:pageBlockTable>
           
             
    <font color="blue"> 
    <apex:outputText rendered="{!(results.size = 0)}" value="No matches found !" style="font-size:13px;margin:2px;padding:2px;padding-top:15px; font-weight:bold;"/>
    </font>  
    
            </apex:pageBlock>
            
            
          </apex:outputPanel>
          </apex:outputText>
       
         <apex:outputPanel id="NewPropertyContact" style="margin:10px;height:2000px;overflow-Y:auto;" layout="block" rendered="{!shownew}" styleClass="requiredBlock"   >
            <apex:pageBlock id="searchResults1"> 
            <table id="New">
            <tr><td>
            <apex:outputLabel value="Name" style="font-weight:bold;"/></td><td>
            <apex:inputField value="{!vdr.Name}" required="true" styleClass="Name" id="Name"/><br></br>
            </td></tr>
            <tr><td>
            <apex:outputLabel value="Company Name" style="font-weight:bold;"/></td><td>
            <apex:inputField value="{!vdr.Company_Name__c}" /><br></br>
            </td></tr>
            <tr><td>
            <apex:outputLabel value="Title" style="font-weight:bold;"/></td><td>
            <apex:inputField value="{!vdr.Title__c}" /><br></br>
            </td></tr>
            <tr><td>
            <apex:outputLabel value="Department" style="font-weight:bold;"/></td><td>
            <apex:inputField value="{!vdr.Department__c}" /><br></br>
            </td></tr>
            <tr><td>
            <apex:outputLabel value="Notes" style="font-weight:bold;"/></td><td>
            <apex:inputField value="{!vdr.Notes__c}" /><br></br>
            </td></tr>
            <tr><td>
            <apex:outputLabel value="Email Address" style="font-weight:bold;"/></td><td>
            <apex:inputField value="{!vdr.Email_Address__c}" id="Email"/><br></br>
            </td></tr>  
            <tr><td>
            <apex:outputLabel value="Phone" style="font-weight:bold;"/></td><td>
            <apex:inputField value="{!vdr.Phone__c}" id="Phone"/><br></br>
            </td></tr>
             <tr><td>
            <apex:outputLabel value="Cell Phone" style="font-weight:bold;"/></td><td>
            <apex:inputField value="{!vdr.Cell_Phone__c}" Id="Cell"/><br></br>
            </td></tr> 
            <tr><td>
            <apex:outputLabel value="Fax Number" style="font-weight:bold;"/></td><td>
            <apex:inputField value="{!vdr.Fax_Number__c}" /><br></br>
            </td></tr> 
            <tr><td>
            <apex:outputLabel value="Address" style="font-weight:bold;"/></td><td>
            <apex:inputField value="{!vdr.Address__c}"  /><br></br>
            </td></tr>
            <tr><td>
            <apex:outputLabel value="Address Line 2" style="font-weight:bold;"/></td><td>
            <apex:inputField value="{!vdr.Address_Line_2__c}"  /><br></br>
            </td></tr>
            <tr><td>
            <apex:outputLabel value="City" style="font-weight:bold;"/></td><td>
            <apex:inputField value="{!vdr.City__c}"  /><br></br>
            </td></tr>
            <tr><td>
            <apex:outputLabel value="State" style="font-weight:bold;"/></td><td>
            <apex:inputField value="{!vdr.State__c}"  /><br></br>
            </td></tr>
            <tr><td>
            <apex:outputLabel value="Zipcode" style="font-weight:bold;"/></td><td>
            <apex:inputField value="{!vdr.Zipcode__c}"  /><br></br>
            </td></tr>          
              </table> 
             <br></br><br></br><br></br> 
          <table>       
            <tr><td>
            <div align="center">
            <apex:commandButton id="test123" styleClass="saveBTN" value="Save"  onclick="dupecheck()" action="{!Save1}" reRender="myForm,Page,NewClause,Selectlease,Selectlease1,Mymeage"/>  
            <apex:actionFunction name="createNewRecord" action="{!createNewRecord}" immediate="True"/>
           <apex:commandButton value="Cancel" onclick="window.top.close();"/>   
           </div>
            </td></tr>
             </table>   
               </apex:pageBlock>
             
          </apex:outputPanel>
         
           <apex:outputPanel id="Selectlease11" style="margin:10px;height:2000px;overflow-Y:auto;" layout="block" styleClass="requiredBlock" rendered="{!If(showContactType == True || ShowJustContactType == True,True,False)}">
            <apex:outputText rendered="{!!ShowJustContactType}">
            <apex:pageBlock >
            <pbe:PageBlockTableEnhancerADV targetPbTableIds="table1" paginate="true" defaultPageSize="5" pageSizeOptions="5,10,20,30,40,50,100" enableExport="False"  />

            <apex:pageBlockTable value="{!leaseList}" var="c" id="table1">

                 <apex:column >
                        <apex:inputCheckbox id="looped" value="{!c.selected}" onClick="ClearAll();jQuery(this).attr('checked',true);" styleClass="myCheckboxClass2"/>
                        <!--<apex:inputCheckbox id="looped" value="{!c.selected}" />-->
               </apex:column>
                 <!--<apex:column value="{!c.leas.Common_Name__c}" />-->
                 <apex:column value="{!c.leas.Name}" />
                 <apex:column value="{!c.leas.Tenant_Name__c}" />
             </apex:pageBlockTable>
             <apex:outputText rendered="{!(leaseList.size = 0)}" value="There are no leases to display." />
             </apex:pageBlock>
             </apex:outputText>
            
             <table id="btnBox2">
             <tr><td>
             <apex:outputLabel value="Contact Type:" style="font-weight:bold;"/>
             <span style="padding-left:5px"/>
             <apex:inputField value="{!prconl.Contact_Type__c}" id="prtype" />
             <apex:inputhidden value="{!showmycontype}" id="mycheck" />
             </td></tr>
             <tr><td>
             <!--<apex:commandButton value="Save"  action="{!Save}"  rerender="Mymeage,mycheck" immediate="False"/>-->
             <div class="btn" onclick="save();">Save</div>
            <apex:actionFunction name="save" action="{!Save}" reRender="Mymeage,mycheck"/>
            
             <!--<apex:commandButton value="Save"  action="{!Save}" oncomplete="closeWindow()"/>
                <!--<apex:actionStatus startText="(Saving...)" stopText="" onstop="javascript:self.close();window.opener.location.reload(false);" id="closer"/>
            </apex:commandButton>-->
            <apex:commandButton value="Cancel"  onclick="window.top.close();"  />           
             </td></tr>
             </table>            
          </apex:outputPanel> 
        </apex:actionRegion>
  </apex:outputPanel>

<apex:actionstatus startStyleClass="requiredLoaderBG" id="loading" />
</apex:form>
</apex:page>