<apex:page standardController="Employee__c" extensions="EmployeeDetail" tabStyle="Account"  standardStylesheets="false" showHeader="false" sidebar="false" 
applyHtmlTag="false" applyBodyTag="false" renderAs="pdf"  readOnly="true" >
    <html>
        <head>
            <style type="text/css">
                @page 
                {
    
                    margin-top: 0.5in;
                    margin-bottom: 0.5in;
                    margin-left: 0.5in;
                    margin-right: 0.5in;
                    counter-increment: page;
                    @bottom-right 
                    {
                        content: "Page " counter(page)
                    }
                }
                body 
                {
                    font-family: Arial;
                    color: #000;
                }       
    
                .dataTableClass 
                {            
    
                  -fs-table-paginate: paginate;
                  width: 100%;
                }
                .dataTableClass th, .dataTableClass td 
                {
                    vertical-align: top;
                    text-align: left;
                }
                .dataTableClass .dtColHeader 
                {
                    font-size: 11pt;
                    font-weight: bold;
                }
                .dataTableClass .dtColData 
                {
                   // font-weight:bold;
                    font-size: 11pt;
                }
            </style>
        </head>
    
        <body>    
            <apex:pageBlock >     
                <apex:pageBlockSection title="Employee  Details" columns="1" id="Block2" / >
            </apex:pageBlock>
            <table  width='100%' border ="0.01" class="dataTableClass" >
               <tr  >
                    <th width='20%' class="dtColHeader"> Employee Name: </th>
                    <td align="left" width='30%' class="dtColData"> <apex:outputField value="{!emp.name}"/></td>
                    <th width='20%' class="dtColHeader"> Start Date: </th>
                    <td align="left" width='30%' class="dtColData" > <apex:outputField value="{!emp.Start_Date__c}"/></td>
                </tr>
                <tr>
                     <th width='20%' class="dtColHeader"> First Name :</th>
                     <td align="left" width='30%' class="dtColData"><apex:outputField value="{!emp.First_Name__c}"/></td>
                     <th width='25%' class="dtColHeader"> Last Name :</th>
                     <td align="left" width='30%' class="dtColData"><apex:outputField value="{!emp.Last_Name__c}"/></td>
                </tr>
                <tr>
                     <th width='20%' class="dtColHeader">Termination Date:</th>
                     <td align="left" width='30%' class="dtColData"><apex:outputField value="{!emp.Termination_date__c}" rendered="{!emp.Termination_date__c!=null}"/></td>
                     <th width='25%' class="dtColHeader">Termination Status:</th>
                     <td align="left" width='30%' class="dtColData"><apex:outputField value="{!emp.Termination_status__c}" rendered="{!emp.Termination_date__c!=null}"/></td>
                </tr>
                <tr>
                     <th width='20%' class="dtColHeader">Employess Status:</th>
                     <td align="left" width='30%' class="dtColData"><apex:outputField value="{!emp.Employee_Status__c}"/></td>
                     <th width='20%' class="dtColHeader">HR Manager Status:</th>
                     <td align="left" width='30%' class="dtColData"><apex:outputField value="{!emp.HR_Manager_Status__c}"/></td>
                </tr>
                <tr>
                     <th width='20%' class="dtColHeader">Additional Instructions/Requests:</th>
                     <td align="left" width='30%' class="dtColData"><apex:outputField value="{!emp.SQL__c}"/></td>
                </tr>     
            </table>
            
             <apex:pageBlock >     
            <apex:pageBlockSection title="" columns="1" / >
             </apex:pageBlock> 
             
             <apex:pageBlock >     
                <apex:pageBlockSection title="Employee Office Details" columns="1" id="Block2"/ >
            </apex:pageBlock>
            <table width='100%' border ="0.1" class="dataTableClass">
                <tr>
                    <th width='20%'  class="dtColHeader">Supervisor: </th>
                    <td align="left" width='30%' class="dtColData"> <apex:outputField value="{!emp.Supervisor__c}"/></td>
                    <th width='20%' class="dtColHeader" >Manager:</th>
                    <td align="left" width='30%' class="dtColData"><apex:outputField value="{!emp.MGR__r.name}"/></td>
                </tr>
                <tr>
                    <th width='20%'  class="dtColHeader">Role: </th>
                    <td align="left" width='30%' class="dtColData"> <apex:outputField value="{!emp.Role__c}"/></td>
                    <th width='20%'  class="dtColHeader" >Employee Role:</th>
                    <td align="left" width='30%' class="dtColData"><apex:outputField value="{!emp.Employee_Role__c}"/></td>
                </tr>
                <tr>
                    <th width='20%'  class="dtColHeader">Title: </th>
                    <td align="left" width='30%' class="dtColData"> <apex:outputField value="{!emp.Title__c}"/></td>
                    <th width='20%' class="dtColHeader" >Department:</th>
                    <td align="left" width='30%' class="dtColData"><apex:outputField value="{!emp.Department__c}"/></td>
                </tr>
                <tr>
                    <th width='20%' class="dtColHeader">Seating Location: </th>
                    <td align="left" width='30%' class="dtColData"> <apex:outputField value="{!emp.Seating_location__c}"/></td>
                    <th width='20%' class="dtColHeader" > Office Location:</th>
                    <td align="left" width='30%' class="dtColData"><apex:outputField value="{!emp.Employee_Office_location__c}"/></td>
                </tr>
                 <tr>
                    <th width='20%' class="dtColHeader">Move User To: </th>
                    <td align="left" width='30%' class="dtColData"> <apex:outputField value="{!emp.Move_User_To__c}"/></td>                    
                </tr>
            </table>
            
             <apex:pageBlock >     
            <apex:pageBlockSection title="" columns="1" / >
            </apex:pageBlock> 
            
            <apex:pageBlock >     
                <apex:pageBlockSection title="Activity Group Details" columns="1" id="Block2"/ >
            </apex:pageBlock>       
            <table  width='100%' border ="0.1" class="dataTableClass">      
               <tr>
                    <th width='20%' class="dtColHeader">Activity Directory Group: </th>
                    <td align="left" width='30%' class="dtColData"> <apex:outputField value="{!emp.Active_Directory_Group__c}"/></td>                 
                    <th width='20%'  class="dtColHeader" >Activity Directory Group2:</th>
                    <td align="left" width='30%' class="dtColData"><apex:outputField value="{!emp.Active_Directory_Group_2__c}"/></td>
                </tr>
                <tr>
                    <th width='20%' class="dtColHeader">Activity Directory Group3: </th>
                    <td align="left" width='30%' class="dtColData"> <apex:outputField value="{!emp.Active_Directory_Group_3__c}"/></td>                     
                    <th width='20%' class="dtColHeader" >Activity Directory Group4:</th>
                    <td align="left" width='30%' class="dtColData"><apex:outputField value="{!emp.Active_Directory_Group_4__c}"/></td>
                </tr>
                <tr>
                    <th width='20%'  class="dtColHeader">Activity Directory Group5: </th>
                    <td align="left" width='30%' class="dtColData"> <apex:outputField value="{!emp.Active_Directory_Group_5__c}"/></td>                     
                    <th width='20%' class="dtColHeader" >Activity Directory Group6:</th>
                    <td align="left" width='30%' class="dtColData"><apex:outputField value="{!emp.Active_Directory_Group_6__c}"/></td>
                </tr>   
            </table>
            
             <apex:pageBlock >     
            <apex:pageBlockSection title="" columns="1" / >
            </apex:pageBlock> 
            
            <apex:pageBlock >     
                <apex:pageBlockSection title="Additional Mailbox" columns="1" id="Block2"/ >
            </apex:pageBlock> 
            <table  width='100%' border ="0.1" class="dataTableClass">     
               <tr>
                    <th width='20%' class="dtColHeader">Additional MailBox1: </th>
                    <td align="left" width='30%' class="dtColData"> <apex:outputField value="{!emp.Additional_MailBox1__c}"/></td>                 
                    <th width='20%'  class="dtColHeader">Additional MailBox2:</th>
                    <td align="left" width='30%' class="dtColData"><apex:outputField value="{!emp.Additional_MailBox2__c}"/></td>
                </tr>
                <tr>
                    <th width='20%' class="dtColHeader">Additional MailBox3: </th>
                    <td align="left" width='30%' class="dtColData"> <apex:outputField value="{!emp.Additional_MailBox3__c}"/></td>                     
                    <th width='20%'  class="dtColHeader" >Additional MailBox4:</th>
                    <td align="left" width='30%' class="dtColData"><apex:outputField value="{!emp.Additional_MailBox4__c}"/></td>
                </tr>                  
            </table>
            
             <apex:pageBlock >     
            <apex:pageBlockSection title="" columns="1" / >
            </apex:pageBlock>
             
            <apex:pageBlock >     
                <apex:pageBlockSection title="Related Assets" columns="1" id="Block2"/ >
            </apex:pageBlock>
            
            <apex:Datatable value="{!samemaillist1}"  var="tsk" align="top" styleClass="dataTableClass"  width="100%" border="0.1">
                <apex:column style="width: 30%;"  >
                    <apex:facet name="header">
                        <apex:outputText value="Name" styleClass="dtColHeader" />  
                    </apex:facet>
                    <apex:outputText value="{!tsk.Access_Name__c}" styleClass="dtColData"/>
                </apex:column>
                <apex:column style="width: 30%;"  >
                    <apex:facet name="header">
                        <apex:outputText value="Asset Type" styleClass="dtColHeader" />  
                    </apex:facet>
                    <apex:outputText value="{!tsk.Access_Type__c}" styleClass="dtColData"/>
                </apex:column>
                <apex:column style="width: 30%;"  >
                    <apex:facet name="header">
                        <apex:outputText value="Asset Status" styleClass="dtColHeader" />  
                    </apex:facet>
                    <apex:outputText value="{!tsk.Asset_Status__c}" styleClass="dtColData"/>
                </apex:column>
                <apex:column style="width: 30%;"  >
                    <apex:facet name="header">
                        <apex:outputText value="Added On" styleClass="dtColHeader" />  
                    </apex:facet>
                    <!--<apex:outputText value="{!tsk.Added_On__c}" styleClass="dtColData"/>-->
                    <apex:outputText value="{0,date,MM'/'dd'/'yyyy}" styleClass="dtColData">
                        <apex:param value="{!tsk.Added_On__c}" /> 
                    </apex:outputText>
                </apex:column>
                <apex:column style="width: 30%;"   >
                    <apex:facet name="header"  >
                        <apex:outputText value="Removed On" styleClass="dtColHeader" />  
                    </apex:facet>
                    <!--<apex:outputText value="{!tsk.Removed_On__c}" styleClass="dtColData"/>-->
                    <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                <apex:param value="{!tsk.Removed_On__c}" /> 
                </apex:outputText>
                </apex:column>
                
                <!-- <apex:column headervalue="Added On" >
                <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                <apex:param value="{!tsk.Added_On__c}" /> 
                </apex:outputText>                   
                </apex:column>
                <apex:column headervalue="Removed On"  >
                <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                <apex:param value="{!tsk.Removed_On__c}" /> 
                </apex:outputText>
                <!--<apex:outputText value="{!tsk.Removed_On__c}"/>  
                </apex:column>-->
                
              
                
         </apex:Datatable>  
         
               
        <apex:pageBlock >     
            <apex:pageBlockSection title="" columns="1" / >
        </apex:pageBlock> 
           <apex:pageBlock >     
            <apex:pageBlockSection title="" columns="1" / >
            
        </apex:pageBlock>        
            <apex:pageBlock >
                <apex:pageBlockSection title="Employee Approval History" columns="1">
                    
                </apex:pageBlockSection>
            </apex:pageBlock>
            <apex:pageBlock >
            
            <table>
                <tr>
                    <td><c:NewHireFormApprovalhistory4 idvalue="{!emp.id}" />
                </td>
            </tr>
            </table>
                <apex:pageBlockSection title="Asset Approval History" columns="1">
                    <c:NewHireQuoteApprovalHistory3 idvalue="{!emp.id}"/>
                </apex:pageBlockSection>
            </apex:pageBlock>
      
        </body>        
    </html>     
</apex:page>