<apex:page controller="pifhomecontroller" showHeader="false" sidebar="false">
<apex:form >
<style>
body {
    /*background-color:#8D5017;*/
    background-color:#f1f8fe;
    /*background-color:#FFFFCC;*/
}
</style>
<body>
<apex:stylesheet value="{!$Resource.style}"/>
<link href="{!URLFOR($Resource.PIFnewstyle,'css/style.css')}" rel="stylesheet" type="text/css" />
<div class="lstrip"><span>Project Initiation Form</span></div>
<table width="100%" cellpadding="5" cellspacing="0" border="0" bordercolor="#915B51" style="text-align:left; border-collapse:collapse;">
                <tr>
                    <td width="24%" height="40%" style="font-size:20px; text-align:Center; vertical-align:middle; font-weight:bold; padding-left:5px;">
                        <br/><br/>
                        <br/>
                         New PIF FORM Has Been Submitted Successfully
                        <br/><br/>
                        <br/><br/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size:14px; text-align:center; vertical-align:middle; font-weight:bold; padding:10px;">
                         <apex:commandButton action="{!newpifform1}" value="Home" style="background-color:#B95151;width:160px;color:#060606;font-weight:bold;height:30px;font-size:14px;" />
                    </td>
                </tr>
            </table>
</body>
</apex:form>  
</apex:page>