<apex:page controller="cms.GenerateContent" extensions="portalMessage" showHeader="false" sidebar="false" standardStylesheets="false" cache="false" action="{!updateNewMsgStatus}">
<html>
    <head></head>
    <body>
{:Start:}
    <script type="text/javascript">
        
        function getURLParameter(name) {
            return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null
        }

        function deleteMessage () {
                //CallApexMethod();
                var param = getURLParameter('msgId'); 
                if (param) {
                    var serviceParams = {action: 'deleteCurrentMessage', msgId: param };
                        $.orchestracmsRestProxy.doAjaxServiceRequest(
                            'portalMessage',
                            serviceParams,
                            function (testStatus, json, xhr) {
                                if (json.success) {
                                    console.log(json);
                                    navigateBack();
                                } else {

                                }
                            }
                        );
                }   
            }

            function  navigateBack() {
                javascript:history.back(-1);
            }
            
    </script>
    <div class="pMsgDetail">
        <h2>{!detailMsg.Message_Subject__c}</h2>
        <div class="textBody"><apex:outputText value="{!JSENCODE(HTMLENCODE(detailMsg.Message_Body__c))}" escape="false"/></div>
        <a href="javascript:history.back(-1)">Back</a>
        <a href="javascript:deleteMessage()">Delete</a>
    </div>
{:Stop:}
    </body>
</html>
</apex:page>