<apex:page controller="CalllistGeneratorCls" showheader="false" action="{!preview}" readOnly="true">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
<apex:form >

<apex:pageBlock id="pbId">
<apex:PageBlockTable value="{!conlist}" var="con" id="theTable" border="1">
   <apex:column >
       <apex:facet name="header">Name</apex:facet> 
            <apex:outputText value="{!con.name}"/>
   </apex:column>
   <apex:column >
       <apex:facet name="header">Phone</apex:facet> 
            <apex:outputText value="{!con.phone}"/>
   </apex:column>
 
   
   <apex:column >
       <apex:facet name="header">Email</apex:facet> 
            <apex:outputText value="{!con.Email}"/>
   </apex:column>
   <apex:column >
       <apex:facet name="header">Territory</apex:facet> 
            <apex:outputText value="{!con.Territory__c}"/>
   </apex:column>
   
     
     </apex:PageBlockTable><br/>

<center>
<B>
<apex:commandLink value="First" action="{!getFirstRows}" reRender="pbId" rendered="{!bnFirst}"/>
<apex:outputLabel value="First" rendered="{!!bnFirst}"></apex:outputLabel>
&nbsp;|&nbsp;&nbsp;
<apex:commandLink value="Previous" action="{!Previous}" reRender="pbId" rendered="{!bnPrevious}"/>
<apex:outputLabel value="Previous" rendered="{!!bnPrevious}"></apex:outputLabel>
&nbsp;|&nbsp;&nbsp;
<apex:commandLink value="Next" action="{!Next}" reRender="pbId" rendered="{!bnNext}"/>
<apex:outputLabel value="Next" rendered="{!!bnNext}"></apex:outputLabel>
&nbsp;|&nbsp;&nbsp;
<apex:commandLink value="Last" action="{!getLastRows}" reRender="pbId" rendered="{!bnLast}"/>
<apex:outputLabel value="Last" rendered="{!!bnLast}"></apex:outputLabel>
</B>
</center>


<apex:pageBlockButtons location="bottom">
   <apex:commandButton action="{!cancel}" value="Cancel"/>
</apex:pageBlockButtons>
<apex:pageMessages />

</apex:pageBlock>

</apex:form>

 </apex:page>