<apex:page controller="GeneratePropertyFactsheetController" cache="true" applyhtmltag="false"  showheader="false"  renderAs="pdf">
<apex:stylesheet value="{!URLFOR($Resource.ReThink_SR,'Reports/FactSheet.css')}"/>
  
<head>
    <style>
        body {
            font-family: "Arial" "Sans-Serif";

        }

        .odd {
           background-color:#ffffff; 
        }
        
        .even {
           background-color:#E5EEF6;
        }
        
        .rich-table-thead{
           background-color:#afbdcd;
        }
        .blackDot {
            font-size: 32px;
            overflow: hidden;
            display: block;
            height: 23px;
        }
        .whiteDot {
            font-size: 16px;
            overflow: hidden;
            display: block;
            height: 23px;
        }
        
        .header {
            
            background: none repeat scroll 0 0 #4F81BD;

            color: white;
            font-size: 10pt;
            font-weight: 700;
        }
        
        .headerRentRoll {
            background: none repeat scroll 0 0 #C5D9F1;
            font-size: 10pt;
            font-style: italic;
            font-weight: 700;

        }
        
        .label {


            font-size: 10pt;
            font-style: italic;
            font-weight: 700;
         
        }
        .value {
            font-size: 10pt;

        }
        
        td {

            text-align: left;
            vertical-align:top;

        }    
    </style>
</head>

<body>

        
    <table id="wrapperTable" cellPadding="4" border="1" width="100%" style="font-family: sans-serif;
    font-size: 13.3467px;
    left: 53.8px;
    top: 83.6133px;
    transform: rotate(0deg) scale(1.01009, 1);
    transform-origin: 0 0 0;">
        <tr>
            <td  style="font-size: 15pt;font-weight: 700; width: 50%;">
                <apex:outputLabel value="Property Fact Sheet" /><br/>
                <apex:outputLabel style="font-size: 10pt;font-weight: 500;" value="{!mydeal.name}" />
 
            </td>
            <td style="width: 50%;"><apex:outputLabel value="Deal Status:    " /> <apex:outputText style="color:red" value="{!mydeal.Deal_Status__c}" /></td> 
 
        </tr>
        
          <tr> 
            <td style="width: 50%;">
                <table  width="100%" id="left">
                         <tr class="header" style="background: none repeat scroll 0 0 #4F81BD;

            color: white;
            font-size: 10pt;
            font-weight: 700;">
                             <td ><apex:outputLabel value="CATEGORY" /></td>
                             <td ><apex:outputLabel value="PROPERTY DATA" /></td>

                         </tr>
                      <!--<apex:repeat var="f" value="{!$ObjectType.REthinkAP__Deal__c.FieldSets.REthinkAP__Purchase_Report_col2}">-->
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="Address" /></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Address__c}" /> </td>
                         </tr>
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="City" /></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.City__c}" /> </td>
                         </tr>
                         <tr>
                             <td class="label"><strong><em> <apex:outputLabel value="State" /></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.State__c}" /> </td>
                         </tr>
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="Zip Code" /></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Zip_Code__c}" /> </td>
                         </tr>
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="Property Phone" /></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Property_Phone__c}" /> </td>
                         </tr>
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="Tenancy" /></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Tenancy__c}" /> </td>
                         </tr>
                         
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="MRI Property Type" /> </em></strong></td>
                             <td class="value"> <apex:outputField value="{!mydeal.MRI_Property_Type_picklist__c}" /> </td>
                         </tr>
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="MRI Strategy (Ownership Type)" /></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Ownership_Interest__c}" /> </td>
                         </tr>
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="Year Built" /></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Year_Built__c}" /> </td>
                         </tr>
                         <tr>
                                <td class="label"> <strong><em><apex:outputLabel value="Year Renovated" /></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Year_Renovated__c}" /> </td>
                         </tr>
                         <tr>
                                <td class="label"> <strong><em><apex:outputLabel value="Total SF" /></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Total_SF__c}" /> </td>
                         </tr>
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="MRI Property Sub-Type" /></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Property_Sub_Type__c}" /> </td>
                         </tr>
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="MRI Property Use" /></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Primary_Use__c}" /> </td>
                         </tr>
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="MRI Property Location" /></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Property_Location__c}" /> </td>
                         </tr>
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="MRI Ownership Sub-Type" /></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Ownership_Type__c}" /> </td>
                         </tr>
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="MRI Business Division" /></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Division__c}" /> </td>
                         </tr>
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="MRI JV Partner Name" /></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.JV_Partner_Name__c}" /> </td>
                         </tr>
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="MRI Number of Floors" /></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Number_of_Floors__c}" /> </td>
                         </tr>
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="MRI Sale-Leaseback" /></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Sale_Leaseback__c}" /> </td>
                         </tr>
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="MRI Build to Suit" /></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Build_To_Suit__c}" /> </td>
                         </tr>
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="MRI Build to Suit Completion Date" /></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.BTS_Completion_Date__c}" /> </td>
                         </tr>
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="MRI Land Acreage" /></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Land_Acres__c}" /> </td>
                         </tr>
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="MRI Parking Spaces Available" /></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Parking_Spaces__c}" /> </td>
                         </tr>
                         
                        
                        
                         
                         
                         
                    <!--</apex:repeat>-->
                </table> 
            </td>
            
            <td style="width: 50%;" valign="top">
                 <table  width="100%" id="right">
                 
                         <tr class="header" style="background: none repeat scroll 0 0 #4F81BD;

            color: white;
            font-size: 10pt;
            font-weight: 700;">
                             <td><apex:outputLabel value="CATEGORY" /></td>
                             <td><apex:outputLabel value="PROPERTY DATA" /></td>
                             
                                                      
                         </tr>
                    <!--<apex:repeat var="f" value="{!$ObjectType.REthinkAP__Deal__c.FieldSets.REthinkAP__PurchaseReport}">-->
            
                         <tr>
                             <td class="label"><strong><em> <apex:outputLabel value="Fund"/></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Fund__c}" /> </td>
                         </tr>
                         <tr>
                             <td class="label"><strong><em> <apex:outputLabel value="Pipeline ID"/></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Pipeline_Id__c}" /> </td>
                         </tr>
                         <tr>
                             <td class="label"><strong><em> <apex:outputLabel value="Building Name"/></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Building_Name__c}" /> </td>
                         </tr>
                         <tr>
                             <td class="label"><strong><em> <apex:outputLabel value="Center Name"/></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Center_Name__c}" /> </td>
                         </tr>
                         <tr>
                             <td class="label"><strong><em> <apex:outputLabel value="Property Manager"/></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Property_Manager__c}" /> </td>
                         </tr>
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="GL Entity ID"/> </em></strong></td>
                             <td class="value"> <apex:outputField value="{!mydeal.GL_Entity_ID__c}" /> </td>
                         </tr>
                         <tr>
                             <td class="label"><strong><em> <apex:outputLabel value="Federal ID"/></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Federal_ID__c}" /> </td>
                         </tr>
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="Part 1 Start Date"/></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Part_1_Start_Date__c}" /> </td>
                         </tr>
                         <tr>
                             <td class="label"><strong><em> <apex:outputLabel value="Accenture Due Date"/></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Accenture_Due_Date__c}" /> </td>
                         </tr>
                          <tr>
                              <td class="label"><strong><em> <apex:outputLabel value="Contract Price" /></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Contract_Price__c}" /> </td>
                         </tr>
                         <tr>
                             <td class="label"><strong><em> <apex:outputLabel value="Price PSF(Contract Price)"/></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Price_PSF_Contract_Price__c}" /> </td>
                         </tr>
                          <tr>
                                <td class="label"><strong><em> <apex:outputLabel value="Total Price" /></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Total_Price__c}" /> </td>
                         </tr>
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="Price PSF(Total Price)"/></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Price_PSF_Total_Price__c}" /> </td>
                         </tr>
                         
                         
                         <tr>
                                <td class="label"><strong><em> <apex:outputLabel value="Going-In NOI($)" /></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Year_1_NOI__c}" /> </td>
                         </tr>
                          <tr>
                             <td class="label"><strong><em> <apex:outputLabel value="Going-In Cap Rate(%)"/> </em></strong></td>
                             <td class="value"> <apex:outputField value="{!mydeal.CAP_Rate__c}" /> </td>
                         </tr>
                          <tr>
                                <td class="label"> <strong><em><apex:outputLabel value="Average NOI ($)" /></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Average_NOI__c}" /> </td>
                         </tr>
                         <!--<tr>
                             <td class="label"> <strong><em><apex:outputLabel value="Average Cap Rate(%)"/> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Estimated_COE_Date__c}" /> </td>
                         </tr>-->
                        
                         <tr>
                             <td class="label"><strong><em> <apex:outputLabel value="GAAP Cap Rate(%)"/> </em></strong></td>
                             <td class="value"> <apex:outputField value="{!mydeal.GAAP_Cap__c}" /> </td>
                         </tr>
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="Initial Deposit($)"/></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Initial_Deposit__c}" /> </td>
                         </tr>
                         <tr>
                             <td class="label"><strong><em> <apex:outputLabel value="Additional Deposit($)"/> </em></strong></td>
                             <td class="value"> <apex:outputField value="{!mydeal.Additional_Deposit__c}" /> </td>
                         </tr>    
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="Buyer's Broker"/></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Buyer_s_Broker__c}" /> </td>
                         </tr>  
                          <tr>
                                <td class="label"> <strong><em><apex:outputLabel value="Study Period"/> </em></strong></td>
                             <td class="value"> <apex:outputField value="{!mydeal.Study_Period__c}" /> </td>
                         </tr>
                          <tr>
                                <td class="label"> <strong><em><apex:outputLabel value="Closing Period"/></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Closing_Period__c }" /> </td>
                         </tr>
                          <tr>
                                <td class="label"> <strong><em><apex:outputLabel value="Estimated COE Date"/></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Estimated_COE_Date__c}" /> </td>
                         </tr>
                         
                                                     
                    <!--</apex:repeat>-->
                </table> 
            </td>
        </tr> 
    </table>        

    <apex:outputText styleclass="headerRentRoll" value="TENANT RENT ROLL INFORMATION" />
    
    <!--<apex:dataTable id="tableRentRoll" var="rentRoll" value="{!rentRolls}" rowClasses="odd,even"  cellPadding="4" border="1"  style="background: none repeat scroll 0 0 #C5D9F1;

            font-size: 10pt;
            font-style: italic;
            font-weight: 700;">-->
            
            <apex:dataTable id="tableRentRoll" var="rentRoll" value="{!rentRolls}" rowClasses="odd,even"  cellPadding="4" border="1" headerClass="headerRentRoll">
       
            
            <apex:column >           
                <apex:facet name="header">Occupant Name</apex:facet>
                <apex:outputText value="{!rentRoll.Name_of_Tenant__c}" style="font-size:10pt;"/>
            </apex:column>
            
            <apex:column >
                <apex:facet name="header">{!$ObjectType.Rent_Roll__c.fields.Suite_ID__c.label}</apex:facet>
                <apex:outputText value="{!rentRoll.Suite_ID__c}" style="font-size:10pt;"/>       
            </apex:column>
             
            <apex:column >
                <apex:facet name="header">{!$ObjectType.Rent_Roll__c.fields.Floor__c.label}</apex:facet>
                <apex:outputText value="{!rentRoll.Floor__c}" style="font-size:10pt;"/>       
            </apex:column>       

            <apex:column >
                <apex:facet name="header">{!$ObjectType.Rent_Roll__c.fields.SF__c.label}</apex:facet>
                <apex:outputText value="{0, number, integer}" style="font-size:10pt;">
                   <apex:param value="{!rentRoll.SF__c}" />
                </apex:outputText>     
            </apex:column>
            
            <apex:column >
                <apex:facet name="header">{!$ObjectType.Rent_Roll__c.fields.Lease_Start__c.label}</apex:facet>
                <apex:outputText value="{0,date,MM/dd/yyyy}" style="font-size:10pt;">
                    <apex:param value="{!rentRoll.Lease_Start__c}"/> 
                </apex:outputText>  
            </apex:column>            
            
            <apex:column >
                <apex:facet name="header">{!$ObjectType.Rent_Roll__c.fields.Lease_Expiration__c.label}</apex:facet>
                <apex:outputText value="{0,date,MM/dd/yyyy}" style="font-size:10pt;">
                    <apex:param value="{!rentRoll.Lease_Expiration__c}"/> 
                </apex:outputText>      
            </apex:column>
            
            <apex:column >
                <apex:facet name="header">{!$ObjectType.Rent_Roll__c.fields.Store__c.label}</apex:facet>
                <apex:outputText value="{!rentRoll.Store__c}" style="font-size:10pt;"/>        
            </apex:column>       

            <apex:column >
                <apex:facet name="header">{!$ObjectType.Rent_Roll__c.fields.Tenant_Type_ID__c.label}</apex:facet>
                <apex:outputText value="{!rentRoll.Tenant_Type_ID__c}" style="font-size:10pt;"/>       
            </apex:column>
            
            <apex:column >
                <apex:facet name="header">{!$ObjectType.Rent_Roll__c.fields.Nat_Tenant_ID__c.label}</apex:facet>
                <apex:outputText value="{!rentRoll.Nat_Tenant_ID__c}" style="font-size:10pt;"/>       
            </apex:column>             

            <apex:column >
                <apex:facet name="header">{!$ObjectType.Rent_Roll__c.fields.SIC_Group_Code__c.label}</apex:facet>
                <apex:outputText value="{!rentRoll.SIC_Group_Code__c}" style="font-size:10pt;"/>       
            </apex:column>
            
            <apex:column >
                <apex:facet name="header">{!$ObjectType.Rent_Roll__c.fields.NAICS_Code__c.label}</apex:facet>
                <apex:outputText value="{!rentRoll.NAICS_Code__c}" style="font-size:10pt;"/>       
            </apex:column> 

            <apex:column >
                <apex:facet name="header">{!$ObjectType.Rent_Roll__c.fields.Lease_Type__c.label}</apex:facet>
                <apex:outputText value="{!rentRoll.Lease_Type__c}" style="font-size:10pt;"/>        
            </apex:column>
            
           <!-- <apex:column >
                <apex:facet name="header">{!$ObjectType.Rent_Roll__c.fields.Lease_Code__c.label}</apex:facet>
                <apex:outputText value="{!rentRoll.Lease_Code__c}" style="font-size:10pt;"/>        
            </apex:column>-->

            <apex:column headerClass="headerRentRoll" headerValue="{!$ObjectType.Rent_Roll__c.fields.Reimb_Type__c.label}" >
                <apex:outputText value="{!rentRoll.Reimb_Type__c}" />  
            </apex:column>
                        
            <!--<apex:column >
                <apex:facet name="header">{!$ObjectType.Rent_Roll__c.fields.Reimb_Code__c.label}</apex:facet>
                <apex:outputText value="{!rentRoll.Reimb_Code__c}" style="font-size:10pt;"/>         
            </apex:column>-->

            <apex:column >
                <apex:facet name="header">{!$ObjectType.Rent_Roll__c.fields.S_P_Rating__c.label}</apex:facet>
                <apex:outputText value="{!rentRoll.S_P_Rating__c}" style="font-size:10pt;"/>        
            </apex:column>


    </apex:dataTable>
    
    <div class="page-break">&nbsp;</div>


    <table id="wrapperTable" cellPadding="4" border="1" width="90%" style="font-family: sans-serif;
    font-size: 13.3467px;
    left: 53.8px;
    top: 83.6133px;
    transform: rotate(0deg) scale(1.01009, 1);
    transform-origin: 0 0 0;">
        
        <tr>
            <td style="width: 50%;">
                <table  width="100%" id="SellerInformation">
                         <tr class="header" style="background: none repeat scroll 0 0 #4F81BD;

            color: white;
            font-size: 10pt;
            font-weight: 700;">
                             <td><apex:outputLabel value="SELLER INFORMATION" /></td>
                             <td><apex:outputLabel value=" " /></td>
  
                         </tr>
                    <!--<apex:repeat var="f" value="{!$ObjectType.REthinkAP__Deal__c.FieldSets.REthinkAP__Purchase_Report_Seller_contact}">-->
            
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="First Name"/> </em></strong></td>
                             <td class="value"> <apex:outputField value="{!mydeal.Property_Owner_Contact__r.firstname}" /> </td>
                         </tr> 
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="Last Name"/> </em></strong></td>
                             <td class="value"> <apex:outputField value="{!mydeal.Property_Owner_Contact__r.lastname}" /> </td>
                         </tr> 
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="Mailling Street"/></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Property_Owner_Contact__r.Mailingstreet}" /> </td>
                         </tr>
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="Mailling City"/> </em></strong></td>
                             <td class="value"> <apex:outputField value="{!mydeal.Property_Owner_Contact__r.MailingCity }" /> </td>
                         </tr> 
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="Mailling State/Provience "/> </em></strong></td>
                             <td class="value"> <apex:outputField value="{!mydeal.Property_Owner_Contact__r.MailingState}" /> </td>
                         </tr> 
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="Mailling Zip/Postal Code"/></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Property_Owner_Contact__r.MailingPostalCode}" /> </td>
                         </tr> 
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="Business Phone"/> </em></strong></td>
                             <td class="value"> <apex:outputField value="{!mydeal.Property_Owner_Contact__r.Phone}" /> </td>
                         </tr> 
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="Business Fax"/> </em></strong></td>
                             <td class="value"> <apex:outputField value="{!mydeal.Property_Owner_Contact__r.Fax }" /> </td>
                         </tr> 
                          <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="Email"/></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Property_Owner_Contact__r.email}" /> </td>
                         </tr>
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="Seller Memo"/></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Seller_Memo__c}" /> </td>
                         </tr>
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="Account Name"/> </em></strong></td>
                             <td class="value"> <apex:outputField value="{!mydeal.Property_Owner_Company__r.name}" /> </td>
                         </tr>  
                    <!--</apex:repeat>-->
                </table> 
            </td>
            
            <td style="width: 50%;" valign="top">
                 <table  width="100%" id="SellerCounsel">
                 
                         <tr class="header" style="background: none repeat scroll 0 0 #4F81BD;

            color: white;
            font-size: 10pt;
            font-weight: 700;">
                             <td><apex:outputLabel value="SELLER COUNSEL" /></td>
                             <td><apex:outputLabel value=" " /></td>

                         </tr>
                     <!--<apex:repeat var="f"  value="{!$ObjectType.REthinkAP__Deal__c.FieldSets.REthinkAP__Purchase_Report_Seller_Councel}">-->
            
                        <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="Full Name"/></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Seller_s_Counsel_Attorney__r.name}" /> </td>
                         </tr> 
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="Mailling Street"/> </em></strong></td>
                             <td class="value"> <apex:outputField value="{!mydeal.Seller_s_Counsel_Attorney__r.Mailingstreet}" /> </td>
                         </tr>
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="Mailling City"/> </em></strong></td>
                             <td class="value"> <apex:outputField value="{!mydeal.Seller_s_Counsel_Attorney__r.MailingCity }" /> </td>
                         </tr> 
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="Mailling State/Provience "/></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Seller_s_Counsel_Attorney__r.MailingState}" /> </td>
                         </tr> 
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="Mailling Zip/Postal Code"/></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Seller_s_Counsel_Attorney__r.MailingPostalCode}" /> </td>
                         </tr> 
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="Business Phone"/> </em></strong></td>
                             <td class="value"> <apex:outputField value="{!mydeal.Seller_s_Counsel_Attorney__r.Phone}" /> </td>
                         </tr> 
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="Business Fax"/></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Seller_s_Counsel_Attorney__r.Fax }" /> </td>
                         </tr> 
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="Email"/> </em></strong></td>
                             <td class="value"> <apex:outputField value="{!mydeal.Seller_s_Counsel_Attorney__r.email}" /> </td>
                         </tr>
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="Account Name"/> </em></strong></td>
                             <td class="value"> <apex:outputField value="{!mydeal.Seller_s_Counsel_Firm__r.name}" /> </td>
                         </tr>  
                         
                    <!--</apex:repeat>-->
                </table> 
            </td>
        </tr>
        

        <tr>
            <td style="width: 50%;">
                <table  width="100%" id="BrokerInformation">
                         <tr class="header" style="background: none repeat scroll 0 0 #4F81BD;

            color: white;
            font-size: 10pt;
            font-weight: 700;"> 
                             <td><apex:outputLabel value="BROKER INFORMATION" /></td>
                             <td><apex:outputLabel value=" " /></td>
 
                         </tr>
                     <!--<apex:repeat var="f" value="{!$ObjectType.REthinkAP__Deal__c.FieldSets.REthinkAP__Purchase_Report_Broker}">-->
            
                        <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="Full Name"/> </em></strong></td>
                             <td class="value"> <apex:outputField value="{!mydeal.Seller_s_Broker__r.name}" /> </td>
                         </tr> 
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="Mailling Street"/></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Seller_s_Broker__r.Mailingstreet}" /> </td>
                         </tr>
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="Mailling City"/> </em></strong></td>
                             <td class="value"> <apex:outputField value="{!mydeal.Seller_s_Broker__r.MailingCity }" /> </td>
                         </tr> 
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="Mailling State/Provience "/></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Seller_s_Broker__r.MailingState}" /> </td>
                         </tr> 
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="Mailling Zip/Postal Code"/></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Seller_s_Broker__r.MailingPostalCode}" /> </td>
                         </tr> 
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="Business Phone"/> </em></strong></td>
                             <td class="value"> <apex:outputField value="{!mydeal.Seller_s_Broker__r.Phone}" /> </td>
                         </tr> 
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="Business Fax"/></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Seller_s_Broker__r.Fax }" /> </td>
                         </tr> 
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="Email"/> </em></strong></td>
                             <td class="value"> <apex:outputField value="{!mydeal.Seller_s_Broker__r.email}" /> </td>
                         </tr>
                         <tr>
                             <td class="label"> <strong><em><apex:outputLabel value="Account Name"/></em></strong> </td>
                             <td class="value"> <apex:outputField value="{!mydeal.Seller_s_Broker_Company__r.name}" /> </td>
                         </tr>  
                         
                   <!--</apex:repeat>-->
                </table> 
            </td>
            

        </tr>
    </table>

    <apex:outputText styleclass="headerRentRoll" value="LOAN INFORMATION"/>

    <apex:dataTable id="Loans" var="loan" value="{!loans}" rowClasses="odd,even"  cellPadding="4" border="1">
   
        <apex:column headerClass="headerRentRoll" headerValue="{!$ObjectType.Loan_Relationship__c.fields.Loan_Amount__c.label}" value="{!loan.Loan_Amount__c}" style="font-size:10pt;"/>
        <apex:column headerClass="headerRentRoll" headerValue="{!$ObjectType.Loan_Relationship__c.fields.LTV__c.label}" value="{!loan.LTV__c}" style="font-size:10pt;"/>
        <apex:column headerClass="headerRentRoll" headerValue="Lender Name" value="{!loan.Lender__r.name}" style="font-size:10pt;"/>
        <apex:column headerClass="headerRentRoll" headerValue="{!$ObjectType.Loan_Relationship__c.fields.Rate_Spread__c.label}" value="{!loan.Rate_Spread__c}" style="font-size:10pt;"/>
        <apex:column headerClass="headerRentRoll" headerValue="{!$ObjectType.Loan_Relationship__c.fields.Fixed_Floating__c.label}" value="{!loan.Fixed_Floating__c}" style="font-size:10pt;"/>
        <apex:column headerClass="headerRentRoll" headerValue="{!$ObjectType.Loan_Relationship__c.fields.Index__c.label}" value="{!loan.Index__c}" style="font-size:10pt;"/>
        <apex:column headerClass="headerRentRoll" headerValue="{!$ObjectType.Loan_Relationship__c.fields.Amort_I_O__c.label}" value="{!loan.Amort_I_O__c}" style="font-size:10pt;"/>
 
    </apex:dataTable>
    
 
  
  
</body>  
  
</apex:page>