<apex:page standardController="REIT_Investment__c"  >
    <script type="text/javascript" src="/js/functions.js"></script>
    <script src="/soap/ajax/11.1/connection.js"></script>
    <script> 
    window.document.onload = new function(e)
        {
            if({!REIT_Investment__c.New_Producer__c == True })
            {
                alert("This REIT should be submitted as a New Producer.");
                window.top.location='/{!REIT_Investment__c.id}';
            }
     
            return false;
        }
    </script>  
    <apex:form >   
        <apex:pageBlock id="Details">
            <body onload="init()">       
                <table width="100%">
                    <tr>
                        <td>
                            <apex:pageBlockSection columns="2" collapsible="false">
                                <apex:inputField value="{!REIT_Investment__c.Reactivated_Submitter_Comments__c}" />
                                <input id="submitted" type="hidden" value="{!REIT_Investment__c.Reactivated_Producer_Submitted__c}" />

                            </apex:pageBlockSection>
                        </td>
                    </tr>
                </table>
            </body>
            <apex:pageBlockButtons >
                <apex:commandButton action="{!save}" value="Submit for Approval" tabindex="1" rerender="Details" id="btnconv">
            <apex:param assignTo="{!REIT_Investment__c.Reactivated_Producer_Submitted__c}" value="True" name="Submit for Approval"/>
            </apex:commandButton>
            <apex:commandButton action="{!cancel}" value="Cancel" tabindex="2" />
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
</apex:page>