<apex:page StandardController="Account"  extensions="repcountbyticketswithHelper" sidebar="false">
<head>  
       <style type="text/css">                        
            .ctclass .Head1{
                background-color:#EEEEEE;
                font-weight:bold;
                border-right:1px solid #D9D9D9;
            }
            .ctclass .Head3{                
                font-weight:bold;               
            }
            .ctclass td{
                background-color:white;
                border-top:1px solid #F1F1F1;
                padding:3px 5px;                
            }
        </style> 
    </head>
    <apex:message />
    
       <table width="100%" id="ctid" class="ctclass" cellspacing="0" cellpadding="5" style="border:1px solid #D9D9D9">
                <tr width='7%'>
                  
                  <td width='7%' class="Head1" align="center">All Firms</td>
                  <td width='7%' class="Head1" colspan="3" align="center">Days Since Last Trade</td>
                  <td width='7%' class="Head1"> </td>
                </tr>
                <tr> 
                         
                    <td  width='7%' align="center" class="Head3"></td>
                    <td  width='7%' align="center" class="Head3">30-60</td>
                    <td  width='7%' align="center" class="Head3">60-180</td>
                    <td  width='7%' align="center" class="Head3">180+</td>
                    <td  width='7%' align="center" class="Head3">Total</td>
                                        
                </tr>
                <tr>        
                   <!--<td  class="value">{!val.callActivityListInPerson.CallType__c}</td>-->
                   
                   <td  class="Head3" align="center">1 to 3</td>
                   <td  align="center" class="value">{!ticket1to3col1}</td>
                   <td  align="center" class="value">{!ticket1to3col2}</td>
                   <td  align="center" class="value">{!ticket1to3col3}</td>
                   <td  align="center" class="value">{!firstrowtotal}</td>                 
                 </tr>
                 <tr>        
                   <!--<td  class="value">{!val.callActivityListInPerson.CallType__c}</td>-->
                   <td  align="center" class="Head3">4 to 24</td>
                   <td  align="center" class="value">{!ticket4to24col1}</td>
                   <td  align="center" class="value">{!ticket4to24col2}</td>
                   <td  align="center" class="value">{!ticket4to24col3}</td>
                   <td  align="center" class="value">{!secondrowtotal}</td>
                 </tr>
                       <tr>        
                   <!--<td  class="value">{!val.callActivityListInPerson.CallType__c}</td>-->
                   <td  align="center" class="Head3">25+</td>
                   <td  align="center" class="value">{!ticket25morecol1}</td>
                   <td  align="center" class="value">{!ticket25morecol2}</td>
                   <td  align="center" class="value">{!ticket25morecol3}</td>
                   <td  align="center" class="value">{!thirdrowtotal}</td>
                </tr>
                  
                  <tr>        
                   <!--<td  class="value">{!val.callActivityListInPerson.CallType__c}</td>-->
                   <td  align="center" class="Head3">Total</td>
                   <td  align="center" class="value">{!rowtotalcol1}</td>
                   <td  align="center" class="value">{!rowtotalcol2}</td>
                   <td  align="center" class="value">{!rowtotalcol3}</td>
                   <td  align="center" class="value">{!lastrowtotal}</td>                  
                  </tr>
           </table>

<script>
setFocus = function() { return; }
</script>    

</apex:page>