<apex:page controller="sendemail"  action="{!init}">
  <apex:sectionHeader title="Send Email"  />
   
 
  <apex:form >
    <apex:pageMessages />
    <apex:pageBlock title="Email Section">
 
      <!-- <apex:pageBlockSection > -->
 
       <!-- <apex:pageBlockSectionItem >
            <apex:outputfield value="{!cas.SuppliedEmail}"/>
        </apex:pageBlockSectionItem> -->
 
           <apex:pageBlockSection >
           Please enter the message<apex:inputTextArea value="{!cas.Note__c}" rows="8" cols="50"/> <br/>
           
       </apex:pageBlockSection>
       This message will be sent to {!cas.SuppliedEmail}  <br/>
     
     <apex:pageBlockSection >
   <apex:commandButton action="{!send}" value="Send"/>
    </apex:pageBlockSection>
    <br/>
    <apex:outputpanel rendered="{!if(success=true,true,false)}">
    The email has been sent to {!cas.SuppliedEmail} successfully
    </apex:outputpanel>
    </apex:pageBlock>
  </apex:form>
 
</apex:page>