<apex:page contentType="text/xml">
  
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
<url><loc>http://www.colecapital.com/</loc><changefreq>monthly</changefreq><priority>1.00</priority></url>
<url><loc>http://www.colecapital.com/index</loc><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/search_result</loc><lastmod>2016-06-14T17:14:43+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/about_cole</loc><lastmod>2016-06-14T17:14:44+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/news</loc><lastmod>2016-06-14T17:14:44+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/careers</loc><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/open_positions</loc><lastmod>2016-06-14T17:14:45+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/investing_with_cole_capital</loc><lastmod>2016-06-14T17:14:46+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/Why_comm_real_estate</loc><lastmod>2016-06-14T17:14:46+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/non_listed_reits</loc><lastmod>2016-06-14T17:14:47+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/cole_capitals_investment_strategy</loc><lastmod>2016-06-14T17:14:47+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/investment_programs</loc><lastmod>2016-06-14T17:14:48+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/current_offerings</loc><lastmod>2016-06-14T17:14:48+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/ccpt_v</loc><lastmod>2016-06-14T17:14:49+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/ccpt_v_corporate_governance</loc><lastmod>2016-06-14T17:14:49+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/find?aa=110045</loc><lastmod>2016-06-14T17:14:50+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/ccpt_v_properties?programParam=CCPT5</loc><lastmod>2016-06-14T17:14:50+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/ccit_ii</loc><lastmod>2016-06-14T17:14:51+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/ccit_ii_corporate_governance</loc><lastmod>2016-06-14T17:14:51+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/find?aa=110044</loc><lastmod>2016-06-14T17:14:52+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/ccit_ii_properties?programParam=CCIT2</loc><lastmod>2016-06-14T17:14:53+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/cole_income_nav</loc><lastmod>2016-06-14T17:14:53+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/cinav_corporate_governance</loc><lastmod>2016-06-14T17:14:54+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/cin_dailyNAV</loc><lastmod>2016-06-14T17:14:55+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/cin_performance</loc><lastmod>2016-06-14T17:14:55+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/Cin_Distributions</loc><lastmod>2016-06-14T17:14:56+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/find?aa=110048</loc><lastmod>2016-06-14T17:14:56+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/daily_nav_properties?programParam=CINAV</loc><lastmod>2016-06-14T17:14:57+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/Past-Programs</loc><lastmod>2016-06-14T17:14:58+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/ccpt_reit_overview</loc><lastmod>2016-06-14T17:14:58+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/ccpt_ii_reit_overview</loc><lastmod>2016-06-14T17:14:59+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/ccpt_iv_reit_overview</loc><lastmod>2016-06-14T17:15:00+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/ccit_reit_overview</loc><lastmod>2016-06-14T17:15:00+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/growth_opportunity_fund</loc><lastmod>2016-06-14T17:15:01+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/research_and_education</loc><lastmod>2016-06-14T17:15:01+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/FINRA-15-02</loc><lastmod>2016-06-14T17:15:02+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/educational-videos</loc><lastmod>2016-06-14T17:15:03+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/faq</loc><lastmod>2016-06-14T17:15:03+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/Property_List</loc><lastmod>2016-06-14T17:15:04+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/account_access</loc><lastmod>2016-06-14T17:15:05+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/my_cole_contacts</loc><lastmod>2016-06-14T17:15:05+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/business_summary</loc><lastmod>2016-06-14T17:15:06+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/event_list</loc><lastmod>2016-06-14T17:15:06+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/message-list</loc><lastmod>2016-06-14T17:15:08+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/webcast_list</loc><lastmod>2016-06-14T17:15:09+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/My-Profile</loc><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/Default-Login</loc><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/Self-Registration</loc><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/coles_investment_strategy</loc><lastmod>2016-06-14T17:15:11+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/ccit</loc><lastmod>2016-06-14T17:15:12+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/contact_us</loc><lastmod>2016-06-14T17:15:14+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/privacy_policy</loc><lastmod>2016-06-14T17:15:15+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/terms_of_use</loc><lastmod>2016-06-14T17:15:16+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/sitemap</loc><lastmod>2016-06-14T17:15:17+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/annual-reports</loc><lastmod>2016-06-14T17:15:17+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/tax-center</loc><lastmod>2016-06-14T17:15:18+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/SEC_filings</loc><lastmod>2016-06-14T17:15:19+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/XBRL_filings</loc><lastmod>2016-06-14T17:15:19+00:00</lastmod><changefreq>monthly</changefreq><priority>0.85</priority></url>
<url><loc>http://www.colecapital.com/investing_with_cole</loc><lastmod>2016-06-14T17:15:20+00:00</lastmod><changefreq>monthly</changefreq><priority>0.69</priority></url>
<url><loc>http://www.colecapital.com/september_16_2014</loc><lastmod>2016-06-14T17:15:23+00:00</lastmod><changefreq>monthly</changefreq><priority>0.69</priority></url>
<url><loc>http://www.colecapital.com/march_04_2014</loc><lastmod>2016-06-14T17:15:24+00:00</lastmod><changefreq>monthly</changefreq><priority>0.69</priority></url>
<url><loc>http://www.colecapital.com/january_13_2014</loc><lastmod>2016-06-14T17:15:24+00:00</lastmod><changefreq>monthly</changefreq><priority>0.69</priority></url>
<url><loc>http://www.colecapital.com/why_comm_real_estate</loc><lastmod>2016-06-14T17:15:25+00:00</lastmod><changefreq>monthly</changefreq><priority>0.69</priority></url>
<url><loc>http://www.colecapital.com/ccpt_v_prospectus</loc><lastmod>2016-06-14T17:15:26+00:00</lastmod><changefreq>monthly</changefreq><priority>0.69</priority></url>
<url><loc>http://www.colecapital.com/ccpt5kit</loc><lastmod>2016-06-14T17:15:26+00:00</lastmod><changefreq>monthly</changefreq><priority>0.69</priority></url>
<url><loc>http://www.colecapital.com/ccpt_v_additional_resources</loc><lastmod>2016-06-14T17:15:27+00:00</lastmod><changefreq>monthly</changefreq><priority>0.69</priority></url>
<url><loc>http://www.colecapital.com/find</loc><lastmod>2016-06-14T17:15:28+00:00</lastmod><changefreq>monthly</changefreq><priority>0.69</priority></url>
<url><loc>http://www.colecapital.com/checkout-info</loc><changefreq>monthly</changefreq><priority>0.69</priority></url>
<url><loc>http://www.colecapital.com/ccit_ii_prospectus</loc><lastmod>2016-06-14T17:15:30+00:00</lastmod><changefreq>monthly</changefreq><priority>0.69</priority></url>
<url><loc>http://www.colecapital.com/ccit2kit</loc><lastmod>2016-06-14T17:15:30+00:00</lastmod><changefreq>monthly</changefreq><priority>0.69</priority></url>
<url><loc>http://www.colecapital.com/ccit_ii_additional_resources</loc><lastmod>2016-06-14T17:15:31+00:00</lastmod><changefreq>monthly</changefreq><priority>0.69</priority></url>
<url><loc>http://www.colecapital.com/cole_income_nav_strategy_prospectus</loc><lastmod>2016-06-14T17:15:32+00:00</lastmod><changefreq>monthly</changefreq><priority>0.69</priority></url>
<url><loc>http://www.colecapital.com/inavkit</loc><lastmod>2016-06-14T17:15:33+00:00</lastmod><changefreq>monthly</changefreq><priority>0.69</priority></url>
<url><loc>http://www.colecapital.com/cin_additional_resources</loc><lastmod>2016-06-14T17:15:33+00:00</lastmod><changefreq>monthly</changefreq><priority>0.69</priority></url>
<url><loc>http://www.colecapital.com/ccpt_iv_reit_overview_corporate_governance</loc><lastmod>2016-06-14T17:15:35+00:00</lastmod><changefreq>monthly</changefreq><priority>0.69</priority></url>
<url><loc>http://www.colecapital.com/faq_real_estate_basics</loc><lastmod>2016-06-14T17:15:35+00:00</lastmod><changefreq>monthly</changefreq><priority>0.69</priority></url>
<url><loc>http://www.colecapital.com/faq_investing_real_estate</loc><lastmod>2016-06-14T17:15:36+00:00</lastmod><changefreq>monthly</changefreq><priority>0.69</priority></url>
<url><loc>http://www.colecapital.com/faq_real_estate_leasing</loc><lastmod>2016-06-14T17:15:37+00:00</lastmod><changefreq>monthly</changefreq><priority>0.69</priority></url>
<url><loc>http://www.colecapital.com/faq_closer_look_reit</loc><lastmod>2016-06-14T17:15:37+00:00</lastmod><changefreq>monthly</changefreq><priority>0.69</priority></url>
<url><loc>http://www.colecapital.com/faq_non_listed_reits</loc><lastmod>2016-06-14T17:15:38+00:00</lastmod><changefreq>monthly</changefreq><priority>0.69</priority></url>
<url><loc>http://www.colecapital.com/faq_mechanics_non_listed_reits</loc><lastmod>2016-06-14T17:15:39+00:00</lastmod><changefreq>monthly</changefreq><priority>0.69</priority></url>
<url><loc>http://www.colecapital.com/gogreen</loc><lastmod>2016-06-14T17:15:40+00:00</lastmod><changefreq>monthly</changefreq><priority>0.69</priority></url>
<url><loc>http://www.colecapital.com/ccpt_v_properties?programParam=Cole+Credit+Property+Trust+V</loc><lastmod>2016-06-14T17:15:40+00:00</lastmod><changefreq>monthly</changefreq><priority>0.69</priority></url>
<url><loc>http://www.colecapital.com/ccit_ii_properties?programParam=Cole+Office+Industrial+REIT+II</loc><lastmod>2016-06-14T17:15:41+00:00</lastmod><changefreq>monthly</changefreq><priority>0.69</priority></url>
<url><loc>http://www.colecapital.com/cin_dailyNav_W</loc><lastmod>2016-06-14T17:15:42+00:00</lastmod><changefreq>monthly</changefreq><priority>0.69</priority></url>
<url><loc>http://www.colecapital.com/daily_nav_properties?programParam=Cole+Real+Estate+Income+NAV</loc><lastmod>2016-06-14T17:15:43+00:00</lastmod><changefreq>monthly</changefreq><priority>0.69</priority></url>
<url><loc>http://www.colecapital.com/orders</loc><changefreq>monthly</changefreq><priority>0.69</priority></url>
<url><loc>http://www.colecapital.com/bookmarks</loc><changefreq>monthly</changefreq><priority>0.69</priority></url>
</urlset>


</apex:page>