<apex:page StandardController="Account">

<apex:outputText rendered="{!IF(OR(Account.BusSize_Total_AUM_Check__c == True,Account.of_Clients_with_RE_in_Portfolio_Check__c == True,Account.Allocated_to_RE_check__c == True,Account.RE_Exposure_Through_check__c== True), true, false)}"> <B><font color = "red">Please Update &nbsp;: </font></B></apex:outputText>

<apex:outputText rendered="{!IF(Account.BusSize_Total_AUM_Check__c == True, true, false)}"> <B><font color = "red">&nbsp;&nbsp;"Total AUM " expired on </font></B></apex:outputText>
<apex:outputField rendered="{!IF(Account.BusSize_Total_AUM_Check__c == True, true, false)}" value="{!Account.Total_AUM_expired_on__c}" /><br/>

<apex:outputText rendered="{!IF(Account.of_Clients_with_RE_in_Portfolio_Check__c == True, true, false)}"> <B><font color = "red">&nbsp;&nbsp;"% of Clients with RE in Portfolio " expired on </font></B></apex:outputText>
<apex:outputField rendered="{!IF(Account.of_Clients_with_RE_in_Portfolio_Check__c == True, true, false)}" value="{!Account.Percentage_of_clients_with_RE_expired_on__c}" /><br/>

<!--<apex:outputText rendered="{!IF(Account.Othe_RE_Exposure_check__c == True, true, false)}"> <B><font color = "red">&nbsp;&nbsp;"Othe RE Exposure " expired on </font></B></apex:outputText>
<apex:outputField rendered="{!IF(Account.Othe_RE_Exposure_check__c == True, true, false)}" value="{!Account.Other_RE_Exposure_Expired_On__c}" /><br/>-->

<apex:outputText rendered="{!IF(Account.Allocated_to_RE_check__c == True, true, false)}"> <B><font color = "red">&nbsp;&nbsp;"% Allocated to RE " expired on </font></B></apex:outputText>
<apex:outputField rendered="{!IF(Account.Allocated_to_RE_check__c == True, true, false)}" value="{!Account.Allocated_to_RE_expired_on__c}" /><br/>

<apex:outputText rendered="{!IF(Account.RE_Exposure_Through_check__c == True, true, false)}"> <B><font color = "red">&nbsp;&nbsp;"RE Exposure Through" expired on </font></B></apex:outputText>
<apex:outputField rendered="{!IF(Account.RE_Exposure_Through_check__c == True, true, false)}" value="{!Account.RE_Exposure_Through_expired_on__c}" /><br/>



<!--<apex:outputText rendered="{!IF(Account.of_Clients_with_RE_in_Portfolio_Check__c == True, true, false)}"> <B><font color = "red">&nbsp;&nbsp;" % of Clients with RE in Portfolio" </font></B></apex:outputText>
<apex:outputText rendered="{!IF(Account.Othe_RE_Exposure_check__c == True, true, false)}"> <B><font color = "red">&nbsp;&nbsp;"Othe RE Exposure"</font></B></apex:outputText>
<apex:outputText rendered="{!IF(Account.Allocated_to_RE_check__c == True, true, false)}"> <B><font color = "red">&nbsp;&nbsp;" % Allocated to RE"  </font></B></apex:outputText>
<apex:outputText rendered="{!IF(Account.RE_Exposure_Through_check__c== True, true, false)}"> <B><font color = "red">&nbsp;&nbsp;"RE Exposure Through"  </font></B></apex:outputText>

-->
</apex:page>