<apex:page id="cockpit">
<!--<apex:page id="cockpit" Controller="MyTask2" showheader="true" sidebar="false">
    <apex:includescript value="{!$Resource.pageBlockSupplement}" />
    <apex:form id="theform">
        <apex:pageBlock id="mainblock">
            <apex:pageMessages id="errorFilterMsg"></apex:pageMessages>
            <table  width="100%">
                <tr>
                    <td valign="top"  width="50%" >
                        <table width="100%"  >
                            <tr width="100%" >
                                <td>
                                    <apex:pageblock id="CallQueueTableID" >
                                        <table width="100%"  > 
                                            <tr>
                                                <td><font size="3"><b>Call Queue</b></font></td>
                                                <td><apex:commandLink action="{!calllistgenerator}" value="Call List Generator" id="theCommandLink" style="color:blue;" rendered="{!IF($Profile.Name='Cole Sales Manager User',true,false)}" /></td>
                                                <td><apex:selectList value="{!calllist}" size="1"  title="Call List">
                                                   <apex:selectOptions value="{!CallListValues}"></apex:selectOptions>
                                                    <apex:actionSupport action="{!AdviserCallList}" event="onchange" status="callliststatus" reRender="AdviserTableId,LinkPanal"/>
                                                  </apex:selectList></td>
                                                <td>
                                                    <apex:outputpanel id="LinkPanal"> 
                                                        <apex:commandLink value="Previous" action="{!Previous}" status="callliststatus" rendered="{!IF(showPrev=true,'true','false')}" reRender="AdviserTableId,LinkPanal" />
                                                        
                                                           <apex:commandLink value="Next" action="{!next}" status="callliststatus" rendered="{!IF(showNext=true,'true','false')}" reRender="LinkPanal,AdviserTableId" />
                                                    </apex:outputpanel>
                                                </td>
                                                
                                            </tr>
                                            <tr width="100%" >
                                                <td colspan="4">
                                                    <apex:actionStatus id="callliststatus" startStyle="font-weight:bold;color:blue" startText="Please wait loading ................" />
                                                    <apex:pageblock id="blktabID">
                                                        <apex:outputPanel >
                                                            <apex:pageblocktable value="{!rowmap}" id="AdviserTableId" var="r"  rows="{!rows}" first="{!first}">
                                                                <apex:column style=" {!if(con.id=rowmap[r].id,'background-color:#66CCFF','background-color:white')}">                                                           
                                                                    <apex:facet name="header">#</apex:facet>
                                                                    <b><font color="{!if(con.id=rowmap[r].id,'white','black')}"><apex:outputText >{!r}</apex:outputText></font></b>
                                                                </apex:column>                                                     
                                                                <apex:column style=" {!if(con.id=rowmap[r].id,'background-color:#66CCFF','background-color:white')}">
                                                                    <apex:facet name="header"><apex:outputtext value="Advisor"/></apex:facet>
                                                                    <apex:commandlink rerender="cn,cas,rel,call,CallQueueTableID,blktabID,CustomList" status="callliststatus"  oncomplete="doTimer()"  action="{!condetail}" >
                                                                        <apex:param name="CallQueueId" value="CallQueue" assignTo="{!CallQueueValue}" />
                                                                        <b><font color="{!if(con.id=rowmap[r].id,'white','black')}"> <apex:outputtext value="{!rowmap[r].Name}"/> </font></b>
                                                                         <apex:param name="cid" value="{!rowmap[r].id}" assignTo="{!cid}"/>
                                                                    </apex:commandlink>
                                                                </apex:column>                                                     
                                                                <apex:column style=" {!if(con.id=rowmap[r].id,'background-color:#66CCFF','background-color:white')}">
                                                                    <apex:facet name="header">Account Name</apex:facet>
                                                                    <b><font color="{!if(con.id=rowmap[r].id,'white','black')}"><apex:outputtext value="{!rowmap[r].Account.name}"/></font></b>                                                         
                                                                </apex:column>
                                                                <apex:column style=" {!if(con.id=rowmap[r].id,'background-color:#66CCFF','background-color:white')}" >
                                                                    <apex:facet name="header">LifeCycle</apex:facet>
                                                                    <b><font color="{!if(con.id=rowmap[r].id,'white','black')}"><apex:outputtext value="{!rowmap[r].Advisor_Lifecycle__c}"/></font></b>
                                                                </apex:column>
                                                                <apex:column style=" {!if(con.id=rowmap[r].id,'background-color:#66CCFF','background-color:white')}" >
                                                                    <apex:facet name="header">Phone</apex:facet>
                                                                    <b><font color="{!if(con.id=rowmap[r].id,'white','black')}"><apex:outputtext value="{!rowmap[r].phone}"/></font></b>
                                                                </apex:column>                   
                                                            </apex:pageblocktable>  
                                                        </apex:outputPanel>   
                                                    </apex:pageblock>                           
                                                </td>
                                            </tr>
                                            <tr width="100%" >
                                                <td colspan="4">              
                                                    <apex:outputPanel >
                                                        <input type='button' id='CallComplete' value='Call Complete' onclick="window.clearInterval();"/>                                                  
                                                        <apex:actionSupport event="onclick" action="{!NextAdvDetails}"   reRender="cn,rel,call,CallQueueTableID,blktabID,CustomList,errorFilterMsg" status="completestatus"/>    
                                                    </apex:outputPanel> 
                                                    <apex:outputPanel id="call">    
                                                        <apex:commandLink onclick="sendFeedback()" value="Feedback" id="theCommandLink1" style="color:blue;"/>
                                                                                            
                                                        <apex:actionStatus id="completestatus" startStyle="font-weight:bold;color:blue;" startText="Please wait, Call Complete is in progress...." />
                                                            <script type="text/javascript">
                                                                function sendFeedback(){                                                                 
                                                                    var link = "mailto:ccosgrove@colecapital.com"
                                                                             + "?cc=mursu@colecapital.com"
                                                                             + "&subject=" + escape("Feedback")
                                                                             + "&body= ";
                                                                    window.location.href = link;
                                                                 }
                                                             </script>
                                                        <apex:pageBlock id="recapid" rendered="{!if($CurrentPage.Parameters.CallQueueId=='CallQueue','true','false')}" > 
                                                            <B><font size="3">Call Recap for:  {!con.name}</font></B>
                                                            <br/>                                                   
                                                            <html><body><br/><div align="right"></div></body></html>
                                                            <apex:panelGrid columns="4" >
                                                                <apex:outputLabel value="Call Duration " />
                                                                <input type="text" id="txt"/>                                        
                                                                <apex:outputLabel value="Status" />
                                                                <apex:inputField value="{!tskObj.Status}" required="false"  /> 
                                                                
                                                                <apex:outputLabel value="Assigned To" />
                                                                <apex:inputField value="{!tskObj.OwnerId}" required="false"   />
                                                                <apex:outputLabel value="Due Date " />
                                                                <apex:inputField value="{!tskObj.ActivityDate}" />
                                                                                                                                
                                                                <apex:outputLabel value="Subject " />
                                                                <apex:inputField value="{!tskObj.Subject}" />
                                                                <apex:outputLabel value="Call Type " />
                                                                <apex:inputField value="{!tskObj.Type}" />                    
                                                                
                                                                <apex:outputLabel value="Phone " />
                                                                <apex:outputField value="{!con.Phone}" />
                                                                <apex:outputLabel value="Fund " />
                                                                <apex:inputField value="{!tskObj.Fund__c}" />
                                                                
                                                                <apex:outputLabel value="Email " />
                                                                <apex:outputField value="{!con.Email}" />
                                                                
                                                                <script type="text/javascript">
                                                                    //----------STOP WATCH --START CODE -----
                                                                    var c=0;
                                                                    var t;
                                                                    var min=0;
                                                                    var hrs=0;
                                                                    var timer_is_on=0;

                                                                    function timedCount(){
                                                                        document.getElementById('txt').value=min+"mins"+c+" sec";
                                                                        c=c+1;
                                                                        if(c==60){
                                                                            min=min+1;
                                                                            c=0;
                                                                        }
                                                                        if(min==60){
                                                                            hrs=hrs+1;
                                                                            min=0;
                                                                            c=0;
                                                                        }                                                                   
                                                                        t=setTimeout("timedCount()",1000);
                                                                    }
                                                                    
                                                                    function doTimer(){
                                                                        t=window.clearInterval(t);
                                                                        clearTimeout(t);                                                                    
                                                                        if (!timer_is_on){
                                                                          timer_is_on=1;
                                                                          timedCount();
                                                                        }
                                                                    }                    
                                                                    //----------STOP WATCH --END CODE -----
                                                                </script>
                                 
                                                            </apex:panelGrid>
                                                            <apex:panelGrid columns="2">
                                                                <apex:outputLabel value="Name" />
                                                                <apex:inputField value="{!tskObj.WhoId}" style="width:450px;" />
                                                                <apex:outputLabel value="Related To" />
                                                                <apex:inputField id="relto" value="{!tskObj.WhatId}" style="width:350px;" />                                                                                 
                                                                <apex:outputLabel value="Notes" />
                                                                <apex:inputField value="{!tskObj.Description}" style="width:350px;height:70px;"  />                    
                                                                <apex:inputHidden value="{!tskObj.CallDurationInSeconds}"  />                                                                                   
                                                            </apex:panelGrid>
                                                        </apex:pageBlock>  
                                                        <apex:pageBlock id="newTask">
                                                            <B><font size="3">New Task for:  {!con.name}</font></B>
                                                            <br/>
                                                            <html><body><br/><div align="right"/></body></html>                                                         
                                                            <apex:panelGrid columns="4" >
                                                                <apex:outputLabel value="Assigned To" />
                                                                <apex:inputField value="{!newtskobj.OwnerId}" required="false"   />
                                                                <apex:outputLabel value="Due Date " />
                                                                <apex:inputField value="{!newtskobj.ActivityDate}" />
                                                                <apex:outputLabel value="Subject " />
                                                                <apex:inputField value="{!newtskobj.Subject}"  />
                                                                <apex:inputHidden value="{!con.id}" id="hiddenfield"/>
                                                           </apex:panelGrid>
                                                         </apex:pageBlock>
                                                    </apex:outputPanel>
                                                </td>
                                            </tr>
                                        </table>               
                                    </apex:pageblock>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td valign="top" width="50%">
                        <apex:outputpanel id="cn">
                            <apex:pageblock mode="inlineEdit" rendered="{!if(CallQueueValue=='CallQueue','true','false')}"  >
                                 <B><font size="3"> Advisor Details for: {!con.name}</font></B>
                                 <br> 
                                 </br>                      
                                <apex:pageBlock >
                                    <apex:pageBlockSection title="Advisor Details" columns="2">
                                        <apex:pageBlockSectionItem >
                                            <apex:outputLabel value="Name" for="con__name" style="width: 200px; height: 100px"/>
                                            <apex:outputField value="{!con.name}" id="con__name" style="background-color:#FFFFFF"/>
                                        </apex:pageBlockSectionItem>
                                        <apex:outputField value="{!con.Middle_Name__c}" style="background-color:white"/>
                                        <apex:outputField value="{!con.Note__c}"/>
                                        <apex:outputField value="{!con.Suffix__c}" style="width: 200px; height: 100px"/>
                                        <apex:pageBlockSectionItem >
                                            <apex:outputLabel value="NickName" for="Nick__name" style="width: 200px; height: 100px"/>
                                            <apex:outputField value="{!con.Contact_Nickname__c}" id="Nick__name" style="width: 300px; height: 100px" />
                                        </apex:pageBlockSectionItem>
                                        <apex:outputField value="{!con.Phone}" style="width: 200px; height: 100px"/>
                                        <apex:pageBlockSectionItem >
                                            <apex:outputLabel value="DOB" for="dob" style="width: 200px; height: 100px"/>
                                            <apex:outputField value="{!con.Date_of_Birth__c}" id="dob" style="width: 300px; height: 100px"/>
                                        </apex:pageBlockSectionItem>
                                        <apex:outputField value="{!con.Company_Name__c}" style="width: 200px; height: 100px" />
                                        <apex:outputField value="{!con.Account.name}" style="width: 200px; height: 100px" />
                                        <apex:outputField value="{!con.Account.X1031_Selling_Agreement__c}" style="width: 200px; height: 100px" />
                                        <apex:outputField value="{!con.Company_ID__c}" style="width: 200px; height: 100px" />
                                        <apex:outputField value="{!con.Firm_CRD__c}" style="width: 200px; height: 100px" />
                                        <apex:outputField value="{!con.Title}" style="width: 200px; height: 100px" />
                                        <apex:pageBlockSectionItem >
                                            <apex:outputLabel value="Sales Director" for="t2"/>
                                            <apex:outputtext value="{!con.Wholesaler__c}" id="t2" style="width: 200px; height: 100px" />
                                        </apex:pageBlockSectionItem>
                                        <apex:outputField value="{!con.MailingStreet}" style="width: 200px; height: 100px"/>
                                        <apex:outputField value="{!con.Do_NOT_Contact__c}" style="width: 200px; height: 100px"/>
                                        <apex:outputField value="{!con.MailingCity}" style="width: 200px; height: 100px"/>
                                        <apex:outputField value="{!con.HasOptedOutOfEmail}" style="width: 200px; height: 100px"/>
                                        <apex:outputField value="{!con.MailingState}" style="width: 200px; height: 100px"/>
                                        <apex:outputField value="{!con.Rep_CRD__c}" style="width: 200px; height: 100px"/>
                                        <apex:outputField value="{!con.MailingPostalCode}" style="width: 200px; height: 100px"/>
                                        <apex:outputField value="{!con.Email}" style="width: 200px; height: 100px"/>
                                        <apex:outputField value="{!con.MailingCountry}" style="width: 200px; height: 100px"/>
                                        <apex:outputField value="{!con.License__c}" style="width: 200px; height: 100px"/>
                                        <apex:outputField value="{!con.Verify_Mailing_Address__c}" style="width: 200px; height: 100px"/>
                                        <apex:outputField value="{!con.MobilePhone}" style="width: 200px; height: 100px"/>
                                        <apex:outputField value="{!con.OtherPhone}" style="width: 200px; height: 100px"/>
                                        <apex:pageBlockSectionItem >
                                            <apex:outputLabel value="Territory" for="t1" style="width: 200px; height: 100px"/>
                                            <apex:outputtext value="{!con.Territory__c}" id="t1"  style="width: 200px; height: 100px"/>
                                        </apex:pageBlockSectionItem>
                                    </apex:pageBlockSection>
                                    <apex:outputPanel id="PanelIDValue"  >
                                        <apex:actionStatus startText="Loading.....">
                                            <apex:facet name="stop">
                                                <apex:pageBlockSection columns="2"  collapsible="true" title="Additional Details" rendered="true" id="block1"  >
                                                    <script>PageBlockSectionCollapse('{!$Component.adt}');
                                                            twistSection(document.getElementById('{!$Component.block1}').getElementsByTagName('img')[0])
                                                    </script>
                                                    <apex:outputField value="{!con.OtherCity}"/>
                                                    <apex:outputField value="{!con.OtherCountry}"/>
                                                    <apex:outputField value="{!con.OtherPostalCode}"/>
                                                    <apex:outputField value="{!con.OtherState}"/>
                                                    <apex:outputField value="{!con.OtherStreet}"/>                                          
                                                    <apex:outputField value="{!con.HomePhone}"/>
                                                    <apex:outputField value="{!con.fax}"/>
                                                    <apex:outputField value="{!con.ExactTarget_Status__c}"/>
                                                    <apex:outputField value="{!con.Website__c}"/>                                           
                                                    <apex:outputField value="{!con.AssistantName}"/>
                                                    <apex:outputField value="{!con.AssistantPhone}"/>
                                                    <apex:outputField value="{!con.Assistant_Email__c}"/>
                                                    <apex:inputfield value="{!con.Discovery_Data__c}"/>
                                                </apex:pageBlockSection>                                            
                                            </apex:facet>
                                        </apex:actionStatus>
                                    </apex:outputPanel>
                                </apex:pageBlock>
                                <apex:pageBlock >
                                    <apex:pageBlockSection title="Production Details" columns="2" id="Block2" >
                                        <apex:outputField value="{!con.Total_Cole_Production_Funds_in_SF__c}"/>
                                        <apex:outputField value="{!con.Total_Cole_Tickets_Only_Funds_in_SF__c}"/>
                                        <apex:outputField value="{!con.CCPT_III__c}"/>
                                        <apex:outputField value="{!con.CCPT_III_Tickets__c}"/>
                                       
                                        <apex:outputField value="{!con.CCIT__c}"/>
                                        <apex:outputField value="{!con.CCPT_IV__c}"/>
                                        <apex:inputfield value="{!con.Relationship__c}"/>
                                        <apex:inputfield value="{!con.Rating__c}"/>
                                        <apex:outputField value="{!con.Contact_Type__c}"/>
                                        <apex:outputField value="{!con.Last_Producer_Date__c}"/>
                                    </apex:pageBlockSection>
                                    <apex:outputPanel >
                                        <apex:actionSupport event="onclick"  immediate="true"  reRender="PanelID1,">    
                                            <apex:param value="A" name="NM" />  
                                        </apex:actionSupport> 
                                    </apex:outputPanel>
                                    <apex:outputPanel id="PanelID1"  >
                                        <apex:actionStatus startText="Loading.....">
                                            <apex:facet name="stop">
                                                <apex:pageBlockSection collapsible="true" title="Additional Details" id="Block3">
                                                    <script>
                                                        twistSection(document.getElementById('{!$Component.block3}').getElementsByTagName('img')[0])
                                                    </script>
                                                    <apex:inputfield value="{!con.Regional_Territory_Manager__c}"/>
                                                    <apex:inputfield value="{!con.Internal_Wholesaler__c}"/>
                                                    <apex:outputField value="{!con.Virtual_Relationship__c}"/>
                                                    <apex:outputField value="{!con.Wholesaler_Management__c}"/>
                                                    <apex:outputField value="{!con.Advisor_Lifecycle__c}"/>
                                                    <apex:outputField value="{!con.Lifecycle_Override__c}"/>
                                                    <apex:outputField value="{!con.Days_Since_Last_Transaction__c}"/>
                                                    <apex:outputField value="{!con.First_Producer_Date__c}"/>
                                                    <apex:outputField value="{!con.Region_Zone__c}"/>
                                                </apex:pageBlockSection>
                                          </apex:facet>
                                        </apex:actionStatus>
                                    </apex:outputPanel>
                                </apex:pageBlock>
                                <apex:pageBlock >
                                    <apex:pageBlockSection title="Business Profile" columns="2" id="Block4" >
                                        <script> twistSection(document.getElementById('{!$Component.block4}').getElementsByTagName('img')[0])</script>
                                        <apex:outputField value="{!con.Gross_Annual_Production__c}"/>
                                        <apex:outputField value="{!con.AUM_Actual__c}"/>
                                        <apex:outputField value="{!con.Years_at_Current_Firm__c}"/>
                                        <apex:outputField value="{!con.Years_as_a_Rep__c}"/>
                                        <apex:outputField value="{!con.Date_of_Birth__c}"/>
                                        <apex:outputField value="{!con.Business_Profile__c}"/>
                                        <apex:outputField value="{!con.Product_Profile__c}"/>
                                        <apex:outputField value="{!con.Client_Profile__c}"/>
                                        <apex:outputField value="{!con.Competitors__c}"/>
                                        <apex:outputField value="{!con.Competitors__c}"/>
                                    </apex:pageBlockSection>
                                    <apex:outputPanel >                              
                                        <apex:actionSupport event="onclick"  immediate="true"  reRender="PanelID2">    
                                            <apex:param value="A" name="NM" />  
                                        </apex:actionSupport> 
                                    </apex:outputPanel> 
                                    <apex:outputPanel id="PanelID2"  >
                                        <apex:actionStatus startText="Loading.....">
                                            <apex:facet name="stop">  
                                                <apex:pageBlockSection columns="2" collapsible="true" title="Additional Details" id="block5">
                                                    <script>twistSection(document.getElementById('{!$Component.block5}').getElementsByTagName('img')[0])</script>
                                                    <script>PageBlockSectionCollapse('{!$Component.adt1}');</script> 
                                                    <apex:outputField value="{!con.BD_Top_Producer__c}"/>
                                                    <apex:outputField value="{!con.Top_REIT_Producer__c}"/>
                                                    <apex:outputField value="{!con.Real_Estate_Producer__c}"/>
                                                    <apex:outputField value="{!con.Duly_Registered__c}"/>
                                                    <apex:outputField value="{!con.Due_Diligence_Meeting_Attended__c}"/>
                                                    <apex:outputField value="{!con.Symposium_March_2010_Attended__c}"/>
                                                    <apex:outputField value="{!con.Symposium_2011_Attended__c}"/>
                                                    <apex:outputField value="{!con.Symposium_Relationship__c}"/>
                                                    <apex:outputField value="{!con.Annuities_1__c}"/>
                                                    <apex:outputField value="{!con.Bonds__c}"/>
                                                    <apex:outputField value="{!con.Derivatives__c}"/>
                                                    <apex:outputField value="{!con.Exchange_Traded_Funds__c}"/>
                                                    <apex:outputField value="{!con.Hedge_Funds__c}"/>
                                                    <apex:outputField value="{!con.Insurance_Products__c}"/>
                                                    <apex:outputField value="{!con.International_Investments_ADRs__c}"/>
                                                    <apex:outputField value="{!con.Mutual_Funds_1__c}"/>
                                                    <apex:outputField value="{!con.Options__c}"/>
                                                    <apex:outputField value="{!con.Sells_Retirement_Pension_Products__c}"/>
                                                    <apex:outputField value="{!con.Separately_Managed_Accounts__c}"/>
                                                    <apex:outputField value="{!con.Stocks__c}"/>
                                                    <apex:outputField value="{!con.Non_Producer_Discovery_Data__c}"/>
                                                    <apex:outputField value="{!con.Growth_Opportunity_Fund__c}"/>
                                                    <apex:outputField value="{!con.Marketing_OverridesFees__c}"/>
                                                </apex:pageBlockSection>
                                            </apex:facet>
                                        </apex:actionStatus>
                                    </apex:outputPanel>
                                </apex:pageBlock>
                            </apex:pageblock>
                        </apex:outputpanel>                              
                    </td>   
                </tr>
            </table>        
        </apex:pageBlock>  
    </apex:form>   
    <apex:outputpanel id="rel" title="REITInvestments">
        <apex:relatedList subject="{!con}" list="REIT_Investments__r"/>
    </apex:outputpanel> 
    <apex:form >
        <apex:detail relatedList="true"></apex:detail>
        <apex:pageblock id="CustomList" title="Activity History">
            <apex:pageBlockTable value="{!trellist}" var="c" rows="{!showmorecount}" id="theTable" rendered="{!(Not(ISNULL(trellist)))}"> 
                <apex:column headerValue="Subject">
                  <apex:outputLink value="/{!c.id}">{!c.Subject}</apex:outputLink>
                </apex:column>
                <apex:column headerValue="Comment" value="{!c.Short_Comment__c}"/>
                <apex:column headerValue="Related To" value="{!c.WhatId}"/>
                <apex:column headerValue="Task">
                 <apex:outputField value="{!c.CheckTask__c}"/>
                </apex:column>
                <apex:column headerValue="Due Date" value="{!c.ActivityDate}"/>
                <apex:column headerValue="Assigned To" value="{!c.OwnerId}"/>
                <apex:column headerValue="Last Modified Date/Time" value="{!c.LastModifiedDate}"/>              
            </apex:pageBlockTable>  
           <br/>              
           <apex:commandLink value="Show More" action="{!ShowMore}" reRender="CustomList" rendered="{!!bnCount}"/>
           <apex:outputLabel value="No records to display" rendered="{!(ISNULL(trellist))}"></apex:outputLabel>        
         </apex:pageblock>
    </apex:form>
    <script type="text/javascript">
        document.getElementById("cockpit:theform:mainblock:CallQueueTableID:recapid:relto_mlktp").value='701';
        document.getElementById("cockpit:theform:mainblock:CallQueueTableID:recapid:relto_lktp").value='701';
    </script>-->
</apex:page>