<apex:page showHeader="false" controller="CreationSubmitedsuccess" sidebar="false">
<apex:pagemessages />
<apex:form >

<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <META> element to your page <HEAD>.      -->
<!--  If necessary, please modify the charset parameter to specify the        -->
<!--  character set of your HTML page.                                        -->
<!--  ----------------------------------------------------------------------  -->

<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8"/>

<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <FORM> element to your page.             -->
<!--  ----------------------------------------------------------------------  -->
<script type='text/javascript' src= '//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'>
        </script>
          


<head>
<style>
*
{
    font:Arial, Helvetica, sans-serif;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    margin:0px;
    padding:0px;
    color:#000000;
}
body {
    /*background-color:#8D5017;*/
    background-color:#C7B26F;
    /*background-color:#FFFFCC;*/
}
</style>
<!--<style>#bodyCell{background-color:#C7B26F !important;  background-image:none!important; color:green!important; font-style: bold!important;     border:none !important;}</style>-->

<!--<apex:includescript value="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"/>
<apex:includescript value="http://code.jquery.com/ui/1.9.2/jquery-ui.js"/>
    <script type="text/javascript">       
        $( document ).ready(function() {         
           alert("Your book is overdue.");
                $('#00NP0000000gUbV').datepicker();         
        });
  </script>-->
  <script type="text/javascript">       
        function MRIAlertClick(){
          if(document.getElementById('{!$Component.mriaccess}').checked)
          {
           alert('Please Enter Security Class');
          }
          else{
          }
        }
  </script>

</head>
<body>
<!--<form action="https://cs4.salesforce.com/servlet/servlet.WebToNewHireFormProcess__c?encoding=UTF-8" method="POST">

<input type="hidden" name="orgid" value="00DP00000007kEt"/>
<input type="hidden" name="retURL" value="https://cs4.salesforce.com/"/>

<input type="hidden" name="HRManager_Approval__c" id="00NP0000000gUbA" value="Sumitted For Approval"/>
<input type="hidden" name="recordType" value="012P00000000OvQ"/>

<input type="hidden" id="name" maxlength="80" name="name" size="20" value="test name" />-->

<!--<input type="hidden" name="debug" value="1"/>-->


<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
<!--  these lines if you wish to test in debug mode.                          -->
<!--  <input type="hidden" name="debug" value=1>                              -->
<!--  <input type="hidden" name="debugEmail"                                  -->
<!--  value="ravi.bhogadi@polarisft.com">                                     -->
<!--  ----------------------------------------------------------------------  -->
<form>
<table width="100%" style="padding:20px;" cellpadding="0" cellspacing="0"><tr><td>
<div align="center">
<table width="1003px" cellpadding="0" cellspacing="0" border="1px" bordercolor="#AE8F60" style="text-align:left; border-collapse:collapse;border:5px solid #AE8F60; background-color:#FFFFFF">
    <tr>
        <td width="50%" align="center" style="border-right:1px solid #8D5017">
           <!--<apex:image value="{!$Resource.Logo_ColeArc}" width="200" height="96" style="padding:5px;" />-->
            <!--<img src="img/logo1.jpg" width="206" height="79"/>-->
            <apex:image value="{!$Resource.VEREIT_LOGO}" width="316" height="103"/>
        </td>
        <td width="50%" align="center" valign="middle" style="font-size:20px;vertical-align:middle">
            <b style="font-size:22px">Information Technology:</b><br/>New Hire Form
        </td>
    </tr>
</table>
<br/>
<table width="1003px" cellpadding="0" cellspacing="0" border="1px" bordercolor="#AE8F60" style="text-align:left; border-collapse:collapse;border:5px solid #AE8F60; background-color:#FFFFFF">    
    <tr>
        <td>
            <table width="100%" cellpadding="0" cellspacing="0" border="1px" bordercolor="#AE8F60" style="text-align:left; border-collapse:collapse;">
                <tr>
                    <td width="20%" style="background:#A6635D; color:#FFFFFF; font-size:24px; text-align:center; vertical-align:middle; font-weight:bold">
                        New Hire
                    </td>
                    <td align="center" style="font-size:14px; font-weight:bold; padding:5px;">
                        INSTRUCTIONS: Fill out the form below to request a new user setup.<br/>
                        Submit the form to the Helpdesk to initiate the activity.<br/>
                        <span style="color:#FF0000; font-size:14px;"> NOTE: Items in RED are for use by IT.</span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="background:#A6635D; color:#FFFFFF; font-size:16px; text-align:center; vertical-align:middle; font-weight:bold; padding:5px;">
            START OF NEW HIRE FORM - START OF NEW HIRE FORM - START OF NEW HIRE FORM
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%" cellpadding="5" cellspacing="0" border="0" bordercolor="#915B51" style="text-align:left; border-collapse:collapse;">
                <tr>
                    <td width="24%" height="40%" style="font-size:20px; text-align:Center; vertical-align:middle; font-weight:bold; padding-left:5px;">
                        <br/><br/>
                        <br/>
                            Employee Creation Process Initiated
                        <br/><br/>
                        <br/><br/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size:14px; text-align:center; vertical-align:middle; font-weight:bold; padding:10px;">
                        <apex:commandButton action="{!home}" value="Home" style="background-color:#B95151;width:160px;color:#060606;font-weight:bold;height:30px;font-size:14px;" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>    
</table>
</div>
</td></tr></table>
</form>
</body>
<!--<script src="jquery-1.6.2.min.js"></script>
<script src="jquery-ui-1.8.15.custom.min.js"></script>
<link rel="stylesheet" href="jquery/jqueryCalendar.css"/>-->
</apex:form>
</apex:page>