<apex:page Controller="TenantDetailctrl" sidebar="false" cache="false" >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>jQuery UI Accordion - Customize icons</title>
 <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
    
    <link rel="stylesheet" href="/resources/demos/style.css"/>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script> 
    <style>
    div.accordion {
    display: none;
    }
    </style>
    <script>
        function startLoading(){
            $('#load_scrl').css('top', $(document).scrollTop() + 200);
            $('.loadingBox').show();
        }
        
        function endLoading(){
             $('.loadingBox').hide();
        }
    
    $(document).ready(function() {
     $('.accordion').show();
           
             $('.accordion').accordion({
                heightStyle: "content",
                active: false,
                collapsible: true
                
             }); 
            
            $('.accordion1').accordion({
                heightStyle: "content",
                active: false,
                collapsible: true
                
                });
                $('#hideAccordion').show();
        });
  
        $(document).ready(function() {
            $( ".tabs" ).tabs({
            });
            
            $( "#tabs-1" ).tabs({
            });
            
            $( "#tabs-2" ).tabs({
            });
    
            $( "#tabs-3" ).tabs({
            });
    
            $( "#tabs-4" ).tabs({
            });
    
            $( "#tabs-5" ).tabs({
            });
        });
      
        function CurrentPage1(){
            console.log('calling.....');
        }
  
        function test(propconid) {
            console.log('prop con value'+propconid);
            generateExcel1(propconid);
        }
  
    </script>  
    <style>
        .overlay {
            display: none;
            height: 100%;
            left: 0;
            position: fixed;
            top: 0;
            opacity: 0.3;
            -moz-opacity: 0.3;
            width: 100%;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
            filter: alpha(opacity=30);
            background: #000;
            -khtml-opacity: 0.3;
            z-index: 1000;
        }
        .loader {
            background: url('/img/loading32.gif') scroll no-repeat 0 0;
            width: 32px;
            height: 32px;
            position: absolute;
            left: 50%;
        }
        
</style>     
</head>
<body>
    <apex:form id="form" >
        <apex:pageBlock mode="inlineEdit">
             
            <apex:pageBlockButtons location="top" >
                <apex:commandButton value="Previous" action="{!previous}"  disabled="{!prevBool}"/>
                <apex:commandButton value="Next" action="{!next}" disabled="{!if((nextBool || ((count!=null && count<=15 )|| isblank(count))),true,false)}"/> 
                <apex:commandButton value="Save" action="{!tosave}" id="saveButton" style="display:none"/>
            </apex:pageBlockButtons> 
            <table cellpadding="1" cellspacing="1">
                <tr>
                    <td style="font-weight:bold;">Lease Term<br/>
                        <apex:selectList value="{!SelectedavgLeaseTerm}" multiselect="false" size="1" id="AvgLeaseTerm">
                            <apex:selectOptions value="{!AvgLeaseTerm}"/>
                            <apex:actionsupport event="onchange" action="{!doSearch}"  status="stageStatus">
                            </apex:actionsupport>
                        </apex:selectList>
                    </td>
                    <span style="padding-left:100px"> 
                    <td style="font-weight:bold;">Fund<br/>
                        <apex:selectList value="{!propFund}" multiselect="false" size="1" id="funds" >
                            <apex:selectOptions value="{!Funds}" /> 
                            <apex:actionsupport event="onchange" action="{!doSearch}" status="stageStatus">
                            </apex:actionsupport>
                        </apex:selectList> 
                        
                    </td>
                    </span>
                </tr>
                <tr>
                    <td><b>Property Manager</b><br/> <apex:selectList value="{!propManager}" multiselect="false" size="1" id="PropManagers" >
                    <apex:selectOptions value="{!PropManagers}"/> 
                    </apex:selectList></td>
                    <td><b>Local Tenant Name</b><br/><apex:inputtext value="{!tenantName}" id="theTextInput1"/></td>
                    <td><b>Property Contact Name</b><br/> <apex:inputtext value="{!propCronSearch}" id="theTextInput"/></td>
                    
                    <td><b>Property Id</b><br/><apex:inputtext value="{!propId}" id="propId"/></td>
                    <td><br/><apex:commandButton value="Search" action="{!PropCronSearch}" id="searchButton"/></td>
                </tr>      
            </table>
            <apex:outputpanel rendered="{!isError}">
                <span style="padding-left:370px;"><b></b></span>
            </apex:outputpanel> 
            <div class="accordion">  
                <apex:repeat value="{!PropConOrderedlist}" var="PropertyContactsLeaseObj">
 
                    <h3 style="font-weight:bold"><span style="width:350px;float:left">{!properyContactMap[PropertyContactsLeaseObj].Name}</span><span style="padding-left:50px">{!properyContactMap[PropertyContactsLeaseObj].Email_Address__c}</span> <br/>{!properyContactMap[PropertyContactsLeaseObj].Phone__c}  </h3>
              <div>  
              <span style="padding-left:15px"><b>Last Request</b>: <apex:outputText value="{0,date,MM/dd/yy}"> <apex:param value="{!properyContactMap[PropertyContactsLeaseObj].Last_Request__c}" /> </apex:outputText> </span>
              <span style="padding-left:105px"><b>Last Request Notes</b>: {!properyContactMap[PropertyContactsLeaseObj].Last_Request_Notes__c}</span>         
                <span style="padding-left:200px"><apex:outputLink target="_blank" value="/{!properyContactMap[PropertyContactsLeaseObj].id}">View Record</apex:outputLink>
              </span>
              <div class="accordion1" >
                    <apex:repeat value="{!propLeaseListMap[PropertyContactsLeaseObj]}" var="leaseObj">
                        <h3 style="font-weight:bold"><b>Center Name</b>: {!leaseObj.MRI_PROPERTY__r.Name}  
                        <span style="padding-left:15px"><b>Property Manager</b>: {!leaseObj.MRI_PROPERTY__r.Property_Manager__r.Name} </span>
                        <span style="padding-left:15px"> <b>Property ID</b>: {!leaseObj.MRI_PROPERTY__r.Property_ID__c} </span>
                        <span style="padding-left:15px"> <b>Acquisition Date</b>: {!leaseObj.Acquisition_Date__c} </span>
                        <span style="padding-left:15px"> <b>Lease ID</b>: <apex:outputtext value="{!leaseObj.MRI_Lease_ID__c}" id="theTextOutput1"/> </span>
                        <span style="padding-left:15px"> <b>Local Tenant Concept</b>: {!leaseObj.Tenant_Name__c}</span></h3>
       
                <div>
                    
                <table style="width:100%">
                    <tr>
                        <td valign="top">
                           
                            <apex:repeat value="{!PropConfilters[PropertyContactsLeaseObj+'#'+leaseObj.id]}" var="filters">
                            <apex:outputPanel rendered="{!(leaseObj.Sales_Report_Required__c) && ( CONTAINS(filters,'Gross Sales')||CONTAINS(filters, 'Financials;Gross Sales'))}">
                            <table><tr><td> <h4>Gross Sales</h4>:</td><td><b>Sales Frequency</b> </td><td> <b>Last Reported Date</b> </td></tr>
                                <tr>
                                    <td></td>
                                    <td align="center">{!leaseObj.Sales_Frequency__c}</td>
                                    <td align="center"> {!leaseObj.Last_Reported_Date__c}</td></tr>
                            </table>
                    <div class="tabs" style="width:415px;">
                        <ul>
                            <li><a href="#tabs-1" style="color: {!if(leaseObj.Year_Tab_1__c<12,'#FF0000','') }; text-align: center;"><b>{!CurrentYear}</b></a></li>
                            <li><a href="#tabs-2" style="color: {!if(leaseObj.Year_Tab_2__c<12,'#FF0000','') }; text-align: center;"><b>{!PreviousYear}</b></a></li>
                            <li><a href="#tabs-3" style="color: {!if(leaseObj.Year_Tab_3__c<12,'#FF0000','') }; text-align: center;"><b>{!twoYearsBack}</b></a></li>
                            <li><a href="#tabs-4" style="color: {!if(leaseObj.Year_Tab_4__c<12,'#FF0000','') }; text-align: center;"><b>{!threeYearsBack}</b></a></li>
                            <li><a href="#tabs-5" style="color: {!if(leaseObj.Year_Tab_5__c<12,'#FF0000','') }; text-align: center;"><b>{!fourYearsBack}</b></a></li>
                        </ul>
              
                        <div id="tabs-1">     
                            <table>
                                <tr>
                                  <td style="padding-right:10px"><b>Month</b></td>
                                  <td style="padding-right:10px"><b>Sales Collection</b></td> 
                                </tr>    
                                <apex:repeat value="{!grossSalesListMap[leaseObj.MasterOccupant_ID__c]}" var="leaseSalesData">
                                <apex:outputPanel id="panel1" rendered="{!If(leaseSalesData.Period_Year__c==CurrentYear,true,false)}">
                                <tr>  
                                    <td>
                                   {!leaseSalesData.Month__c}
                                    </td>
                                    <td>
                                  <apex:outputField value="{!leaseSalesData.Sales_Collected__c}"/>
                                    </td> 
                                </tr>
                                </apex:outputPanel>
                                </apex:repeat>
                            </table>        
                        </div>
                        <div id="tabs-2">
                            <table>
                                <tr>
                                    <td style="padding-right:10px"><b>Month</b></td>
                                    <td style="padding-right:10px"><b>Sales Collection</b></td>
                                </tr>
                                <apex:repeat value="{!grossSalesListMap[leaseObj.MasterOccupant_ID__c]}" var="leaseSalesData1">
                                <apex:outputPanel id="panel1" rendered="{!If(leaseSalesData1.Period_Year__c==PreviousYear,true,false)}">
                                <tr>
                                    <td>
                                   {!leaseSalesData1.Month__c}
                                    </td>
                                    <td>
                                    <apex:outputField value="{!leaseSalesData1.Sales_Collected__c}"/>                                  
                                    </td>
                        
                                </tr>
                                </apex:outputPanel>
                                </apex:repeat>
                            </table>
                        </div>      
                        <div id="tabs-3">
                            <table>
                                <tr>
                                    <td style="padding-right:10px"><b>Month</b></td>
                                    <td style="padding-right:10px"><b>Sales Collection</b></td>
                               
                                </tr>
                                <apex:repeat value="{!grossSalesListMap[leaseObj.MasterOccupant_ID__c]}" var="leaseSalesData2">
                                 
                                <apex:outputPanel id="panel1" rendered="{!If(leaseSalesData2.Period_Year__c==twoYearsBack,true,false)}">
                                <tr>
                                    <td>
                                    {!leaseSalesData2.Month__c}
                                    </td>
                                    <td>
                                        <apex:outputField value="{!leaseSalesData2.Sales_Collected__c}"/>
                                    
                                    </td>
                                </tr>
                                </apex:outputPanel>
                                </apex:repeat>
                            </table>
                        
                        </div>
                        <div id="tabs-4">
                      
                            <table>
                                <tr>
                                    <td style="padding-right:10px"><b>Month</b></td>
                                    <td style="padding-right:10px"><b>Sales Collection</b></td>
                                
                                </tr>
                                <apex:repeat value="{!grossSalesListMap[leaseObj.MasterOccupant_ID__c]}" var="leaseSalesData3">
                                <apex:outputPanel id="panel1" rendered="{!If(leaseSalesData3.Period_Year__c==threeYearsBack,true,false)}">
                                <tr>
                                    <td>
                                    {!leaseSalesData3.Month__c}
                                    </td>
                                    <td>
                                   <apex:outputField value="{!leaseSalesData3.Sales_Collected__c}"/>                                    </td>
                                </tr>
                                </apex:outputPanel>
                                </apex:repeat>
                            </table>
                        
                        </div>
                        <div id="tabs-5">
                       
                            <table>
                                <tr>
                                    <td style="padding-right:10px"><b>Month</b></td>
                                    <td style="padding-right:10px"><b>Sales Collection</b></td>
                                    
                                </tr>
                                <apex:repeat value="{!grossSalesListMap[leaseObj.MasterOccupant_ID__c]}" var="leaseSalesData4">
                                <apex:outputPanel id="panel1" rendered="{!If(leaseSalesData4.Period_Year__c==fourYearsBack,true,false)}">
                                <tr>
                                    <td>
                                    {!leaseSalesData4.Month__c}
                                    </td>
                                    <td>
                                    <apex:outputField value="{!leaseSalesData4.Sales_Collected__c}"/>                                    </td>   
                                </tr>
                                </apex:outputPanel>
                                </apex:repeat>
                            </table>
                        
                        </div>
                    </div>
                    </apex:outputPanel>
                    </apex:repeat></td>
                    <td valign="top">  
                    <apex:repeat value="{!PropConfilters[PropertyContactsLeaseObj+'#'+leaseObj.id]}" var="filters">
                    <apex:inlineEditSupport event="ondblClick"  showOnEdit="saveButton" />
                    <apex:outputPanel id="dummy">
                    <apex:outputPanel rendered="{!(leaseObj.Financials_Required__c)&&  (CONTAINS(filters,'Financials') ||CONTAINS(filters, 'Financials;Gross Sales'))}"> 
                <table> 
                    <tr>
                    <td>
                     <h4>Financials</h4>:
                    </td>
                    <td><b>Financials Frequency</b></td>
                    <td><b>Financials Type</b></td>
                    </tr>
                    <tr>
                    <td>
                    </td>
                    <td align="center"><apex:outputField value="{!leaseObj.Financials_Frequency__c}" rendered="{!(leaseObj.Financials_Required__c) &&  (CONTAINS(filters,'Financials') ||CONTAINS(filters, 'Financials;Gross Sales'))}"/>  </td>
                    <td align="center"><apex:outputField value="{!leaseObj.Financials_Type__c}" rendered="{!(leaseObj.Financials_Required__c)&&  (CONTAINS(filters,'Financials') || CONTAINS(filters, 'Financials;Gross Sales'))}"/> </td>
                    </tr>
                </table>
                <div class="tabs1" style="width:415px;">
                    <table >
                        <tr>
                        <td style="padding-left:3px"><b>Year</b></td>
                        <td style="padding-left:3px"><b>Fins Collected</b></td>  
                        </tr>
                        <apex:repeat value="{!financeListMap[leaseObj.id]}" var="financeData">
                        <tr>
                        <td>
                        <apex:outputField value="{!financeData.Year__c}" />
                        </td>
                        <td>
                        <apex:outputField value="{!financeData.Fins_Collected__c}" />
                        </td>
                        </tr>
                        </apex:repeat>
                    </table>
                </div>
                </apex:outputPanel>
                </apex:outPutPanel>
                </apex:repeat>
                </td>     
            </tr>
        </table>
      </div>
      </apex:repeat>
      <apex:commandButton value="Export"  onclick="test('{!PropertyContactsLeaseObj}');" onComplete="CurrentPage1();" status="loadStatus"/>  
      
      </div> 
      </div>
      </apex:repeat>
      </div>
      <apex:actionFunction name="generateExcel1" action="{!generateExcel}" rerender="dummy">
      <apex:param name="myParam" value="" assignTo="{!propContactId}"/>
      </apex:actionFunction> 
      <apex:actionFunction name="ParentPage" action="{!CurrentPage}"/>
      </apex:pageBlock>
      
      <apex:actionStatus onstart="startLoading();" onstop="endLoading();" id="loadStatus"/>
      <div id="load_scrl" class="loadingBox loader" style="display:none"> </div>
      <div class="loadingBox overlay"> </div>
    
      </apex:form>
      
      </body>
      </html>
</apex:page>