<apex:page controller="cms.CoreController" id="StantiveTemplate" showHeader="false" sidebar="false" >
  <apex:composition template="{!page_template_reference}">
    <apex:define name="header">
      <!-- Header tags start -->
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="description" content="" />
      <meta name="author" content="" />
      <link rel="icon" href="{!URLFOR($Resource.vereitcss,'img/favicon.ico')}" type="image/x-icon" />
      <script src="{!URLFOR($Resource.vereitjs,'js/jquery-latest.js')}"></script>
 
      <!--styles-->
      <link href="{!URLFOR($Resource.vereitcss,'css/bootstrap.css')}" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
      <link href="{!URLFOR($Resource.vereitcss,'css/style.css')}" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
      <link href="{!URLFOR($Resource.vereitcss,'css/mega-menu.css')}" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
      <link href="{!URLFOR($Resource.vereitcss,'css/mega-menu-responsive.css')}" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
      <style type="text/css">
.navbar .brand {
    overflow:visible;
    padding-left:35px;
}
</style>

<!--[if (gte IE 6)&(lte IE 8)]>
        <script src="{!URLFOR($Resource.vereitjs,'js/selectivizr-min.js')}" type="text/javascript"></script>
    <![endif]-->
    <script src="{!URLFOR($Resource.vereitjs,'js/modernizr.custom.53156.js')}" type="text/javascript"></script>
      <script src="{!URLFOR($Resource.vereitjs,'js/respond.js')}" type="text/javascript"></script>
<script src="{!URLFOR($Resource.vereitjs,'js/css3-multi-column.js')}" type="text/javascript"></script>
   
 

      <!-- Header tags end -->
      <apex:includeScript value="{!$Resource.ModalPopupWindow}"/>
    </apex:define>
    <apex:define name="body">
      <!-- Body tags start -->
      
      <header>
        <div class="navbar navbar-inverse">
          <div class="container topNavBox" style="z-index:99 !important;">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
              <a class="brand" href="/"><img src="{!URLFOR($Resource.vereitcss,'img/navlog.png')}" class="logomania" /></a> <a  href="/" class="navbar-brand"> <img src="{!URLFOR($Resource.vereitcss,'img/navlog.png')}" class="logomaniasmall" /> </a> </div>
            <cms:Panel panelName="topNav" panelController="{!controller}"  panelHeight="10px" panelWidth="1000px" />
            <!--2 Menu Examples--> 
            
            <!--/.nav-collapse --> 
            
          </div>
          <!-- /.navbar .navbar-inverse --> 
        </div>
      </header>
      <div class="midSection">
      <cms:Panel panelName="topInnerBanner" panelController="{!controller}"  panelHeight="118px" panelWidth="1000px" />
      
       <div class="container inside">
       <div class="col-md-3">
  <cms:Panel panelName="innerLeftHeadingContent" panelController="{!controller}"  panelHeight="118px" panelWidth="20px" />
  <cms:Panel panelName="innerLeftContent" panelController="{!controller}"  panelHeight="118px" panelWidth="20px" />
  </div>
      <cms:Panel panelName="innerRightContent" panelController="{!controller}"  panelHeight="118px" panelWidth="820px" />
      <cms:Panel panelName="innerRightSecondContent" panelController="{!controller}"  panelHeight="118px" panelWidth="820px" />
      </div>
      
      <!--<cms:Panel panelName="footer01" panelController="{!controller}"  panelHeight="118px" panelWidth="1000px" />-->
      </div>
      <cms:Panel panelName="footer02" panelController="{!controller}"  panelHeight="118px" panelWidth="1000px" />
      
      <!-- Body tags end --> 
      <!-- Javascript
    ================================================== --> 
       
      <script src="{!URLFOR($Resource.vereitjs,'js/bootstrap.min.js')}"></script> 
      <script src="{!URLFOR($Resource.vereitjs,'js/custom.js')}"></script> 
       
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script> 
      <script src="{!URLFOR($Resource.vereitjs,'js/fitvid.js')}"></script> 
      <script>
        // Basic Fitvids test
        $(".container").fitVids();
    </script> 
      <script type="text/javascript">

function MM_swapImgRestore() { 
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { 
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { 
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() {
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}

</script> 
<script>
var vQ = $.noConflict();
vQ(document).ready(function() {

vQ('.navbar .menu ul li > a').each(function() {
    vQ(this).append("<b class='caret'></b>");
});

vQ('.innerimg').click(function(){
    vQ('.navbar .menu ul li > ul').removeClass('openSubNav');
})  

vQ('.container.inside').click(function(){
    vQ('.navbar .menu ul li > ul').removeClass('openSubNav');
})  
     
    vQ('.navbar .menu ul li').click(function () {
        selfActive = vQ(this).children('ul').hasClass("openSubNav")?true:false;
        vQ(".openSubNav").removeClass("openSubNav").find(".navbar .menu ul li > ul").slideUp();
        if (!selfActive){
            vQ(this).children('ul').addClass("openSubNav").find(".navbar .menu ul li > ul").slideDown();
        }
    });
vQ('div.menu').addClass("navbar-collapse collapse");
vQ('.col-md-3 .menu').removeClass("navbar-collapse collapse");
});
</script>
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
 

    </apex:define>
  </apex:composition>
</apex:page>