<apex:page controller="cms.CoreController" id="StantiveTemplate" showHeader="false" sidebar="false" docType="html-5.0"  cache="false">
  <apex:composition template="{!page_template_reference}">
    <apex:define name="header">
    <!-- Facebook Pixel Code -->
<script>

!function(f,b,e,v,n,t,s)


{if(f.fbq)return;n=f.fbq=function(){n.callMethod?


n.callMethod.apply(n,arguments):n.queue.push(arguments)};


if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';


n.queue=[];t=b.createElement(e);t.async=!0;


t.src=v;s=b.getElementsByTagName(e)[0];


s.parentNode.insertBefore(t,s)}(window,document,'script',


'https://connect.facebook.net/en_US/fbevents.js');


fbq('init', '1727600090886247'); 


fbq('track', 'PageView');

</script>
<noscript>
<img height="1" width="1" 
src="https://www.facebook.com/tr?id=1727600090886247&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
    <meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />  
<script src="https://cdn.ampproject.org/v0.js"></script> 
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      
      <meta name="description" content="" />
      <meta name="author" content="" />
      <link rel="icon" href="{!URLFOR($Resource.vereitcss,'img/favicon.ico')}" type="image/x-icon" />
      
      
     
      <link href="{!URLFOR($Resource.vereit2css,'bootstrap.min.css')}" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
      <link href="{!URLFOR($Resource.vereit2css,'bootstrap-theme.min.css')}" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
      <link href="{!URLFOR($Resource.vereit2css,'full-slider.css')}" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
      <link href="{!URLFOR($Resource.vereit2css,'jquery-ui.css')}" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
      <link href="{!URLFOR($Resource.vereit2css,'jquery-ui.css')}" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
        <link href="{!URLFOR($Resource.vereit2css,'nav_response.css')}" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
      <link href="{!URLFOR($Resource.vereit2css,'responsive.css')}" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
      
       <!-- hack for IE 10 start -->
      <script>
         var doc = document.documentElement;
         doc.setAttribute('data-useragent', navigator.userAgent);
     </script>
      <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <!-- hack for IE 10 end -->
      <!--<script language="JavaScript" type="text/javascript" src="{!URLFOR($Resource.colecapitaljs,'scripts/BrightcoveExperiences.js')}"></script>-->
      
      <!--[if (gte IE 6)&(lte IE 8)]>
        <script type="text/javascript" src="{!URLFOR($Resource.colecapitaljs,'scripts/selectivizr-min.js')}"></script>
      <![endif]-->

      
      <style>
      #ocms-mask{
      display:none;
      }
      body.ocms.OCMS-Edit nav#myNavbar {
      position: relative;
      z-index:1;
      }
      .OCMS-Edit div#sort-Container {
      height: 200px;
      }
      
      #edit-header #myNavbar{
z-index:1;
position: relative;
}
#selectUserDialog{
    display: block;
    width: 600px;
    min-height: 0px;
    max-height: none;
    height: auto;
    overflow: auto;
}
      </style>
      
    
      
      <apex:includeScript value="{!$Resource.ModalPopupWindow}"/>
      </apex:define>
    <apex:define name="body">
      
      
     
      <nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation"> 
  
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="/">&nbsp;</a> </div>
   
    <cms:Panel panelName="navigation" panelController="{!controller}"  panelHeight="118px" panelWidth="1000px" />
  </div>
</nav>
      
      
      
      
      <cms:Panel panelName="Container" panelController="{!controller}"  panelHeight="118px" panelWidth="1000px" />
      
      
     
      <div class="bgcolBoxMid footerCont">
<div id="myFootNavbar">
  <div class="container">
  <style>
.media-ico{
    margin:0 auto;
    width:416px;
}
.inLink {
    text-align: left;
    padding-bottom: 13px;
}
.inLink a {
    font-size:.9em!important;
}
</style>
<div class="media-ico">
<div class="pull-left" style="padding-right: 54px;">
    <div class="inLink">
    <a href="https://www.linkedin.com/company/vereit" target="_blank" ><img src="/servlet/servlet.FileDownload?file=00P3800000emHxXEAU" alt="" style="padding-right: 8px; margin-top:-7px;" />Follow us on LinkedIn</a>
    </div>
    <div class="inLink">
    <a href="https://twitter.com/vereitinc" target="_blank" ><img src="/servlet/servlet.FileDownload?file=00P3800000emHxNEAU" alt="" style="vertical-align: middle;padding-right: 8px; margin-top:-7px;" />Follow us on Twitter</a>
    </div>
</div>
<div class="pull-left">
    <div class="inLink">
    <a href="https://www.youtube.com/channel/UCUNu7AUOolITuwpNhr2JEGg" target="_blank" ><img src="/servlet/servlet.FileDownload?file=00P3800000emHx8EAE" alt="" style="vertical-align: middle;padding-right: 8px; margin-top:-7px;" />Subscribe to us on YouTube</a></div>
    <div class="inLink">
    <a href="https://www.flickr.com/photos/143027056@N07/" target="_blank" ><img src="/servlet/servlet.FileDownload?file=00P3800000emHxhEAE" alt="" style="vertical-align: middle;padding-right: 8px; margin-top:-7px;" />Follow us on Flickr</a>
    </div>
</div>
</div>
<div style="clear:both;"></div>
  <div style="display:block;">
    <cms:Panel panelName="FooterNavigation" panelController="{!controller}"  panelHeight="118px" panelWidth="1000px" /></div>
    <div class="clearfix"></div>
    <div style="display:block;">
    <cms:Panel panelName="FooterContent" panelController="{!controller}"  panelHeight="118px" panelWidth="1000px" /></div></div>
</div>
</div>
     
      <cms:Panel panelName="MainJS" panelController="{!controller}"  panelHeight="118px" panelWidth="1000px" />
     <script src="{!URLFOR($Resource.vereit2js,'raphael.js')}" type="text/javascript"></script>
      <script src="{!URLFOR($Resource.vereit2js,'color.jquery.js')}" type="text/javascript"></script>
      
      <script src="{!URLFOR($Resource.vereit2js,'Chart.js')}" type="text/javascript"></script>
      <script type="text/javascript" src="{!URLFOR($Resource.colecapitaljs,'scripts/modernizr.custom.71498.js')}"></script>
      <script type="text/javascript" src="{!URLFOR($Resource.colecapitaljs,'scripts/respond.js')}"></script>
     
    </apex:define>
  </apex:composition>
</apex:page>