<apex:page StandardController="Contact">

<apex:outputText rendered="{!IF(Contact.Changes_in_Volitality_check__c == True, true, false)}"> <B><font color = "red">Please Update &nbsp;:</font></B></apex:outputText>

<apex:outputText rendered="{!IF(Contact.Changes_in_Volitality_check__c == True, true, false)}"> <B><font color = "red">&nbsp;&nbsp;"Changes in Volitality " Expired On</font></B></apex:outputText>
<apex:outputField rendered="{!IF(Contact.Changes_in_Volitality_check__c == True, true, false)}" value="{!Contact.Changes_in_Volitality_Expired_on__c}" /><br/>

<!--<apex:outputText rendered="{!IF(Contact.Business_Profile_check__c == True, true, false)}"> <B><font color = "red">&nbsp;&nbsp;"Business Profile"</font></B></apex:outputText>
<apex:outputText rendered="{!IF(Contact.Product_Profile_check__c == True, true, false)}"> <B><font color = "red">&nbsp;&nbsp;"Product Profile"</font></B></apex:outputText>
<apex:outputText rendered="{!IF(Contact.Client_Profile_check__c == True, true, false)}"> <B><font color = "red">&nbsp;&nbsp;"Client Profile"</font></B></apex:outputText>-->

</apex:page>