<apex:page standardcontroller="Contact" extensions="WebRegistrationTemplate">
<apex:form >
           <apex:commandButton disabled="{!disabled}" id="SendEmailButton" value="Send Registration Email" action="{!SendEmail}"/>
            &nbsp;<apex:OutputLink rendered="{!rendered}" value="{!url}" target="_blank">Preview</apex:OutputLink>
            &nbsp;<apex:outputLabel style="{!style}" value="{!JSENCODE(HTMLENCODE(message))}"></apex:outputLabel>
  
</apex:form>
</apex:page>