<apex:page standardcontroller="Contact" extensions="WebResetPassword">
<apex:form >     
            <apex:commandButton id="ResetPassword" disabled="{!disabled}"  value="Reset Password" action="{!SendResetPassword}"/>
            &nbsp;<apex:outputLabel style="color:green" value="{!message}"></apex:outputLabel>

 </apex:form>
</apex:page>