<apex:page standardController="Contact" >
 <a href="/email/author/emailauthor.jsp?p2_lkid={!Contact.Id}&p3_lkid={!Contact.Account.Id}&template_id=00XP0000000QBgMMAW&save=1">Register User</a>
 </apex:page>