<apex:component controller="NewHireQuoteApprovalHistoryController2" access="global" allowDML="true">

<apex:attribute name="idValue" assignTo="{!quoteId1}" type="String" description="Id of the quote"/>  
<html>
        <head>
            <style type="text/css">
                @page 
                {
    
                    margin-top: 0.5in;
                    margin-bottom: 0.5in;
                    margin-left: 0.5in;
                    margin-right: 0.5in;
                    counter-increment: page;
                    @bottom-right 
                    {
                        content: "Page " counter(page)
                    }
                }
                body 
                {
                    font-family: Arial;
                    color: #000;
                }       
    
                .dataTableClass 
                {            
    
                  -fs-table-paginate: paginate;
                  width: 100%;
                }
                .dataTableClass th, .dataTableClass td 
                {
                    
                    vertical-align: top;
                    text-align: left;
                }
                .dataTableClass .dtColHeader 
                {
                
                    backgroundcolor:#EEEEEE;
                    font-size: 11pt;
                    font-weight: bold;
                }
                .dataTableClass .dtColData 
                {
                   // font-weight:bold;
                    font-size: 11pt;
                }
            </style>
        </head>
    <body>

  <apex:pageBlock tabStyle="Account">
  <apex:repeat value="{!wcampList}" var="acc">
  <apex:outputText value="{!acc.wAccseesRequestName}" style="font-weight:bold;" />
  <!--&nbsp;<apex:outputText value="Approval Process" style="font-weight:bold;" />-->
  <br>
 <!-- <apex:outputLabel value="Overall Status" for="Status" style="padding-bottom: 5px;padding-left: 760px;font-weight:bold;"/>:&nbsp;-->
 
  <b> Overall Status: </b><apex:outputText id="status" value="{!acc.wStatus}" style="{!if(acc.wStatus='Approved','background-color:#00FF40;font-size:14px',if(acc.wStatus='Rejected','background-color:Red;font-size:14px','background-color:#66CCFF;font-size:14px'))}"/>
  </br>
  <br>
  <apex:dataTable value="{!acc.wConList}" var="c"  styleClass="dataTableClass" style="background-color:#EEEEEE" columnClasses="styleHead" width="100%" columnsWidth="200px,200px,200px,100px,350px" border="0.7">
  <apex:column headerValue="Status"  value="{!c.stepstatus}" style="{!if(c.stepstatus='Pending','background-color:#66CCFF','background-color:#FFFFFF')}"/>
  <apex:column headerValue="Assigned To" value="{!c.OriginalActor.Name}" style="{!if(c.stepstatus='Pending','background-color:#66CCFF','background-color:#FFFFFF')}"/>
  <apex:column headerValue="Actual Approver" value="{!c.Actor.Name}" style="{!if(c.stepstatus='Pending','background-color:#66CCFF','background-color:#FFFFFF')}"/>
  <apex:column headerValue="Date" value="{!c.SystemModstamp}" style="{!if(c.stepstatus='Pending','background-color:#66CCFF','background-color:#FFFFFF')}"/>
  <apex:column headerValue="Comments" value="{!c.Comments}" style="{!if(c.stepstatus='Pending','background-color:#66CCFF','background-color:#FFFFFF')}"/>
  </apex:dataTable>
  </br>
 <br/><br/>
  </apex:repeat>
  </apex:pageBlock>
  </body>
  </html>
</apex:component>