<apex:component controller="ocms_WebPropertyList" allowDml="true">

    <apex:attribute name="disabled" type="Boolean" description="The panel unique identifier" assignTo="{!layout_disabled}" />
    <apex:attribute name="theContent" type="cms__Content__c" description="The panel unique identifier" assignTo="{!content}" />
    <apex:attribute name="properties" type="cms__Attribute__c[]" description="The panel unique identifier" assignTo="{!content_properties}" />
    <apex:attribute name="layout_instance" type="cms__Content_Layout_Instance__c" description="The panel unique identifier" assignTo="{!content_layout_instance}" />
    <apex:attribute name="layout_instance_properties" type="cms__Attribute__c[]" description="The panel unique identifier" assignTo="{!content_layout_instance_properties}" />
    
    <apex:includeScript value="{!URLFOR($Resource.cms__OrchestraCMSPublic, 'RESTProxy.js')}" />
    
        <script type="text/javascript" language="javascript">

            $(document).ready(function initContentEditor () {
                   ce.content_editor('registerSaveFunction', function () {return $('#idContentEditor').serializeArray()});
            });

        </script>              
          
        <div>
            <h2>Web Property List property edit</h2>
            <p> This content is used to dynamically generate a web property list </p>
        </div> 

        <h3>Web Property list properties</h3>
        <form id='idContentEditor'>
        <table class="ocms-customContentEdit">
            <tr>
                <td><label for="webPropertyTargetPage">Select web property target page:</label></td>
                <td>
                    <cms:PageSelector cPassThroughId="webPropertyTargetPage" value="{!webPropertyTargetPage}"  dialogId="webPropertyTargetPageDialog" sname="{!content.cms__Site_Name__c}" disabled="{!layout_disabled}" token="{!token}" />
                    <input type="hidden" id="webPropertyTargetPage" name="webPropertyTargetPage" value="{!webPropertyTargetPage}" />                                   
                </td>
            </tr>
        </table>
        </form>
        <br />
        <br />
        <br />
</apex:component>